{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}
<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-day-0-1-4/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Information you need for<br> the decision letter</h1>

      <!------------H1 LEGEND------------>

        {% set dynamicAgentNotes %}

          {% if data["application-5-letter-edit"]%}
          Change
          {% else %}
          Add
          {% endif %}

        {% endset %}
      <!------------Legend--------------->

      <!------------OUTCOME LEGEND------------>

        {% set dynamicOutcome %}

        {% if data["system-application-selector"]  == "1" %}
        I have looked at your claim and decided I cannot award you Personal Independence Payment

        {% else %}

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your total score is:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>12 points for the daily living part - this means you have been awarded the enhanced rate</li>
    <li>12 points for the mobility part - this means you have been awarded the enhanced rate</li>
  </ul>


        {% endif %}

        {% endset %}

        {% set firstPaymentDetails %}

        {% if data["system-application-selector"]  == "1" %}



        {% else %}

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your first payment will be £2,300.</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This will be paid into your bank account within 3 days.</p>

        {{ govukSummaryList({
          rows: [
          {
                key: {
                  text: "First payment"
                },
                value: {
                  html: firstPaymentDetails
                }
              }
            ]
          }) }}

        {% endif %}



        {% endset %}

        <!------------OUTCOME LEGEND------------>


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sam Elliot"
            }
          },
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "NA 11 22 33 C"
            }
          },
          {
            key: {
              text: "Outcome"
            },
            value: {
              html: dynamicOutcome
            }
          }
          ]
        }) }}



              {% if data["system-application-selector"]  == "1" %}

              <!-- I am Nill award -->

                {% else %}



              <!------------Q2 LEGEND------------>
                {% set dynamicDateRange %}


                [Day] [Month] [Year]
                <!-- From {{ data['application-6-award-period-date-start-day'] + ' ' + (data['application-6-award-period-date-start-month'] | getMonth) + ' ' + data['application-6-award-period-date-start-year']}}


                {% if data["application-6-award-period-end-check"]  == "Yes" %}
                to  {{ data['application-6-award-period-date-end-day'] + ' ' + (data['application-6-award-period-date-end-month'] | getMonth) + ' ' + data['application-6-award-period-date-end-year']}}
                {% else %}
                (there is no end date)
                {% endif %} -->

                {% endset %}

              <!------------Legend--------------->




                {{ govukSummaryList({
                  rows: [
                  {
                      key: {
                        text: "Award date"
                      },
                      value: {
                        text: "20 November 2023"
                      }
                    },
                    {
                      key: {
                        text: "Award review date"
                      },
                      value: {
                        text: "19 November 2026"
                      }
                    }
                  ]
                }) }}


                {% endif %}



      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Daily living scoring</h3>

      <!-- 1 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            1. Preparing food:
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a1-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a1-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a1-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a1-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a1-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a1-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 2 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            2. Taking nutrition
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a2-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a2-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 10
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a2-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a2-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a2-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a2-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 3 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            3. Managing therapy or monitoring a health condition
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a3-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a3-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a3-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a3-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a3-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a3-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 4 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            4. Washing and bathing
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a4-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a4-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a4-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a4-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a4-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a4-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 5 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            5. Managing toilet needs or incontinence
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a5-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a5-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a5-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a5-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a5-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a5-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 6 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            6. Dressing and undressing
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a6-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a6-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a6-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a6-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a6-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a6-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


      <!-- 7 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            7. Communicating verbally
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a7-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a7-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a7-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a7-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a7-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a7-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 8 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            8. Reading and understanding signs, symbols and words
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a8-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a8-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a8-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a8-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a8-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a8-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 9 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            9. Engaging with other people face to face
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a9-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a9-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a9-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a9-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a9-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a9-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 10 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            10. Making budgeting decisions
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a10-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a10-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 6
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a10-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a10-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a10-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a10-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Mobility scoring</h3>

      <!-- 11 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            11. Planning and following journeys
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a11-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a11-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a11-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a11-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a11-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a11-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 12 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            12. Moving around
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a12-score-overwrite"] %}
              {% include "agent-day-0-1-4/application-about-a12-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "agent-day-0-1-4/application-about-a12-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a12-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a12-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a12-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


<br><br>

<h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-4">What you need to do now</h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Use the information from the table to create a decision letter using the Microsoft Word template.<br>You then need to send this letter to the applicant.</p>

<h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-4">What happens after you send the letter</h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This application will continue to be processed outside of this service.</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">We will save a copy of this page in the applicant's record. No work you have done in the service will be lost.</p>




        {{ govukButton({
          text: "Finish and close",
          classes: "govuk-!-margin-bottom-8"
        }) }}


        </div>
      </div>

  </form>

{% endblock %}
