{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block content %}

<form action="/another-decision-0-0-7/entry-home" method="post" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-7/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">You added an event to the timeline within Person Record</h1>

      {{ govukButton({
        text: "End",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
