{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}




<form action="eject-reason-router" method="post" class="form">
  {% if data["record-timeline"] == "Entry" %}

    {% else %}
    <!-- <form action="eject-reason-router" method="post" class="form"> -->

    {% endif %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}

Pelican


      {% if data["confim-bau"] %}

      {{ govukRadios({
        idPrefix: "eject-reason",
        name: "eject-reason",
        fieldset: {
          legend: {
            html: "Add an event",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Other",
          text: "Other reason",
          checked: (data["eject-reason"] == "Other")
        }
        ]
      }) }}


      If the claim is BAU then what are we adding here?
      If there is only a single radio, its not a radio set anymore

<br><br>

      {% else %}

      {{ govukRadios({
        idPrefix: "eject-reason",
        name: "eject-reason",
        fieldset: {
          legend: {
            html: "Add an event",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "PIPcs",
          text: "Application needs to be moved to PIPCS",
          checked: (data["eject-reason"] == "PIPcs")
        },
        {
          value: "Disallow",
          text: "Disallow application",
          checked: (data["eject-reason"] == "Disallow")
        },
        {
          value: "Withdraw",
          text: "Withdraw application",
          checked: (data["eject-reason"] == "Withdraw")
        },
        {
          value: "Extend",
          text: "Extend deadline",
          checked: (data["eject-reason"] == "Extend")
        },
        {
          value: "ID",
          text: "Passed IDV",
          checked: (data["eject-reason"] == "ID")
        },
        {
          value: "ID",
          text: "Failed IDV",
          checked: (data["eject-reason"] == "ID")
        },
        {
          value: "Other",
          text: "Other",
          checked: (data["eject-reason"] == "Other")
        }
        ]
      }) }}

      {% endif %}

<!-- @dave watch out for the double radios, its on or off depending on if the applicaiton is in BAU -->
<br><br>
      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
