{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block content %}




<form action="eject-timeline" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-7/record-id.html" %}

      {% if data["assurance-mm-tasklist-outcome"] == "PIPcs" or data["preparation-linear-outcome"] == "PIPcs"%}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Moving this application<br>to PIPCS</h1>
        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Go to the <a href="eject-timeline">timeline</a> and select 'Move application to PIPCS'.</p> -->
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Select ‘Move application to PIPCS’ in event history to complete this action.</p>


      {% elif data["assurance-mm-tasklist-outcome"] == "Withdraw" or data["preparation-linear-outcome"] == "Withdraw"%}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Withdrawing this application</h1>
        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Go to the <a href="eject-timeline">timeline</a> and select 'Withdraw application'.</p> -->
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Select ‘Withdraw application’ in event history to complete this action.</p>


      {% elif data["assurance-mm-tasklist-outcome"] == "Disallow" or data["preparation-linear-outcome"] == "Disallow"%}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Disallowing this application</h1>
        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Go to the <a href="eject-timeline">timeline</a> and select 'Disallow application'.</p> -->
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Select ‘Disallow application’ in event history to complete this action.</p>


      {% elif data["qppt-dl-3m-check"] == "EffectiveDate" or data["qppt-dl-3m-check"] == "EffectiveDate" or data["qppt-m-3m-check"] == "SplitRate" or data["qppt-m-3m-check"] == "SplitRate" %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Moving this application<br>to PIPCS</h1>
        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Go to the <a href="eject-timeline">timeline</a> and select 'Move application to PIPCS'.</p> -->
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Select ‘Move application to PIPCS’ in event history to complete this action.</p>


      {% else %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Moving this application<br>to PIPCS</h1>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Go to the <a href="eject-timeline">timeline</a> and select 'Move application to PIPCS'.</p> -->
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Select ‘Move application to PIPCS’ in event history to complete this action.</p>

      {% endif %}


<!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Once you have added an entry to the timeline you will need to return to this page to complete this process</p> -->



      <!-- {{ govukCheckboxes({
        name: "confim-bau",
        fieldset: {
          legend: {
            text: "Add 'Need to move to PIPCS' to the timeline",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Once you have added an entry to the timeline you will need to return to this page to complete this process"
        },
        items: [
          {
            value: "confim-bau",
            text: "I confirm 'Need to move to PIPCS' was added to the timeline"
          }
        ]
      }) }} -->

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8 govuk-!-margin-top-3"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
