{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="eject-reason-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}

Pelican
      {{ govukRadios({
        idPrefix: "eject-reason",
        name: "eject-reason",
        fieldset: {
          legend: {
            html: "Why does this application need to move to PIPCS?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "a",
          text: "I cannot do what I need to do in the service",
          checked: (data["eject-reason"] == "a")
        },
        {
          value: "a",
          text: "There is potential risk to the applicant (vulnerability)",
          checked: (data["eject-reason"] == "a")
        },
        {
          divider: "Pelican reasons"
        },
        {
          value: "a",
          text: "Change of circumstances",
          checked: (data["eject-reason"] == "a")
        },
        {
          value: "a",
          text: "Error in claimant data gather",
          checked: (data["eject-reason"] == "a")
        },
        {
          value: "a",
          text: "Additional support need identified",
          checked: (data["eject-reason"] == "a")
        },
        {
          divider: "Pelican prompt"
        },
        {
          value: "a",
          text: "Disallow application",
          checked: (data["eject-reason"] == "a")
        },
        {
          value: "a",
          text: "Withdraw application",
          checked: (data["eject-reason"] == "a")
        },
        {
          value: "a",
          text: "Application needs to be moved to PIPCS (If processing this is already known)",
          checked: (data["eject-reason"] == "a")
        },
        {
          value: "extend",
          text: "The applicant needs more time to complete the health information gather (PIP2)",
          checked: (data["eject-reason"] == "extend")
        },
        {
          value: "a",
          text: "Identity verification was completed on the phone (either passed or failed)",
          checked: (data["eject-reason"] == "a")
        },
        {
          value: "eject-reason-other",
          text: "Other reason",
          checked: (data["eject-reason"] == "eject-reason-other")
        }
        ]
      }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
