{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}




<form action="eject-timeline" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id-base.html" %}

      {% if data["qppt-m-3m-check"] == "SplitRate" or data["qppt-m-3m-check"] == "SplitRate" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">This application needs to be moved to PIPCS as it cannot be processed in this service</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Select ‘Move application to PIPCS’ in event history to complete this action.</p>

        {% elif data["qppt-dl-3m-check"] == "EffectiveDate" or data["qppt-dl-3m-check"] == "EffectiveDate"%}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">This application needs to be moved to PIPCS as it cannot be processed in this service</h1>
          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Select ‘Move application to PIPCS’ in event history to complete this action.</p>


      {% else %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">This application needs to be moved to PIPCS as it cannot be processed in this service</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Select ‘Move application to PIPCS’ in event history to complete this action.</p>


      {% endif %}


<!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Once you have added an entry to the timeline you will need to return to this page to complete this process</p> -->



      <!-- {{ govukCheckboxes({
        name: "confim-bau",
        fieldset: {
          legend: {
            text: "Add 'Need to move to PIPCS' to the timeline",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Once you have added an entry to the timeline you will need to return to this page to complete this process"
        },
        items: [
          {
            value: "confim-bau",
            text: "I confirm 'Need to move to PIPCS' was added to the timeline"
          }
        ]
      }) }} -->

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8 govuk-!-margin-top-3"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
