{% if data["an-de-mr-tl-9-descriptor-overwrite"] == "a1" %}
  Descriptor A: Can engage with other people unaided

{% elif data["an-de-mr-tl-9-descriptor-overwrite"] == "b2" %}
  Descriptor B: Needs prompting to be able to engage with other people

{% elif data["an-de-mr-tl-9-descriptor-overwrite"] == "c3" %}
  Descriptor C: Needs social support to be able to engage with other people

{% elseif data["an-de-mr-tl-9-descriptor-overwrite"] == "d4" %}

  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">
    Descriptor D: Cannot engage with other people due to such engagement causing either:

    <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-0 govuk-list--bullet">
      <li>
        overwhelming psychological distress to the claimant; or
      </li>
      <li>
        the claimant to exhibit behaviour which would result in a substantial risk of harm to the claimant or another person
      </li>
    </ul>

{% else %}
  Blank

{% endif %}
