{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-about" method="post" class="form">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "documents-0-1/record-id.html" %}

      {% if data["doc-3-grade"] and data["doc-5-grade"] %}
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Supporting documents</h2>
      {% elif data["doc-3-grade"] or data["doc-5-grade"] %}
      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">View and assess 1<br>supporting document</h2>
      {% else %}
      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">View and assess 2<br>supporting documents</h2>
      {% endif %}



{% if data["doc-3-grade"] and data["doc-5-grade"] %}
{% else %}
<div><!-- Still to assess start -->

      <table class="govuk-table govuk-!-margin-bottom-8">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Still to assess</h3>

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-30-percent">Document name</td>
        <td class="govuk-table__cell govuk-20-percent">Date received<br>(Age)</td>
        <td class="govuk-table__cell govuk-20-percent">{% include "documents-0-1/doc-decision-seen.html" %}</td>
        <td class="govuk-table__cell govuk-20-percent">{% include "documents-0-1/doc-decision-used.html" %}</td>
        <td class="govuk-table__cell govuk-10-percent">Status</td>
      </tr>
      </thead>


      {% if data["doc-5-grade"] == "Good" %}
      {% elif data["doc-5-grade"] == "Bad" %}
      {% elif data["doc-5-grade"] == "Remove" %}
      {% else %}
          {% include "documents-0-1/doc-5-status.html" %}
      {% endif %}


        {% if data["doc-3-grade"] == "Good" %}
        {% elif data["doc-3-grade"] == "Bad" %}
        {% else %}
            {% include "documents-0-1/doc-3-status.html" %}
        {% endif %}


      </table>


</div><!-- Still to assess end -->
{% endif %}


{% if data["doc-1-grade"] == "Good" or data["doc-2-grade"] == "Good" or data["doc-3-grade"] == "Good" or data["doc-4-grade"] == "Good" or data["doc-5-grade"] == "Good" or data["doc-6-grade"] == "Good" %}
<div><!-- Supports the decision start -->

      <table class="govuk-table govuk-!-margin-bottom-8">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Supports the decision</h3>

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-30-percent">Document name</td>
        <td class="govuk-table__cell govuk-20-percent">Date received<br>(Age)</td>
        <td class="govuk-table__cell govuk-20-percent">{% include "documents-0-1/doc-decision-seen.html" %}</td>
        <td class="govuk-table__cell govuk-20-percent">{% include "documents-0-1/doc-decision-used.html" %}</td>
        <td class="govuk-table__cell govuk-10-percent">Status</td>
      </tr>
      </thead>

            {% if data["doc-5-grade"] == "Good" %}
              {% include "documents-0-1/doc-5-status.html" %}
            {% elif data["doc-5-grade"] == "Bad" %}
            {% elif data["doc-5-grade"] == "Remove" %}
            {% else %}
            {% endif %}

            {% if data["doc-3-grade"] == "Good" %}
              {% include "documents-0-1/doc-3-status.html" %}
            {% elif data["doc-3-grade"] == "Bad" %}
            {% elif data["doc-3-grade"] == "Remove" %}
            {% else %}
            {% endif %}

      </table>


</div><!-- Supports the decision end -->
{% else %}
{% endif %}


{% if data["doc-1-grade"] == "Bad" or data["doc-2-grade"] == "Bad" or data["doc-3-grade"] == "Bad" or data["doc-4-grade"] == "Bad" or data["doc-5-grade"] == "Bad" or data["doc-6-grade"] == "Bad" %}
<div><!-- Does not support the application start -->

      <table class="govuk-table govuk-!-margin-bottom-8">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Does not support the application</h3>

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-30-percent">Document name</td>
        <td class="govuk-table__cell govuk-20-percent">Date received<br>(Age)</td>
        <td class="govuk-table__cell govuk-20-percent">{% include "documents-0-1/doc-decision-seen.html" %}</td>
        <td class="govuk-table__cell govuk-20-percent">{% include "documents-0-1/doc-decision-used.html" %}</td>
        <td class="govuk-table__cell govuk-10-percent">Status</td>
      </tr>
      </thead>

      {% if data["doc-5-grade"] == "Good" %}
      {% elif data["doc-5-grade"] == "Bad" %}
        {% include "documents-0-1/doc-5-status.html" %}
      {% elif data["doc-5-grade"] == "Remove" %}
      {% else %}
      {% endif %}

      {% if data["doc-3-grade"] == "Good" %}
      {% elif data["doc-3-grade"] == "Bad" %}
        {% include "documents-0-1/doc-3-status.html" %}
      {% elif data["doc-3-grade"] == "Remove" %}
      {% else %}
      {% endif %}

    </table>


</div><!-- Does not support the application end -->
{% else %}
{% endif %}

{% if data["doc-1-grade"] == "Remove" or data["doc-2-grade"] == "Remove" or data["doc-3-grade"] == "Remove" or data["doc-4-grade"] == "Remove" or data["doc-5-grade"] == "Remove" or data["doc-6-grade"] == "Remove" %}
<div><!-- Documents to be removed start -->



      <table class="govuk-table govuk-!-margin-bottom-8">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Documents to be removed</h3>

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-30-percent">Document name</td>
        <td class="govuk-table__cell govuk-20-percent">Date received<br>(Age)</td>
        <td class="govuk-table__cell govuk-20-percent">{% include "documents-0-1/doc-decision-seen.html" %}</td>
        <td class="govuk-table__cell govuk-20-percent">{% include "documents-0-1/doc-decision-used.html" %}</td>
        <td class="govuk-table__cell govuk-10-percent">Status</td>
      </tr>
      </thead>

      {% if data["doc-5-grade"] == "Good" %}
      {% elif data["doc-5-grade"] == "Bad" %}
      {% elif data["doc-5-grade"] == "Remove" %}
        {% include "documents-0-1/doc-5-status.html" %}
      {% else %}
      {% endif %}

            {% if data["doc-3-grade"] == "Good" %}
            {% elif data["doc-3-grade"] == "Bad" %}
            {% elif data["doc-3-grade"] == "Remove" %}
              {% include "documents-0-1/doc-3-status.html" %}
            {% else %}
            {% endif %}

      </table>


</div><!-- Documents to be removed end -->
{% else %}
{% endif %}












        </div>
      </div>


  </form>

{% endblock %}
