{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

{% if data["application-5-about-a12"] == "Amended" and data["doc-3-grade"] %}
<form action="application-5-about" method="post" class="form">

{% elif data["application-5-about-a1"] == "Agree" and data["doc-3-grade"] %}
<form action="application-5-about" method="post" class="form">

{% else %}
<form action="application-5-about-clear" method="post" class="form">
{% endif %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "documents-0-1/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">View and assess 4<br>supporting documents</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">Application submitted: 19 March 2024</p> -->

<br>

{% if data["doc-3-grade"]%}

{% else %}


<table class="govuk-table govuk-!-margin-bottom-8">
  <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Still to assess</h3>


<thead class="govuk-table__head">
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-30-percent">Document name</td>
  <td class="govuk-table__cell govuk-20-percent">Date received<br>(age)</td>
  <td class="govuk-table__cell govuk-20-percent">Seen when Mandatory reconsideration decision was made</td>
  <td class="govuk-table__cell govuk-20-percent">Used when Mandatory reconsideration decision was made</td>
  <td class="govuk-table__cell govuk-10-percent">Status</td>
</tr>
</thead>


{% if data["doc-5-grade"] == "Good" %}
{% elif data["doc-5-grade"] == "Bad" %}
{% elif data["doc-5-grade"] == "Remove" %}
{% else %}
    {% include "documents-0-1/doc-5-status.html" %}
{% endif %}


      <!-- {% if data["doc-6-grade"] == "Good" %}
      {% elif data["doc-6-grade"] == "Bad" %}
      {% elif data["doc-6-grade"] == "Remove" %}
      {% else %}
          {% include "documents-0-1/doc-6-status.html" %}
      {% endif %} -->

      <!-- {% if data["doc-1-grade"] == "Good" %}
      {% elif data["doc-1-grade"] == "Bad" %}
      {% else %}
          {% include "documents-0-1/doc-1-status.html" %}
      {% endif %} -->

      <!-- {% if data["doc-2-grade"] == "Good" %}
      {% elif data["doc-2-grade"] == "Bad" %}
      {% else %}
          {% include "documents-0-1/doc-2-status.html" %}
      {% endif %} -->

      {% if data["doc-3-grade"] == "Good" %}
      {% elif data["doc-3-grade"] == "Bad" %}
      {% else %}
          {% include "documents-0-1/doc-3-status.html" %}
      {% endif %}

      <!-- {% if data["doc-4-grade"] == "Good" %}
      {% elif data["doc-4-grade"] == "Bad" %}
      {% elif data["doc-4-grade"] == "Remove" %}

      {% else %}
          {% include "documents-0-1/doc-4-status.html" %}
      {% endif %} -->




</table>

{% endif %}

  <!---------------- GOOD AREA START ------------------>


  <table class="govuk-table govuk-!-margin-bottom-8">

    <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Supports the application</h1>

    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-30-percent">Document name</td>
      <td class="govuk-table__cell govuk-20-percent">Date received<br>(age)</td>
      <td class="govuk-table__cell govuk-20-percent">Seen when Mandatory reconsideration decision was made</td>
      <td class="govuk-table__cell govuk-20-percent">Used when Mandatory reconsideration decision was made</td>
      <td class="govuk-table__cell govuk-15-percent">Status</td>
    </tr>
    </thead>

    {% if data["doc-5-grade"] == "Good" %}
        {% include "documents-0-1/doc-5-status.html" %}
    {% elif data["doc-5-grade"] == "Bad" %}
    {% elif data["doc-5-grade"] == "Remove" %}
    {% else %}
    {% endif %}

    {% include "documents-0-1/doc-6-status.html" %}

    {% include "documents-0-1/doc-7-status.html" %}


          {% if data["doc-1-grade"] == "Good" %}
              {% include "documents-0-1/doc-1-status.html" %}
          {% elif data["doc-1-grade"] == "Bad" %}
          {% else %}
          {% endif %}

          {% if data["doc-2-grade"] == "Good" %}
              {% include "documents-0-1/doc-2-status.html" %}
          {% elif data["doc-2-grade"] == "Bad" %}
          {% else %}
          {% endif %}

          {% if data["doc-3-grade"] == "Good" %}
              {% include "documents-0-1/doc-3-status.html" %}
          {% elif data["doc-3-grade"] == "Bad" %}
          {% else %}
          {% endif %}

          {% if data["doc-4-grade"] == "Good" %}
              {% include "documents-0-1/doc-4-status.html" %}
          {% elif data["doc-4-grade"] == "Bad" %}
          {% elif data["doc-4-grade"] == "Remove" %}
          {% else %}
          {% endif %}


          </table>



  <!---------------- BAD AREA START ------------------>

          {% if data["doc-1-grade"] == "Bad" or data["doc-2-grade"] == "Bad" or data["doc-3-grade"] == "Bad" or data["doc-4-grade"] == "Bad" or data["doc-5-grade"] == "Bad" or data["doc-6-grade"] == "Bad" %}

        <table class="govuk-table govuk-!-margin-bottom-8">

        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Does not support the application</h1>

        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-30-percent">Document name</td>
          <td class="govuk-table__cell govuk-20-percent">Date received<br>(age)</td>
          <td class="govuk-table__cell govuk-20-percent">Seen when Mandatory reconsideration decision was made</td>
          <td class="govuk-table__cell govuk-20-percent">Used when Mandatory reconsideration decision was made</td>
          <td class="govuk-table__cell govuk-15-percent">Status</td>
        </tr>
        </thead>

        {% if data["doc-5-grade"] == "Good" %}
        {% elif data["doc-5-grade"] == "Bad" %}
          {% include "documents-0-1/doc-5-status.html" %}
        {% elif data["doc-5-grade"] == "Remove" %}

        {% else %}
        {% endif %}

        {% if data["doc-6-grade"] == "Good" %}
        {% elif data["doc-6-grade"] == "Bad" %}
          {% include "documents-0-1/doc-6-status.html" %}
        {% elif data["doc-6-grade"] == "Remove" %}

        {% else %}
        {% endif %}

        {% if data["doc-1-grade"] == "Good" %}
        {% elif data["doc-1-grade"] == "Bad" %}
          {% include "documents-0-1/doc-1-status.html" %}
        {% else %}
        {% endif %}

        {% if data["doc-2-grade"] == "Good" %}
        {% elif data["doc-2-grade"] == "Bad" %}
          {% include "documents-0-1/doc-2-status.html" %}
        {% else %}
        {% endif %}

        {% if data["doc-3-grade"] == "Good" %}
        {% elif data["doc-3-grade"] == "Bad" %}
          {% include "documents-0-1/doc-3-status.html" %}
        {% else %}
        {% endif %}

        {% if data["doc-4-grade"] == "Good" %}
        {% elif data["doc-4-grade"] == "Bad" %}
          {% include "documents-0-1/doc-4-status.html" %}
        {% elif data["doc-4-grade"] == "Remove" %}

        {% else %}
        {% endif %}




        </table>


  {% else %}
  {% endif %}
  <!---------------- BAD AREA END ------------------>

  <!---------------- REMOVE AREA START ------------------>

          {% if data["doc-3-grade"] == "Remove" or data["doc-4-grade"] == "Remove" or data["doc-5-grade"] == "Remove" or data["doc-6-grade"] == "Remove" %}

        <table class="govuk-table">

        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Documents to be removed</h1>

        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-30-percent">Document name</td>
          <td class="govuk-table__cell govuk-20-percent">Date received<br>(age)</td>
          <td class="govuk-table__cell govuk-20-percent">Seen when Mandatory reconsideration decision was made</td>
          <td class="govuk-table__cell govuk-20-percent">Used when Mandatory reconsideration decision was made</td>
          <td class="govuk-table__cell govuk-15-percent">Status</td>
        </tr>
        </thead>

        {% if data["doc-3-grade"] == "Good" %}
        {% elif data["doc-3-grade"] == "Bad" %}
        {% elif data["doc-3-grade"] == "Remove" %}
          {% include "documents-0-1/doc-3-status.html" %}

        {% else %}
        {% endif %}


        {% if data["doc-5-grade"] == "Good" %}
        {% elif data["doc-5-grade"] == "Bad" %}
        {% elif data["doc-5-grade"] == "Remove" %}
          {% include "documents-0-1/doc-5-status.html" %}

        {% else %}
        {% endif %}

        {% if data["doc-6-grade"] == "Good" %}
        {% elif data["doc-6-grade"] == "Bad" %}
        {% elif data["doc-6-grade"] == "Remove" %}
          {% include "documents-0-1/doc-6-status.html" %}

        {% else %}
        {% endif %}

        {% if data["doc-4-grade"] == "Good" %}
        {% elif data["doc-4-grade"] == "Bad" %}
        {% elif data["doc-4-grade"] == "Remove" %}
          {% include "documents-0-1/doc-4-status.html" %}

        {% else %}
        {% endif %}

        </table>


  {% else %}
  {% endif %}
  <!---------------- BAD AREA END ------------------>



</div>
</div>
<br>

      {{ govukButton({
        text: "Go back to supplied information",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
