{% extends "layouts/main-agent-dwa.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="doc-grading" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "documents-0-1/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">View and assess this document</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">Application submitted: <strong>19 March 2024</strong></p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Document supplied: <strong>Today</strong> (3 hours ago)</p>


      <iframe src="pip-doc8.pdf" width="100%" height="1350px" style="border:0;"></iframe>
      <br><br>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="pip-doc8.pdf" target="_blank">You can also view this document in a new tab or window</a></p>


{% set scoreOverwite %}
    {{ govukInput({
      id: "doc-8-name-overwrite",
      label: {
          text: "What do you want to name this document?",
          classes: "govuk-fieldset__legend--m"
      },
      hint: {
        text: ""
      },
          name: "doc-8-name-overwrite",
          classes: "govuk-input--width-20",
          value: data["doc-8-name-overwrite"]
      }) }}

{% endset -%}



{{ govukRadios({
  idPrefix: "doc-8-name",
  name: "doc-8-name",
  fieldset: {
    legend: {
      text: "Do you want to rename 'AP-01/02/2026'? " ,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Yes",
    text: "Yes",
    checked: (data["doc-8-name"] == "Yes"),
          conditional: {
            html: scoreOverwite
          }
  },
  {
    value: "No",
    text: "No",
    checked: (data["doc-8-name"] == "No")
  }
  ]
}) }}


{% set nextAction%}

{{ govukRadios({
  idPrefix: "doc-8-next-action",
  name: "doc-8-next-action",
  fieldset: {
    legend: {
      text: "What is the issue?" ,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Yes",
    text: "It's a duplicate of another document",
    checked: (data["doc-8-next-action"] == "Yes")
  },
  {
    value: "No",
    text: "It needs to be removed",
    checked: (data["doc-8-next-action"] == "No")
  }
  ]
}) }}


{% endset -%}


{{ govukRadios({
  idPrefix: "doc-8-grade",
  name: "doc-8-grade",
  fieldset: {
    legend: {
      text: "Does this document support the decision?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Good",
    text: "Yes",
    checked: (data["doc-8-grade"] == "Good")
  },
  {
    value: "Bad",
    text: "No",
    checked: (data["doc-8-grade"] == "Bad")
  },
  {
    divider: "or"
  },
  {
    value: "Remove",
    text: "There is an issue with this document",
    checked: (data["doc-8-grade"] == "Remove"),
          conditional: {
            html: nextAction
          }
      }
  ]
}) }}


{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}
        </div>
      </div>

  </form>

{% endblock %}
