{% extends "layout-process-mr.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}
<form action="system-application-selector-router" method="post" class="form">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "system-application-selector",
  name: "system-application-selector",
  fieldset: {
    legend: {
      text: "Select a scenario",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: ""
  },
  items: [
  {
    value: "8",
    text: "'Prepare an application for an AP' (TaskList)",
    checked: (data["system-application-selector"] == "8")
  },
  {
    value: "10",
    text: "'Preparation application for decision' (TaskList): Todo",
    checked: (data["system-application-selector"] == "10")
  },
  {
    value: "11",
    text: "'Preparation application for decision' (TaskList): Complete",
    checked: (data["system-application-selector"] == "11")
  },
  {
    value: "1",
    text: "Nil award (N) with V1 QPPT",
    checked: (data["system-application-selector"] == "1")
  },
  {
      value: "2",
      text: "Award (A) with V1 QPPT",
      checked: (data["system-application-selector"] == "2")
    }
  ]
}) }}

        <!------------ ––– ------------>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-two-thirds">

            {{ govukButton({
              text: "Continue",
              classes: "govuk-!-margin-bottom-8"
            }) }}

        </div>
      </div>

  </form>

{% endblock %}
