{% extends "layout-stats.html" %}

{% block pageTitle %}
  HAS service statistics
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "agent-stats-0-4/service-stats-filter.html" %}


    <div class="govuk-grid-row govuk-!-padding-top-2">
      <div class="govuk-grid-column-one-third ">
        {% include "agent-stats-0-3/has-service-stats-menu.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-8">Time for a referral to reach a 'complete' status in HAS</h2>
        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Between 9 February 2023 and 19 September 2023.</p> -->



                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Time needed to reach<br>'Complete' status</h3>


                        </div>
                        <div class="govuk-grid-column-one-half">
                          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Average</p>
                          <div>
                          <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0 govuk-inlinestats">35</p>
                          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1 govuk-inlinestatssmall"><b>days</b></p>
                          </div>
                        </div>

                        </div>

                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible  govuk-section-break--visible-seperator">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-6">Average time needed to reach<br> 'complete' status by Lot</h3>

                      </div>
                      <div class="govuk-grid-column-one-half">

                        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">DWP (Lot 100)</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0 govuk-inlinestats">50</p>
                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1 govuk-inlinestatssmall"><b>days</b></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-6"></h3>

                  </div>
                  <div class="govuk-grid-column-one-half">

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Capita (Lot 2)</p>
                    <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0 govuk-inlinestats">40</p>
                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1 govuk-inlinestatssmall"><b>days</b></p>
                  </div>
                </div>
              </div>
            </div>






      </div>
    </div>
  </div>
</div>




{% endblock %}
