{% extends "layout-stats.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "agent-stats-0-4/service-stats-filter.html" %}

    <div class="govuk-grid-row govuk-!-padding-top-2">
      <div class="govuk-grid-column-one-third ">
        {% include "agent-stats-0-3/has-service-stats-menu.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-8">Referrals in progress within HAS</h2>



                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-1">Total referrals in progress</h3>
                          <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">400</p>

                        </div>

                      </div>

                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible  govuk-section-break--visible-seperator">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <h3 class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-6">Breakdown of 400 referrals in progress</h3>


                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Assigned</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Awaiting decision</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Book appointment</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Book paper based review</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Gathering information</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">HCP audit</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">HCP review</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">In review</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Medical evidence not received</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">4</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Medical evidence received</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">5</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Paper based review booked</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">5</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">PIPCS descriptors updated</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">PIP paper based review</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Questionnaire not returned</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>


                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Rebook appointment</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">5</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Report ready</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Request medical evidence</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Senior HCP advice</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Unassigned</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">WCA paper based review</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>


                      </div>
                    </div>
                  </div>
                </div>
                "name": "Assigned",
                "name": "Awaiting decision",
                "name": "Book appointment",
                "name": "Book paper based review",
                "name": "Gathering information",
                "name": "HCP audit",
                "name": "HCP review",
                "name": "In review",
                "name": "Medical evidence not received",
                "name": "Medical evidence received",
                "name": "Paper based review booked",
                "name": "PIPCS descriptors updated",
                "name": "PIP paper based review",
                "name": "Questionnaire not returned",
                "name": "Rebook appointment",
                "name": "Report ready",
                "name": "Request medical evidence",
                "name": "Senior HCP advice",
                "name": "Unassigned",
                "name": "WCA paper based review",


      </div>
    </div>
  </div>
</div>




{% endblock %}
