{% extends "layout-stats.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "agent-stats-0-4/service-stats-filter.html" %}

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Ty Taf overview",
          href: "team"
        },
        {
          text: "Ty Taf breakdown",
          href: ""
        }
      ]
    }) }}

    <div class="govuk-grid-row govuk-!-padding-top-2">


      <div class="govuk-grid-column-full">

        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-4">Ty Taf team breakdown</h2>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Subhead in here</p>




                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header app-custom-class govuk-40-percent">Name</th>
                            <th scope="col" class="govuk-table__header app-custom-class govuk-13-percent">In progress</th>
                            <th scope="col" class="govuk-table__header app-custom-class govuk-13-percent">Moved to PIPcs</th>
                            <th scope="col" class="govuk-table__header app-custom-class govuk-13-percent">Paused</th>
                            <th scope="col" class="govuk-table__header app-custom-class govuk-13-percent">Paid</th>
                            <th scope="col" class="govuk-table__header app-custom-class govuk-13-percent">Nilled</th>

                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">John Goodman</td>
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">58</td>
                            <td class="govuk-table__cell">5</td>
                            <td class="govuk-table__cell">9</td>
                            <td class="govuk-table__cell">10</td>

                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">John Turturro</td>
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">10</td>
                            <td class="govuk-table__cell">5</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Sam Elliott</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">5</td>
                          </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Philip Seymour Hoffman</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                          </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Jesus Quintana</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                          </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Steve Buscemi</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                          </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Peter Stormare</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                          </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Jon Polito</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">0</td>
                          </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><b>Total</b></td>
                            <td class="govuk-table__cell"><b>2</b></td>
                            <td class="govuk-table__cell"><b>58</b></td>
                            <td class="govuk-table__cell"><b>7</b></td>
                            <td class="govuk-table__cell"><b>19</b></td>
                            <td class="govuk-table__cell"><b>11</b></td>
                          </tr>

                        </tbody>
                      </table>




      </div>
    </div>
  </div>
</div>




{% endblock %}
