{% extends "layout-stats.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "agent-stats-0-4/service-stats-filter.html" %}

    <div class="govuk-grid-row govuk-!-padding-top-2">
      <div class="govuk-grid-column-one-third ">
        {% include "agent-stats-0-4/service-stats-menu.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-8">Status of claims in payment</h2>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">This shows all claims that are currently in payment which were processed in PIP Service.</p>



                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">Applications processed in PIP Service</h3>


                        </div>
                        <div class="govuk-grid-column-one-half">
                          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Total</p>
                          <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">90</p>

                        </div>

                        </div>

                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible  govuk-section-break--visible-seperator">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-6">Breakdown of 90 applications processed in PIP Service</h3>

                      </div>
                      <div class="govuk-grid-column-one-half">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Moved to PIPCS to pay and maintain</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">86</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Paid and maintained in PIP Service</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">4</p>


                      <!-- <h3 class="govuk-body govuk-!-font-size-48 govuk-!-margin-bottom-0">14,000</h3> -->

                      </div>
                    </div>
                  </div>
                </div>

              </div>




      </div>
    </div>
  </div>
</div>




{% endblock %}
