{% extends "layout-stats.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "agent-stats-0-4/service-stats-filter.html" %}


    <div class="govuk-grid-row govuk-!-padding-top-2">
      <div class="govuk-grid-column-one-third ">
        {% include "agent-stats-0-4/service-stats-menu.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-8">Reason applications were<br>moved to PIPCS</h2>
        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Data from 'Prepage applciation for AP' only</p> -->



                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-1">Total applications moved to PIPCS</h3>
                          <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">58</p>

                        </div>

                      </div>

                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible  govuk-section-break--visible-seperator">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                        <h3 class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-6">Breakdown of 58 applications moved</h3>


                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Additional support</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">12</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Alternative format</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">3</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Appointees</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">1</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Change in personal details</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">21</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Claimant did not receive payment</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Date of death</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Details do not match SearchLight</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Evidence of fraud</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Health assessment could not be completed</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Keep Customer Interactions Safe (KCIS)</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Immigration status</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Mandatory reconsideration</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">New evidence revived after decision was made</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">4</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">New Motatbility agreement</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">5</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Overlapping benefits</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">5</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Payment error</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Payment creation error</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Residence and presence critria</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>


                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Request for split payment</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">5</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Special rules for end of life (SREL)</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">A stay in prison, hospital or other accordion</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Withdrawn</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Working abroad</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Other</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">0</p>


                      </div>
                    </div>
                  </div>
                </div>




      </div>
    </div>
  </div>
</div>




{% endblock %}
