{% extends "layout-stats.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "agent-stats-0-4/service-stats-filter.html" %}


    <div class="govuk-grid-row govuk-!-padding-top-2">
      <div class="govuk-grid-column-one-third ">
        {% include "agent-stats-0-4/service-stats-menu.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-3">Reason applications were<br>moved to PIPCS</h2>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">This shows all applications that were manually moved to PIPCS at any stage in the service.</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Applications may be moved for multiple reasons, so the number of individual reasons may be higher than the total number of applications moved.</p>



                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-1">Total applications moved to PIPCS</h3>
                          <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">58</p>

                        </div>

                      </div>

                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible  govuk-section-break--visible-seperator">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <h3 class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-4">Breakdown of 58 applications moved</h3>

                    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">***Note need regarding this being a count, and there can be several reasons for a singular application to be moved to PIPcs</p> -->
                    <table class="govuk-table">
                      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Breakdown of 58 applications moved</caption> -->
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header govuk-!-width-one-half govuk-table--no-bottom-border"></th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-half govuk-table--no-bottom-border"></th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Additional support</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">12</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Alternative format</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">10</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Change in personal details</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">3</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Claimant did not receive payment</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">1</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Date of death</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">21</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Details do not match SearchLight</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Evidence of fraud</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Health assessment could not be completed</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Keep Customer Interactions Safe (KCIS)</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Online Identity Verification (OIDV) checks not completed</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Immigration status</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Mandatory reconsideration</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-5">New evidence received after decision was made</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">New Motatbility agreement</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Overlapping benefits</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">4</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Payment error</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Payment creation error</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">5</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Residence and presence critria</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Request for split payment</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">5</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Special rules for end of life (SREL)</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">A stay in prison, hospital or other accordion</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Withdrawn</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Working abroad</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-4">Other</td>
                          <td class="govuk-table__cell govuk-!-font-size-36">0</td>
                        </tr>

                      </tbody>
                    </table>


                      </div>
                    </div>
                  </div>
                </div>


      </div>
    </div>
  </div>
</div>





{% endblock %}
