<div class="govuk-!-margin-bottom-8">
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-stats" class="govuk-link" rel="noreferrer noopener">Overview of all<br>online applications</a></p>
<!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-average" class="govuk-link" rel="noreferrer noopener">Average days in status</a></p> -->

<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">Processing</h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="applications-apply" class="govuk-link" rel="noreferrer noopener" target="">Application status<br>in PIP Apply</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="applications-PIPservice" class="govuk-link" rel="noreferrer noopener" target="">Application status<br>in PIP Service</a></p>
<!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="applications-has" class="govuk-link" rel="noreferrer noopener" target="">Applications in HAS</a></p> -->
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="decisions" class="govuk-link" rel="noreferrer noopener" target="">Decisions made<br>in PIP Service</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="disallowed" class="govuk-link" rel="noreferrer noopener" target="">Disallowed applications <br> in PIP Service</a></p>


<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">Moved to PIPCS </h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="move-to-pipcs-reasons-snug" class="govuk-link" rel="noreferrer noopener" target="">Reasons applications<br> were moved to PIPCS</a> <a href="move-to-pipcs-reasons-tight" class="govuk-link" rel="noreferrer noopener" target="">..</a> <a href="move-to-pipcs-reasons" class="govuk-link" rel="noreferrer noopener" target="">...</a></p>
<!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="x" class="govuk-link" rel="noreferrer noopener" target="">Breakdown of 'Prepare for AP' checks</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="x" class="govuk-link" rel="noreferrer noopener" target="">Breakdown of 'Prepare for Decision' checks</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="x" class="govuk-link" rel="noreferrer noopener" target="">Breakdown of 'Manual moves'</a></p> -->


<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">Live claims </h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="live-claims" class="govuk-link" rel="noreferrer noopener" target="">Status of claims in payment</a></p>

<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">Team overviews</h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="team" class="govuk-link" rel="noreferrer noopener" target="">Ty Taf</a></p>
<!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="individuals" class="govuk-link" rel="noreferrer noopener" target="">Team breakdown</a></p> -->

</div>
