{% extends "layout-stats.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "agent-stats-0-4/service-stats-filter.html" %}



    <div class="govuk-grid-row govuk-!-padding-top-2">
      <div class="govuk-grid-column-one-third ">
        {% include "agent-stats-0-4/service-stats-menu.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-3">Overview on all online PIP applications</h2>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">This includes both self-serve and invited digital applications.</p>



                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Online PIP applications submitted</h3>


                        </div>
                        <div class="govuk-grid-column-one-half">
                          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Total</p>
                          <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">1,000</p>

                        </div>

                        </div>

                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible  govuk-section-break--visible-seperator">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-6">Breakdown of 1,000 online PIP applications</h3>

                      </div>
                      <div class="govuk-grid-column-one-half">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Routed directly to PIPCS</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">910</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Routed to PIP Service</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">90</p>
                      <!-- <h3 class="govuk-body govuk-!-font-size-48 govuk-!-margin-bottom-0">14,000</h3> -->

                      </div>
                    </div>
                  </div>
                </div>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible  govuk-section-break--visible-seperator">


              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                      <h3 class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-6">Breakdown of 90 online applications routed to<br> PIP Service</h3>


                    </div>
                    <div class="govuk-grid-column-one-half">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Completed in PIP Service</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">30</p>

                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Moved to PIPCS</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">58</p>

                      <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Still being processed in PIP Service</p>
                      <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">2</p> -->

                    </div>

                    </div>

                  </div>
                </div>
              </div>




      </div>
    </div>
  </div>
</div>




{% endblock %}
