{% extends "layout-stats.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="service-stats" method="post" class="form">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Service statistics</h1> -->

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Date range for statistics</h1>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1"></p>


    {{ govukDateInput({
      id: "timeselection-date-from",
      namePrefix: "timeselection-date-from",
      fieldset: {
        legend: {
          html: "Enter the start date of the data you want to show",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
        }
      },
      hint: {
        html: "The service went live on 30 September 2024"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: data["timeselection-date-from-day"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: data["timeselection-date-from-month"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: data["timeselection-date-from-year"]
        }
      ]
    }) }}

<br>

    {{ govukDateInput({
      id: "timeselection-date-to",
      namePrefix: "timeselection-date-to",
      fieldset: {
        legend: {
          html: "Enter the end date of the data you want to show",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
        }
      },
      hint: {
        html: ""
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: data["timeselection-date-to-day"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: data["timeselection-date-to-month"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: data["timeselection-date-to-year"]
        }
      ]
    }) }}
<br>
    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-bottom-8"
    }) }}



    </div>
  </div>




{% endblock %}
