{% extends "layout-stats.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

 <!-- include "includes/js-back-link.html"  -->


<form action="timeselection-preset-router" method="post" class="form">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Service statistics data</h1>

    {{ govukRadios({
      idPrefix: "timeselection-preset",
      name: "timeselection-preset",
      fieldset: {
        legend: {
          html: "When do you want to see data for?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: ""
      },
      classes: "govuk-radios",
      items: [
      {
        value: "today",
        text: "Today",
        checked: (data["timeselection-preset"] == "today")
      },
      {
        value: "yesterday",
        text: "Yesterday",
        checked: (data["timeselection-preset"] == "yesterday")
      },
      {
        value: "thisweek",
        text: "This week",
        checked: (data["timeselection-preset"] == "thisweek")
      },
      {
        value: "previousweek",
        text: "Previous week",
        checked: (data["timeselection-preset"] == "previousweek")
      },
      {
        value: "thismonth",
        text: "This month",
        checked: (data["timeselection-preset"] == "thismonth")
      },
      {
        value: "previousmonth",
        text: "Previous month",
        checked: (data["timeselection-preset"] == "previousmonth")
      },
      {
        value: "all",
        text: "From the start of PIP Service (30 September 2024 to today)",
        checked: (data["timeselection-preset"] == "all")
      },
      {
        divider: "or"
      },
      {
        value: "custom",
        text: "Custom date range",
        checked: (data["timeselection-preset"] == "custom")
      }
      ]
    }) }}

    <!-- {{ govukRadios({
      idPrefix: "source-preset",
      name: "source-preset",
      fieldset: {
        legend: {
          html: "What data source do you want to see?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m govuk-!-padding-top-6"
        }
      },
      hint: {
        text: ""
      },
      classes: "govuk-radios",
      items: [
      {
        value: "source-invited",
        text: "Invided digital data only",
        checked: (data["source-preset"] == "source-invited")
      },
      {
        value: "source-apply",
        text: "Apply data only",
        checked: (data["source-preset"] == "source-apply")
      },
      {
        divider: "or"
      },
      {
        value: "all",
        text: "Data from all sources: Invided digital and Apply",
        checked: (data["source-preset"] == "source-all")
      }
      ]
    }) }} -->


    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-bottom-8"
    }) }}



    </div>
  </div>




{% endblock %}
