<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">

{% if data["timeselection-preset"] == "custom" %}

{{ data['timeselection-date-from-day'] + ' ' + (data['timeselection-date-from-month'] | getMonth) + ' ' + data['timeselection-date-from-year']}}
–
{{ data['timeselection-date-to-day'] + ' ' + (data['timeselection-date-to-month'] | getMonth) + ' ' + data['timeselection-date-to-year']}}.

{% elif data["timeselection-preset"] == "today" %}
Friday 28 March 2025 (today).

{% elif data["timeselection-preset"] == "yesterday" %}
Thursday 27 March 2025 (yesterday).

{% elif data["timeselection-preset"] == "thisweek" %}
Monday 24 March 2025 to today.

{% elif data["timeselection-preset"] == "previousweek" %}
17 March 2025 to 21 March 2025 (previous week).

{% elif data["timeselection-preset"] == "thismonth" %}
1 March 2025 to today.

{% elif data["timeselection-preset"] == "previousmonth" %}
1 February 2025 to Friday 28 February 2025 (previous month).


{% elif data["timeselection-preset"] == "all" %}
30 September 2024 to today (start of service).

{% else %}

30 September 2024 to today (start of service).

{% endif %}

<a href="timeselection-preset" class="govuk-link" rel="X" target="">Change dates</a></p>
