@import "explore.scss";
@import "explore-header";
@import "explore-govuk-overrides";



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-60-percent{
  width: 60% !important;
}
.govuk-55-percent{
  width: 55% !important;
}

.govuk-50-percent{
  width: 50% !important;
}
.govuk-49-percent{
  width: 49% !important;
}

.govuk-40-percent{
  width: 40% !important;
}
.govuk-39-percent{
  width: 38% !important;
}

.govuk-38-percent{
  width: 38% !important;
}

.govuk-37-5-percent{
  width: 37.5% !important;
}
.govuk-35-percent{
  width: 35% !important;
}
.govuk-33-percent{
  width: 33% !important;
}
.govuk-32-percent{
  width: 32% !important;
}
.govuk-30-percent{
  width: 30% !important;
}
.govuk-26-percent{
  width: 26% !important;
}
.govuk-25-percent{
  width: 25% !important;
}
.govuk-23-percent{
  width: 23% !important;
}
.govuk-22-percent{
  width: 22% !important;
}
.govuk-20-percent{
  width: 20% !important;
}
.govuk-18-percent{
  width: 18% !important;
}
.govuk-17-percent{
  width: 17% !important;
}
.govuk-16-percent{
  width: 16% !important;
}
.govuk-16-6-percent{
  width: 16.6% !important;
}
.govuk-12-percent-percent{
  width: 13% !important;
}
.govuk-12-5-percent-percent{
  width: 12.5% !important;
}
.govuk-12-percent-percent{
  width: 12% !important;
}
.govuk-11-percent-percent{
  width: 11% !important;
}
.govuk-10-percent{
  width: 10% !important;
}



.app-mainstream-guide-contents-list {
   border-bottom: none;
}


.govuk-inset-text-light {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.steps .steps>li:before .steps>li:before {
    background-color: #0b0c0c;
    border-radius: 50%;
    color: #fff;
    float: left;
    font-size: 80%;
    height: 1.75em;
    left: 0.3em;
    line-height: 1.75em;
    position: absolute;
    text-align: center;
    top: 0.9em;
    width: 1.75em;
}

// hide crown on footer
.govuk-footer__copyright-logo {
   display: none;
}

// hide licence on footer
.govuk-footer__licence-logo {
  display: none;
}

a.govuk-skip-link {text-decoration: underline;}

.key-details-bar {
  background-color: #005ea5;
}

.key-details-bar .key-details-bar__key-details {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 30px 20px 30px;
  position: relative;
  font-family: "GDS Transport";
}

.key-details-bar .key-details-bar__key-details * {
  color: #fff;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  margin-right: 10px;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__nino {
  font-size: 24px;
  line-height: 1;
  margin-top: 12px;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__status {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  padding: 5px 8px 0;
  color: #005ea5;
  background-color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin: 5px 0 0;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  content: ' ';
  padding-top: 10px;
  margin-top: 6px;
}

.key-details-bar .key-details-bar__key-details dd, .key-details-bar .key-details-bar__key-details dt {
  float: left;
  font-size: 19px;
  margin-right: 5px;
}

.key-details-bar .key-details-bar__key-details dd {
  margin-right: 20px;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__top-block::after, .key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block::after {
  clear: both;
  content: ' ';
  display: block;
}
// .govuk-grid-column-one-third {
//   float: right;
//   width: 20%;
// }


#tag {
  color: #000000;
  float: right;
}
.govuk-header__container { border-bottom:0; margin-bottom:0; }

.govuk-header { border-bottom:0; }

//navigation
.navigation-secondary ul:after {
  content: "";
  display: block;
  clear: both;
}

.navigation-secondary {
  border-bottom: 1px solid #bfc1c3;
  margin: auto;
  max-width: 960px;
}

.navigation-secondary ul {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 0;

}

.navigation-secondary li {
  float: left;
  list-style-type: none;
}

@media (max-width: 640px) {
  .navigation-secondary li {
    border: 0;
    width: 100%;
  }
}

.navigation-secondary a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.navigation-secondary a:visited {
  color: #005ea5;
}

.navigation-secondary a:hover {
    text-decoration: underline;
}

.navigation-secondary .active {
  box-shadow: inset 0px -5px 0px 0px #005ea5;
  text-decoration: none;
}

.navigation-secondary .active:visited {
  color: #0b0c0c;
}

// // ————————————————————————————————————— MOJ PAGINATION
//
.moj-pagination__item--prev .moj-pagination__link:before {
    border-width: 3px 0 0 3px;
    margin-right: 5px;
}

.moj-pagination__item--next .moj-pagination__link:after {
    border-width: 0 3px 3px 0;
    margin-left: 5px;
}

.moj-pagination__item--prev .moj-pagination__link:before, .moj-pagination__item--next .moj-pagination__link:after {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-style: solid;
    color: #0b0c0c;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
}
.pagination .pagination_list-items {

  li {
    display: inline-block;
    a {
      color: #005EA5;
      display: inline-block;
      padding: 15px 5px 10px 5px;
      margin-right: 15px;


      &:focus {
        outline: 0;
      }
    }
    &.active a,
    &.active a:hover {
      color: #005EA5;
      -webkit-box-shadow: inset 0px -5px 0px 0px #005EA5;
      -moz-box-shadow: inset 0px -5px 0px 0px #005EA5;
      box-shadow: inset 0px -5px 0px 0px #005EA5;
    }
  }
}

.padding {
  padding-left: 15px;
}

.pagination {
  padding: 0;
}
.pagination__item {
  display: inline-block;
  list-style: none;
}
.pagination__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;

  &:hover, &:focus {
    background: #F8F8F8;
    outline: 3px solid #FFBF47;
  }

  &.current {
    color: #0B0C0C;
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;

    &:hover, &:focus {
      color: #0B0C0C;
      background: none;
    }
  }
}

.pagination__summary {
  font-family: 'Inter UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 8px 0  ;

  @media (min-width: 642px) {
    float: right;
  }
}

// .govuk-grid-column-one-third {
//     float: right;
//     width: 30%;
// }


// TAGS

.govuk-tag--tested {
  background-color: #28a197;
   float: right;
   margin-right:0;
}

.govuk-tag--untested {
  background-color: #b1b4b6;
   float: right;
   margin-right:0;
}

.govuk-tag--due {
  background-color: #f499be;
  // float: right;
  // margin-right:12%;
}

.govuk-tag--user-reseach {
  background-color: #f499be;
  color: #46162F;

  // float: right;
  // margin-right:12%;
}

.govuk-tag--event-notifications {
  background-color: #d4351c;
  color: #ffffff;
  border-radius: 75px;
  // float: right;
  // margin-right:12%;
}

.govuk-inset-text--action-notifications {
  background-color: #f3f2f1;
  color: #000000;
  border-radius: 2px;
  // float: right;
  // margin-right:12%;
  border-left: 0;
  // border: 1px solid #b1b4b6;

}





.app-task-list__items-pip {
  padding-left:0px;
}

.app-task-list__items-noborder {
  border-bottom: 0px !important;
}

.app-task-list__section-number-pip {
  padding-left:0px;
}

// About tasks

.app-task-list__apl-task-alignment {
  // text-transform: capitalize;
  float: right !important;
}

.app-task-list__apl-task-done {
  text-transform: uppercase;
  color: #144e81;
  background-color: #d2e2f1;
}

.app-task-list__apl-task-not-done {
  text-transform: uppercase;
  color: #6f777b;
  background-color: #dee0e2;
}

.app-task-list__apl-task-pause {
  text-transform: uppercase;
  background-color: #fff7bf;
  color: #594d00;
}


.app-task-list__apl-task-good {
  text-transform: uppercase;
  // color: #fff;
  // background-color: #1d70b8;
}

.app-task-list__apl-task-bad {
  text-transform: uppercase;
  color: #942514;
  background-color: #f6d7d2;
}

.app-task-list__apl-task-notclaimed {
  text-transform: uppercase;
  color: #6e3619;
  background-color: #fcd6c3;
}

.app-task-list__apl-task-blocked {
  text-transform: uppercase;
  color: #594d00;
  background-color: #fff7bf;
}



// Cases

.app-task-list__apl-case-not-done {
  text-transform: uppercase;
  color: #6f777b;
  background-color: #dee0e2;
}

.app-task-list__apl-case-passed {
  text-transform: uppercase;
  color: #fff;
  background-color: #1d70b8;
}

.app-task-list__apl-case-failed {
  text-transform: uppercase;
  color: #fff;
  background-color: #d4351c;
}

.app-task-list__apl-task-amended {
  text-transform: uppercase;
  color: #005a30;
  background-color: #cce2d8;
}

// moj-pagination


.moj-pagination__item--prev .moj-pagination__link:before {
    border-width: 3px 0 0 3px;
    margin-right: 5px;
}

.moj-pagination__item--next .moj-pagination__link:after {
    border-width: 0 3px 3px 0;
    margin-left: 5px;
}

.moj-pagination__item--prev .moj-pagination__link:before, .moj-pagination__item--next .moj-pagination__link:after {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-style: solid;
    color: #0b0c0c;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
}

.call-panel {
  // text-transform: uppercase;
  color: #000000;
  background-color: #1d70b8;
}
.call-panel-prepare {
  // text-transform: uppercase;
  color: #000000 !important;
  background-color: #BBD4EA;
  padding-top:10px !important;

}

.call-panel-outbound {
  // text-transform: uppercase;
  color: #000000 !important;
  background-color: #BBD4EA;

}

.call-panel-alignment {
    float: right !important;
}

.call-panel-text {
  // text-transform: uppercase;
  color: #ffffff !important;
}

.call-panel-text-outbound {
  // text-transform: uppercase;
  color: #000 !important;
}

.call-panel-active {
  // text-transform: uppercase;
  color: #fff !important;
  background-color: #CCE1D8;
  padding-top:10px !important;
}

.call-panel-wrapup {
  // text-transform: uppercase;
  color: #fff !important;
  background-color: #DEE0E2;
  padding-top:10px !important;
}





.govuk-heading-xm {
  font-family: 'GDS Transport';
  font-weight: 700;
  font-size: 29px !important;
}

.govuk-heading-st {
  font-family: 'GDS Transport';
  font-weight: 300;
  font-size: 60px !important;
  padding-top: none !important;
  margin-top: none !important;
  }

.govuk-section-break--visible-seperator {
  border-bottom: 2px;
  border-style: solid;
  color: #000 !important;
  }

.govuk-accordion__section-heading-text {
  font-size: 19px !important;
  }


.govuk-accordion__section-button {
border-top: 0px !important;
border-bottom: 0px !important;
padding-bottom: 0px !important;

  }

.govuk-accordion__section-content{
  padding-bottom: 2% !important;

}

.govuk-accordion{
  border-bottom: 0px !important;
  padding-bottom: 0px !important;

}


.govukTextarea--overwrite{
  min-height: 350px !important;
}



.govuk-list_prase{
  padding-bottom: 0px !important;
}

// Copy button

.app-example__copy-code-button {
  font-family: arial, sans-serif;
  z-index: 1;
  min-width: 110px;
  padding: 3px 10px;
  margin-right: 0;
  // margin-left: auto;
  display: block;
  border: 1px solid #00823b;
  color: #00823b;
  box-shadow: 0 2px 0 0 govuk-colour("green");
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.25;
  background-color: govuk-colour("white");

  &:active,
  &:focus {
    padding: 2px 10px;
    border: 2px solid govuk-colour("yellow");
    outline: 2px solid transparent;
    box-shadow: none;
  }
}

.govuk-table--no-bottom-border {
  border-bottom: none
}

.govuk-table--no-top-border {
  border-top: none
}

.govuk-summary-list__row--no-bottom-border {
  border-bottom: none
}

.govuk-link_panel {
  color: #ffffff !important;
}


.govuk-button-fake {
  background: none!important;
  border: none;
  padding: 0!important;
  margin: 0;
  /*optional*/
  font-family: 'GDS Transport';
  font-weight: 500;
  font-size: 19px !important;  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.govuk-breadcrumbs {
  background: none!important;
}

.govuk-inlinestats {
  margin:0;
  display: inline;
  float:left
}
.govuk-inlinestatssmall {
  margin-top:41px;
  margin-left:6px;
  display: inline;
  float:left
}

.govuk-aligned-right{
float: right;
}

.govuk-table__cell--right{
float: right!important;
text-align: right!important;
}

.govuk-tag--filter {
  background-color:#f3f2f1;
  padding: 10px!important;
  margin-right:10px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 19px !important;  /*input has OS specific font-family*/
  letter-spacing: 0.005em;

}

.govuk-find-doc{
  text-decoration: none;

}


.border-bottom-end {
  border-bottom: 2px solid #000;

}

.border-bottom-end-clear {
  border-bottom: 0 solid #000;

}

// colin bannder

.prototype-banner-hidden {
    display: none;
}

.prototype-banner-hidden:target {
    display: block;
}

.govuk-table {
  border-bottom: 0px !important;
}



.govuk-extra-padding-right {
  padding-left: 40px !important;
}


.noborder {
  border-bottom: 0px !important;
}
