      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Your application for Personal Independence<br>Payment (PIP) was unsuccessful</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This means you cannot get PIP at this time.</p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">PIP is made up of 2 parts: help with daily living needs and help with mobility needs.<br>The parts are paid at either a standard or enhanced rate. </p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><b>Daily living</b></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Your total score for the daily living part of PIP is <b>0 points</b>.<br></p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><b>Mobility</b></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Your total score for the mobility part of PIP is <b>0 points</b>.</p>


    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a class="" href="#" target="">Get help with understanding this decision and what your next steps could be</a></p>
