{% extends "layouts/main-citizen-base.html" %}

{% block pageTitle %}
  Citizen (PIP)
{% endblock %}

{% block content %}

<form action="home-citizen-ip-fixed#ch-advanced-application-submission-banner" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "citizen-record-0-0-1/id-base-record.html" %}

    </div>
  </div>

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "My Home",
        href: "home-citizen-ip"
      },
      {
        text: "Advanced applicaiton"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Apply again for PIP</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">To start your new application for PIP, you will need to:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>confirm your contact details</li>
        <li>review what you said in your previous application</li>
        <li>let us know whether your condition has improved or got worse</li>
        <li>submit supporting evidence</li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">We will then review your application and make a new decision.</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Your points may go up, down or remain the same. This means your payments might change or stop completely if you no longer have enough points. </p>













     {{ govukButton({
       text: "Continue",
       classes: "govuk-!-margin-bottom-8"
     }) }}

    </div>
  </div>


  </form>

{% endblock %}
