{% extends "layouts/main-citizen-base.html" %}

{% block pageTitle %}
  Citizen (PIP)
{% endblock %}

{% block content %}

<form action="home-citizen-ip-fixed#ch-advanced-application-submission-banner" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "citizen-record-0-0-1/id-base-record.html" %}

    </div>
  </div>

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "My Home",
        href: "home-citizen-ip"
      },
      {
        text: "Advanced applicaiton"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Pretend we asked you loads of information about if data is still true</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Things that would happen would be:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>We would ask you if your contact details were still all correct</li>
        <li>Show you what you said last time and see if its got better or worse</li>
        <li>We would then review this</li>
        <li>A new decision would be made</li>
        <li>Then the outcome would be that your pip is continued with no gap in payment</li>
        <li>Or it would end given you no longer meet the crititia </li>

      </ul>





     {{ govukButton({
       text: "Continue",
       classes: "govuk-!-margin-bottom-8"
     }) }}

    </div>
  </div>


  </form>

{% endblock %}
