
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="" href="home-citizen" target="">Vincent Vega</a></td>
            <td class="govuk-table__cell">NA 11 22 33 c</td>
            <td class="govuk-table__cell">Change of cicumstances information request</td>
            <td class="govuk-table__cell">

              {{govukTag({
                text: "In payment",
                classes: "govuk-tag--green"
              })}}

            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="" href="home-citizen" target="">Jules Winnfield</a></td>
            <td class="govuk-table__cell">NA 00 00 00 c</td>
            <td class="govuk-table__cell">About to move to archive</td>
            <td class="govuk-table__cell">

              {{govukTag({
                text: "Nil award",
                classes: "govuk-tag--red"
              })}}

            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="" href="home-citizen" target="">Mia Wallace</a></td>
            <td class="govuk-table__cell">NA 00 00 00 c</td>
            <td class="govuk-table__cell">About to be archived</td>
            <td class="govuk-table__cell">

              {{govukTag({
                text: "Disallowed",
                classes: "govuk-tag--yellow"
              })}}

            </td>
          </tr>



          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="" href="home-citizen" target="">Butch Coolidge</a></td>
            <td class="govuk-table__cell">NA 00 00 00 c</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">

              {{govukTag({
                text: "Not started",
                classes: "govuk-tag--yellow"
              })}}

            </td>
          </tr>



          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="" href="home-citizen" target="">Winston Wolfe</a></td>
            <td class="govuk-table__cell">NA 00 00 00 c</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">

              {{govukTag({
                text: "In progress",
                classes: "govuk-tag--blue"
              })}}

            </td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="" href="home-citizen" target="">Lance Jody</a></td>
            <td class="govuk-table__cell">NA 00 00 00 c</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">

              {{govukTag({
                text: "In payment",
                classes: "govuk-tag--green"
              })}}

            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="" href="home-citizen" target="">Marvin Brett</a></td>
            <td class="govuk-table__cell">NA 00 00 00 c</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">

              {{govukTag({
                text: "In payment",
                classes: "govuk-tag--green"
              })}}

            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="" href="home-citizen" target="">Jimmie Dimmick</a></td>
            <td class="govuk-table__cell">NA 00 00 00 c</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">

              {{govukTag({
                text: "Closed",
                classes: "govuk-tag--red"
              })}}

            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="" href="home-citizen" target="">Maynard Trudi</a></td>
            <td class="govuk-table__cell">NA 00 00 00 c</td>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">

              {{govukTag({
                text: "Closed",
                classes: "govuk-tag--red"
              })}}

            </td>
          </tr>
