{% extends "layouts/main-citizen-base.html" %}

{% block pageTitle %}
  Citizen (PIP)
{% endblock %}

{% block content %}



<form action="XXX" method="post" class="form">
  {% include "citizen-record-0-0-1/ch-notifications.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "citizen-record-0-0-1/id-base-record.html" %}

    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">My PIP home</h1>

      {% include "citizen-record-0-0-1/block-outcome-in-payment.html" %}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        {% include "citizen-record-0-0-1/block-payments.html" %}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        {% include "citizen-record-0-0-1/block-changes.html" %}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      {% include "citizen-record-0-0-1/block-previous-decisions.html" %}

      <!--<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      {% include "citizen-record-0-0-1/block-contact.html" %}-->


    </div>
  </div>


  </form>

{% endblock %}
