{% extends "layouts/main-agent-process-mr.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}
<form action="system-citizen-record-selector-router" method="post" class="form">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "system-citizen-record-selector",
  name: "system-citizen-record-selector",
  fieldset: {
    legend: {
      text: "Select a scenario",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: ""
  },
  items: [
  {
    value: "1",
    text: "Citzen (All options)",
    checked: (data["system-citizen-record-selector"] == "1")
  },
  {
    value: "1a",
    text: "Citzen (Never applied)",
    checked: (data["system-citizen-record-selector"] == "1a")
  },
  {
    value: "1g",
    text: "Citzen (No active / with Previous)",
    checked: (data["system-citizen-record-selector"] == "1g")
  },
  {
    value: "1b",
    text: "Citzen (Application part submission)",
    checked: (data["system-citizen-record-selector"] == "1b")
  },
  {
    value: "1c",
    text: "Citzen (Being processed)",
    checked: (data["system-citizen-record-selector"] == "1c")
  },
  {
    value: "1d",
    text: "Citzen (In payment) (1d)",
    checked: (data["system-citizen-record-selector"] == "1d")
  },
  {
    value: "1i",
    text: "Citzen (Fixed term due to end) (1i)",
    checked: (data["system-citizen-record-selector"] == "1i")
  },
  {
    value: "1e",
    text: "Citzen (Nil) (1e)",
    checked: (data["system-citizen-record-selector"] == "1e")
  },
  {
    value: "1f",
    text: "Citzen (Nil + MR in submitted) (1f)",
    checked: (data["system-citizen-record-selector"] == "1f")
  },
  {
    value: "2",
    text: "Del Auth: POA (Thomas Crown)",
    checked: (data["system-citizen-record-selector"] == "2")
  },
  {
    value: "3",
    text: "Del Auth: POA (Empty)",
    checked: (data["system-citizen-record-selector"] == "3")
  },
  {
    value: "4",
    text: "Organisation",
    checked: (data["system-citizen-record-selector"] == "4")
  },
  {
      value: "5",
      text: "XXX",
      checked: (data["system-citizen-record-selector"] == "5")
    }
  ]
}) }}

        <!------------ ––– ------------>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-two-thirds">

            {{ govukButton({
              text: "Continue",
              classes: "govuk-!-margin-bottom-8"
            }) }}

        </div>
      </div>

  </form>

{% endblock %}
