
{% extends "layout-eject.html" %}

<!-- {% if data["qppt-dl-effective-date-check"] == "No" or data["qppt-m-effective-date-check"] == "No" %}
{% extends "layouts/layout.html" %}
{% else %}
{% extends "layout-eject.html" %}
{% endif %} -->


{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form action="award-dates-data-input" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-2-1/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Make a decision</h1>

    </div>
  </div>


      <!------------ ––– ------------>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">


          <table class="govuk-table">

            <h1 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-6">Supporting documents</h1>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent"></td>
                <td class="govuk-table__cell govuk-25-percent"></td>
                <td class="govuk-table__cell govuk-15-percent"></td>
              </tr>
              </thead>

          <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">
                <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-5-view-evidence" target="_blank">View and assess supporting documents<br>(Open in a new window)</a></p> -->
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-6-view-evidence">Review information and select documents used</a></p>

              </td>

              <td class="govuk-table__cell table-spacer"></td>
              <td class="govuk-table__cell table-spacer">

              <strong class="govuk-tag app-task-list__apl-task-done" id="eligibility-completed">done</strong>

              </td>
              </tr>

</table>


<table class="govuk-table">

  <h1 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-6">Qualifying period and prospective test</h1>

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-60-percent"></td>
      <td class="govuk-table__cell govuk-25-percent"></td>
      <td class="govuk-table__cell govuk-15-percent"></td>
    </tr>
    </thead>

<tr class="govuk-table__row">
    <td class="govuk-table__cell table-spacer">
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-5-view-evidence" target="_blank">View and assess supporting documents<br>(Open in a new window)</a></p> -->
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="qppt-dl-3m-check">Daily living</a></p>

    </td>

    <td class="govuk-table__cell table-spacer"></td>
    <td class="govuk-table__cell table-spacer">

      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
    </td>
    </tr>

    <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">
          <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-5-view-evidence" target="_blank">View and assess supporting documents<br>(Open in a new window)</a></p> -->
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="qppt-m-3m-check">Mobility</a></p>

        </td>

        <td class="govuk-table__cell table-spacer"></td>
        <td class="govuk-table__cell table-spacer">

        <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>

        </td>
        </tr>

</table>


<table class="govuk-table">

  <h1 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-6">Health conditions or disabilities</h1>

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-60-percent"></td>
      <td class="govuk-table__cell govuk-25-percent"></td>
      <td class="govuk-table__cell govuk-15-percent"></td>
    </tr>
    </thead>

<tr class="govuk-table__row">
    <td class="govuk-table__cell table-spacer">
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-5-view-evidence" target="_blank">View and assess supporting documents<br>(Open in a new window)</a></p> -->
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="health-condition-summary-3">Health conditions or disabilities</a></p>
    </td>
    <td class="govuk-table__cell table-spacer"></td>
    <td class="govuk-table__cell table-spacer">
        <strong class="govuk-tag app-task-list__apl-task-done">done</strong>

    </td>
    </tr>
</table>


<!-- POINTS -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">

                  <table class="govuk-table">
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Daily living activities</h1>


      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-66-percent">&nbsp</td>
          <td class="govuk-table__cell govuk-16-percent">Score</td>
          <td class="govuk-table__cell govuk-16-percent">Status</td>

        </tr>
        </thead>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer"><a href="application-6-about-a1-score">Preparing food</a></td>
          <td class="govuk-table__cell table-spacer">

          {% if data["application-about-a1-score-overwrite"] %}
          {% include "agent-day-0-1-8/application-about-a1-score-overwrite.html" %}
          {% else %}
          0
          {% endif %}

          </td>

          <td class="govuk-table__cell table-spacer">
            {% if data["application-about-a1-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
            {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
            {% endif %}
          </td>



          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer"><a href="application-6-about-a2-score">Taking nutrition</a></td>
            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a2-score-overwrite"] %}
              {% include "agent-day-0-1-8/application-about-a2-score-overwrite.html" %}
              {% else %}
              0
              {% endif %}
            </td>

            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a2-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
              {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
              {% endif %}
            </td>

            </tr>

          <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer"><a href="application-6-about-a3-score">Managing therapy or monitoring<br>a health condition</a></td>
          <td class="govuk-table__cell table-spacer">
            {% if data["application-about-a3-score-overwrite"] %}
            {% include "agent-day-0-1-8/application-about-a3-score-overwrite.html" %}
            {% else %}
            0
            {% endif %}
          </td>

          <td class="govuk-table__cell table-spacer">
            {% if data["application-about-a3-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
            {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
            {% endif %}
          </td>

          </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer"><a href="application-6-about-a4-score">Washing and bathing</a></td>
                <td class="govuk-table__cell table-spacer">
                  {% if data["application-about-a4-score-overwrite"] %}
                  {% include "agent-day-0-1-8/application-about-a4-score-overwrite.html" %}
                  {% else %}
                  0
                  {% endif %}
                </td>

                <td class="govuk-table__cell table-spacer">
                  {% if data["application-about-a4-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                  {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                  {% endif %}
                </td>


                </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer"><a href="application-6-about-a5-score">Managing toilet needs or incontinence</a></td>
            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a5-score-overwrite"] %}
              {% include "agent-day-0-1-8/application-about-a5-score-overwrite.html" %}
              {% else %}
              0
              {% endif %}
            </td>

            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a5-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
              {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
              {% endif %}
            </td>

            </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer"><a href="application-6-about-a6-score">Dressing and undressing</a></td>
                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a6-score-overwrite"] %}
                      {% include "agent-day-0-1-8/application-about-a6-score-overwrite.html" %}
                      {% else %}
                      0
                      {% endif %}
                    </td>

                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a6-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                      {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                      {% endif %}
                    </td>

                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="application-6-about-a7-score">Communicating verbally</a></td>
                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a7-score-overwrite"] %}
                        {% include "agent-day-0-1-8/application-about-a7-score-overwrite.html" %}
                        {% else %}
                        0
                        {% endif %}
                      </td>

                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a7-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                        {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                        {% endif %}
                      </td>

                      </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-spacer"><a href="application-6-about-a8-score">Reading and understanding signs,<br>symbols and words</a></td>
                  <td class="govuk-table__cell table-spacer">
                    {% if data["application-about-a8-score-overwrite"] %}
                    {% include "agent-day-0-1-8/application-about-a8-score-overwrite.html" %}
                    {% else %}
                    0
                    {% endif %}
                  </td>

                  <td class="govuk-table__cell table-spacer">
                    {% if data["application-about-a8-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                    {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                    {% endif %}
                  </td>

                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer"><a href="application-6-about-a9-score">Engaging with other people face to face</a></td>
                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a9-score-overwrite"] %}
                      {% include "agent-day-0-1-8/application-about-a9-score-overwrite.html" %}
                      {% else %}
                      0
                      {% endif %}
                    </td>

                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a9-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                      {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                      {% endif %}
                    </td>

                    </tr>


                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="application-6-about-a10-score">Making budgeting decisions</a></td>
                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a10-score-overwrite"] %}
                        {% include "agent-day-0-1-8/application-about-a10-score-overwrite.html" %}
                        {% else %}
                        0
                        {% endif %}
                      </td>

                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a10-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                        {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                        {% endif %}
                      </td>

                      </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                    <td class="govuk-table__cell table-spacer"><strong>0</strong>
                    </td>

                    <td class="govuk-table__cell table-spacer">
                      &nbsp
                    </td>

                    </tr>



                  </table>

                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">

                    <table class="govuk-table">

                      <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Mobility activities</h1>

                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-66-percent">&nbsp</td>
                          <td class="govuk-table__cell govuk-16-percent">Score</td>
                          <td class="govuk-table__cell govuk-16-percent">Status</td>

                        </tr>
                        </thead>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="application-6-about-a11-score">Planning and following journeys</a></td>
                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a11-score-overwrite"] %}
                        {% include "agent-day-0-1-8/application-about-a11-score-overwrite.html" %}
                        {% else %}
                        0
                        {% endif %}
                      </td>

                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a11-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                        {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                        {% endif %}
                      </td>
                      </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer"><a href="application-6-about-a12-score">Moving around</a></td>
            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a12-score-overwrite"] %}
              {% include "agent-day-0-1-8/application-about-a12-score-overwrite.html" %}
              {% else %}
              0
              {% endif %}
            </td>

            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a12-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
              {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
              {% endif %}
            </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
              <td class="govuk-table__cell table-spacer"><strong>0</strong></td>
            <td class="govuk-table__cell table-spacer">
              &nbsp
            </td>
              </tr>

        </table>

      </div>
      </div>


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}




          </div>
        </div>



<!------------H1 LEGEND------------>
{% set dynamicH1 %}
  {% if data["idXXXXX"] == "XXXX" %}
If this is true then this space would be seen
{% elif data["idXXXXX"] == "XXXX" %}
If this is true then this space would be seen
  {% else %}
If notthing is true then would show anything in this spaxe
{% endif %}
  {% endset %}
<!------------Legend--------------->


  </form>

{% endblock %}
