{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="an-de-reissue-letter-router#" method="post" class="form">

  {% include "person-record-0-0-2/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "r-overview"
      },
      {
        text: "Applications and decision",
        href: "r-applications"
      },
      {
        text: "Register a mandatory reconsideration",
        href: ""
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Advise that they need to have received their decision letter</h1>

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">This is so we can accurately understand and record which parts of the decision they disagree with.</p>
<!-- <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-6">
  <li>This is so we can accurately  understand and record which parts of the decision they disagree with. </li>
  <li>make sure we get the right outcome for them</li> -->
  <!-- <li>Manually re-send their decision letter.</li>
  <li>Advise them to call us back once they have received the letter.</li>
  <li>It may take up to ? weeks to arrive. </li> -->
<!--
</ul> -->

      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "an-de-reissue-letter",
        name: "an-de-reissue-letter",
        fieldset: {
          legend: {
            html: "Do they need us to resend their decision letter?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "The letter can take up to 3 weeks to arrive."
        },
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["an-de-reissue-letter"] == "Yes")
        },
        {
          value: "No",
          text: "No",
          checked: (data["an-de-reissue-letter"] == "No")
        }
        ]
        }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
