{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="an-de-disagree-reasons-router" method="post" class="form">

  {% include "person-record-0-0-2/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "r-overview"
      },
      {
        text: "Applications and decision",
        href: "r-applications"
      },
      {
        text: "Register a mandatory reconsideration",
        href: ""
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {{ govukCheckboxes({
          idPrefix: "an-de-disagree-reasons",
          name: "an-de-disagree-reasons",
          classes: "govuk-checkboxes",
          fieldset: {
            legend: {
              text: "Which part of their decision do they disagree with?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: "Select all that apply."
          },
          items: [
            {
              value: "Start",
              text: "Start date or inline without hint?",
              checked: (data["an-de-disagree-reasons"] == "Start"),
              hint: {
                text: "What this means"
              }
            },
            {
              value: "QP",
              text: "Qualifying period",
              checked: (data["an-de-disagree-reasons"] == "QP"),
              hint: {
                text: "What this means"
              }
            },
            {
              value: "PT",
              text: "Prospective test",
              checked: (data["an-de-disagree-reasons"] == "PT"),
              hint: {
                text: "What this means"
              }
            },
            {
              value: "Doc",
              text: "Documents",
              checked: (data["an-de-disagree-reasons"] == "Doc"),
              hint: {
                text: "The docuemnts we have that you've sent in, nowt else"
              }
            },
            {
              value: "Report",
              text: "Healthcare professional report",
              checked: (data["an-de-disagree-reasons"] == "Report"),
              hint: {
                text: "What this means"
              }
            },
            {
              value: "Points",
              text: "Points given",
              checked: (data["an-de-disagree-reasons"] == "Points"),
              hint: {
                text: "What this means"
              }
            },
            {
              value: "Award",
              text: "How long they have been awarded PIP for",
              checked: (data["an-de-disagree-reasons"] == "Award"),
              hint: {
                text: "What this means"
              }
            },
            {
              value: "Payments",
              text: "Award amounts We mean money, arrears, payments in your account",
              checked: (data["an-de-disagree-reasons"] == "Payments"),
              hint: {
                text: "What this means"
              }
            }
          ]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "an-de-disagree-reasons",
          name: "an-de-disagree-reasons",
          classes: "govuk-checkboxes",
          fieldset: {
            legend: {
              text: "Which part of their decision do they disagree with?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: "Select all that apply."
          },
          items: [
          {
            value: "Points",
            text: "Points given for one or more of the activities",
            checked: (data["an-de-disagree-reasons"] == "Points")
          },

            {
              value: "Dates",
              text: "Dates mentioned in the decision letter",
              checked: (data["an-de-disagree-reasons"] == "Dates")
            },

            {
              value: "Report",
              text: "Healthcare professional report - do they even get to see this? Or is it just snippets in the decision letter like 'the Ap said you were whatever'?",
              checked: (data["an-de-disagree-reasons"] == "Report")
            },

            {
              value: "Award",
              text: "Length of the award period",
              checked: (data["an-de-disagree-reasons"] == "Award")
            },
            {
              value: "Doc",
              text: "Evidence used to make the decision",
              checked: (data["an-de-disagree-reasons"] == "Doc")
            },
            {
              value: "Payments",
              text: "Payment amounts including arrears",
              checked: (data["an-de-disagree-reasons"] == "Payments")
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="an-de-reason-details-alt" class="govuk-link" rel="noreferrer noopener" target="">Reasons details alt</a></p>



        </div>
      </div>

  </form>

{% endblock %}
