{% extends "layouts/main-agent-process-mr.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="an-de-doc-check-router" method="post" class="form">

  {% include "person-record-0-0-2/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "r-overview"
      },
      {
        text: "Applications and decision",
        href: "r-applications"
      },
      {
        text: "Register a mandatory reconsideration",
        href: ""
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "an-de-doc-check",
        name: "an-de-doc-check",
        fieldset: {
          legend: {
            html: "Do they want to send supporting documents which was not available to us when the decision was made?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "YesBasic",
          text: "Yes (Basic)",
          checked: (data["an-de-doc-check"] == "YesBasic")
        },
        {
          value: "YesAdvanced",
          text: "Yes (advanced)",
          checked: (data["an-de-doc-check"] == "YesAdvanced")
        },
        {
          value: "YesAdvancedAlt1",
          text: "Yes (advanced alt1)",
          checked: (data["an-de-doc-check"] == "YesAdvancedAlt1")
        },
        {
          value: "No",
          text: "No",
          checked: (data["an-de-doc-check"] == "No")
        }
        ]
        }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
