{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="an-de-exit-mr-reg-early-router" method="post" class="form">

  {% include "person-record-0-0-2/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "r-overview"
      },
      {
        text: "Applications and decision",
        href: "r-applications"
      },
      {
        text: "Register a mandatory reconsideration",
        href: ""
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "an-de-exit-mr-reg-early",
        name: "an-de-exit-mr-reg-early",
        fieldset: {
          legend: {
            text: "Why can you not complete the mandatory reconsideration registration?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
        {
          value: "Calldrop",
          text: "The call disconnected",
          hint: {
            text: ""},
          checked: (data["an-de-exit-mr-reg-early"] == "Calldrop")
        },
        {
          value: "Cantcomplete",
          text: "The person wants to complete the registration at another time",
          hint: {
            text: ""},
          checked: (data["an-de-exit-mr-reg-early"] == "Cantcomplete")
        },
        {
          value: "Withdraw",
          text: "The person does not want to continue with the mandatory reconsideration",
          hint: {
            text: ""},
          checked: (data["an-de-exit-mr-reg-early"] == "Withdraw")
        }
        ]
        }) }}

        <!-- It will arrive almost immediately
        Visit GOV.UK and search for CRMR1 -->

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}


        </div>
      </div>

  </form>

{% endblock %}
