{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="an-de-doc-check" method="post" class="form">

  {% include "person-record-0-0-2/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "r-overview"
      },
      {
        text: "Applications and decision",
        href: "r-applications"
      },
      {
        text: "Register a mandatory reconsideration",
        href: ""
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Understand why they disagree with their decision</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"></p>

      <p class="govuk-body govuk-!-margin-bottom-2">Record the details of why they want us to reconsider their decision.</p>
      <p class="govuk-body govuk-!-margin-bottom-2">For each part of the decision they disagree with, try to include:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>dates</li>
        <li>reasons that they disagree</li>
        <li>any supporting evidence documents they refer to</li>
      </ul>


<!-- START DATE -->
<div>

        {% if data["an-de-disagree-reasons"] == "Start" %}

        {{ govukTextarea({
          name: "an-de-award-start-date",
          id: "an-de-award-start-date",
          rows: "4",
          label: {
            text: "Start date",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          hint: {
            html: ""
          }
        }) }}

        {% else %}
        {% endif %}

</div>

<!-- POINTS -->
<div>

        {% if data["an-de-disagree-reasons"] == "Points" %}

           {% if data["an-de-points-reasons"] == "1" or "1" in data["an-de-points-reasons"] %}

            {{ govukTextarea({
              name: "an-de-preparing-food",
              id: "an-de-preparing-food",
              rows: "4",
              label: {
                text: "Preparing food",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              hint: {
                html: ""
              }
            }) }}

            {% else %}
            {% endif %}

<!-- —————————— -->

{% if data["an-de-points-reasons"] == "2" or "2" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Taking nutrition",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

<!-- —————————— -->

{% if data["an-de-points-reasons"] == "3" or "3" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Managing treatments",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

            <!-- —————————— -->



{% if data["an-de-points-reasons"] == "4" or "4" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Washing and bathing",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

            <!-- —————————— -->

{% if data["an-de-points-reasons"] == "5" or "5" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Using the toilet or managing incontinence",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

            <!-- —————————— -->


{% if data["an-de-points-reasons"] == "6" or "6" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Dressing and undressing",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

            <!-- —————————— -->


{% if data["an-de-points-reasons"] == "7" or "7" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Talking, listening and understanding",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

            <!-- —————————— -->


{% if data["an-de-points-reasons"] == "8" or "8" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Reading",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

            <!-- —————————— -->


{% if data["an-de-points-reasons"] == "9" or "9" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Mixing with other people",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

<!-- —————————— -->

{% if data["an-de-points-reasons"] == "10" or "10" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Managing your money",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

            <!-- —————————— -->

{% if data["an-de-points-reasons"] == "11" or "11" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Planning and following journeys",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

            <!-- —————————— -->

{% if data["an-de-points-reasons"] == "12" or "12" in data["an-de-points-reasons"] %}

              {{ govukTextarea({
                name: "an-de-taking-nutrition",
                id: "an-de-taking-nutrition",
                rows: "4",
                label: {
                  text: "Moving around",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

            {% else %}
            {% endif %}

            <!-- —————————— -->


                {% else %}
                {% endif %}

</div>


<!-- AWARD -->
<div>

        {% if data["an-de-disagree-reasons"] == "Award" %}

        {{ govukTextarea({
          name: "an-de-award-period",
          id: "an-de-award-period",
          rows: "4",
          label: {
            text: "Award period",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          hint: {
            html: ""
          }
        }) }}

        {% else %}
        {% endif %}

</div>

      {{ govukTextarea({
        name: "an-de-other-issues",
        id: "an-de-other-issues",
        rows: "4",
        label: {
          text: "Is there anything else they'd like to tell us about how their condition affects their day-to-day activities?",
          classes: "govuk-label--s",
          isPageHeading: true
        },
        hint: {
          html: ""
        }
      }) }}

      {% if data["an-de-points-reasons"] == "1" or "1" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Preparing food</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "2" or "2" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Taking nutrition</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "3" or "3" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Managing treatments</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "4" or "4" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Washing and bathing</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "5" or "5" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Using the toilet or managing incontinence</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "6" or "6" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Dressing and undressing</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "7" or "7" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Talking, listening and understanding</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "8" or "8" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Reading</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "9" or "9" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Mixing with other people</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "10" or "10" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Managing your money</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "11" or "11" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Planning and following journeys</a></p>
      {% endif %}

      {% if data["an-de-points-reasons"] == "12" or "12" in data["an-de-points-reasons"] %}
      {% else %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href='#'>Add details for Moving around</a></p>
      {% endif %}

<br><br>

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>


  </form>

{% endblock %}
