{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="an-de-reason-details" method="post" class="form">

  {% include "person-record-0-0-2/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "r-overview"
      },
      {
        text: "Applications and decision",
        href: "r-applications"
      },
      {
        text: "Register a mandatory reconsideration",
        href: ""
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {{ govukCheckboxes({
          idPrefix: "an-de-points-reasons",
          name: "an-de-points-reasons",
          classes: "govuk-checkboxes",
          fieldset: {
            legend: {
              text: "Which activities do they disagree with, based on the points given?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: "Select all that apply."
          },

        items: [
            {
              value: "1",
              text: "Preparing food",
              checked: (data["an-de-points-reasons"] == "1")
            },
            {
              value: "2",
              text: "Eating and drinking",
              checked: (data["an-de-points-reasons"] == "2")
            },
            {
              value: "3",
              text: "Managing treatments",
              checked: (data["an-de-points-reasons"] == "3")
            },
            {
              value: "4",
              text: "Washing and bathing",
              checked: (data["an-de-points-reasons"] == "4")
            },
            {
              value: "5",
              text: "Using the toilet or managing incontinence",
              checked: (data["an-de-points-reasons"] == "5")
            },
            {
              value: "5",
              text: "Dressing and undressing",
              checked: (data["an-de-points-reasons"] == "6")
            },
            {
              value: "7",
              text: "Talking, listening and understanding",
              checked: (data["an-de-points-reasons"] == "7")
            },
            {
              value: "8",
              text: "Reading",
              checked: (data["an-de-points-reasons"] == "8")
            },
            {
              value: "9",
              text: "Mixing with other people",
              checked: (data["an-de-points-reasons"] == "9")
            },
            {
              value: "10",
              text: "Managing your money",
              checked: (data["an-de-points-reasons"] == "10")
            },
            {
              value: "11",
              text: "Planning and following journeys",
              checked: (data["an-de-points-reasons"] == "11")
            },
            {
              value: "12",
              text: "Moving around",
              checked: (data["an-de-points-reasons"] == "12")
            }
          ]
        }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
