{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="an-de-move-paper-next-steps" method="post" class="form">

  {% include "person-record-0-0-2/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "r-overview"
      },
      {
        text: "Applications and decision",
        href: "r-applications"
      },
      {
        text: "Register a mandatory reconsideration",
        href: ""
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Tell us online why they disagree with the decision</h1>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Explain the steps to submit their reasons online:</p>
      <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-6">
        <li>go to www.gov.uk/whatever</li>
        <li>log in using their details from when they applied</li>
          <li>select the XXX option</li>
      </ul>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">If they need support in doing this, they can contact [Assisted Digital number?]</p>

      {{ govukButton({
        text: "Finish and close",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
