{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}


{% endblock %}

{% block content %}



<form action="find-someone-1-offline-return" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Find someone</h1>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Something</p> -->

      <!------------H1 LEGEND------------>
        {% set legendNINO %}
        <h1 class="govuk-body govuk-!-margin-bottom-0">National Insurance number</h1>
        {% endset %}
      <!------------Legend--------------->

      <!------------H1 LEGEND------------>
        {% set legendName %}
        <h1 class="govuk-body govuk-!-margin-bottom-0">Name of the applicant</h1>
        {% endset %}
      <!------------Legend--------------->

      {{ govukInput({
        label: {
          html: legendNINO
        },
        hint: {
          text: ""
        },
        id: "nino",
        name: "",
        classes: "govuk-input--width-10 govuk-!-margin-bottom-0",
        value: data["nino"]
      }) }}
<!--
      {{ govukInput({
        label: {
          html: legendName
        },
        hint: {
          text: ""
        },
        id: "search",
        name: "search",
        classes: "govuk-input--width-10 govuk-!-margin-bottom-0",
        value: data["search"]
      }) }} -->

      <!------------H1 LEGEND------------>
        {% set legendDOB %}
        <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Date of birth</h1>
        {% endset %}
      <!------------Legend--------------->
<!--
      {{ govukDateInput({
        id: "claim-date-of-claim",
        namePrefix: "claim-date-of-claim",
        fieldset: {
          legend: {
            html: legendDOB,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-0"
          }
        },
        hint: {
          html: claimdate
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data["claim-date-of-claim-day"]
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data["claim-date-of-claim-month"]
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data["claim-date-of-claim-year"]
          }
        ]
      }) }} -->


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
