{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-2/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="r-overview" method="post" class="form">

      {% include "person-record-0-0-2/record-id-base.html" %}


    </div>
  </div>


    {% include "person-record-0-0-2/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Address</h3>

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="#" target="">Add a temporary care address</a></p> -->

        <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27 govuk-!-margin-bottom-4">Where they live</h3>


        <!------------H1 LEGEND------------>
          {% set legendAddress %}

        {% if data["r-address-add"] %}

        Leazes Park<br> Richardson Road <br>Newcastle upon <br>Tyne NE2 4BJ

        {% else %}
        St James Park<br> Barrack Road <br>Newcastle upon Tyne <br>NE1 4ST

        {% endif %}

          {% endset %}
        <!------------Legend--------------->

        {{ govukSummaryList({
          rows: [
          {
            key: {
              text: "Address type"
            },
            value: {
              html: "Home address"
            },
            actions: {
              items: [
                {
                  href: "r-address-add",
                  text: "",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          },
          {
              key: {
                text: "Address"
              },
              value: {
                html: legendAddress
              },
              actions: {
                items: [
                  {
                    href: "r-address-add",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}

        <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27 govuk-!-margin-top-8 govuk-!-margin-bottom-4">Address for letters</h3>


        {% if data["r-appointees-add"] %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name of recipient"
              },
              value: {
                html: "Sam Elliott"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            },
            {
              key: {
                text: "Relationship"
              },
              value: {
                html: "Power of attorney"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            },
            {
              key: {
                text: "Postal address"
              },
              value: {
                html: 'PO BOX <br>Newcastle upon Tyne <br>NE1 4ST'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}

        {% else %}


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Postal address"
              },
              value: {
                html: 'Same as home address'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}

        {% endif %}



  </div>


    </form>
{% endblock %}
