{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}


{% include "person-record-0-0-2/record-id-base.html" %}

<form action="record-1-event-history" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-applications"
        },
        {
          text: "Award reivew",
          href: ""
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">This would take me on a unplanned award review journey where I would check several things</h1>

      <p class="govuk-body govuk-!-margin-bottom-2">Examples:

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>Given the time proximity to end of award, the agent should check if they can do an award review early, or at least start the process.</li>
        <!-- <li>They are a POA so first point of contact</li>
        <li>Added details for letters</li>
        <li>This effects other sections</li> -->

      </ul>
    </p>


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
