{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}


{% include "person-record-0-0-2/record-id-base.html" %}

<form action="r-bank-details-add-router" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-applications"
        },
        {
          text: "Bank detials",
          href: ""
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">


      {% set LegendH1 %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Full postcode lookup</h1>
      {% endset -%}

      {{ govukRadios({
        idPrefix: "r-bank-details-add",
        name: "r-bank-details-add",
        fieldset: {
          legend: {
            html: "What would you like to do?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: legendNumbers
        },
        classes: "govuk-radios",
        items: [
        {
          value: "amend",
          html: "Amend name on account",
          checked: (data["r-bank-details-add"] == "amend")
        },
        {
          value: "new",
          html: "Add new bank detials",
          checked: (data["r-bank-details-add"] == "new")
        }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
