{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}


{% include "person-record-0-0-2/record-id-base.html" %}

<form action="r-contact" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-applications"
        },
        {
          text: "Telephone and email",
          href: "r-contact"
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">


      {% set LegendH1 %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">What is your landline telephone number?</h1>
      {% endset -%}

      {{ govukInput({
        label: {
          html: LegendH1
        },
          hint: {
            text: ""
          },
        id: "record-1-contact-landline-telephone",
        name: "record-1-contact-landline-telephone",
        classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
        value: data["record-1-contact-landline-telephone"]
        }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
