{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-2/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="r-overview" method="post" class="form">

      {% include "person-record-0-0-2/record-id-base.html" %}


    </div>
  </div>


    {% include "person-record-0-0-2/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Flags and markers</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-flags-add" target="">Add a flag or marker</a> to a person's record to make sure they get the right support they need. </p>




    {% set SetX %}
      {% if data["appointees-telephone"] %}
        {{data["appointees-telephone"]}}
      {% else %}
        <p class="govuk-body">07700 900457</p>
      {% endif %}
    {% endset -%}


    {% if data["r-flags-add"] %}


    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-0",
      rows: [
      {
        key: {
          html: "Flag or marker"
        },
        value: {
          html: "<b>Reason for flag or marker</b>"
        },
        actions: {
          items: [
            {
              href: "r-flags-add",
              text: "",
              visuallyHiddenText: "name"
            }
          ]
        }
        }
      ]
    }) }}

    {% if data["r-flags-add"] == "Flag1" or "Flag1" in data["r-flags-add"] %}

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-0",
      rows: [
      {
          key: {
            text: "KCIS"
          },
          value: {
            html: "Previous threatening behaviour towards a DWP agent.<br><br>Added: 2 weeks ago"
          },
          actions: {
            items: [
              {
                href: "r-flags-add",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }
      ]
    }) }}

    {% else %}
    {% endif %}

    {% if data["r-flags-add"] == "Flag2" or "Flag2" in data["r-flags-add"] %}


    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-0",
      rows: [
      {
          key: {
            text: "Financially vulnerable"
          },
          value: {
            html: "May be unable to manage large payments, either due to their personal circumstances or their limited capacity to understand financial matters.<br><br>Added: 1 month ago"
          },
          actions: {
            items: [
              {
                href: "r-flags-add",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }
      ]
    }) }}

    {% else %}
    {% endif %}

    {% if data["r-flags-add"] == "Flag3" or "Flag3" in data["r-flags-add"] %}


    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-0",
      rows: [
      {
          key: {
            text: "Additional support"
          },
          value: {
            html: "Evidence that the person has a severe mental health or behavioural condition, learning difficulty, developmental disorder or memory problems.<br><br>Added: 1 month ago"
          },
          actions: {
            items: [
              {
                href: "r-flags-add",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        }
      ]
    }) }}

    {% else %}
    {% endif %}

    {% if data["r-flags-add"] == "Flag4" or "Flag4" in data["r-flags-add"] %}


    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-0",
      rows: [
      {
          key: {
            text: "ACS (Advanced citizen support)"
          },
          value: {
            html: "This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.<br><br>Added: Today"
          },
          actions: {
            items: [
              {
                href: "record-1-appointees-update",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        }
      ]
    }) }}

    {% else %}
    {% endif %}

    {% else %}
    {% endif %}



  </div>
  </div>


    </form>
{% endblock %}
