{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-2/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">



      {% include "person-record-0-0-2/record-id-base.html" %}


    </div>
  </div>



    {% include "person-record-0-0-2/r-navigation.html" %}


  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Overview</h3>

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">PIP application status: <strong>In payment</strong></p>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Daily living: <strong>Enhanced</strong></p>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Mobility: <strong>Enhanced</strong></p> -->

    <!-- <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-2">PI</h3> -->

    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Personal Independence status</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">


        {% if data["applicaiton-actions"] == "2" %}

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Application/claim</th>
          <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">[Status]</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mandatory reconsideration requested</p>
          </td>
        </tr>

        {% else %}

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Application/claim</th>
          <td class="govuk-table__cell">[Status]</td>
        </tr>

        {% endif %}

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Outcome</th>
          <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Standard rate</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Standard rate</p>
          </td>
        </tr>
      </tbody>
    </table>




    {% if data["r-appointees-add"] %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-top-6">Appointees and representatives</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Name</th>
          <td class="govuk-table__cell">Sam Elliot</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Relationship to the applicant</th>
          <td class="govuk-table__cell">Power of attorney	</td>
        </tr>
      </tbody>
    </table>

    {% else %}
    {% endif %}


    {% if data["r-flags-add"] %}



    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-top-6">Flags and markers</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        {% if data["r-flags-add"] == "Flag1" or "Flag1" in data["r-flags-add"] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">KCIS</th>
          <td class="govuk-table__cell">Previous threatening behaviour towards a DWP agent.</td>
        </tr>
        {% else %}
        {% endif %}

        {% if data["r-flags-add"] == "Flag2" or "Flag2" in data["r-flags-add"] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Financially vulnerable</th>
          <td class="govuk-table__cell">May be unable to manage large payments, either due to their personal circumstances or their limited capacity to understand financial matters.</td>
        </tr>
        {% else %}
        {% endif %}

        {% if data["r-flags-add"] == "Flag3" or "Flag3" in data["r-flags-add"] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Additional support</th>
          <td class="govuk-table__cell">Evidence that the person has a severe mental health or behavioural condition, learning difficulty, developmental disorder or memory problems.</td>
        </tr>
        {% else %}
        {% endif %}

        {% if data["r-flags-add"] == "Flag4" or "Flag4" in data["r-flags-add"] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Something else</th>
          <td class="govuk-table__cell">Detials</td>
        </tr>
        {% else %}
        {% endif %}

      </tbody>
    </table>

    {% else %}
    {% endif %}



  </div>





    </form>
{% endblock %}
