{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-2/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      {% include "person-record-0-0-2/record-id-base.html" %}


    </div>
  </div>


  {% include "person-record-0-0-2/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Payments</h3>

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">The agent will see future events. They will see the date of the event, the details and any actions they can take in relation to the event.</p> -->



    <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-33-percent">Payment date</td>
        <td class="govuk-table__cell govuk-66-percent">Payment details</td>
      </tr>
      </thead>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">21 April 2025</td>

        <td class="govuk-table__cell table-spacer">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">PIP payment made</p>
          <p class="govuk-body govuk-!-margin-bottom-3">Total paid: £109.60</p>

           <a class="" href="r-payment-breakdown" target="">View payment breakdown</a>

        </td>
        </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer">14 April 2025</td>

            <td class="govuk-table__cell table-spacer">
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">PIP payment made</p>
              <p class="govuk-body govuk-!-margin-bottom-3">Total paid: £139.60</p>

               <a class="" href="r-payment-breakdown" target="">View payment breakdown</a>

            </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">7 April 2025</td>

              <td class="govuk-table__cell table-spacer">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">PIP payment made</p>
                <p class="govuk-body govuk-!-margin-bottom-3">Total paid: £2,139.60</p>

                 <a class="" href="r-payment-first-breakdown" target="">View payment breakdown</a>

              </td>
              </tr>




    </table>



  </div>
  </div>


    </form>
{% endblock %}
