{% set detailsBlock %}

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-applications-blank" target="">No applicaitons or claims in payment</p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-applications" target="">One case</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-applications-complex" target="">More than one case</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-applications-predecision" target="">Prior to a decision</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-applications-flat" target="">(Day one: Flat)</p>

  {% endset -%}

      {{ govukDetails({
        summaryText: "...",
        html: detailsBlock
      }) }}
