{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}


{% include "person-record-0-0-2/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">



      {% include "person-record-0-0-2/record-id-base.html" %}


    </div>
  </div>



    {% include "person-record-0-0-2/record-navigation.html" %}

  <!-- <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Sent information</h3>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4"><strong></strong>No letters have been set


    </p>
  </div> -->


  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Notifications sent</h3>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">The agent will see a history of notifications sent.</p>



    <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-25-percent">Date</td>
        <td class="govuk-table__cell govuk-50-percent">Notes</td>
        <td class="govuk-table__cell govuk-35-percent">Actions</td>
      </tr>
      </thead>

      {% if data["application-1-outcome-letter-check"] %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>
        <td class="govuk-table__cell table-spacer">Application processed and outcome sent</td>
        <td class="govuk-table__cell table-spacer">None
        </tr>

      {% else %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">18 Sep 2023</td>
        <td class="govuk-table__cell table-spacer">Application processed and<br>notification sent<br><a class="" href="pip-letter.pdf" target="_blank">View letter</a></td>
          <td class="govuk-table__cell table-spacer"><a class="" href="#" target="">Resend letter</a></td>
        </tr>
      {% endif %}

      </table>


  </div>



    </form>
{% endblock %}
