{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}

<form action="record-other-actions-router" method="post" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "person-record-0-0-2/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Other actions</h1>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">XXXX</p> -->

      {{ govukRadios({
        idPrefix: "record-other-actions",
        name: "record-other-actions",
        fieldset: {
          legend: {
            html: "What does the person need help with?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "A",
          text: "Disputing something",
          checked: (data["record-other-actions"] == "A")
        },
        {
          value: "A",
          text: "Escalating a query or complaint",
          checked: (data["record-other-actions"] == "A")
        },
        {
          value: "A",
          text: "Something else",
          checked: (data["record-other-actions"] == "A")
        },
        {
          divider: "or"
        },
        {
          value: "B",
          text: "Return to Jeff's record",
          checked: (data["record-other-actions"] == "B")
        }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
