{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}

<form action="record-1-overview" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "person-record-0-0-2/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">One of my colleagues will call you back in the next 3 working days</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">We have your details.</p>


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
