{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}


{% include "person-record-0-0-2/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="record-1-event-history-filter-router" method="post" class="form">

      {% include "person-record-0-0-2/record-id-base.html" %}

      <style>
      #accordion-default > div.govuk-accordion__controls > button {display: none}
      /* #accordion-default-heading-1 > span {display: none} */
      </style>



    </div>
  </div>


  {% include "person-record-0-0-2/r-navigation.html" %}

    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Event history</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="record-1-event-history-reason" target="">Add a new event</a> to the event history.</p>


<div class="govuk-accordion govuk-!-margin-bottom-0" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Filter by event type
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          {{ govukCheckboxes({
          idPrefix: "record-1-event-history-filter",
          name: "record-1-event-history-filter",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Select filter type",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s "
          }
          },
          items: [
          {
          value: "1",
          text: "Inbound calls",
          checked: (data["record-1-event-history-filter"] == "1")
          },
          {
          value: "2",
          text: "Outbound calls",
          checked: (data["record-1-event-history-filter"] == "2")
          },
          {
          value: "3",
          text: "Letters sent",
          checked: (data["record-1-event-history-filter"] == "3")
          },
          {
          value: "4",
          text: "Letters received",
          checked: (data["record-1-event-history-filter"] == "4")
          },
          {
          value: "4",
          text: "Flags and markers",
          checked: (data["record-1-event-history-filter"] == "4")
          }
          ]
          }) }}

          {{ govukButton({
          text: "Apply",
          classes: "govuk-button--secondary govuk-!-margin-bottom-4"
          }) }}

        </div>
        <div class="govuk-grid-column-one-half">

          {{ govukCheckboxes({
          idPrefix: "record-1-event-history-filter",
          name: "record-1-event-history-filter",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: ".",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s "
          }
          },
          items: [
          {
          value: "c2",
          text: "Current claim",
          checked: (data["record-1-event-history-filter"] == "claim2")
          },
          {
          value: "c2",
          text: "Previous claim",
          checked: (data["record-1-event-history-filter"] == "claim1")
          }
          ]
          }) }}



        </div>



        <div class="govuk-grid-column-full govuk-!-margin-bottom-0">

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible-seperator">

      </div>

    </div>
  </div>
</div>



    <table class="govuk-table govuk-!-margin-top-0">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-33-percent">Date</td>
        <td class="govuk-table__cell govuk-66-percent">Details</td>
        <!-- <td class="govuk-table__cell govuk-20-percent">Actions</td> -->
      </tr>
      </thead>


      {% if data["entry-home-processing-options"] == "MakeMRNil" or data["entry-home-processing-options"] == "MakeMRChange" %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>

        <td class="govuk-table__cell table-spacer">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">MR done</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

          <ul class="govuk-list govuk-list--bullet">
            <li>XXX.</li>
            <li>XXX</li>
          </ul>
        </p>

        </td>
        </tr>

        {% else %}
        {% endif %}


      {% if data["an-de-move-paper"] == "ByPost" %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">Today</td>

        <td class="govuk-table__cell table-spacer">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Inbound call (P)</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

          <ul class="govuk-list govuk-list--bullet">
            <li>Talked through the process of an mandatory reconsideration.</li>
            <li>Manually sent form CRMR1 by post.</li>
          </ul>
        </p>

        </td>
        </tr>

        {% else %}
        {% endif %}

        {% if data["an-de-move-paper"] == "ByEmail" %}

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer">Today</td>

          <td class="govuk-table__cell table-spacer">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Inbound call (E)</p>
            <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

            <ul class="govuk-list govuk-list--bullet">
              <li>Talked through the process of an mandatory reconsideration.</li>
              <li>Email sent with a link to the CRMR1 form.</li>
            </ul>
          </p>

          </td>
          </tr>


        {% else %}
        {% endif %}

        {% if data["an-de-move-paper"] == "ByDownload" %}

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer">Today</td>

          <td class="govuk-table__cell table-spacer">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Inbound call (D)</p>
            <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

            <ul class="govuk-list govuk-list--bullet">
              <li>Talked through the process of an mandatory reconsideration.</li>
              <li>Advised person to download CRMR1 from GOV.UK.</li>
            </ul>
          </p>

          </td>
          </tr>

        {% else %}
        {% endif %}

        {% if data["an-de-reissue-letter"] == "Yes" %}

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer">Today</td>

          <td class="govuk-table__cell table-spacer">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Inbound call</p>
            <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

            <ul class="govuk-list govuk-list--bullet">
              <li>Talked through the process of an mandatory reconsideration.</li>
              <li>Person requested that we resend their decision letter. </li>
            </ul>
          </p>

          </td>
          </tr>

          {% elif data["an-de-reissue-letter"] == "No" %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">Today</td>

              <td class="govuk-table__cell table-spacer">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Inbound call</p>
                <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

                <ul class="govuk-list govuk-list--bullet">
                  <li>Talked through the process of an mandatory reconsideration.</li>
                  <li>Person will call us back to provide details of which parts of their decision they disagree with.</li>
                </ul>
              </p>

              </td>
              </tr>

        {% else %}
        {% endif %}


      {% if data["an-de-overview"] == "Yes" %}

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer">Today</td>

          <td class="govuk-table__cell table-spacer">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Inbound call</p>
            <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

            <ul class="govuk-list govuk-list--bullet">
              <li>Talked through the process of an mandatory reconsideration.</li>
              <li>Mandatory reconsideration registered.</li>
            </ul>
          </p>
            <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
            <!-- <p class="govuk-body govuk-!-margin-bottom-3">Request for their decision to be reconsidered. Recorded the reasons they disagreed with the decision and explained what will happen next.</p> -->
            <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-3"><a class="" href="record-applicaion-evidence-notes" target="">View notes</a></p>


          </td>
          </tr>

      {% else %}
      {% endif %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">18 October 2023</td>

        <td class="govuk-table__cell table-spacer">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Inbound call</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

          <ul class="govuk-list govuk-list--bullet">
            <li>Reissue award letter</li>
            <li>Changed landline</li>
            <li>Removed helper</li>
          </ul>
        </p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p>
          <p class="govuk-body govuk-!-margin-bottom-3">Information taken from the call</p>

        </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer">16 October 2023</td>

          <td class="govuk-table__cell table-spacer">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Letter sent</p>

            <p class="govuk-body govuk-!-margin-bottom-3">Citzen asked for another copy of the decsion letter</p>

          </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer">1 October 2023</td>

            <td class="govuk-table__cell table-spacer">
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Inbound call</p>
              <!-- <p class="govuk-body govuk-!-margin-bottom-3">David Connifey</p> -->

              <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
              <p class="govuk-body govuk-!-margin-bottom-3">Information taken from the call</p>

            </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">29 September 2023</td>

              <td class="govuk-table__cell table-spacer">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Outbound call</p>

                <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                <p class="govuk-body govuk-!-margin-bottom-3">I have requested a care plan from the citizen</p>

              </td>
              </tr>



            </table>

            {{ govukPagination({
              previous: {
                href: "#"
              },
              next: {
                href: "#"
              },
              items: [
                {
                  number: 1,
                  href: "#"
                },
                {
                  number: 2,
                  current: true,
                  href: "#"
                },
                {
                  number: 3,
                  href: "#"
                }
              ]
            }) }}

          </div>
              </form>
          {% endblock %}
