{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="eject-data" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "person-record-0-0-2/record-id.html" %}



{% if data["record-1-event-history-reason"] == "record-1-event-history-reason-bau" %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Why does this application need to go back to business as usual?</h1>
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">This information will be added to the event history within a person's record so that others can see the reason for returning the application to business as usual.</p>

{% else %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Describe what the event is</h1>
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">This information will be added to the event history within the person's record so that others can see what's happened.</p>


{% endif %}


      {% if data["record-1-event-history-reason"] == "record-1-event-history-reason-other" %}

            <!------------H1 LEGEND------------>
              {% set legendName %}
              <h1 class="govuk-body govuk-!-margin-bottom-0">Categorise this event</h1>
              {% endset %}
            <!------------Legend--------------->

            {{ govukInput({
              name: "record-1-event-history-reason-category",
              id: "record-1-event-history-reason-category",
              classes: "govuk-input--width-20 govuk-!-margin-bottom-0",
              label: {
                html: legendName,
                classes: "govuk-label--s",
                isPageHeading: true
              },
              hint: {
                html: ""
              },
              value: data["record-1-event-history-reason-category"]
            }) }}

        {% else %}

        {% endif %}

            <!------------H1 LEGEND------------>
              {% set legendTextFieldHeader %}
              <h1 class="govuk-body govuk-!-margin-bottom-0">Enter details of the event.</h1>
              {% endset %}
            <!------------Legend--------------->


        {{ govukTextarea({
          name: "record-1-event-history-reason-other-detail",
          id: "record-1-event-history-reason-other-detail",
          classes: " govukTextarea--overwrite",
          label: {
            html: legendTextFieldHeader,
            classes: "govuk-label--s",
            isPageHeading: true
          },
          hint: {
            html: ""
          },
          value: data["record-1-event-history-reason-other-detail"]
        }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
