
  <div class="govuk-!-margin-bottom-8">

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-app-claims" class="govuk-link" rel="noreferrer noopener">All applications</a></p>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Breakdown: All</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-not-started" class="govuk-link" rel="noreferrer noopener" target="">All not started</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-claims-inprogress" class="govuk-link" rel="noreferrer noopener" target="">All in progress</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-app-paused" class="govuk-link" rel="noreferrer noopener" target="">All Paused</a></p>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Breakdown: Not started</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-submitted" class="govuk-link" rel="noreferrer noopener" target="">Submitted</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-app-decision-ready" class="govuk-link" rel="noreferrer noopener" target="">Ready for a decision</a></p>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Breakdown: In progress</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-ass-prep" class="govuk-link" rel="noreferrer noopener" target="">Preparing for assessment</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-with-ap" class="govuk-link" rel="noreferrer noopener" target="">With AP</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-app-create-decision" class="govuk-link" rel="noreferrer noopener" target="">Creating a decision</a></p>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Breakdown: Outcome</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-outcome-nil" class="govuk-link" rel="noreferrer noopener" target="">Nil award</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-outcome-pay" class="govuk-link" rel="noreferrer noopener" target="">In payment</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-app-outcome-withDrawn" class="govuk-link" rel="noreferrer noopener" target="">Withdrawn</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-app-outcome-bau" class="govuk-link" rel="noreferrer noopener" target="">Back to BAU</a></p>


    <!-- <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Breakdown: BAU</h3> -->

  </div>
