{% extends "layouts/layout.html" %}

{% block pageTitle %}
Record the primary condition or disability
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="health-condition-summary-5" method="post">



      {% include "agent-day-0-2-1/record-id.html" %}

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Remove *Enter condition 2 name here*?</h1>
  <br>
        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removeYes" name="removeYes" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="removeYes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removeNo" name="removeNo" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="removeNo">
                No
              </label>
            </div>
          </div>
        </div>


        <button type="health-condition-summary" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

    </div>
    </form>


  </div>
</div>
{% endblock %}
