{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<form action="application-start-group" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "agent-0-13/record-id.html" %}


            {{ govukCheckboxes({
              idPrefix: "application-5-about-a1-start-group",
              name: "application-5-about-a1-start-group",
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: "Which activities do you want to create the combined justification for?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: "You can combine more activities later",
                      classes: "govuk-fieldset__legend--xl govuk-!-padding-top-4"
              },
              items: [

                {
                  value: "1",
                  text: "Preparing food",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "2",
                  text: "Taking nutrition",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "3",
                  text: "Managing therapy or monitoring a health condition",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "4",
                  text: "Washing and bathing",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "5",
                  text: "Managing toilet needs or incontinence",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "6",
                  text: "Dressing and undressing",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "7",
                  text: "Communicating verbally",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "8",
                  text: "Reading and understanding signs, symbols and words",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "9",
                  text: "Engaging with other people face to face",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "10",
                  text: "Making budgeting decisions",
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                }
                ]
              }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}

</div>
</div>

  </form>

{% endblock %}
