{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-about-a12-reason" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}




            <!------------H1 LEGEND------------>
              {% set dynamicH1 %}
              <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">Which descriptor do you want to select instead of Descriptor A (0 points)?
                  </h2>
                  {% endset %}
            <!------------Legend--------------->


            {{ govukRadios({
              idPrefix: "application-5-about-a12-score-overwrite",
              name: "application-5-about-a12-score-overwrite",
              fieldset: {
                legend: {
                  html: dynamicH1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                html: legendNumbers
              },
              classes: "govuk-radios",
              items: [
              {
                value: "b2",
                html: "<strong>Descriptor B (2 points):</strong> Needs prompting or assistance to be able to make complex budgeting decisions",
                checked: (data["application-5-about-a12-score-overwrite"] == "b2")
              },
              {
                value: "c3",
                html: "<strong>Descriptor C (4 points):</strong> Needs prompting or assistance to be able to make simple budgeting decisions",
                checked: (data["application-5-about-a12-score-overwrite"] == "c3")
              },
              {
                value: "d4",
                html: "<strong>Descriptor D (6 points):</strong> Cannot make any budgeting decisions at all",
                checked: (data["application-5-about-a12-score-overwrite"] == "d4")
              }
              ]
            }) }}


            <!-- THIS IS THE SELECTED DESCRiPTOR
            {
              value: "a1",
              html: "<strong>Descriptor A (0 points):</strong> Can manage complex budgeting decisions unaided",
              checked: (data["application-5-about-a12-score-overwrite"] == "a1")
            },
          -->



<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue"
  }) }}

  <a class="govuk-link" href="application-5-about-a12">Cancel change</a>
</div>

        </div>
      </div>

  </form>

{% endblock %}
