{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-about-a6-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "agent-0-13/record-id.html" %}

      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Dressing and undressing</h2>

      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Health information gather (PIP2)</h3>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Asked in application</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Tell us about difficulties you have dressing and undressing, and how you manage them</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Response in application</p>
          <p class="govuk-body govuk-!-margin-bottom-2">On a bad day, I struggle with shoes and other clothes. My clothes feel tight, particularly trousers. I wear PJs most of the time.</p>

<!--  --><hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-xm govuk-!-margin-bottom-6">Assessment report findings</h3>

      <p class="govuk-body govuk-!-margin-bottom-2">Difficulty reported is consistent with his diagnosis of fibromyalgia.</p>
      <p class="govuk-body govuk-!-margin-bottom-2">He is prescribed medication for nerve pain and is known to the pain management team, though is currently just having phone calls with a clinical psychologist to manage his pain.</p>
      <p class="govuk-body govuk-!-margin-bottom-2"> It is reasonable to suggest he requires aids or adapated clothing to complete this reliably and within a timely manner.</p>
      <p class="govuk-body govuk-!-margin-bottom-2">The need for assistance has been considered and ruled out, he has no medication prescribed for severe pain, though has input from rheumatology.</p>


<!--  --><hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<!------------H1 LEGEND------------>
  {% set legendNumbersDetails %}

  <p class="govuk-body govuk-!-margin-bottom-2"></p>

  <ul class="govuk-list govuk-list">
    <li><b>Descriptor A (0 points):</b> Can dress and undress unaided
    <li><b>Descriptor B (2 points):</b> Needs to use an aid or appliance to be able to dress or undress
    <li><b>Descriptor C (2 points):</b> Needs either:
      <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-2 govuk-list--bullet">
        <li>
          prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed
        </li>
        <li>
          prompting or assistance to be able to select appropriate clothing
        </li>
      </ul>
    <li><b>Descriptor D (2 points):</b> Needs assistance to be able to dress or undress their lower body
    <li><b>Descriptor E (4 points):</b> Needs assistance to be able to dress or undress their upper body
    <li><b>Descriptor F (8 points):</b> Cannot dress or undress at all
  </ul>

  {% endset %}

  {% set legendHint %}

  {{ govukDetails({
    summaryText: "Help with descriptors",
    classes: "govuk-!-margin-bottom-0",
    html: legendNumbersDetails
  }) }}

    {% endset %}
  <!------------Legend--------------->

{{ govukRadios({
idPrefix: "application-5-about-a6",
name: "application-5-about-a6",
fieldset: {
  legend: {
    text: "The assessment report recommends Descriptor B (2 points) for this activity. Do you agree?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--m"
  }
},
hint: {
  html: legendHint
},
classes: "govuk-radios",
items: [
{
  value: "Agree",
  text: "Yes",
  checked: (data["application-5-about-a6"] == "Agree")
},
{
  value: "Amended",
  text: "No",
  checked: (data["application-5-about-a6"] == "Amended")
  },
  {
  value: "Pause",
  text: "I need to come back to this later",
  checked: (data["application-5-about-a6"] == "Pause")
}
]
}) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
