{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-1-about-a6-router" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Dressing and undressing</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Not claimed for this activity</p>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Asked</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Tell us about difficulties you have dressing and undressing, and how you manage them</p>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Response in application</p>

          <p class="govuk-body govuk-!-margin-bottom-2">
            No response given as activity was not claimed for.
        </p>
          <!-- <p class="govuk-body govuk-!-margin-bottom-2">
              Always have difficulty paying for things in shops because I find it difficult to calculate how much things cost. My carer helps me understand how much I need to pay.
        </p> -->
        </div>
      </div>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!-- <h1 class="govuk-heading-l govuk-!-padding-top-2 govuk-!-margin-bottom-4">Assessment report finding</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2">
            Jeff's ability to manage money fluctuates.
        </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            He can manage his money in shops when he attends them but finds it difficult to manage his bills and card payments.
          </p>

        <p class="govuk-body govuk-!-margin-bottom-6">
          He requires prompting and supervision from his support worker to manage bills. Without this, he gets into debt or fails to make regular payments and has been threatened with legal action in the past.
        </p> -->

        <!-- <h1 class="govuk-heading-s govuk-!-margin-bottom-2">Help with understanding something</h1> -->


        <!------------H1 LEGEND------------>
          {% set legenDetails %}
          <p class="govuk-body govuk-!-margin-bottom-2">
            <a class="" href="outbound-precall">Call the assessment provider</a> if you need help understanding something before deciding you cannot process the application.

            <!-- <p class="govuk-!-margin-bottom-0"><a class="" href="outbound-precall">all to the Assement provider</a> -->

          </p>

          {% endset %}
        <!------------Legend--------------->



      {% set scoreOverwite %}
          {{ govukInput({
            id: "score-overwrite-a6",
            label: {
                text: "What score do you want to give?",
                classes: "govuk-fieldset__legend--m"
            },
            hint: {
              text: "2, 4, 6 or 8"
            },
                name: "score-overwrite-a6",
                classes: "govuk-input--width-4",
                value: data["score-overwrite-a6"]
            }) }}

      {% endset -%}



      {{ govukRadios({
        idPrefix: "application-1-about-a6",
        name: "application-1-about-a6",
        fieldset: {
          legend: {
            text: "This has not been claimed for. Do you want to add a score?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Amended",
          text: "Yes",
          checked: (data["application-1-about-a6"] == "Amended"),
                conditional: {
                  html: scoreOverwite
                }
                  },
          {
          value: "No-change",
          text: "No",
          checked: (data["application-1-about-a6"] == "No-change")
                  },
          {
          value: "Pause",
          text: "I need to come back to this later",
          checked: (data["application-1-about-a6"] == "Pause")
        }
        ]
      }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
