{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form action="check-outcome" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Review how you assessed the supplied information</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">Application submitted: 19 March 2024</p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Date of assessment: 26 March 2024</p>

    </div>
  </div>


      <!------------ ––– ------------>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">

            <table class="govuk-table">

              <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Supporting documents</h1>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-60-percent"></td>
                  <td class="govuk-table__cell govuk-20-percent"></td>
                  <td class="govuk-table__cell govuk-20-percent">Status</td>
                </tr>
                </thead>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer"><a href="#">View and assess supporting documents</a></td>
                <td class="govuk-table__cell table-spacer"></td>
                <td class="govuk-table__cell table-spacer">

                  {% if data["evidence-3-grade"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                  {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                  {% endif %}

                </td>
                </tr>

</table>



          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">

                            <table class="govuk-table">
                      <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Daily living activities</h1>


                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-60-percent"></td>
                    <td class="govuk-table__cell govuk-20-percent">Score</td>
                    <td class="govuk-table__cell govuk-20-percent">Status</td>
                  </tr>
                  </thead>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer"><a href="#">Preparing food</a></td>
                    <td class="govuk-table__cell table-spacer">	4 (E) </td>
                    <td class="govuk-table__cell table-spacer"><strong class="govuk-tag app-task-list__apl-task-amended">Increased</strong>
                    </td>
                    </tr>



                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="#">Taking nutrition</a></td>
                      <td class="govuk-table__cell table-spacer">	0 (A)</td>
                      <td class="govuk-table__cell table-spacer">

                        <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>

                      </td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-spacer"><a href="#">Managing therapy or monitoring<br>a health condition</a></td>
                        <td class="govuk-table__cell table-spacer">	0 (A) </td>
                        <td class="govuk-table__cell table-spacer">

                          <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>

                        </td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell table-spacer"><a href="#">Washing and bathing</a></td>
                          <td class="govuk-table__cell table-spacer">	0 (A)</td>
                          <td class="govuk-table__cell table-spacer">

                            <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>

                          </td>
                          </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell table-spacer"><a href="#">Managing toilet needs or incontinence</a></td>
                            <td class="govuk-table__cell table-spacer">	0 (A) </td>
                            <td class="govuk-table__cell table-spacer">

                              <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>

                            </td>
                            </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer"><a href="#">Dressing and undressing</a></td>
                              <td class="govuk-table__cell table-spacer">2</td>
                              <td class="govuk-table__cell table-spacer"><strong class="govuk-tag app-task-list__apl-task-amended">Increased</strong></td>
                              </tr>

                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer"><a href="#">Communicating verbally</a></td>
                                <td class="govuk-table__cell table-spacer">	0 (A)</td>
                                <td class="govuk-table__cell table-spacer">

                                  <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>

                                </td>
                                </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell table-spacer"><a href="#">Reading and understanding signs,<br>symbols and words</a></td>
                            <td class="govuk-table__cell table-spacer">	0 (A)</td>
                            <td class="govuk-table__cell table-spacer">

                              <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>

                            </td>
                            </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer"><a href="#">Engaging with other people face to face</a></td>
                              <td class="govuk-table__cell table-spacer">	0 (A)</td>
                              <td class="govuk-table__cell table-spacer">

                                <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>

                              </td>
                              </tr>


                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer"><a href="#">Making budgeting decisions</a></td>
                                <td class="govuk-table__cell table-spacer">	0 (A)</td>
                                <td class="govuk-table__cell table-spacer"><strong class="govuk-tag app-task-list__apl-task-amended">Increased</strong>

                                </td>
                                </tr>

                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                                          <td class="govuk-table__cell table-spacer"><strong>16</strong></td>
                                          <td class="govuk-table__cell table-spacer"></td>
                                          </tr>



                            </table>

                            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">

                              <table class="govuk-table">

                                <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Mobility activities</h1>

                                <thead class="govuk-table__head">
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-60-percent"></td>
                                    <td class="govuk-table__cell govuk-20-percent">Score</td>
                                    <td class="govuk-table__cell govuk-20-percent">Status</td>
                                  </tr>
                                  </thead>

                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer"><a href="#">Planning and following journeys</a></td>
                                <td class="govuk-table__cell table-spacer">	0 (A)</td>
                                  <td class="govuk-table__cell table-spacer">

                                    <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>

                                  </td>
                                  </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="#">Moving around</a></td>
                      <td class="govuk-table__cell table-spacer">	0 (A)</td>
                      <td class="govuk-table__cell table-spacer">

                        <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>

                      </td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                        <td class="govuk-table__cell table-spacer"><strong>12</strong></td>
                        <td class="govuk-table__cell table-spacer"></td>
                        </tr>

                  </table>



        <!------------ ––– ------------>

    </div>
  </div>



        <div class="govuk-grid-row govuk-!-margin-top-2">
        <div class="govuk-grid-column-full">


          <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You have confirmed your scores</h1>
          <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This person will:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>be awarded the standard rate for daily living</li>
            <li>not be awarded for mobility</li>
          </ul>

          <br>

      {{ govukButton({
      name: "process-c-nil-task-list",
      value: "X",
      checked: (data["X"] == "X"),
      text: "Continue",
      classes: "govuk-!-margin-right-2"
          }) }}



  </form>

{% endblock %}
