{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}
<form action="application-5-letter-review-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-0-3/record-id.html" %}


      {% if data["application-5-letter-edit"] == "Yes" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Review the edited version<br>of the letter</h1>
      {% else %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Review the letter</h1>
      {% endif %}

      <!------------H1 LEGEND------------>

        {% set dynamicAgentNotes %}

          {% if data["application-5-letter-edit"]%}
          Change
          {% else %}
          Add
          {% endif %}

        {% endset %}
      <!------------Legend--------------->

      <!------------OUTCOME DETAILS------------>

        {% set outcomeDetials %}

        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You</p> -->


      {% if data["application-5-award-review-check"] == "Yes"%}

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You have been awarded PIP from 19 March 2024 until 25 March 2026.</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">A review will take place before the end of the award.</p>

      {% else %}

          {% if data["application-5-award-review-date-manual"] == "None"%}

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You have been awarded PIP from 19 March 2024 until 25 March 2034.</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">A review will take place before the end of the award.</p>

          {% else %}

            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You have been awarded PIP from 19 March 2024 until
              {% if data["application-5-award-review-date-manual"] == "5y"%} 25 March 2030.
              {% elif data["application-5-award-review-date-manual"] == "3y"%} 25 March 2028.
              {% elif data["application-5-award-review-date-manual"] == "18m"%} 25 September 2026.
              {% elif data["application-5-award-review-date-manual"] == "Other"%} 25 March 2034.


              {% endif %}

            </p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">A review will take place before the end of the award.</p>

          {% endif %}

      {% endif %}

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your total score is:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>8 points for the daily living part - this means you have been awarded the standard rate of £68.10 a week</li>
  <li>0 points for the mobility part - this means you have not been awarded for this part</li>
</ul>


      {% endset %}





{% set firstPaymentDetails %}

      {% if data["application-rates-actions"] == "1"%}

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your first payment of £5,500 will be paid in 12 monthly instalments on top of your regular PIP payment.</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You will be paid £458.33 into your bank account within 3 days.</p>

      {% elif data["application-rates-actions"] == "2"%}

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your first payment will be £5,500.</p>
                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This will be paid into your bank account within 3 days.</p>


      {% else %}

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your first payment of £5,500 will be paid in 5 instalments of £1,000 and 1 of £500 as requested.</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You will be paid £1,000 into your bank account within 3 days.</p>

            {% endif %}


{% endset %}



    <!------------Legend--------------->


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Jeff Bridges"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "St. James' Park<br>Newcastle Upon Tyne<br>NE1 4ST"
            }
          },
          {
            key: {
              text: "Outcome"
            },
            value: {
              html: outcomeDetials
            }
          },
          {
            key: {
              text: "First payment"
            },
            value: {
              html: firstPaymentDetails
            }
          },
          {
            key: {
              text: "Additional content"
            },
            value: {
              html: data["application-5-letter-edit"]
            },
            actions: {
              items: [
                {
                  href: "application-5-letter-edit",
                  html: dynamicAgentNotes,
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Daily living scoring</h3>

      <!-- 1 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Preparing food:
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>
              {% if data["application-5-about-a1"] == "Agree" %}     2
              {% elif data["application-5-about-a1"] == "Amended" %} 4
              {% else %}
              {% endif %}
              out of 8
            </strong>

            <br>

            {% include "agent-0-13/application-5-about-a1-descriptoroverwrite.html" %}


          </dd>
        </div>

        {% if data["check-outcome"] == "Yes" %}

        {% else %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-5-about-a1-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-5-about-a1-reason">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        {% endif %}

      </dl>


      <!-- GROUP JUSTIFICATION -->

      {% if data["check-outcome"] == "Yes" %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Dressing and undressing
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>
              {% if data["application-5-about-a6"] == "No-change" %}    0 out of 10
              {% elif data["application-5-about-a6"] == "Amended" %} 4
              {% else %}
              {% endif %}
              out of 10
            </strong>

            <br>

            {% include "agent-0-13/application-5-about-a6-descriptoroverwrite.html" %}



          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Combined justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-5-about-ax--group-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-5-about-ax--group-reason">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      {% else %}

      {% endif %}


      <!-- 2 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Taking nutrition
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>0 out of 10</strong>
            <br>Descriptor A: Can take nutrition unaided
          </dd>
        </div>


      </dl>

      <!-- 3 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Managing therapy <br>or monitoring a<br> health condition
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>0 out of 8</strong>

            <br>

            Descriptor A:

            <br> &#149; does not receive medication or therapy or need to monitor a health condition;
            <br> &#149; can manage medication or therapy or monitor a health condition unaided.

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 4 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Washing and bathing


          </dt>
          <dd class="govuk-summary-list__value">
            <strong>0 out of 8</strong>

            <br>
            Descriptor A: Can wash and bathe unaided

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 5 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Managing toilet needs or incontinence
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>0 out of 8</strong>

            <br>
            Descriptor A: Can manage toilet needs or incontinence unaided

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>



      <!-- 6 -->

{% if data["check-outcome"] == "Yes" %}
{% else %}
<dl class="govuk-summary-list govuk-!-margin-bottom-4">
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Dressing and undressing
    </dt>
    <dd class="govuk-summary-list__value">
      <strong>
        {% if data["application-5-about-a6"] == "No-change" %}    0 out of 10
        {% elif data["application-5-about-a1"] == "Amended" %} {% include "agent-0-13/application-5-about-a6-scoreoverwrite.html" %}
        {% else %}
        {% endif %}
        out of 10
      </strong>

      <br>

      {% include "agent-0-13/application-5-about-a6-descriptoroverwrite.html" %}

    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">
      Justification
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data["application-5-about-a6-reason"]}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="application-5-about-a6-reason">
        Change<span class="govuk-visually-hidden"> XXX justification</span>
      </a>
    </dd>
  </div>

</dl>
{% endif %}




      <!-- 7 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Communicating verbally
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>0 out of 12</strong>

            <br>
            Descriptor A: Can express and understand verbal information unaided

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 8 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Reading and understanding<br>signs, symbols and words
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>0 out of 8</strong>
            <br>
            Descriptor A: Can read and understand basic and complex written information either unaided or using spectacles or contact lenses.

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 9 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Engaging with other<br>people face to face
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>0 out of 8</strong>

            <br>
            Descriptor A: Can engage with other people unaided

          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <!-- 10 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Making budgeting decisions
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>
              {% if data["application-5-about-a12"] == "Agree" %}     0
              {% elif data["application-5-about-a12"] == "Amended" %} {% include "agent-0-13/application-5-about-a12-scoreoverwrite.html" %}
              {% else %}
              {% endif %}
              out of 8
            </strong>

            <br>

            {% include "agent-0-13/application-5-about-a12-descriptoroverwrite.html" %}


          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-5-about-a12-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-5-about-a12-reason">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>



      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Mobility scoring</h3>



            <!-- 11 -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                  Planning and<br>following journeys
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong>0 out of 12</strong>

                  <br>
                  Descriptor B: Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant

                </dd>
              </div>

              <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  Justification
                </dt>
                <dd class="govuk-summary-list__value">
                  This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> XXX justification</span>
                  </a>
                </dd>
              </div> -->
            </dl>

            <!-- 12 -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-8">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                  Moving around
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong>0 out of 12</strong>

                  <br>
                  Descriptor C: Can stand and then move unaided more than 20 metres but no more than 50 metres

                </dd>
              </div>

              <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  Justification
                </dt>
                <dd class="govuk-summary-list__value">
                  This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> XXX justification</span>
                  </a>
                </dd>
              </div> -->
            </dl>


      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
      <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Viewing a full version of the letter</h1>

            <p class="govuk-!-font-size-19 govuk-!-margin-bottom-bottom-2"><a class="" href="pip-doc6.pdf" target="_blank">View a PDF of the full letter which will be sent in the post (opens in a new tab)</a>.</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">This version of the letter shows the same content above along with the standard DWP content that you cannot edit.</p>




            {{ govukRadios({
              idPrefix: "application-5-letter-review",
              name: "application-5-letter-review",
              fieldset: {
                legend: {
                  text: "Do you want to send the letter now?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: ""
              },
              classes: "govuk-radios",
              items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (data["application-5-letter-review"] == "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: (data["application-5-letter-review"] == "No")
                }
              ]
            }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


        </div>
      </div>

  </form>

{% endblock %}
