{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "5" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    {% if data["application-1-task-t5"] == "Done" and data["record-1-bank-detials-j-1-bank-name"] %}
      <form action="application-prompt-letter-rates" method="post" class="form">
        {% else %}

        <form action="application-5-about-clear" method="post" class="form">
      {% endif %}

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check the applicant's details</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->




    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <ol class="app-task-list">
      <li>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">These are the remaining details for you to check. All other eligibility checks have been done already.</p>

      <ul class="app-task-list__items app-task-list__items-pip">

        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="#" aria-describedby="task-1">
            <!-- [1-1]  --> Name
          </a>
           <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-done" id="X">Done</strong>

        </li>

        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="application-1-task-t5" aria-describedby="task-5">
            <!-- [1-5]  -->Overlapping benefits
          </a>
          {% if data["application-1-task-t5"] == "Done" %}      <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-done" id="X">Done</strong>
          {% elif data["application-1-task-t5"] == "Bad" %}     <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-bad" id="X">Issue</strong>
          {% elif data["application-1-task-t5"] == "Pause" %}   <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-pause" id="X">Paused</strong>
          {% elif data["application-1-task-t3"] == "Request" %}     <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-not-done"  id="X">Cannot do</strong>

          {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-not-done" id="X">To do</strong>
          {% endif %}
        </li>

    </ol>



        <!------------ ––– ------------>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds">

    {% if data["application-1-task-t3"] == "Request" %}

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You cannot process this application yet</h1>
      <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You need to send the ID verification letter and wait for a response.</p>


      {{ govukButton({
      name: "process-c-nil-task-list",
      value: "X",
      checked: (data["X"] == "X"),
      text: "Continue",
      classes: "govuk-!-margin-right-2",
      href: "entry-home"
      }) }}

    {% elif data["application-1-task-t5"] == "Done"%}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">You have checked all details</h1>
<!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You can continue processing this application.</p>


{{ govukButton({
name: "process-c-nil-task-list",
value: "X",
checked: (data["X"] == "X"),
text: "Continue",
classes: "govuk-!-margin-right-2"
}) }}


    {% elif data["application-1-task-t5"] == "Bad" %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">You are not able to process<br>this application</h1>
<!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You can tell us more about the issue on the next screen.<br>We will then send the application to someone who can resolve this issue.</p>


{{ govukButton({
name: "process-c-nil-task-list",
value: "X",
checked: (data["X"] == "X"),
text: "Continue",
classes: "govuk-!-margin-right-2",
href:"application-1-exit-issue"
}) }}


    {% elif data["application-1-task-t5"] == "Pause" or data["application-1-task-t6"] == "Pause" %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You have paused processing<br>this application</h1>
    <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You need to verify all details before you can continue.<br>We have saved the work you have done so far.</p>


    {{ govukButton({
    name: "process-c-nil-task-list",
    value: "UF",
    checked: (data["process-c-nil-task-list"] == "UF"),
    text: "Exit and continue later",
    classes: "govuk-button--secondary",
    href: "application-1-exit-early"
    }) }}


    {% else %}


    {% endif %}





        </div>
      </div>

  </form>

{% endblock %}
