{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-1-about-a1-router" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Preparing food</h1>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Claimed for this activity</p> -->


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Asked</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Does your condition affect you preparing food, or prevent you from doing so?</p>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Response in application</p>

          <p class="govuk-body govuk-!-margin-bottom-2">
I struggle to prepare meals, so often don't bother. When I do make meals, I sometimes forget the oven or pan is on. I can usually manage to make sandwiches no problem though.         </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
I quite often get meals from a local drop-in centre as it's easier.        </p>
        </div>
      </div>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-l govuk-!-padding-top-2 govuk-!-margin-bottom-4">Assessment report findings</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2">
Jeff has difficulty preparing meals for himself. He can make himself drinks and sandwiches but needs to be supervised to make a meal.        </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
Jeff lacks the drive to prepare a meal regularly and tends to break off from cooking and this has resulted in him burning food and leaving pans to boil over.          </p>

        <p class="govuk-body govuk-!-margin-bottom-6">
Jeff obtains most of his full meals from the drop-in centre and his support worker supervises him to put ready-made meals in the oven twice a week. During periods of low mood, he does not respond readily to prompting and will not make himself meals.        </p>

        <h1 class="govuk-heading-s govuk-!-margin-bottom-2">Help with understanding something</h1>


        <!------------H1 LEGEND------------>
          {% set legenDetails %}
          <p class="govuk-body govuk-!-margin-bottom-2">
            <a class="" href="outbound-precall">Call the assessment provider</a> if you need help understanding something before deciding you cannot process the application.

            <!-- <p class="govuk-!-margin-bottom-0"><a class="" href="outbound-precall">all to the Assement provider</a> -->
          </p>

          {% endset %}
        <!------------Legend--------------->

        {{ govukDetails({
          summaryText: "Contacting the assessment report provider",
          classes: "govuk-!-margin-bottom-0",
          html: legenDetails
        }) }}

<br><br>

      {% set scoreOverwite %}
          {{ govukInput({
            id: "score-overwrite-a1",
            label: {
                text: "What score would you give?",
                classes: "govuk-fieldset__legend--m"
            },
            hint: {
              text: "0, 2, 4 or 6"
            },
                name: "score-overwrite-a1",
                classes: "govuk-input--width-4",
                value: data["score-overwrite-a1"]
            }) }}

      {% endset -%}



      {{ govukRadios({
        idPrefix: "application-1-about-a1",
        name: "application-1-about-a1",
        fieldset: {
          legend: {
            text: "The assessment report has scored 6 points for this activity. Do you agree?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Agree",
          text: "Yes",
          checked: (data["application-1-about-a1"] == "Agree")
        },
        {
          value: "Amended",
          text: "No",
          checked: (data["application-1-about-a1"] == "Amended"),
                conditional: {
                  html: scoreOverwite
                }
                  },
          {
          value: "Pause",
          text: "I need to come back to this later",
          checked: (data["application-1-about-a1"] == "Pause")
        }
        ]
      }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
