{% if data["application-5-about-a12-score-overwrite"] == "a1" %}
  Descriptor A: Can manage complex budgeting decisions unaided
{% elif data["application-5-about-a12-score-overwrite"] == "b2" %}
  Descriptor B: Needs prompting or assistance to be able to make complex budgeting decisions
{% elif data["application-5-about-a12-score-overwrite"] == "c4" %}
  Descriptor C: Needs prompting or assistance to be able to make simple budgeting decisions
{% elseif data["application-5-about-a12-score-overwrite"] == "d6" %}
  Descriptor D: Cannot make any budgeting decisions at all
{% else %}
  Descriptor A: Can manage complex budgeting decisions unaided

{% endif %}
