{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Review supplied information</h1>

    </div>
  </div>


      <!------------ ––– ------------>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">




          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">

                            <table class="govuk-table">
                      <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Daily living activities</h1>


                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-80-percent"></td>
                    <td class="govuk-table__cell govuk-20-percent">Score</td>
                  </tr>
                  </thead>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer">Preparing food</td>
                    <td class="govuk-table__cell table-spacer">0


                    </td>

                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">Taking nutrition</td>
                      <td class="govuk-table__cell table-spacer">0</td>

                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-spacer">Managing therapy or monitoring<br>a health condition</td>
                        <td class="govuk-table__cell table-spacer">0 </td>

                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell table-spacer">Washing and bathing</td>
                          <td class="govuk-table__cell table-spacer">0</td>

                          </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell table-spacer">Managing toilet needs or incontinence</td>
                            <td class="govuk-table__cell table-spacer">0</td>

                            </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer">Managing toilet needs or incontinence</td>
                              <td class="govuk-table__cell table-spacer">0</td>

                              </tr>

                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer">Communicating verbally</td>
                                <td class="govuk-table__cell table-spacer">0</td>

                                </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell table-spacer">Reading and understanding signs,<br>symbols and words</td>
                            <td class="govuk-table__cell table-spacer">0</td>

                            </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer">Engaging with other people face to face</td>
                              <td class="govuk-table__cell table-spacer">0</td>

                              </tr>


                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer">Making budgeting decisions</td>
                                <td class="govuk-table__cell table-spacer">0
                                </td>
                                </tr>

                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                                          <td class="govuk-table__cell table-spacer"><strong> 0

                                          </strong></td>
                                          </tr>



                            </table>

                            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">

                              <table class="govuk-table">

                                <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Mobility activities</h1>

                                <thead class="govuk-table__head">
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-80-percent"></td>
                                    <td class="govuk-table__cell govuk-20-percent">Score</td>
                                  </tr>
                                  </thead>

                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer">Planning and following journeys</td>
                                <td class="govuk-table__cell table-spacer">0</td>

                                  </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">Moving around</td>
                      <td class="govuk-table__cell table-spacer">0</td>

                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                        <td class="govuk-table__cell table-spacer"><strong>0</strong></td>
                        </tr>

                  </table>




        <!------------ ––– ------------>

    </div>
  </div>



        <div class="govuk-grid-row govuk-!-margin-top-2">
        <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You have confirmed your scores</h1>
          <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">This person will not be awarded PIP</p>


          {{ govukButton({
          name: "process-c-nil-task-list",
          value: "X",
          checked: (data["X"] == "X"),
          text: "Continue",
          classes: "govuk-!-margin-right-2",
          href: "application-5-letter-review"
              }) }}

              </div>
              </div>
  </form>

{% endblock %}
