{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<!-- <form action="application-5-letter-review" method="post" class="form"> -->

  <form action="application-5-award-review-check" method="post" class="form">





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "agent-0-13/record-id.html" %}

      <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Combined justification details</h2>

      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">You are writing a single justification, you can combine more later</p> -->

      <!-- <ul class="govuk-list govuk-list--bullet">
        <li><p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><strong>Preparing food</p></li>
        <li><p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><strong>Dressing and undressing</strong</p></li>
        </ul> -->

      </div>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Selected activities and justifications</h2>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list govuk-!-margin-bottom-4">
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Preparing food
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>4 out of 12</strong>
          <br>
          Descriptor E: Needs supervision or assistance to either prepare or cook a simple meal
        </dd>
      </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
        Justification
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data["application-5-about-a1-reason"]}}
      </dd>
      </div>

    </div>
  </div>

  <!--  -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Dressing and undressing
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>4 out of 12</strong>
            <br>
            Descriptor E: Needs assistance to be able to dress or undress their upper body
          </dd>
        </div>


      <div class="govuk-summary-list__row govuk-summary-list__row--no-bottom-border">
        <dt class="govuk-summary-list__value">
          Justification
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["application-5-about-a6-reason"]}}
        </dd>
        </div>

      </div>
    </div>


<br>



                    <!------------CANNED PHRASES LEGEND------------>
                      {% set legendCannedDetails %}


                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">Out of scope</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase1">I cannot consider awarding you PIP for any help you need for anything not covered by the daily living or mobility activities, including dangers that are very unlikely to happen</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="I cannot consider awarding you PIP for any help you need for anything not covered by the daily living or mobility activities, including dangers that are very unlikely to happen." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>


                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">Limited dexterity</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase2">Your medical evidence shows that you have limited dexterity in your hands, which impacts your ability to perform manual tasks.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="Your medical evidence shows that you have limited dexterity in your hands, which impacts your ability to perform manual tasks." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">No specialist input</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase2">You have no specialist input for your conditions.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="You have no specialist input for your conditions." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">No impairment</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase2">You are not diagnosed with a cognitive, intellectual, memory or sensory impairment.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="You are not diagnosed with a cognitive, intellectual, memory or sensory impairment." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      {% endset %}

                      {% set legendCanned %}

                        <!-- <p class="govuk-hint govuk-!-margin-bottom-2">Something in here about in your own words respond, the Standard wording examples is there to help constancay when needed</p> -->


                      {{ govukDetails({
                        summaryText: "Standard wording examples",
                        classes: "govuk-!-margin-bottom-4",
                        html: legendCannedDetails
                      }) }}

                      {% endset %}
                    <!------------Legend--------------->



        {{ govukTextarea({
          name: "application-5-about-ax--group-reason",
          id: "application-5-about-ax--group-reason",
          classes: " govukTextarea--overwrite",
          label: {
            text: "Add a combined justification for these 2 activities to the decision letter",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            html: legendCanned
          },
          value: data["application-5-about-ax--group-reason"]
        }) }}


        {{ govukRadios({
          idPrefix: "application-start-group",
          name: "application-start-group",
          fieldset: {
            legend: {
              text: "Do you want to combine any more activities?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          classes: "govuk-radios",
          items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["application-start-group"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["application-start-group"] == "No")
          }
          ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


  </form>

{% endblock %}
