{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form action="application-5-outcome" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}

      <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Review supplied information</h2>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Application submitted: 19 March 2024</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Assessment report completed: 26 March 2024</p>

    </div>
  </div>


      <!------------ ––– ------------>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">






          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">


              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">

                <table class="govuk-table">

                  <h3 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-6">Supporting documents</h3>

                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-60-percent"></td>
                      <td class="govuk-table__cell govuk-25-percent"></td>
                      <td class="govuk-table__cell govuk-15-percent">Status</td>
                    </tr>
                    </thead>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-spacer">
                          <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-5-view-evidence" target="_blank">View and assess supporting documents<br>(Open in a new window)</a></p> -->
                          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-5-view-evidence">View and assess supporting documents</a></p>

                        </td>

                        <td class="govuk-table__cell table-spacer"></td>
                        <td class="govuk-table__cell table-spacer">

                          {% if data["evidence-3-grade"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                          {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                          {% endif %}

                        </td>
                        </tr>

        </table>

                          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-padding-top-6">

                            <table class="govuk-table">
                              <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Daily living activities</h3>


                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-60-percent"></td>
                            <td class="govuk-table__cell govuk-25-percent">Score</td>
                            <td class="govuk-table__cell govuk-15-percent">Status</td>
                          </tr>
                          </thead>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell table-spacer"><a href="application-5-about-a1">Preparing food</a></td>
                            <td class="govuk-table__cell table-spacer"></td>
                            <td class="govuk-table__cell table-spacer">

                              {% if data["application-5-about-a1"] == "Agree" %}      <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>
                              {% elif data["application-5-about-a1"] == "Amended" %}     <strong class="govuk-tag app-task-list__apl-task-amended">Increased</strong>
                              {% elif data["application-5-about-a1"] == "Pause" %}   <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                              {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                              {% endif %}

                            </td>
                            </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer"><a href="#">Taking nutrition</a></td>
                              <td class="govuk-table__cell table-spacer"></td>
                              <td class="govuk-table__cell table-spacer">

                                <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                              </td>
                              </tr>

                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer"><a href="#">Managing therapy or monitoring<br>a health condition</a></td>
                                <td class="govuk-table__cell table-spacer"></td>
                                <td class="govuk-table__cell table-spacer">

                                  <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                                </td>
                                </tr>

                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell table-spacer"><a href="#">Washing and bathing</a></td>
                                  <td class="govuk-table__cell table-spacer"></td>
                                  <td class="govuk-table__cell table-spacer">

                                    <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                                  </td>
                                  </tr>

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"><a href="#">Managing toilet needs or incontinence</a></td>
                                    <td class="govuk-table__cell table-spacer"></td>
                                    <td class="govuk-table__cell table-spacer">

                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                                    </td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell table-spacer"><a href="#">Dressing and undressing</a></td>
                                      <td class="govuk-table__cell table-spacer"></td>
                                      <td class="govuk-table__cell table-spacer">

                                        <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                                      </td>
                                      </tr>

                                      <tr class="govuk-table__row">
                                        <td class="govuk-table__cell table-spacer"><a href="#">Communicating verbally</a></td>
                                        <td class="govuk-table__cell table-spacer"></td>
                                        <td class="govuk-table__cell table-spacer">

                                          <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                                        </td>
                                        </tr>

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"><a href="#">Reading and understanding signs,<br>symbols and words</a></td>
                                    <td class="govuk-table__cell table-spacer"></td>
                                    <td class="govuk-table__cell table-spacer">

                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                                    </td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell table-spacer"><a href="#">Engaging with other people face to face</a></td>
                                      <td class="govuk-table__cell table-spacer"></td>
                                      <td class="govuk-table__cell table-spacer">

                                        <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                                      </td>
                                      </tr>

                                      <tr class="govuk-table__row">
                                        <td class="govuk-table__cell table-spacer"><a href="application-5-about-a12">Making budgeting decisions</a></td>
                                        <td class="govuk-table__cell table-spacer"></td>
                                        <td class="govuk-table__cell table-spacer">

                                          <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                                        </td>

                                        <!-- <tr class="govuk-table__row">
                                          <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                                          <td class="govuk-table__cell table-spacer"></td>
                                          <td class="govuk-table__cell table-spacer"></td>
                                          </tr> -->



                            </table>

                            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-padding-top-6">

                              <table class="govuk-table">

                                <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Mobility activities</h3>

                                <thead class="govuk-table__head">
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-60-percent"></td>
                                    <td class="govuk-table__cell govuk-25-percent">Score</td>
                                    <td class="govuk-table__cell govuk-15-percent">Status</td>
                                  </tr>
                                  </thead>

                              <tr class="govuk-table__row">
                                  <td class="govuk-table__cell table-spacer"><a href="#">Planning and following journeys</a></td>
                                  <td class="govuk-table__cell table-spacer"></td>
                                  <td class="govuk-table__cell table-spacer">

                                    <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>

                                  </td>
                                  </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="#">Moving around</a></td>
                      <td class="govuk-table__cell table-spacer"></td>
                      <td class="govuk-table__cell table-spacer">

                        <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                      </td>
                      </tr>

                      <!-- <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                        <td class="govuk-table__cell table-spacer"></td>
                        <td class="govuk-table__cell table-spacer"></td>
                        </tr> -->

                  </table>





        <!------------ ––– ------------>

    </div>
  </div>



  </form>

{% endblock %}
