{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<form action="application-activity-selector" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "agent-0-13/record-id.html" %}


      {% set group1 %}

        <p class="govuk-body govuk-!-margin-bottom-2"><b>Group 1:</b></p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>
          Preparing food
        </li>
        <li>
          Washing and bathing
        </li>
        </ul>

        {% endset %}

        {% set group2 %}

          <p class="govuk-body govuk-!-margin-bottom-2"><b>Group 2:</b></p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
          <li>
            Managing toilet needs or incontinence
          </li>
          <li>
            Communicating verbally
          </li>
          </ul>

          {% endset %}

            {{ govukCheckboxes({
              idPrefix: "application-5-about-a1-start-group",
              name: "application-5-about-a1-start-group",
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: "Which groups to you want to ungroup?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: "You will lose all group justification text, but you will keep your inital justification",
                      classes: "govuk-fieldset__legend--xl govuk-!-padding-top-4"
              },
              items: [

                {
                  value: "1",
                  html: group1,
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                },
                {
                  value: "2",
                  html: group2,
                  checked: (data["application-5-about-a1-start-group"] == "XXX")
                }
                ]
              }) }}


IF only one group


              {{ govukRadios({
                idPrefix: "inbound-1-greeting",
                name: "inbound-1-greeting",
                fieldset: {
                  legend: {
                    html: "Are you sure you want to split 'Group 1'?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                hint: {
                  text: "You will lose all group justification text, but you will keep your inital justification"
                },
                classes: "govuk-radios",
                items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: (data["inbound-1-greeting"] == "Yes")
                },
                {
                  value: "No",
                  text: "No",
                  checked: (data["inbound-1-greeting"] == "No")
                }
                ]
              }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


</div>
</div>

  </form>

{% endblock %}
