{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Sign in - Pension Credit
{% endblock %}

{% block header %}
 {% include "explore-header-home.html" %}
{% endblock %}

{% block content %}

<!-- <form action="entry-home" method="post" class="form"> -->
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="inbound-1-greeting" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You've left a task early. Your work is saved.</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">You can return to any task you've started<br>in <a class="" href="my-open-tasks">my open tasks</a>.</p>

      <input type="hidden" name="application-1-exit-bail-call" value="bail"/>





      <div class="govuk-button-group ">
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}

        {{ govukButton({
        name: "process-c-nil-task-list",
        attributes: {
          onclick: "history.back()"
        },
        value: "UF",
        checked: (data["process-c-nil-task-list"] == "UF"),
        text: "Go back",
        classes: "govuk-button--secondary",
        href: ""
        }) }}

        </div>
      </div>

  </form>

{% endblock %}
