{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "5" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

        <form action="/prototype-admin/clear-data" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Scenario complete: You have finished processing this application</h2>

      <p class="govuk-body govuk-!-margin-bottom-2">You have:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

        <li>
          seen and used all documents
        </li>
        <li>
          selected and justified a descriptor for each activity - the outcome of the application is known
        </li>
        <li>
          created a letter
        </li>
        <li>
          awarded the enhanced rate for daily living
        </li>
        <li>
          awarded the enhanced rate for mobility
        </li>
      </ul>


      {{ govukButton({
        text: "Clear data",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
