{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "1" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form action="application-1-task-t3-routers" method="post" class="form">

      <div class="govuk-grid-column-two-thirds">
        {% include "agent-0-6/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Check name</h1>

        <div class="govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Name given in application:</p>
          <p class="govuk-body govuk-!-font-size-24 govuk-! govuk-!-margin-bottom-6"><strong>Geoff Bridges</strong></p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Name in Searchlight:</p>
          <p class="govuk-body govuk-!-font-size-24 govuk-! govuk-!-margin-bottom-6"><strong>Jeff Bridges</strong></p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <!------------H1 LEGEND------------>
            {% set dynamicH2 %}
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Which name do you want to use?</h1>
            {% endset %}
          <!------------Legend--------------->


      {{ govukRadios({
        idPrefix: "application-1-task-t3",
        name: "application-1-task-t3",
        fieldset: {
          legend: {
            html: dynamicH2,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Done",
          text: "Geoff Bridges",
          checked: (data["application-1-task-t3"] == "Done")
        },
        {
          value: "Bad",
          text: "Jeff Bridges",
          checked: (data["application-1-task-t3"] == "Bad")
        },
        {
          divider: "or"
        },
        {
          value: "Pause",
          text: "I want to come back to it later",
          checked: (data["application-1-task-t4"] == "Pause")
        },
        {
          value: "Request",
          text: "I need to send an ID verification letter",
          checked: (data["application-1-task-t4"] == "Request")
        }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>
    </form>
    </div>


{% endblock %}
