{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application

{% endblock %}


{% block content %}
<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "agent-0-13/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">You have indicated there is an issue with this application</h1>


      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "What is the issue?",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: ""
        }
      }) }}



        {{ govukButton({
          text: "Finish and close",
          classes: "govuk-!-margin-bottom-8"
        }) }}

        <!-- Do not include personal or financial information, like your National Insurance number or credit card details. -->


        </div>
      </div>

  </form>

{% endblock %}
