
            {% extends "layout.html" %}

            {% block pageTitle %}
              Process a PIP application
            {% endblock %}

            {% block header %}
             {% include "explore-header-global-nav-multi.html" %}
            {% endblock %}

            {% block content %}


            <form action="application-5-about" method="post" class="form">

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                  {% include "agent-0-13/record-id.html" %}

                  <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">


                    {% if data["application-5-about-a12"] == "Agree" %}

                      Add your reason for selecting Descriptor A (0 points) for making budgeting decisions to the decision letter

                    {% elif data["application-5-about-a12"] == "Amended" %}

                      Add your reason for selecting

                      {% if data["application-5-about-a12-score-overwrite"] == "a1" %}
                        <strong>Descriptor A (0 points)</strong>
                      {% elif data["application-5-about-a12-score-overwrite"] == "b2" %}
                        <strong>Descriptor B (2 points)</strong>
                      {% elif data["application-5-about-a12-score-overwrite"] == "c4" %}
                        <strong>Descriptor C (4 points)</strong>
                      {% elseif data["application-5-about-a12-score-overwrite"] == "d6" %}
                        <strong>Descriptor D (6 points)</strong>
                      {% endif %}

                      for making budgeting decisions to the decision letter

                    {% else %}
                    Nowt
                    {% endif %}


                    </h2>



                    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Add your reason for changing the descriptor to the decision letter</p> -->


                    <!------------CANNED PHRASES LEGEND------------>
                      {% set legendCannedDetails %}


                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">Out of scope</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase1">I cannot consider awarding you PIP for any help you need for anything not covered by the daily living or mobility activities, including</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="I cannot consider awarding you PIP for any help you need for anything not covered by the daily living or mobility activities, including" aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>


                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">No specialist input</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase2">You have no specialist input to help with your finances and can manage your own bank account. You are responsible for household bills which are paid with direct debits and using cash in the supermarket.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="You have no specialist input to help with your finances and can manage your own bank account. You are responsible for household bills which are paid with direct debits and using cash in the supermarket." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">No impairment</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase2">You are not diagnosed with a cognitive, intellectual, memory or sensory impairment.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="You are not diagnosed with a cognitive, intellectual, memory or sensory impairment." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">Food shopping (out of scope)</p>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase2">food shopping</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="food shopping" aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">Agree they can manage</p>

                        </div>


                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase3">You said you can manage your money. I agree you can manage.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="You said you can manage your money. I agree you can manage" aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">Agree they have difficulties</p>

                        </div>


                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase4">You said you have difficulties managing your money. I agree you have difficulties.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="You said you have difficulties managing your money. I agree you have difficulties." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                          <p class="govuk-body govuk-!-margin-bottom-2">Disagree</p>

                        </div>


                        <div class="govuk-grid-column-three-quarters">

                          <p class="govuk-list_prase"><span id="prase5">You said you have difficulties managing your money. There is no evidence to suggest this.</span></p>


                          <div class="app-example__code">
                              <button class="app-example__copy-code-button" data-copy-text="You said you have difficulties managing your money. There is no evidence to suggest this." aria-live="assertive" data-module="html">Copy paragraph</button>
                            </div>

                        </div>
                      </div>

                      {% endset %}

                      {% set legendCanned %}

                      {{ govukDetails({
                        summaryText: "Standard wording examples",
                        classes: "govuk-!-margin-bottom-0",
                        html: legendCannedDetails
                      }) }}

                      {% endset %}
                    <!------------Legend--------------->



                  {{ govukTextarea({
                    name: "application-5-about-a12-reason",
                    id: "application-5-about-a12-reason",
                    classes: " govukTextarea--overwrite",
                    label: {
                      text: "",
                      classes: "govuk-label--m",
                      isPageHeading: true
                    },
                    hint: {
                      html: legendCanned
                    },
                    value: data["application-5-about-a12-reason"]
                  }) }}

                  {{ govukButton({
                    text: "Continue",
                    classes: "govuk-!-margin-bottom-8"
                  }) }}

                    </div>
                  </div>

              </form>

            {% endblock %}
