{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-5-about-a1-ap-justification-routers" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}

    <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">The assessment report findings will be added to the decision letter to explain why Descriptor E (4 points) was selected
    </h2>

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">This information has come directly from the Assessment Provider who wrote the report</p> -->


    {{ govukInsetText({
      classes: "govuk-!-margin-bottom-8",
      html: "
      <p>Your care plan ('Care plan 2022' on DRS) outlines the difficlty you have with preparing food and I agree with its findings.</p>
      <p>You have difficulty preparing meals. You can make yourself drinks and sandwiches but need to be supervised to make a meal.</p>
      <p>You lack the drive to prepare a meal regularly and tend to break off from cooking and this has resulted in you burning food and leaving pans to boil over.</p>
      <p>You get most of your full meals from the drop-in centre and your support worker supervises you to put ready-made meals in the oven twice a week. During periods of low mood, Jeff does not respond readily to prompting and will not make yourself meals.</p>
      <p>This is why I have selected 1E.</p>
    "}) }}


    <!------------H1 LEGEND------------>
      {% set dynamicH1 %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Do you want to edit this content?
          </h2>
          {% endset %}
    <!------------Legend--------------->

    <!------------LIST LEGEND------------>
      {% set dynamicHint %}

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        Watch out for this stuff brah</p>

        <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-4 govuk-list--bullet">
          <li>
            The content might not be great for citizens</li>
          <li>
            Newspeak
          </li>
          <li>
            Doublethink
          </li>
          <li>
            Acronyms
          </li>
          <li>
            Jargon
          </li>
          <li>
            The letter has the right person eg Jeff vs you thrid person prononouns
          </li>
          <li>
            Systems
          </li>
        </ul> -->

      {% endset %}
    <!------------Legend--------------->

    {{ govukRadios({
      idPrefix: "application-5-about-a1-ap-justification",
      name: "application-5-about-a1-ap-justification",
      fieldset: {
        legend: {
          html: dynamicH1,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: dynamicHint
      },
      classes: "govuk-radios",
      items: [
      {
        value: "Yes",
        html: "Yes",
        checked: (data["application-5-about-a1-ap-justification"] == "Yes")
      },
      {
        value: "No",
        html: "No",
        checked: (data["application-5-about-a1-ap-justification"] == "No")
      }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-bottom-8"
    }) }}

        </div>
      </div>

  </form>

{% endblock %}
