{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "1" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    {% if data["application-selector"] == "APR" %}
    <form action="assurance-pr-tasklist" method="post" class="form">
    {% else %}
    <form action="assurance-tasklist" method="post" class="form">
    {% endif %}


      <div class="govuk-grid-column-two-thirds">
        {% include "agent-0-13/record-id.html" %}


          {{ govukRadios({
            idPrefix: "assurance-task-tx",
            name: "assurance-task-tx",
            fieldset: {
              legend: {
                text: "Was this expected or unexpected?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              html: ""
            },
            classes: "govuk-radios",
            items: [
            {
              value: "Bad",
              text: "Unexpected",
              checked: (data["assurance-task-tx"] == "Bad")
            },
              {
                value: "Good",
                text: "Expected",
                checked: (data["assurance-task-tx"] == "Good")
              }
            ]
          }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>
    </form>
    </div>


{% endblock %}
