
{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "A" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check the applicant's details</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->




    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <ol class="app-task-list">
      <li>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">These are the remaining details for you to check. All other eligibility checks have been done already.</p>

      <ul class="app-task-list__items app-task-list__items-pip">


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Check one"
              },
              value: {
                html: data["assurance-monolith-Q1"]
              }
            },
            {
              key: {
                text: "Check two"
              },
              value: {
                html: data["assurance-monolith-Q2"]
              }
            },
            {
              key: {
                text: "Check three"
              },
              value: {
                html: data["assurance-monolith-Q3"]
              }
            },
            {
              key: {
                text: "Check four"
              },
              value: {
                html: data["assurance-monolith-Q4"]
              }
            },
            {
              key: {
                text: "Check five"
              },
              value: {
                html: data["assurance-monolith-Q5"]
              }
            }
          ]
        }) }}




            <div class="govuk-grid-row govuk-!-padding-top-8">
            <div class="govuk-grid-column-full">

          {% if data["assurance-monolith-Q1"] == "Expected" %}

          <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You have checked all details</h1>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You can continue processing this application.</p>


          {{ govukButton({
          name: "entry-home",
          value: "X",
          checked: (data["X"] == "X"),
          text: "Continue",
          classes: "govuk-!-margin-right-2",
          href:"entry-home"
          }) }}



{% elif data["assurance-monolith-Q1"] == "Unexpected" %}

          <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You are not able to process<br>this application</h1>
          <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You can tell us more about the issue on the next screen.<br>We will then send the application to someone who can resolve this issue.</p>


          {{ govukButton({
          name: "BAU",
          value: "X",
          checked: (data["X"] == "X"),
          text: "Continue",
          classes: "govuk-!-margin-right-2",
          href:"assurance-exit-issue"
          }) }}



              {% else %}


              {% endif %}



        </div>
      </div>

  </form>

{% endblock %}
