{% extends "layouts/layout.html" %}

{% block pageTitle %}
  PIP MyHomePage
{% endblock %}

{% block header %}
 {% include "explore-header-home.html" %}
{% endblock %}

{% block content %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="test-radio-router" method="post" class="form">


        {% if data["application-1-task-t4"]  == "Bad"%}
w
        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application has been sent to someone who can resolve the issue. You can continue working on something else.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'error'
        }) }}

        {% elif data["application-1-outcome-letter-check"]  == "Yes"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application. The person has been sent a letter letting them know they are not entitled to Personal Independence Payment.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["application-1-outcome-letter-check"]  == "No"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application. The person has been sent a letter letting them know they are not entitled to Personal Independence Payment.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["request-access"] %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Your requested service has been added to the home page.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["appointees-lpa-check"] == "Yes" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Any actions have been saved. A record of the call was added to the person's account.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["inbound-1-end-call-dispute"] == "Yes"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Someone will call the person back. A record of the call was added to the person's account. </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'Call ended'
        }) }}

        {% elif data["inbound-1-end-call-washup"] == "2"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Call details and actions have been saved and added to the person's account. Internal teams will be notified. </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'Call ended'
        }) }}


        {% else %}

      {% endif %}



        <p class="govuk-heading-xl govuk-!-margin-bottom-8">My home page</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                <p class="govuk-body govuk-!-font-weight-bold">Processing</p>

                {% if data["application-1-task-t4"] == "Pause" %}   <p class="govuk-!-margin-bottom-3"><a class="govuk-body govuk-!-font-size-19" href="application-1-tasklist">Process an application*</a></p>
                {% else %}                                          <p class="govuk-!-margin-bottom-3"><a class="ovuk-body govuk-!-font-size-19" href="application-selector">Process an application</a></p>
                {% endif %}

              <!-- <p class="govuk-!-margin-bottom-3"><a class="govuk-body govuk-!-font-size-19" href="cya-1">Process an application (NC)</a></p> -->
              <p class="govuk-!-margin-bottom-1"><a class="govuk-body govuk-!-font-size-19" href="my-open-tasks">View my open tasks</a></p>

              </div>
              <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                <p class="govuk-body govuk-!-font-weight-bold">Queries and disputes</p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="inbound-1-greeting">Take an inbound call</a><a class="govuk-body govuk-!-font-size-19" href="application-1-exit-bail-call"> .</a></p>
                <p class="govuk-!-margin-bottom-3"><a class="govuk-body govuk-!-font-size-19" href="outbound-precall">Make an outbound call</a></p>
                <p class="govuk-!-margin-bottom-3"><a class="govuk-body govuk-!-font-size-19" href="find-someone-1-offline-gather">Find someone</a></p>

                {% if data["request-access"] == "1" %}
                <p class="govuk-!-margin-bottom-1">
                  {{govukTag({
                      text: "New",
                      classes: "govuk-tag--green"
                    })}} &hairsp;
                     <a class="govuk-body govuk-!-font-size-19" href="#">Disputes 1</a></p>
                  {% else %}
                {% endif %}

                {% if data["request-access"] == "6" %}
                <p class="govuk-!-margin-bottom-1">
                  {{govukTag({
                      text: "New",
                      classes: "govuk-tag--green"
                    })}} &hairsp;
                     <a class="govuk-body govuk-!-font-size-19" href="#">Team lead </a></p>
                  {% else %}
                {% endif %}

              </div>
              <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                <p class="govuk-body govuk-!-font-weight-bold">Services</p>
                <p class="govuk-!-margin-bottom-3"><a class="govuk-body govuk-!-font-size-19" href="service-stats">View service statistics</a></p>
                <p class="govuk-!-margin-bottom-6"><a class="govuk-body govuk-!-font-size-19" href="request-access">Request access</a></p>

              </div>
            </div>

        </div>
      </div>


  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-1" class="govuk-link" rel="noreferrer noopener">Weekly</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-2" class="govuk-link" rel="noreferrer noopener">Monthy</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-3" class="govuk-link" rel="noreferrer noopener">Annual</a></p> -->

</form>

{% endblock %}
