{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}

  {% if data["application-selector"] == "3" %}
  <form action="application-3-lpa" method="post" class="form">

    {% elif data["application-selector"] == "4" %}
    <form action="application-4-care-plan" method="post" class="form">

  {% else %}
    <form action="record-1-overview" method="post" class="form">
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}



      {{ govukRadios({
        idPrefix: "inbound-1-security-1",
        name: "inbound-1-security-1",
        fieldset: {
          legend: {
            html: "What year was Point Break released?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          text: "1991",
          checked: (data["inbound-1-security-1"] == "Yes")
        },
        {
          value: "No",
          text: "2015",
          checked: (data["inbound-1-security-1"] == "No")
        },
        {
          value: "Dont know",
          text: "Don't know",
          checked: (data["inbound-1-security-1"] == "Dont know")
        }
        ]
      }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
