{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}


  <form action="inbound-1-security-2" method="post" class="form">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">I've found the record. I just have a few more questions</h1>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">XXX</p> -->



      {{ govukRadios({
        idPrefix: "inbound-1-security-0",
        name: "inbound-1-security-0",
        fieldset: {
          legend: {
            html: "What is your favourite film?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          text: "Point Break",
          checked: (data["inbound-1-security-0"] == "Yes")
        },
        {
          value: "No",
          text: "Not not Point Break",
          checked: (data["inbound-1-security-0"] == "No")
        },
        {
          value: "Dont know",
          text: "Don't know",
          checked: (data["inbound-1-security-0"] == "Dont know")
        }
        ]
      }) }}




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
