{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="outbound-2-call-prep-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Prepare for a call</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">Here are some details about Jeff Bridges. You will be guided through security questions once you start the call.</p>

      <table class="govuk-table govuk-!-margin-bottom-8">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <!-- <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">Application details</caption> -->

            <th scope="col" class="govuk-table__header govuk-60-percent"></th>
            <th scope="col" class="govuk-table__header govuk-40-percent"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Phone number</td>
            <td class="govuk-table__cell">07960022111</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Additional support (AS)</td>
            <td class="govuk-table__cell">No</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Unacceptable customer behaviour (UCB)</td>
            <td class="govuk-table__cell">No</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Appointees or representatives</td>
            <td class="govuk-table__cell">No</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Accessibility needs</td>
            <td class="govuk-table__cell">No</td>
          </tr>

        </tbody>
      </table>

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="record-1-overview" target="">I need to see other detials not shown</a></p> -->


      {{ govukRadios({
        idPrefix: "outbound-2-call-prep",
        name: "outbound-2-call-prep",
        fieldset: {
          legend: {
            html: "Do you want to start the call now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m v"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios govuk-!-margin-bottom-4",
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["outbound-2-call-prep"] == "Yes")
        },
        {
          value: "No",
          text: "No, I need more details",
          checked: (data["outbound-2-call-prep"] == "No")
        }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
