{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}


<form action="outbound-2-finder" method="post" class="form">

{% if data["application-selector"]  == "4" %}
XXX
{% else %}
XXX
{% endif %}


  <input type="hidden" name="find-someone-1-gather" value="true"/>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">The security was not met</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">You need to do something else, follow the end call process to wrap up call</p>




        </div>
      </div>

  </form>

{% endblock %}
