{% extends "layouts/layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "agent-0-13/call-status.html" %}
{% endblock %}
{% block content %}


{% include "agent-0-13/record-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="record-1-event-history-filter-router" method="post" class="form">

      {% include "agent-0-13/record-id-base.html" %}

      <style>
      #accordion-default > div.govuk-accordion__controls > button {display: none}
      /* #accordion-default-heading-1 > span {display: none} */
      </style>



    </div>
  </div>


    {% include "agent-0-13/record-navigation.html" %}

    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Event history</h3>

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Filter by event type: &nbsp;&nbsp;<a class="govuk-body govuk-!-font-size-19" href="#"><strong>Clear</strong></a> &nbsp;&nbsp; <a class="govuk-body govuk-!-font-size-19" href="#">Inbound calls</a> &nbsp;&nbsp; <a class="govuk-body govuk-!-font-size-19" href="#">Outbound calls</a> &nbsp;&nbsp; <a class="govuk-body govuk-!-font-size-19" href="#">Letters</a> </p> -->


<div class="govuk-accordion govuk-!-margin-bottom-0" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Filter by event type
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-bottom-0">

      {{ govukCheckboxes({
      idPrefix: "record-1-event-history-filter",
      name: "record-1-event-history-filter",
      classes: "govuk-checkboxes--small",
      fieldset: {
      legend: {
      text: "Select filter type",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s "
      }
      },
      items: [
      {
      value: "1",
      text: "Inbound calls",
      checked: (data["record-1-event-history-filter"] == "1")
      },
      {
      value: "2",
      text: "Outbound calls",
      checked: (data["record-1-event-history-filter"] == "2")
      },
      {
      value: "3",
      text: "Letters sent",
      checked: (data["record-1-event-history-filter"] == "3")
      },
      {
      value: "4",
      text: "Letters received",
      checked: (data["record-1-event-history-filter"] == "4")
      },
      {
      value: "0",
      text: "Clear*",
      checked: (data["record-1-event-history-filter"] == "0")
      }
      ]
      }) }}

      {{ govukButton({
      text: "Apply",
      classes: "govuk-button--secondary govuk-!-margin-bottom-4"
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible-seperator">


    </div>
  </div>


    </div>
  </div>



</div>

<table class="govuk-table govuk-!-margin-top-0">

<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-20-percent">Date</td>
    <td class="govuk-table__cell govuk-20-percent">Event</td>
    <td class="govuk-table__cell govuk-60-percent">Details</td>
    <!-- <td class="govuk-table__cell govuk-20-percent">Actions</td> -->
  </tr>
  </thead>



      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">18 Oct 2023</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>
        <td class="govuk-table__cell table-spacer">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
</td>
        <!-- <td class="govuk-table__cell table-spacer"></td> -->
        </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">1 Oct 2023</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>

        <td class="govuk-table__cell table-spacer">Wanted an update on progress of application</td>
        <!-- <td class="govuk-table__cell table-spacer"></td> -->
      </tr>
<!--
      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">16 Sept 2023</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>

        <td class="govuk-table__cell table-spacer">General enquiry</td>
        <td class="govuk-table__cell table-spacer"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">1 Apr 2023</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>

        <td class="govuk-table__cell table-spacer">General enquiry</td>
        <td class="govuk-table__cell table-spacer"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">20 Mar 2023</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>

        <td class="govuk-table__cell table-spacer">Application re-opened</td>
        <td class="govuk-table__cell table-spacer"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer">1 Feb 2023</td>
        <td class="govuk-table__cell table-spacer">Inbound call</td>

        <td class="govuk-table__cell table-spacer">Asked about a closed application</td>
        <td class="govuk-table__cell table-spacer"></td>
      </tr> -->





      </table>



  </div>
  </div>


    </form>
{% endblock %}
