{% extends "layouts/layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "agent-0-13/call-status.html" %}
{% endblock %}
{% block content %}



<form action="record-1-appointees" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-13/record-id-base.html" %}

      {% set legendTelephoneNumber %}
        <h1 class="govuk-heading-s govuk-!-margin-bottom-0">What is the LPA access code?</h1>
      {% endset -%}


      {% set appointeelpaYes %}

      {{ govukInput({
        label: {
          html: legendTelephoneNumber
        },
          hint: {
            text: "For example, V-AB12-CD34-EF56"
          },
        id: "appointees-lpa",
        name: "appointees-lpa",
        classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
        value: data["appointees-lpa"]
      }) }}

      {% endset -%}

      {% set LegendH1 %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Do you have a lasting power of attorney (LPA) access code?</h1>
      {% endset -%}

      {{ govukRadios({
        idPrefix: "appointees-lpa-check",
        name: "appointees-lpa-check",
        fieldset: {
          legend: {
            html: LegendH1,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-2"
          }
        },
        hint: {
          text: "An LPA access code is a unique code from the 'use a lasting power of attorney' service. It will allow people or organisations to view a summary of an LPA. "
        },
        classes: "govuk-radios govuk-!-margin-bottom-4",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["appointees-lpa"] == "Yes"),
                  conditional: {
                    html: appointeelpaYes
                  }
            },
          {
            value: "No",
            text: "No",
            checked: (data["appointees-lpa"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
