{% extends "layouts/layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "agent-0-13/call-status.html" %}
{% endblock %}
{% block content %}

{% include "agent-0-13/record-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      {% include "agent-0-13/record-id-base.html" %}


    </div>
  </div>


    {% include "agent-0-13/record-foundation-navigation.html" %}

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">There are no appointees or representatives</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">You can <a class="" href="#" target="">add an appointee or representative now</a>.</p>

<!--
    {% set SetTelephone %}
      {% if data["appointees-telephone"] %}
        {{data["appointees-telephone"]}}
      {% else %}
        <p class="govuk-body">07700 900457</p>
      {% endif %}
    {% endset -%}




    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Julianne Moore"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Type of helper"
          },
          value: {
            text: "Lasting Power of Attorney"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        },
        {
          key: {
            text: "LPA code"
          },
          value: {
            text: data["appointees-lpa"]
          },
          actions: {
            items: [
              {
                href: "record-1-appointees-update",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        },
        {
          key: {
            text: "Telephone"
          },
          value: {
            html: SetTelephone
          },
          actions: {
            items: [
              {
                href: "record-1-appointees-telephone",
                text: "Change",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            html: '<p class="govuk-body">julianne.moore@example.com</p>'
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        }
      ]
    }) }} -->





  </div>
  </div>


    </form>
{% endblock %}
