{% extends "layouts/layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "agent-0-13/call-status.html" %}
{% endblock %}
{% block content %}



<form action="record-1-bank-detials" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "agent-0-13/record-id-base.html" %}

      <h3 class= govuk-heading-xl govuk-!-margin-bottom-6">We need your bank details so we can pay you</h3>


      {% set LegendH1 %}
        <h1 class="govuk-heading-s govuk-!-margin-bottom-0">What is your telephone number?</h1>
      {% endset -%}

      {{ govukInput({
        label: {
          html: "Bank name"
        },
          hint: {
            text: ""
          },
        id: "record-1-bank-detials-j-1-bank-name",
        name: "record-1-bank-detials-j-1-bank-name",
        classes: "govuk-input--width-10 govuk-!-margin-bottom-0",
        value: data["record-1-bank-detials-j-1-bank-name"]
        }) }}

        {{ govukInput({
          label: {
            html: "Account number"
          },
            hint: {
              text: ""
            },
          id: "record-1-bank-detials-j-1-bank-account",
          name: "record-1-bank-detials-j-1-bank-account",
          classes: "govuk-input--width-10 govuk-!-margin-bottom-0",
          value: data["record-1-bank-detials-j-1-bank-account"]
          }) }}

        {{ govukInput({
          label: {
            html: "Sort code"
          },
            hint: {
              text: ""
            },
          id: "record-1-bank-detials-j-1-bank-sort",
          name: "record-1-bank-detials-j-1-bank-sort",
          classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
          value: data["record-1-bank-detials-j-1-bank-sort"]
          }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
