
  <div class="govuk-!-margin-bottom-8">

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-stats" class="govuk-link" rel="noreferrer noopener">Overview of all online applications</a></p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="service-stats-personal" class="govuk-link" rel="noreferrer noopener" target="">My stats</a></p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="service-average" class="govuk-link" rel="noreferrer noopener" target="">Average processing times for all applications</a></p>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Workload breakdown<br>by teams</h3>



<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="service-stats-team-overview" class="govuk-link" rel="noreferrer noopener" target="">All teams</a></p>

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="service-stats-team-one" class="govuk-link" rel="noreferrer noopener" target="">Red One</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Blue Two</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Orange Three</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Green Four</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">QAMs</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Quality</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Disputes</a></p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">MRs</a></p>

<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Inbound and outbound calls</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Overview of call outcomes</a></p>

  </div>
