{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Applications and claims</h1>
    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Between 9 February 2023 and today. <a href="X" class="govuk-link" rel="X" target="">Change dates</a>.</p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-9">Updated today at 8:30am</p> -->





    <div class="govuk-grid-row govuk-!-padding-top-2">
      <div class="govuk-grid-column-one-third ">
        {% include "agent-0-13/service-app-claim-menu.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-4">All applications 'Not started'</h2>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Total applications: <b>5</b></p>

        <table class="govuk-table govuk-!-margin-top-0">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-25-percent">Submitted date</td>
            <td class="govuk-table__cell govuk-55-percent">Name</td>
            <td class="govuk-table__cell govuk-20-percent">Status</td>
          </tr>
          </thead>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer">Today</td>
            <td class="govuk-table__cell table-spacer"><a class="" href="service-app-claim-details" target="">Name Second-LongName</a></td>
            <td class="govuk-table__cell table-spacer">Submitted</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">Today</td>
              <td class="govuk-table__cell table-spacer"><a class="" href="service-app-claim-details" target="">Name Second-LongName</a></td>
              <td class="govuk-table__cell table-spacer">Submitted</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">Yesderday</td>
              <td class="govuk-table__cell table-spacer"><a class="" href="service-app-claim-details" target="">Name Second-LongName</a></td>
              <td class="govuk-table__cell table-spacer">Submitted</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">12/01/2024</td>
              <td class="govuk-table__cell table-spacer"><a class="" href="service-app-claim-details" target="">Name Second-LongName</a></td>
              <td class="govuk-table__cell table-spacer">Ready for a decision</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">11/01/2024</td>
              <td class="govuk-table__cell table-spacer"><a class="" href="service-app-claim-details" target="">Name Second-LongName</a></td>
              <td class="govuk-table__cell table-spacer">Ready for a decision</td>
            </tr>


          </table>


              </div>




      </div>
    </div>
  </div>



{% endblock %}
