{% extends "layout-apply.html" %}

{% block pageTitle %}
  PIP: Name Name
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="test-router" method="post" class="form">


        <h1 class="govuk-heading-xl ">Check your answers (All)</h1>





<!-- Section 1 -->
<div class="govuk-!-padding-bottom-4">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">(H2) Section 1</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Do you need help from someone else to communicate with us?"
              },
              value: {
                html: "[Yes] / [No]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Do you usually need help from someone else to fill in forms or understand letters?	"
              },
              value: {
                html: "[Yes] / [No]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "⬤ Is someone helping you with this claim?"
              },
              value: {
                html: "[Yes] / [No]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "⬤ Name of the person helping you"
              },
              value: {
                html: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            }
          ]
        }) }}





</div>

<!-- Section 2 -->
<div class="govuk-!-padding-bottom-4">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">(H2) Section 2</h2>


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "National Insurance number"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Address?"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            },
            {
              key: {
                text: "Can we write to you at this address?"
              },
              value: {
                text: "[YES] / [NO]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            },
            {
              key: {
                text: "⬤ What address can we write to?"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}



        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Mobile number"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "◼ Alternative number"
              },
              value: {
                text: "[optional]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "◼ Textphone"
              },
              value: {
                text: "[optional]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Do you want to receive text messages to update you on the progress of your claim?"
              },
              value: {
                html: "[Yes] / [No]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Can you provide bank, building society or credit union account details?"
              },
              value: {
                html: "[Yes] / [No]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "⬤ Name on the account"
              },
              value: {
                html: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "⬤ Sort code"
              },
              value: {
                html: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "⬤ Account number"
              },
              value: {
                html: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "⬤ ◼ Building society roll number (if you have one) — MM we should check this?"
              },
              value: {
                html: "[Optional]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Do you need communications in another format?"
              },
              value: {
                html: "[Yes] / [No]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}


<p style="color:red;">⬤ Conditional = Braille </p>

                {{ govukSummaryList({
                  rows: [
                    {
                      key: {
                        html: "⬤ Which braille format do you need?"
                      },
                      value: {
                        html: "[XXX]"
                      },
                      actions: {
                        items: [
                          {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "name"
                          }
                        ]
                      }
                    }
                  ]
                }) }}

  <p style="color:blue;">⬤ Conditional = Sign language </p>

                  {{ govukSummaryList({
                    rows: [
                      {
                        key: {
                          html: "⬤ Which type of sign language do you need?"
                        },
                        value: {
                          html: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "name"
                            }
                          ]
                        }
                      }
                    ]
                  }) }}

  <p style="color:green;">⬤ Conditional = Audio </p>

                  {{ govukSummaryList({
                    rows: [
                      {
                        key: {
                          html: "⬤ Do you need communications in another format?"
                        },
                        value: {
                          html: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "name"
                            }
                          ]
                        }
                      }
                    ]
                  }) }}

    <p style="color:orange;">⬤ Conditional = Paper and other formats</p>

                    {{ govukSummaryList({
                      rows: [
                        {
                          key: {
                            html: "⬤ Which paper format do you need?"
                          },
                          value: {
                            html: "[XXX]"
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "name"
                              }
                            ]
                          }
                        },
                        {
                          key: {
                            html: "⬤ Coloured papaer"
                          },
                          value: {
                            html: "[XXX]"
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "name"
                              }
                            ]
                          }
                        },
                        {
                      key: {
                        html: "⬤ Large print with custom font"
                      },
                      value: {
                        html: "[XXX]"
                      },
                      actions: {
                        items: [
                          {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "name"
                          }
                        ]
                      }
                    },
                    {
                      key: {
                        html: "⬤ Email address"
                      },
                      value: {
                        html: "[XXX]"
                      },
                      actions: {
                        items: [
                          {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "name"
                          }
                        ]
                      }
                    },
                    {
                      key: {
                        html: "⬤ Other"
                      },
                      value: {
                        html: "[XXX]"
                      },
                      actions: {
                        items: [
                          {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "name"
                          }
                        ]
                      }
                    }
                  ]
                }) }}


</div>

<!-- Section 4 -->
<div class="govuk-!-padding-bottom-4">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">(H2) Section 4</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "What is your nationality?"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}
        <p style="color:red;">⬤ Conditional = British / Irish</p>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "⬤ Have you been in the UK for at least 2 of the last 3 years?"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "⬤ Do any of the following apply to you or a family member?"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            }
          ]
        }) }}

  <p style="color:cyan;">⬤ Conditional = EEA</p>

                  {{ govukSummaryList({
                    rows: [
                      {
                        key: {
                          html: "⬤ What is your nationality?"
                        },
                        value: {
                          html: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "name"
                            }
                          ]
                        }
                      },
                      {
                        key: {
                          html: "⬤ Did you start living in the UK before 1 January 2021?"
                        },
                        value: {
                          html: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "name"
                            }
                          ]
                        }
                      },
                      {
                        key: {
                          text: "⬤ Have you been in the UK for at least 2 of the last 3 years?"
                        },
                        value: {
                          text: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "date of birth"
                            }
                          ]
                        }
                      },
                      {
                        key: {
                          text: "⬤ Do any of the following apply to you or a family member?"
                        },
                        value: {
                          text: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "address"
                            }
                          ]
                        }
                      }
                    ]
                  }) }}

  <p style="color:yellow;">⬤ Conditional = Other nationality</p>

                  {{ govukSummaryList({
                    rows: [
                      {
                        key: {
                          html: "⬤ What is your nationality? (Asked twice, dropdown)"
                        },
                        value: {
                          html: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "name"
                            }
                          ]
                        }
                      },
                      {
                        key: {
                          text: "⬤ Have you been in the UK for at least 2 of the last 3 years?"
                        },
                        value: {
                          html: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "name"
                            }
                          ]
                        }
                      },
                      {
                        key: {
                          text: "⬤ Do any of the following apply to you or a family member?"
                        },
                        value: {
                          text: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "date of birth"
                            }
                          ]
                        }
                      }
                    ]
                  }) }}


</div>

<!-- Section 5 -->
<div class="govuk-!-padding-bottom-4">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">(H2) Section 5</h2>


  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: "Enter a physical or mental health conditions or disability you have"
        },
        value: {
          html: "[XXX]"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      },
      {
        key: {
          html: "Can the Department for Work and Pensions contact your health and care professionals for information about you?"
        },
        value: {
          html: "[XXX]"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      }
    ]
  }) }}


</div>


<!-- Section 6 -->
<div class="govuk-!-padding-bottom-4">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">(H2) Section 6</h2>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "⬤  Do you agree that your health and care professionals can share relevant information about your health conditions to support your claim?"
        },
        value: {
          html: "[Yes] / [No]"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      }
    ]
  }) }}



  {{ govukSummaryList({
    card: {
      title: {
        text: "Health or care professional one"
      },
      actions: {
        items: [
          {
            href: "cya-change-1",
            text: "Change",
            visuallyHiddenText: "of University of Bristol"
          },
          {
            href: "cya-remove-1",
            text: "Remove",
            visuallyHiddenText: "from University of Bristol"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          html: "[XXX]"
        }
      },
      {
        key: {
          text: "Profession"
        },
        value: {
          html: "[XXX]"
        }
      },
      {
        key: {
          text: "Phone number"
        },
        value: {
          html: "[XXX]"
        }
      },
      {
        key: {
          text: "Address"
        },
        value: {
          html: "[XXX]"
        }
      },
      {
        key: {
          text: "When did you last speak to them?"
        },
        value: {
          html: "[XXX]"
        }
      }
    ]
  }) }}


<br>


{{ govukSummaryList({
  card: {
    title: {
      text: "Health or care professional two"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "of University of Bristol"
        },
        {
          href: "#",
          text: "Remove",
          visuallyHiddenText: "from University of Bristol"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: "[XXX]"
      }
    },
    {
      key: {
        text: "Profession"
      },
      value: {
        html: "[XXX]"
      }
    },
    {
      key: {
        text: "Phone number"
      },
      value: {
        html: "[XXX]"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "[XXX]"
      }
    },
    {
      key: {
        text: "When did you last speak to them?"
      },
      value: {
        html: "[XXX]"
      }
    }
  ]
}) }}

    <br>


    {% if data["cya-remove-3"] == "Yes" %}

    {% else %}


    {% if data["cya-add-3"] == "Yes" %}

    {{ govukSummaryList({
      card: {
        title: {
          text: "Health or care professional three"
        },
        actions: {
          items: [
            {
              href: "cya-change-3",
              text: "Change",
              visuallyHiddenText: "of University of Bristol"
            },
            {
              href: "cya-remove-3",
              text: "Remove",
              visuallyHiddenText: "from University of Bristol"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            html: "[XXX]"
          }
        },
        {
          key: {
            text: "Profession"
          },
          value: {
            html: "[XXX]"
          }
        },
        {
          key: {
            text: "Phone number"
          },
          value: {
            html: "[XXX]"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "[XXX]"
          }
        },
        {
          key: {
            text: "When did you last speak to them?"
          },
          value: {
            html: "[XXX]"
          }
        }
      ]
    }) }}


    {% endif %}
    {% endif %}

    <a class="govuk-body govuk-!-font-size-19" href="cya-add-3">Add another care or heathcare professional</a>

  </div>


<br><br>
  <!-- Section 6 -->
  <div class="govuk-!-padding-bottom-4">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">(H2) Section 7</h2>

              {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Are you currently staying in any of the these places?"
                    },
                    value: {
                      text: "[XXX]"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "name"
                        }
                      ]
                    }
                  }
                ]
              }) }}

    <p style="color:blue;">⬤ Conditional = Hospital </p>


                    {{ govukSummaryList({
                      rows: [
                        {
                          key: {
                            html: "⬤ When did you go into hospital?"
                          },
                          value: {
                            text: "[XXX]"
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "date of birth"
                              }
                            ]
                          }
                        },
                        {
                          key: {
                            text: "⬤ Hospital address	"
                          },
                          value: {
                            text: "[XXX]"
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "address"
                              }
                            ]
                          }
                        }
                      ]
                    }) }}


  <p style="color:red;">⬤ Conditional = Hospice </p>

                  {{ govukSummaryList({
                    rows: [
                      {
                        key: {
                          text: "⬤ When did you go into the hospice?"
                        },
                        value: {
                          text: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "date of birth"
                            }
                          ]
                        }
                      },
                      {
                        key: {
                          text: "⬤ Hospice address	"
                        },
                        value: {
                          text: "[XXX]"
                        },
                        actions: {
                          items: [
                            {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "address"
                            }
                          ]
                        }
                      }
                    ]
                  }) }}

  <p style="color:magenta;">⬤ Conditional = Care or nursing home </p>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "⬤ When did you go into this accommodation?"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "⬤ Accommodation address	"
              },
              value: {
                text: "[XXX]"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            }
          ]
        }) }}


                  <p style="color:green;">⬤ Conditional = Other </p>

                                  {{ govukSummaryList({
                                    rows: [
                                      {
                                        key: {
                                          text: "⬤ When did you go into this accommodation?"
                                        },
                                        value: {
                                          text: "[XXX]"
                                        },
                                        actions: {
                                          items: [
                                            {
                                              href: "#",
                                              text: "Change",
                                              visuallyHiddenText: "XXX
"
                                            }
                                          ]
                                        }
                                      },
                                      {
                                        key: {
                                          text: "⬤ Accommodation address	"
                                        },
                                        value: {
                                          text: "[XXX]"
                                        },
                                        actions: {
                                          items: [
                                            {
                                              href: "#",
                                              text: "Change",
                                              visuallyHiddenText: "address"
                                            }
                                          ]
                                        }
                                      }
                                    ]
                                  }) }}


</div>



  {{ govukButton({
    text: "Save and continue",
    classes: "govuk-!-margin-bottom-8"
  }) }}

</form>

</div>
</div>

{% endblock %}
