{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Sign in - Pension Credit
{% endblock %}


{% block content %}

{% include "another-decision-0-0-7/record-id.html" %}

<form action="ap-send-request-type" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <!---------- Conditional ---------->

              {% set ConditionalHtml %}

              {{ govukTextarea({
                name: "ap-send-check",
                id: "ap-send-check",
                rows: "4",
                label: {
                  text: "Record the details of what they would like to tell us",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

              {% endset -%}

      <!----------  ---------->


        {{ govukCheckboxes({
          idPrefix: "ap-send-check-check",
          name: "ap-send-check-check",
          classes: "govuk-checkboxes",
          fieldset: {
            legend: {
              html: "Why does this application need to go for an assessment?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: "Select all	that apply."
          },
          items: [
          {
            value: "Yes",
            text: "I've followed all the guidance and I'm not able to make a decision",
            checked: (data["ap-send-check-check"] == "Yes")
          },
          {
            value: "Yes",
            text: "Despite sufficient evidence, an assessment is needed",
            checked: (data["ap-send-check-check"] == "Yes")
          },
          {
            value: "Yes",
            text: "This application needs specialist knowledge due to the type of condition ",
            checked: (data["ap-send-check-check"] == "Yes")
          },
          {
            value: "Yes",
            text: "I need the assessment provider to gather further evidence",
            checked: (data["ap-send-check-check"] == "Yes")
          },

            {
              value: "Something else",
              text: "Something else",
              checked: (data["ap-send-check-check"] == "No"),
              conditional: {
                html: ConditionalHtml
              }
            }
          ]
        }) }}


        {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
        }) }}


        </div>
      </div>

  </form>

{% endblock %}
