{% extends "layouts/main-agent-gov-footer-task.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}


<form action="#" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full surface-block">

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


        </div>
      </div>

  </form>

{% endblock %}
