{% extends "layouts/main-agent-feedback.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}


<form action="#" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->
  {% include "pip-base-ui/t-record-id.html" %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full surface-block">
      <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Content block</h3>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


        </div>
      </div>

  </form>

{% endblock %}
