{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block content %}

<form action="/another-decision-0-0-8/dwp-task-allocated-overview" method="post" class="form">

  {% include "pip-base-ui/t-record-id-base.html" %}

  <div class="govuk-grid-row">


    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Task list",
          href: "t-dec-task-list"
        },
        {
          text: "DMF",
          href: ""
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">



      {% set OtherOverwite %}

            {{ govukTextarea({
            name: "t-move-send-check-reason-other",
              id: "t-move-send-check-reason-other",
              value: data["t-move-send-check-reason-other"],
              label: {
                text: "Can you provide more detail?",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              hint: {
                text: "This will help others understand why it was put on hold for an exceptional reason."
              }
            }) }}

      {% endset -%}



      {{ govukRadios({
        idPrefix: "t-move-send-check-reason",
        name: "t-move-send-check-reason",
        fieldset: {
          legend: {
            text: "What do you want todo now?" ,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "This will put this applciaiton on hold"
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          text: "Contact the applicant",
          checked: (data["t-move-send-check-reason"] == "1")
        },
        {
          value: "Yes",
          text: "Get support from a service assurance manager (SAM)",
          checked: (data["t-move-send-check-reason"] == "2")
        },
        {
          value: "Yes",
          text: "Get support from another DWP agent",
          checked: (data["t-move-send-check-reason"] == "3")
        },
        {
          value: "Yes",
          text: "Get advice from a healthcare professional (HCP)",
          checked: (data["t-move-send-check-reason"] == "4")
        },
        {
          value: "Yes",
          text: "Have a collaboration all with a HCP",
          checked: (data["t-move-send-check-reason"] == "5")
        },
        {
          value: "No",
          text: "Refer the application for an assessment",
          checked: (data["doc-5-name"] == "No"),
                conditional: {
                  html: OtherOverwite
                }
        }
        ]
      }) }}




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
