{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block content %}

<form action="/Users/mark.mccormick6/Documents/Clients/PIP/pip-agent-rebuild/app/views/pip-base-ui/t-move-send-check.html" method="post" class="form">
  {% include "pip-base-ui/t-record-id-base.html" %}

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Area",
          href: "t-dec-task-list"
        },
        {
          text: "Other actions",
          href: ""
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">


      {{ govukRadios({
        idPrefix: "t-move-send-check",
        name: "t-move-send-check",
        fieldset: {
          legend: {
            html: "What do you want to do now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "1",
          text: "Put application on hold",
          checked: (data["t-move-send-check"] == "1")
        },
        {
          value: "2",
          text: "Identify need to move to PIPCS / PIPcs rebuild identified",
                hint: {
                  text: "This will create a 'Move to PIPCS' task and disable functions"
                },
          checked: (data["t-move-send-check"] == "2")
        }
        ]
      }) }}

      <!--checked: (data["move-send-check"] == "Disallow")-->


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
