{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block content %}

<form action="t-pr-base" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "pip-base-ui/t-record-id.html" %}

      {{ govukRadios({
        idPrefix: "t-move-send-check-reason",
        name: "t-move-send-check-reason",
        fieldset: {
          legend: {
            html: "Why",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "1",
          text: "Reason X",
          checked: (data["t-move-send-check-reason"] == "1")
        },
        {
          value: "2",
          text: "Reason Y",
          checked: (data["t-move-send-check-reason"] == "2")
        }
        ]
      }) }}

      <!--checked: (data["t-move-send-check-reason"] == "Disallow")-->


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
