{% extends "layout.html" %}

{% block pageTitle %}
  Sign in - Pension Credit
{% endblock %}

{% block header %}
 {% include "explore-header-home.html" %}
{% endblock %}

{% block content %}

<!-- {% include "agent-day-0-1-9/record-id-base.html" %} -->
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You've left a task early. Your work is saved.</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">You can return to any task you've started<br>in <a class="" href="my-open-tasks">my open tasks</a>.</p>






      <div class="govuk-button-group ">
        {{ govukButton({
          text: "Continue and exit",
          classes: "govuk-!-margin-bottom-8",
          href: "entry-home"

        }) }}

        {{ govukButton({
        name: "process-c-nil-task-list",
        attributes: {
          onclick: "history.back()"
        },
        value: "UF",
        checked: (data["process-c-nil-task-list"] == "UF"),
        text: "Go back",
        classes: "govuk-button--secondary",
        href: "assurance-tasklist-separate"
        }) }}

        </div>
      </div>

  </form>

{% endblock %}
