    {% extends "layout.html" %}

    {% block pageTitle %}
      Process a PIP application
    {% endblock %}

    {% block header %}
     {% include "explore-header-global-nav-multi.html" %}
    {% endblock %}

    {% block content %}


    {% if data["application-5-about-a1-reason"]  %}
    <form action="application-5-letter-review" method="post" class="form">
    {% else %}
    <form action="application-5-about-a-autofill" method="post" class="form">
    {% endif %}


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">

          {% include "agent-0-13/record-id.html" %}

          <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">
            Add your reason for selecting [descriptor X (X points)] for [activity] to the decision letter
          </h2>

          {{ govukTextarea({
            name: "application-5-about-a1-reason",
            id: "application-5-about-a1-reason",
            classes: " govukTextarea--overwrite",
            label: {
              text: "",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            hint: {
              html: legendCanned
            },
            value: data["application-5-about-a1-reason"]
          }) }}

          {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-bottom-8"
          }) }}

            </div>
          </div>

      </form>

    {% endblock %}
