{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


{% if data["application-about-a12-score-overwrite"]  == "a1" %}

  <form action="entry-home" method="post" class="form">

  {% else %}
  <form action="/move-to-pipcs-1/eject-timeline" method="post" class="form">

  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-day-0-1-9/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Check the information you are adding to the decision letter and send the letter</br></h1>

      <!------------H1 LEGEND------------>

        {% set dynamicAgentNotes %}

          {% if data["application-5-letter-edit"]%}
          Change
          {% else %}
          Add
          {% endif %}

        {% endset %}
      <!------------Legend--------------->





      <!------------OUTCOME LEGEND------------>

      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Outcome</h3>


        {% if data["system-application-selector"]  == "1" %}
        [~The applicant will not be given PIP]

        {% else %}

        {% endif %}

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"></p>
  <!-- <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

    <li>[XX] points for the daily living part - this means the applicant has been given the [standard/enhanced] rate</li>
    <li>[XX] points for the daily living part - this means the applicant has not been given this part</li>
    <li>[XX] points for the mobility part - this means the applicant has been given the [standard/enhanced] rate</li>
    <li>[XX] points for the mobility part - this means the applicant has not been given this part</li>
  </ul> -->

  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[XX] points for the daily living part - this means the applicant has been given the [standard/enhanced] rate</p>
  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[XX] points for the daily living part - this means the applicant has not been given this part</p> -->
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[XX] points for the mobility part - this means the applicant has been given the [standard/enhanced] rate</p>
  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[XX] points for the mobility part - this means the applicant has not been given this part</p> -->


        {% set firstPaymentDetails %}

        {% if data["system-application-selector"]  == "1" %}



        {% else %}

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your first payment will be £2,300.</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This will be paid into your bank account within 3 days.</p>

        {{ govukSummaryList({
          rows: [
          {
                key: {
                  text: "First payment"
                },
                value: {
                  html: firstPaymentDetails
                }
              }
            ]
          }) }}

        {% endif %}



        {% endset %}

        <!------------OUTCOME LEGEND------------>

        <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Qualifying period and prospective test</h3>


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Daily living qualifying period met"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-dl-3m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Likely to still have daily living restrictions"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-dl-9m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mobility qualifying period met"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-m-3m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Likely to still have moblity restrictions"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-m-9m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            }
          ]
        }) }}

              {% if data["system-application-selector"]  == "1" %}

              <!-- I am Nill award -->

                {% else %}

              <!------------Q2 LEGEND------------>
                {% set dynamicDateRange %}


                [Day] [Month] [Year]
                <!-- From {{ data['application-6-award-period-date-start-day'] + ' ' + (data['application-6-award-period-date-start-month'] | getMonth) + ' ' + data['application-6-award-period-date-start-year']}}


                {% if data["application-6-award-period-end-check"]  == "Yes" %}
                to  {{ data['application-6-award-period-date-end-day'] + ' ' + (data['application-6-award-period-date-end-month'] | getMonth) + ' ' + data['application-6-award-period-date-end-year']}}
                {% else %}
                (there is no end date)
                {% endif %} -->

                {% endset %}

              <!------------Legend--------------->

              <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Review dates</h3>


                {{ govukSummaryList({
                  rows: [
                    {
                      key: {
                        text: "Award start date"
                      },
                      value: {
                        text: "2 March 2024"
                      },
                      actions: {
                        items: [
                          {
                            href: "award-dates-playback",
                            text: "Change",
                            visuallyHiddenText: "XXX"
                          }
                        ]
                      }
                    },
                    {
                      key: {
                        text: "Award review date"
                      },
                      value: {
                        text: "1 March 2026"
                      },
                      actions: {
                        items: [
                          {
                            href: "award-dates-playback",
                            text: "Change",
                            visuallyHiddenText: "XXX"
                          }
                        ]
                      }
                    },
                    {
                      key: {
                        text: "End date"
                      },
                      value: {
                        text: "1 March 2027"
                      },
                      actions: {
                        items: [
                          {
                            href: "award-dates-playback",
                            text: "Change",
                            visuallyHiddenText: "XXX"
                          }
                        ]
                      }
                    }
                  ]
                }) }}


                {% endif %}




                <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Supporting documents</h3>

          {% set DynamicSelectedDocumentsList %}


          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 ">
            <li>Information provided by care home</li>
            <li>Care plan</li>
            <li>Certificate of Vision Impairment (CVI)</li>
            <li>Information provided by community mental health team</li>
            <li>Health professional consultation report</li>
            <li>Information provided by Customer Compliance Officer</li>
            <li>Letter from consultantReport from consultant</li>
            <li>Report from consultant</li>
            <li>Telephone advice from consultant</li>
          </ul>

              {% endset %}

              {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: [
                {
                  key: {
                    text: "Selected documents"
                  },
                  value: {
                    html:
                    DynamicSelectedDocumentsList
                  },
                  actions: {
                    items: [
                    {
                      href: "application-evidence-used-b",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                    ]
                  }
                }
                ]
              }) }}


      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Daily living scoring</h3>

      <!-- 1 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preparing food
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a1-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a1-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a1-descriptor-overwrite.html" %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a1-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a1-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a1-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 2 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Taking nutrition
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a2-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a2-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 10
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a2-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a2-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a2-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a2-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 3 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing therapy or monitoring a health condition
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a3-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a3-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a3-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a3-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a3-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a3-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 4 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Washing and bathing
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a4-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a4-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a4-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a4-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a4-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a4-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 5 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing toilet needs or incontinence
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a5-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a5-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a5-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a5-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a5-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a5-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 6 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dressing and undressing
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a6-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a6-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a6-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a6-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a6-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a6-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


      <!-- 7 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Communicating verbally
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a7-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a7-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a7-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a7-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a7-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a7-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 8 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reading and understanding signs, symbols and words
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a8-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a8-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a8-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a8-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a8-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a8-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 9 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Engaging with other people face to face
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a9-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a9-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a9-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a9-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a9-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a9-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 10 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Making budgeting decisions
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a10-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a10-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 6
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a10-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a10-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a10-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a10-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


      <h3 class="govuk-heading-xm govuk-!-padding-top-8 govuk-!-margin-bottom-6">Mobility scoring</h3>

      <!-- 11 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning and following journeys
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a11-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a11-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a11-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a11-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a11-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a11-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 12 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             Moving around
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a12-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a12-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "agent-day-0-1-9/application-about-a12-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a12-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a12-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a12-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


    </div>
  </div>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        {% if data["system-application-selector"]  == "1" %}

        <!------------CheckBox Hint------------>

          {% set dynamicCheckBoxHint %}

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The decision letter will be generated based on the information above and sent automatically. This is your last opportunity to see the information that will be in the letter, so make sure you have checked it carefully.</p>

          <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will then need to send the letter to the applicant.</p> -->
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Do not proceed unless you are completely sure the information is correct.</p>


          {% endset %}
        <!------------Legend--------------->


        {{ govukCheckboxes({
          idPrefix: "ConfimLetter",
          name: "ConfimLetter",
          fieldset: {
            classes: "govuk-!-margin-top-6 govuk-!-padding-bottom-6",
            legend: {
              text: "Send decision letter",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l govuk-!-padding-bottom-3"
            }
          },
          hint: {
            html: dynamicCheckBoxHint
          },
          items: [
            {
              value: "ConfimLetter",
              text: "I confirm that I have fully checked the information for the decision letter.",
              checked: (data["application-about-a9-score-overwrite"] == "0")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Send decision letter",
          classes: "govuk-!-margin-bottom-8"
        }) }}

              {% else %}


              <!------------CheckBox Hint------------>

                {% set dynamicCheckBoxHintPayment %}

                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The decision letter will be generated based on the information above and sent automatically. The letter will also include payment details.</p>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This is your last opportunity to see the information that will be in the letter, so make sure you have checked it carefully. </p>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Do not proceed unless you are completely sure the information is correct.</p>

                {% endset %}
              <!------------Legend--------------->





              {{ govukCheckboxes({
                idPrefix: "ConfimLetter",
                name: "ConfimLetter",
                fieldset: {
                  classes: "govuk-!-margin-top-6 govuk-!-padding-bottom-6",
                  legend: {
                    text: "Send decision letter",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-padding-bottom-3"
                  }
                },
                hint: {
                  html: dynamicCheckBoxHintPayment
                },
                items: [
                  {
                    value: "ConfimLetter",
                    text: "I confirm that I have fully checked the information for the decision letter.",
                    checked: (data["application-about-a9-score-overwrite"] == "0")
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Send decision letter",
                classes: "govuk-!-margin-bottom-8"
              }) }}

            {% endif %}





      </div>
    </div>

  </form>

{% endblock %}
