{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "5a" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

<!-- {% if data["record-1-bank-detials-j-1-bank-name"] %}
<form action="application-5-tasklist" method="post" class="form">
{% else %}
<form action="application-rates-check-router" method="post" class="form">
{% endif %} -->

<form action="application-6-letter-review" method="post" class="form">
  <!-- <form action="application-rates-check-router" method="post" class="form"> -->



      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        {% include "agent-day-0-1-9/record-id-base.html" %}



{% if data["record-1-bank-detials-j-1-bank-name"] %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Bank details were added</h1>
<!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">This is now seen as done, you can crack on brah</p> -->


{% else %}



        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Consider calling the applicant about their first payment of £2,300</h1>

          <div class="govuk-!-margin-bottom-6">
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You may want to check if they feel comfortable receiving this amount of money in a lump sum if you think they may struggle or are vulnerable in any way. </p>

<!--
            <p class="govuk-body govuk-!-margin-bottom-2">Within the applciation the applicant and AP </p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

              <li>
                All documents have been seen and used
              </li>
            </ul> -->



      {{ govukRadios({
        idPrefix: "application-rates-check",
        name: "application-rates-check",
        fieldset: {
          legend: {
            html: "Did you call the applicant?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Call",
          text: "Yes, they want to receive their payment in a lump sum",
          checked: (data["application-rates-check"] == "Call")
        },
        {
          value: "Call",
          text: "Yes, they want to receive their payment in instalments",
          checked: (data["application-rates-check"] == "Call")
        },
        {
          value: "Pause",
          text: "Yes but they did not answer and I want to try again later",
          checked: (data["application-rates-check"] == "Pause")
        },

        {
          value: "Action",
          text: "No, I do not need to call the applicant",
          checked: (data["application-rates-check"] == "Actions")
        }
        ]
      }) }}

{% endif %}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>
    </form>
    </div>


{% endblock %}
