
{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "A" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">




    <form action="assurance-tasklist-separate" method="post" class="form">




    <div class="govuk-grid-column-two-thirds">
      {% include "agent-day-0-1-9/record-id-base.html" %}


      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "assurance-tasklist-item-3-address-cant-resolve",
        name: "assurance-tasklist-item-3-address-cant-resolve",
        fieldset: {
          legend: {
            html: "Why can't you resolve this?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "If you cant resolve this then this will need to be moved to PIPcs and an entry into the timeline will be needed"
        },
        items: [
        {
          value: "Expected",
          text: "Failed to make contact (3/5)",
          checked: (data["assurance-tasklist-item-3-address-cant-resolve"] == "Expected")
        },
        {
          value: "Unexpected",
          text: "Something else",
          checked: (data["assurance-tasklist-item-3-address-cant-resolve"] == "Unexpected")
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

{% endblock %}
