{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-day-0-1-9/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Creating a disallow letter</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><b>You need to:</b></p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>copy and paste this information to the letter</li>
      <li>download a copy of the letter you have created and upload it to ECMS - it will then be available in supporting documents</li>
    </ul>

<br>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Prepare an application<br>for an assessment<br>provider</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Issue 1</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Issue 2</td>
                <td class="govuk-table__cell "><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Issue 2</td>
                <td class="govuk-table__cell "><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Issue X</td>
                <td class="govuk-table__cell "><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Issue X</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Yes</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



            {{ govukCheckboxes({
              name: "waste",
              fieldset: {
                legend: {
                  text: "You need to confirm that you have sent the letter brah",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "carcasses",
                  text: "I have moved the application to PIPCS"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Finish and close",
              classes: "govuk-!-margin-bottom-8 govuk-!-margin-top-4"
            }) }}

        </div>
      </div>

  </form>

{% endblock %}
