
{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "A" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">




    {% if data["assurance-tasklist-item-4"] %}
    <form action="assurance-tasklist-separate" method="post" class="form">
    {% else %}
    <form action="assurance-tasklist-item-3-address-actions-router" method="post" class="form">
    {% endif %}



    <div class="govuk-grid-column-two-thirds">
      {% include "agent-day-0-1-9/record-id-base.html" %}


      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "assurance-tasklist-item-3-address-actions",
        name: "assurance-tasklist-item-3-address-actions",
        fieldset: {
          legend: {
            html: "The address does not match what is in SearchLight",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "You might need to make a call"
        },
        items: [
        {
          value: "Accept",
          text: "Accept new address",
          checked: (data["assurance-tasklist-item-3-address-actions"] == "Accept")
        },
        {
          value: "Update",
          text: "Update address",
          checked: (data["assurance-tasklist-item-3-address-actions"] == "Update")
        },
        {
          value: "Issue",
          text: "I can not resolve this issue",
          checked: (data["assurance-tasklist-item-3-address-actions"] == "Issue")
        },
        {
          value: "Pause",
          text: "I need to come back to this later",
          checked: (data["assurance-tasklist-item-3-address-actions"] == "Pause")
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

{% endblock %}
