
{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "A" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">





    <form action="assurance-tasklist-item-12-router" method="post" class="form">



    <div class="govuk-grid-column-two-thirds">
      {% include "agent-day-0-1-9/record-id-base.html" %}


      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "assurance-tasklist-item-12",
        name: "assurance-tasklist-item-12",
        fieldset: {
          legend: {
            html: "Do they meet the age criteria?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Check Searchlight."
        },
        items: [
        {
          value: "Expected",
          text: "Yes",
          checked: (data["assurance-tasklist-item-12"] == "Expected")
        },
        {
          value: "Unexpected-spa",
          text: "No, applicant is over State Pension age",
          checked: (data["assurance-tasklist-item-12"] == "Unexpected-spa")
        },
        {
          value: "Unexpected",
          text: "No, applicant is under 16 years old",
          checked: (data["assurance-tasklist-item-12"] == "Unexpected")
        },
        {
          value: "Pause",
          text: "I need to come back to this later",
          checked: (data["assurance-tasklist-item-12"] == "Pause")
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

{% endblock %}
