
{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "A" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">




    {% if data["assurance-tasklist-item-15"] %}
    <form action="assurance-tasklist-separate" method="post" class="form">
    {% else %}
    <form action="assurance-tasklist-item-14-router" method="post" class="form">
    {% endif %}



    <div class="govuk-grid-column-two-thirds">
      {% include "agent-day-0-1-9/record-id-base.html" %}


      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "assurance-tasklist-item-14",
        name: "assurance-tasklist-item-14",
        fieldset: {
          legend: {
            html: "Do they need an alternative format?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Check registration (PIP1) and Searchlight."
        },
        items: [
        {
          value: "Unexpected",
          text: "Yes",
          checked: (data["assurance-tasklist-item-14"] == "Unexpected")
        },
        {
          value: "Expected",
          text: "No",
          checked: (data["assurance-tasklist-item-14"] == "Expected")
        },
        {
          value: "Pause",
          text: "I need to come back to this later",
          checked: (data["assurance-tasklist-item-14"] == "Pause")
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

{% endblock %}
