{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="award-dates-AP-rec-check" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-9/record-id-base.html" %}



        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">The assessment provider selected 'other' award review period</h1>

        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Problem context: The service can not tell what has been written, it might be really clear... also might not</p> -->

        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">The assessment provider report completed on 12 3 2007 stated:</p>

          <div class="govuk-inset-text">
            Review again in March 2027
          </div> -->


<!--
              <p class="govuk-body govuk-!-margin-bottom-2"><b>Data we know: Assessment provider recommendation</b></p>
              <p class="govuk-body govuk-!-margin-bottom-2">Data we know: On year from now</p>

              <p class="govuk-body govuk-!-margin-bottom-6">"I think it should be one year as I think they will get better"</p>
 -->

 <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">The assessment provider report completed on 12 March 2007 stated: <b>Review again in March 2027</b></p>




      {{ govukDateInput({
        id: "award-dates-applicaiton-start-date",
        namePrefix: "award-dates-applicaiton-start-date",
        fieldset: {
          legend: {
            html: "Enter the date the award should be reviewed",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
          }
        },
        hint: {
          html: "If the report does not include a day or month for the award review, use the same day or month the report was completed."
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data["award-dates-applicaiton-start-date-day"]
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data["award-dates-applicaiton-start-date-month"]
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data["award-dates-applicaiton-start-date-year"]
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="application-exit-bail" rel="noopener">I need to come back to this application later</a></p> -->


        </div>
      </div>

  </form>

{% endblock %}
