{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="award-dates-playback" method="post" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-9/record-id-base.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">This would be the event history where you can add a note about what you have done and what needs to happen next</h1>


        </div>
      </div>

  </form>

{% endblock %}
