{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<form action="fta-make-contact-router" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-9/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Make contact with the applicant to understand if there is a valid reason for 'failing to attend'</h1>

      <table class="govuk-table govuk-!-margin-bottom-8">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header govuk-60-percent"></th>
            <th scope="col" class="govuk-table__header govuk-40-percent"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Application submitted</td>
            <td class="govuk-table__cell">19 March 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Assessment date was due</td>
            <td class="govuk-table__cell">26 March 2024</td>
          </tr>

        </tbody>
      </table>


        <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Information to make contact</h1>
        <p class="govuk-body govuk-!-margin-bottom-4">You will find the detials you need in seachlight or CMR</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="/v13/case-review/personal-details" target="_blank" rel="noopener">Registration (PIP1) (opens in new tab)</a></p>


        {{ govukRadios({
          idPrefix: "fta-make-contact",
          name: "fta-make-contact",
          fieldset: {
            legend: {
              html: "What do you want to do now?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          classes: "govuk-radios",
          items: [
          {
            value: "Valid",
            text: "Valid reason - Send back to AP (State change to say, resend to AP)",
            checked: (data["fta-make-contact"] == "Valid")
          },
          {
            value: "Invalid",
            text: "Reason was not valid - applicant needs to be withdrawn (This would mean that it would go to Pelican is this an auto letter?)",
            checked: (data["fta-make-contact"] == "Invalid")
          },
          {
            value: "Disallow",
            text: "Reason was not valid - application needs to be disallowed (This would mean that it would go to Pelican is this an auto letter?)",
            checked: (data["ftc-make-contact"] == "Disallow")
          },
          {
            divider: "or"
          },
          {
            value: "Disallow",
            text: "Could not make contact",
            checked: (data["fta-make-contact"] == "Disallow")
          }
          ]
        }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
