{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<form action="ftc-make-contact" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-9/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Assessment could not be completed 'failed to comply'</h1>

      <table class="govuk-table govuk-!-margin-bottom-6">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header govuk-60-percent"></th>
            <th scope="col" class="govuk-table__header govuk-40-percent"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Application submitted</td>
            <td class="govuk-table__cell">19 March 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Arranged assessment date</td>
            <td class="govuk-table__cell">26 March 2024</td>
          </tr>


        </tbody>
      </table>


        <!-- <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Review supplied information</h1> -->
        <!-- <p class="govuk-body govuk-!-margin-bottom-4">@dave Links will open in a new tab</p> -->

        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="/v13/case-review/personal-details" target="_blank" rel="noopener">Registration (PIP1) (opens in new tab)</a></p> -->
        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="https://supporting-docs-prototype.herokuapp.com/vStarling-award/document-list" target="_blank" rel="noopener">Supporting documents (opens in new tab)</a></p> -->



<br>
      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
