{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<form action="eject-reason" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-9/record-id-base.html" %}


        {{ govukRadios({
          idPrefix: "ftx-contact-issues",
          name: "ftx-contact-issues",
          fieldset: {
            legend: {
              html: "This cant be a radio set if only one attempt can be made, we have no way to hold casses active state How many times have you tried to call the applicant?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "You can try three times to call, after the third you will need to send a letter (What about text messages?)"
          },
          classes: "govuk-radios",
          items: [
          {
            value: "1",
            text: "Once (This would push it back to top of queue, but you wouldnt know if the previous person has made a call, unless we add it to the first screen 'call attempts = 123 etc')",
            checked: (data["ftx-contact-issues"] == "1")
          },
          {
            value: "1",
            text: "Twice (This would push it back to top of queue, but you wouldnt know if the previous person has made a call, unless we add it to the first screen 'call attempts = 123 etc')",
            checked: (data["ftx-contact-issues"] == "1")
          },
          {
            divider: "or"
          },
          {
            value: "2",
            text: "Three times - I need to send a 'contact us' letter - auto letter saying call us, then the case would have to put put in the queue again, awaiting inboind contact",
            checked: (data["ftx-contact-issues"] == "2")
          }
          ]
        }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
