{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}



{% if data["system-application-selector"] == "7" %}
<form action="preparation-linear-outcome" method="post" class="form">
{% else %}
<form action="preparation-sub-monolith-1" method="post" class="form">
{% endif %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-9/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Prepare an application for a decision</h1>

      <table class="govuk-table govuk-!-margin-bottom-8">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header govuk-60-percent"></th>
            <th scope="col" class="govuk-table__header govuk-40-percent"></th>
          </tr>
        </thead>

        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__header">Online identity verification</td>
          <td class="govuk-table__cell">Incomplete (Means we have to call them to assure and means BAU, so why are we seeing this task?)<br> Completed (Telephone but wouldnt be here as sent to BAU, so why are we seeing this task?)  <br> Completed (Apply)</td>
        </tr> -->

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Application submitted</td>
            <td class="govuk-table__cell">19 March 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Assessment report completed</td>
            <td class="govuk-table__cell">26 March 2024</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Age</td>
            <td class="govuk-table__cell">65 (20 February 1959)</td>
          </tr>


        </tbody>
      </table>


        <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Review supplied information</h1>
        <!-- <p class="govuk-body govuk-!-margin-bottom-4">@dave Links will open in a new tab</p> -->

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="/v13/case-review/personal-details" target="_blank" rel="noopener">Registration (PIP1) (opens in new tab)</a></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="https://supporting-docs-prototype.herokuapp.com/vStarling-award/document-list" target="_blank" rel="noopener">Supporting documents (opens in new tab)</a></p>



<br>
      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
