
{% extends "layout.html" %}

{% block pageTitle %}
Process a PIP application
{% endblock %}

{% block header %}

{% if data["application-selector"] == "A" %} {% include "explore-header-global-nav-multi-bail.html" %}
{% else %}                                   {% include "explore-header-global-nav-multi.html" %}
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <form action="preparation-linear-outcome" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-9/record-id-base.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check any benefits or if the applicant is working abroad</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->




    </div>
  </div>


  <!------------ ––– ------------>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <ol class="app-task-list">
        <li>
          <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">XXXX.</p> -->

          <ul class="app-task-list__items app-task-list__items-pip">


            <!-- {{ govukRadios({
            classes: "govuk-radios--small govuk-!-margin-bottom-4",
            idPrefix: "assurance-sub-monolith-3-1",
            name: "assurance-sub-monolith-3-1",
            fieldset: {
            legend: {
            html: "Are they working abroad?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m "
          }
        },
        hint: {
        text: "Check registration (PIP1). Call the applicant if necessary. "
      },
      items: [
      {
      value: "Unexpected",
      text: "Yes",
      checked: (data["assurance-sub-monolith-3-1"] == "Unexpected")
    },
    {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-3-1"] == "Expected")
  }
  ]
}) }} -->

<!-- {{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-3-2",
name: "assurance-sub-monolith-3-2",
fieldset: {
legend: {
html: "Do they get any foreign benefits?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
text: "Check the registration (PIP1). Call the applicant if necessary. "
},
items: [
{
value: "Unexpected",
text: "Yes",
checked: (data["assurance-sub-monolith-3-2"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-3-2"] == "Expected")
}
]
}) }} -->

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-3-1",
name: "assurance-sub-monolith-3-1",
fieldset: {
legend: {
html: "Are they working abroad?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
text: "Check the registration (PIP1), health information gather (PIP2) and assessment report. Call the applicant if necessary.  "
},
items: [
{
value: "Unexpected",
text: "Yes",
checked: (data["assurance-sub-monolith-3-1"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-3-1"] == "Expected")
}
]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-3-2",
name: "assurance-sub-monolith-3-2",
fieldset: {
legend: {
html: "Do they get any foreign benefits?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
  text: "Check the registration (PIP1), health information gather (PIP2) and assessment report. Call the applicant if necessary. "
},
items: [
{
value: "Unexpected",
text: "Yes",
checked: (data["assurance-sub-monolith-3-2"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-3-2"] == "Expected")
}
]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-3",
  name: "assurance-sub-monolith-3-3",
  fieldset: {
    legend: {
      html: "Do they get Disability Living Allowance (DLA)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check Searchlight and CPS."
  },
  items: [
  {
    value: "Unexpected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-3-3"] == "Unexpected")
  },

  {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-3-3"] == "Expected")
  }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-4",
  name: "assurance-sub-monolith-3-4",
  fieldset: {
    legend: {
      html: "Do they get Child Disability Payment (CDP) or Adult Disability Payment (ADP)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check Searchlight. "
  },
  items: [
  {
    value: "Unexpected",
    text: "Yes - CDP",
    checked: (data["assurance-sub-monolith-3-4"] == "Unexpected")
  },
  {
    value: "Unexpected",
    text: "Yes - ADP",
    checked: (data["assurance-sub-monolith-3-4"] == "Unexpected")
  },
  {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-3-4"] == "Expected")
  }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-5",
  name: "assurance-sub-monolith-3-5",
  fieldset: {
    legend: {
      html: "Do they get Armed Forces Personal Independence Payment (AFPIP)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check Searchlight and contact Veterans UK if necessary."
  },
  items: [
  {
    value: "Unexpected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-3-5"] == "Unexpected")
  },
  {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-3-5"] == "Expected")
  }
  ]
}) }}


{{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-6",
  name: "assurance-sub-monolith-3-6",
  fieldset: {
    legend: {
      html: "Do they get War Pensioners' Mobility Supplement (WPMS)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check Searchlight and email the war pensions team if necessary."
  },
  items: [
  {
    value: "Unexpected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-3-6"] == "Unexpected")
  },
  {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-3-6"] == "Expected")
  }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-7",
  name: "assurance-sub-monolith-3-7",
  fieldset: {
    legend: {
      html: "Do they get Constant Attendance Allowance (CAA)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check Searchlight."
  },
  items: [
  {
    value: "Unexpected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-3-7"] == "Unexpected")
  },

  {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-3-7"] == "Expected")
  }
  ]
}) }}




<!------------H1 LEGEND------------>
{% set legendHintDetails %}


<p class="govuk-body govuk-!-margin-bottom-2"></p>

<ul class="govuk-list govuk-list">


  <li>Pension Credit</li>
  <li>Income Support</li>
  <li>Jobseeker's Allowance</li>
  <li>Employment and Support Allowance</li>
  <li>Universal Credit</li>
  <li>Attendance Allowance</li>
  <li>Carer's allowance</li>
  <li>Contribution-based Employment and Support Allowance</li>
  <li>Incapacity Benefit</li>
  <li>Industrial Death Benefit</li>
  <li>Mobility Supplement</li>
  <li>State Pension</li>
  <li>Severe Disablement Allowance</li>
  <li>Unemployability Supplement or Allowance</li>
  <li>War Disablement Pension</li>
  <li>Widowed Mother’s Allowance</li>
  <li>Widowed Parent’s Allowance</li>
  <li>Widow’s Pension</li>

</ul>

{% endset %}

{% set legendHint %}

<p class="govuk-body govuk-!-margin-bottom-2">  Check Searchlight to see if they get State Pension, Universal Credit, Attendance Allowance, Jobseeker's Allowance or another benefit listed.
</p>


{{ govukDetails({
  summaryText: "Other benefits to check",
  classes: "govuk-!-margin-bottom-0",
  html: legendHintDetails
}) }}

{% endset %}


<!-- {{govukTag({
  text: "New",
  classes: "govuk-tag--green"
})}} -->


<!-- {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-X-X",
  name: "assurance-sub-monolith-X-X",
  fieldset: {
    legend: {
      html: "Would PIP be the only benefit they will get if their application is successful?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    html: legendHint
  },
  items: [
  {
    value: "Expected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-X-X"] == "Expected")
  },
  {
    value: "Unexpected",
    text: "No",
    checked: (data["assurance-sub-monolith-X-X"] == "Unexpected")
  }
  ]
}) }} -->




{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}


</div>
</div>

</form>

{% endblock %}
