
{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

 {% if data["application-selector"] == "A" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">




      {% if data["preparation-tasklist-item-5-1"] %}
      <form action="preparation-tasklist-separate" method="post" class="form">
      {% else %}
      <form action="preparation-tasklist-item-5-router" method="post" class="form">
      {% endif %}



    <div class="govuk-grid-column-two-thirds">
      {% include "agent-day-0-1-9/record-id-base.html" %}


      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "preparation-tasklist-item-5",
        name: "preparation-tasklist-item-5",
        fieldset: {
          legend: {
            html: "Does their nationality match what we hold in Searchlight?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
        {
          value: "Expected",
          text: "Yes",
          checked: (data["preparation-tasklist-item-5"] == "Expected")
        },
        {
          value: "Unexpected",
          text: "No",
          checked: (data["preparation-tasklist-item-5"] == "Unexpected")
        },
        {
          value: "Pause",
          text: "I need to come back to this later",
          checked: (data["preparation-tasklist-item-5"] == "Pause")
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

{% endblock %}
