{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<form action="qppt-application-outcome" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-9/record-id-base.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Mobility qualifing period and prospective test</h1>


      <!------------H1 HEADER------------>
      {% set dynamicH13m %}
        <h1 class="govuk-heading-m govuk-!-margin-bottom-2">

            Did the applicant meet the 3 month qualifying period for mobility when they submitted their application on
          {% if data["qppt-set-data-submission-date-day"] %}
            {{ data['qppt-set-data-submission-date-day'] + ' ' + (data['qppt-set-data-submission-date-month'] | getMonth) + ' ' + data['qppt-set-data-submission-date-year']}}
          {% else %}
            1 January 2024
          {% endif %}
            ? 
        </h1>

      {% endset %}
    <!------------Legend--------------->

      <!------------H1 HINT------------>
        {% set dynamicHint3m %}
          <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-4 govuk-!-margin-bottom-2"><b>Assessment provider recomendaions:</b></p> -->
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">

                The assessment provider indicated they had mobility restrictions for at least 3 months before their assessment on
              {% if data["qppt-set-data-assessment-date-day"] %}
                {{ data['qppt-set-data-assessment-date-day'] + ' ' + (data['qppt-set-data-assessment-date-month'] | getMonth) + ' ' + data['qppt-set-data-assessment-date-year']}}.</p>
              {% else %}
                1 March 2024.
              {% endif %}

        {% endset %}
      <!------------Legend--------------->


          {{ govukRadios({
            idPrefix: "qppt-m-3m-check",
            name: "qppt-m-3m-check",
            fieldset: {
              legend: {
                html: dynamicH13m,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              html: dynamicHint3m
            },
            classes: "govuk-radios",
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["qppt-m-3m-check"] == "Yes")
            },
            {
              value: "EffectiveDate",
              text: "No – I need to enter the date the qualifying period will be met",
              checked: (data["qppt-m-3m-check"] == "EffectiveDate")
            },
            {
              value: "NoRestrictions",
              text: "No – they will not meet the qualifying period for this application",
              checked: (data["qppt-m-3m-check"] == "NoRestrictions")
            },
            {
              divider: "or"
            },
            {
              value: "SplitRate",
              text: "I need to make a split rate decision",
              checked: (data["qppt-m-3m-check"] == "SplitRate")
            }
            ]
          }) }}



          {% set dynamicH19m %}


                      <h1 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">Is the applicant likely to have mobility restrictions 9 months after

                        {% if data["qppt-set-data-submission-date-day"] %}
                          they submitted their application on {{ data['qppt-set-data-submission-date-day'] + ' ' + (data['qppt-set-data-submission-date-month'] | getMonth) + ' ' + data['qppt-set-data-submission-date-year']}}?

                          {% elif data["qppt-m-alt-date-day"] %}
                          {{ data['qppt-m-alt-date-day'] + ' ' + (data['qppt-m-alt-date-month'] | getMonth) + ' ' + data['qppt-m-alt-date-year']}}?

                        {% else %}
                          1 January 2024?
                        {% endif %}

                          </h1>


                  {% endset %}
                <!------------Legend--------------->

          <!------------H1 LEGEND------------>
            {% set dynamicHint9m %}
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">The assessment provider indicated they are likely to have mobility restrictions 9 months after their assessment on {{ data['qppt-set-data-assessment-date-day'] + ' ' + (data['qppt-set-data-assessment-date-month'] | getMonth) + ' ' + data['qppt-set-data-assessment-date-year']}}.</p>
            {% endset %}
          <!------------Legend--------------->


                    {{ govukRadios({
                      idPrefix: "qppt-m-9m-check",
                      name: "qppt-m-9m-check",
                      fieldset: {
                        legend: {
                          html: dynamicH19m,
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--xl"
                        }
                      },
                      hint: {
                        html: dynamicHint9m
                      },
                      classes: "govuk-radios",
                      items: [
                      {
                        value: "Yes",
                        text: "Yes",
                        checked: (data["qppt-m-9m-check"] == "Yes")
                      },
                      {
                        value: "EndBefore9",
                        text: "No – the restrictions are unlikely to last 9 months",
                        checked: (data["qppt-m-9m-check"] == "EndBefore9")
                      }
                      ]
                    }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
