{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="/agent-day-0-1-9/application-6-about">YES / YES (TaskList)</a></p>

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="/move-to-pipcs-1/eject-process-qppt">Anything other than YES/YES (Move to PIPCS) </a></p>


{% include "agent-day-0-1-9/qppt-status.html" %}





        </div>
      </div>

  </form>

{% endblock %}
