{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


    <form action="/move-to-pipcs-1/eject-reason" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-9/record-id-base.html" %}



        <!-- <form action="eject-reason-router" method="post" class="form"> -->


        {% if data["eject-reason"] %}

      <p class="govuk-fieldset__legend--l"><b>Action taken:</b></p>
      <ul class="govuk-list govuk-list--bullet">
        {% if data["eject-reason"] == "Extend"%}<li>Extend deadline</li>{% else %}{% endif %}
        {% if data["eject-reason"] == "ID"%}<li>You told us about ID</li>{% else %}{% endif %}
        {% if data["eject-reason"] == "Withdraw"%}<li>The applicaiton was withdrawn</li>{% else %}{% endif %}
        {% if data["eject-reason"] == "Disallow"%}<li>The applicaiton was disallowed</li>{% else %}{% endif %}
        {% if data["eject-reason"] == "Other"%}<li>You told us about some other stuff</li>{% else %}{% endif %}

        {% if data["eject-reason"] == "PIPcs"%}
        <ul class="govuk-list govuk-list--no-bullet">
        <li>This application was moved to PIPCS</li>
        <li>Justification: The applicant showed signs of vulnerability</li>
        <li><a class="govuk-link" href="/move-to-pipcs-1/eject-data">View the information that was moved to PIPCS</a></li>
        <li>Date moved: 25 7 2024</li>
        {% else %}{% endif %}

      </ul>
      <br><br>
      {% else %}

        {% endif %}



          {{ govukRadios({
            idPrefix: "record-timeline",
            name: "record-timeline",
            fieldset: {
              legend: {
                html: "I am the timeline. What do you want to do?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: ""
            },
            classes: "govuk-radios",
            items: [
            {
              value: "Entry",
              text: "Add entry to timeline",
              checked: (data["record-timeline"] == "Entry")
            }
            ]
          }) }}



      {{ govukButton({
        text: "Contine",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
