<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">

                  <table class="govuk-table">
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Daily living activities</h1>


      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-66-percent">&nbsp</td>
          <td class="govuk-table__cell govuk-16-percent">Score</td>
          <td class="govuk-table__cell govuk-16-percent">Status</td>

        </tr>
        </thead>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer"><a href="application-6-about-a1-score">Preparing food</a></td>
          <td class="govuk-table__cell table-spacer">

          {% if data["application-about-a1-score-overwrite"] %}
          {% include "agent-day-0-1-9/application-about-a1-score-overwrite.html" %}
          {% else %}
          0
          {% endif %}

          </td>

          <td class="govuk-table__cell table-spacer">
            {% if data["application-about-a1-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
            {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
            {% endif %}
          </td>



          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer"><a href="application-6-about-a2-score">Taking nutrition</a></td>
            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a2-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a2-score-overwrite.html" %}
              {% else %}
              0
              {% endif %}
            </td>

            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a2-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
              {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
              {% endif %}
            </td>

            </tr>

          <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer"><a href="application-6-about-a3-score">Managing therapy or monitoring<br>a health condition</a></td>
          <td class="govuk-table__cell table-spacer">
            {% if data["application-about-a3-score-overwrite"] %}
            {% include "agent-day-0-1-9/application-about-a3-score-overwrite.html" %}
            {% else %}
            0
            {% endif %}
          </td>

          <td class="govuk-table__cell table-spacer">
            {% if data["application-about-a3-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
            {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
            {% endif %}
          </td>

          </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer"><a href="application-6-about-a4-score">Washing and bathing</a></td>
                <td class="govuk-table__cell table-spacer">
                  {% if data["application-about-a4-score-overwrite"] %}
                  {% include "agent-day-0-1-9/application-about-a4-score-overwrite.html" %}
                  {% else %}
                  0
                  {% endif %}
                </td>

                <td class="govuk-table__cell table-spacer">
                  {% if data["application-about-a4-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                  {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                  {% endif %}
                </td>


                </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer"><a href="application-6-about-a5-score">Managing toilet needs or incontinence</a></td>
            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a5-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a5-score-overwrite.html" %}
              {% else %}
              0
              {% endif %}
            </td>

            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a5-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
              {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
              {% endif %}
            </td>

            </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer"><a href="application-6-about-a6-score">Dressing and undressing</a></td>
                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a6-score-overwrite"] %}
                      {% include "agent-day-0-1-9/application-about-a6-score-overwrite.html" %}
                      {% else %}
                      0
                      {% endif %}
                    </td>

                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a6-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                      {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                      {% endif %}
                    </td>

                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="application-6-about-a7-score">Communicating verbally</a></td>
                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a7-score-overwrite"] %}
                        {% include "agent-day-0-1-9/application-about-a7-score-overwrite.html" %}
                        {% else %}
                        0
                        {% endif %}
                      </td>

                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a7-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                        {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                        {% endif %}
                      </td>

                      </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-spacer"><a href="application-6-about-a8-score">Reading and understanding signs,<br>symbols and words</a></td>
                  <td class="govuk-table__cell table-spacer">
                    {% if data["application-about-a8-score-overwrite"] %}
                    {% include "agent-day-0-1-9/application-about-a8-score-overwrite.html" %}
                    {% else %}
                    0
                    {% endif %}
                  </td>

                  <td class="govuk-table__cell table-spacer">
                    {% if data["application-about-a8-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                    {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                    {% endif %}
                  </td>

                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer"><a href="application-6-about-a9-score">Engaging with other people face to face</a></td>
                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a9-score-overwrite"] %}
                      {% include "agent-day-0-1-9/application-about-a9-score-overwrite.html" %}
                      {% else %}
                      0
                      {% endif %}
                    </td>

                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a9-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                      {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                      {% endif %}
                    </td>

                    </tr>


                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="application-6-about-a10-score">Making budgeting decisions</a></td>
                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a10-score-overwrite"] %}
                        {% include "agent-day-0-1-9/application-about-a10-score-overwrite.html" %}
                        {% else %}
                        0
                        {% endif %}
                      </td>

                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a10-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                        {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                        {% endif %}
                      </td>

                      </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                    <td class="govuk-table__cell table-spacer"><strong>0</strong>
                    </td>

                    <td class="govuk-table__cell table-spacer">
                      &nbsp
                    </td>

                    </tr>



                  </table>

                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">

                    <table class="govuk-table">

                      <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Mobility activities</h1>

                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-66-percent">&nbsp</td>
                          <td class="govuk-table__cell govuk-16-percent">Score</td>
                          <td class="govuk-table__cell govuk-16-percent">Status</td>

                        </tr>
                        </thead>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="application-6-about-a11-score">Planning and following journeys</a></td>
                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a11-score-overwrite"] %}
                        {% include "agent-day-0-1-9/application-about-a11-score-overwrite.html" %}
                        {% else %}
                        0
                        {% endif %}
                      </td>

                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a11-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                        {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                        {% endif %}
                      </td>
                      </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer"><a href="application-6-about-a12-score">Moving around</a></td>
            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a12-score-overwrite"] %}
              {% include "agent-day-0-1-9/application-about-a12-score-overwrite.html" %}
              {% else %}
              0
              {% endif %}
            </td>

            <td class="govuk-table__cell table-spacer">
              {% if data["application-about-a12-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
              {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
              {% endif %}
            </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
              <td class="govuk-table__cell table-spacer"><strong>0</strong></td>
            <td class="govuk-table__cell table-spacer">
              &nbsp
            </td>
              </tr>

        </table>

      </div>
      </div>
