{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}
<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-day-0-1-5a/record-id-sss.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Check the information you are <br> adding to the decision letter</br></h1>

      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Outcome</h3>



      <!------------OUTCOME LEGEND------------>

    {% if
      data["system-scenario-selector"] == "sss1" %}

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your application for Personal Independence Payment (PIP) was unsuccessful.</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

  </ul>

    {% elif data["system-scenario-selector"] == "sss2" %}

    <p class="govuk-body govuk-!-margin-bottom-2">
            You will get the standard rate of £72.65 a week for daily living from
            {{ data['award-dates-applicaiton-start-date-day'] + ' ' + (data['award-dates-applicaiton-start-date-month'] | getMonth) + ' ' + data['award-dates-applicaiton-start-date-year']}}
            to
            {% include "agent-day-0-1-5a/award-data-end-date.html" %}
          </p>
          <p>You will not get the mobility part of PIP
          </p>


    {% elif data["system-scenario-selector"] == "sss3" %}

    <p class="govuk-body govuk-!-margin-bottom-2">
            You will get enhanced rate of £108.55 a week for daily living from
            {{ data['award-dates-applicaiton-start-date-day'] + ' ' + (data['award-dates-applicaiton-start-date-month'] | getMonth) + ' ' + data['award-dates-applicaiton-start-date-year']}}
            to
            {% include "agent-day-0-1-5a/award-data-end-date.html" %}
          </p>
          <p>You will get enhanced rate of £75.75 a week for mobility from
            {{ data['award-dates-applicaiton-start-date-day'] + ' ' + (data['award-dates-applicaiton-start-date-month'] | getMonth) + ' ' + data['award-dates-applicaiton-start-date-year']}}
            to
            {% include "agent-day-0-1-5a/award-data-end-date.html" %}
          </p>

    {% elif data["system-scenario-selector"] == "sss4" %}

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You will get the:</p> -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your application for Personal Independence Payment (PIP) was unsuccessful.</p>


    {% else %}

    None selected

    {% endif %}




              <!------------ Qualifying period and prospective test ------------>

              <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Qualifying period and prospective test</h3>


              {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Daily living qualifying period met"
                    },
                    value: {
                      text: "Yes"
                    },
                    actions: {
                      items: [
                        {
                          href: "qppt-dl-3m-check",
                          text: "Change",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Likely to still have daily living restrictions"
                    },
                    value: {
                      text: "Yes"
                    },
                    actions: {
                      items: [
                        {
                          href: "qppt-dl-9m-check",
                          text: "Change",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Mobility qualifying period met"
                    },
                    value: {
                      text: "Yes"
                    },
                    actions: {
                      items: [
                        {
                          href: "qppt-m-3m-check",
                          text: "Change",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Likely to still have moblity restrictions"
                    },
                    value: {
                      text: "Yes"
                    },
                    actions: {
                      items: [
                        {
                          href: "qppt-m-9m-check",
                          text: "Change",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  }
                ]
              }) }}


              <!-- Review dates -->


            {% if
              data["system-scenario-selector"] == "sss2" or data["system-scenario-selector"] == "sss3" %}

              {% set dynamicAwardStartDate %}
              {{ data['award-dates-applicaiton-start-date-day'] + ' ' + (data['award-dates-applicaiton-start-date-month'] | getMonth) + ' ' + data['award-dates-applicaiton-start-date-year']}}
              {% endset %}

              {% set dynamicAwardReviewDate %}
                {{ data['award-dates-ap-report-date-day'] + ' ' + (data['award-dates-ap-report-date-month'] | getMonth) + ' ' + data['award-dates-ap-report-date-year']}}
              {% endset %}

              {% set dynamicAwardPeriod %}
                {{ data['award-dates-ap-period']}}
              {% endset %}

              {% set dynamicEndDate %}
                {% include "agent-day-0-1-5a/award-data-end-date.html" %}
              {% endset %}


              <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Review dates</h3>


              {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Award start date"
                    },
                    value: {
                      text: dynamicAwardStartDate
                    },
                    actions: {
                      items: [
                        {
                          href: "award-dates-playback",
                          text: "Change",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Award review date"
                    },
                    value: {
                      html: dynamicAwardReviewDate
                    },
                    actions: {
                      items: [
                        {
                          href: "award-dates-playback",
                          text: "Change",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "End date"
                    },
                    value: {
                      html: dynamicEndDate
                    },
                    actions: {
                      items: [
                        {
                          href: "award-dates-playback",
                          text: "Change",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  }
                ]
              }) }}

              {% else %}


              {% endif %}

              <!-- Supporting documents -->


                <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Supporting documents</h3>


          {% set DynamicSelectedDocumentsList %}
            {% include "agent-day-0-1-5a/documents-used.html" %}
          {% endset %}

              {{ govukSummaryList({
                rows: [
                {
                  key: {
                    html: "Selected documents"
                  },
                  value: {
                    html: DynamicSelectedDocumentsList
                  },
                  actions: {
                    items: [
                    {
                      href: "application-evidence-used-b",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                    ]
                  }
                }
                ]
              }) }}






      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Daily living scoring</h3>

      <!-- 1 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preparing food
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a1-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a1-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a1-descriptor-overwrite.html" %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a1-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a1-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a1-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 2 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Taking nutrition
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a2-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a2-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 10
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a2-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a2-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a2-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a2-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 3 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing therapy or monitoring a health condition
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a3-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a3-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a3-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a3-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a3-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a3-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 4 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Washing and bathing
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a4-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a4-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a4-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a4-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a4-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a4-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 5 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing toilet needs or incontinence
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a5-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a5-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a5-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a5-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a5-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a5-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 6 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dressing and undressing
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a6-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a6-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a6-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a6-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a6-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a6-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


      <!-- 7 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Communicating verbally
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a7-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a7-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a7-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a7-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a7-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a7-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 8 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reading and understanding signs, symbols and words
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a8-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a8-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a8-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a8-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a8-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a8-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 9 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Engaging with other people face to face
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a9-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a9-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a9-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a9-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a9-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a9-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 10 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Making budgeting decisions
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a10-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a10-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 6
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a10-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a10-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a10-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a10-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Mobility scoring</h3>

      <!-- 11 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning and following journeys
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a11-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a11-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a11-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a11-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a11-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a11-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 12 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             Moving around
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["application-about-a12-score-overwrite"] %}
              {% include "agent-day-0-1-5a/application-about-a12-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "agent-day-0-1-5a/application-about-a12-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a12-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["application-about-a12-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a12-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


    </div>
  </div>




            <!-- <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-4">What happens next</h3>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">The letter will be sent to the applicant.</p>

            <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-4">What you need to do now</h3>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Use the information on this page to create a decision letter using the correct template.</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You then need to send the letter to the applicant.</p> -->




<!-- WHAT HAPPENS NEXT -->


{% if
  data["system-scenario-selector"] == "sss1" %}
  <!-- NIL -->

  <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-4">What you need to do now</h3>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Select the appropriate letter template and copy the information on this page to the relevant sections.</p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will then need to send the letter to the applicant. Their address is in their registration (PIP1).</p>


{% elif data["system-scenario-selector"] == "sss2" %}
<!-- PAY -->

<h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-4">What you need to do now</h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Select the appropriate letter template and copy the information on this page to the relevant sections.</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will then need to add the payment details once they are available in the applicant's record. The letter will be ready to send once you've added the payment details. The applicant’s address is in their registration (PIP1).</p>

{% elif data["system-scenario-selector"] == "sss3" %}
<!-- PAY -->

<h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-4">What you need to do now</h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Select the appropriate letter template and copy the information on this page to the relevant sections.</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will then need to add the payment details once they are available in the applicant's record. The letter will be ready to send once you've added the payment details. The applicant’s address is in their registration (PIP1).</p>

{% elif data["system-scenario-selector"] == "sss4" %}
<!-- NIL -->

<h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-4">What you need to do now</h3>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Select the appropriate letter template and copy the information on this page to the relevant sections.</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will then need to send the letter to the applicant. Their address is in their registration (PIP1).</p>


{% else %}

None selected

{% endif %}







            {{ govukButton({
              text: "Continue",
              classes: "govuk-!-margin-bottom-8"
            }) }}

      </div>
    </div>

  </form>

{% endblock %}
