  <h1 class="govuk-heading-m govuk-!-margin-bottom-4">Tell us about a change</h1>

  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You must contact us if there is a change to your circumstances<br>while you are getting PIP. This includes changes to your:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>daily living or mobility needs</li>
    <li>ability to live independently</li>
    <li>address</li>
    <li>contact details</li>
  </ul>



{% if data["case-changes-01"] == "Yes" %}

<ul class="govuk-list govuk-list--no-bullet">
  <li><a class="" href="case-changes-01" target="">Tell us about another change</a></li>
  <li><a class="" href="case-changes-submitted" target="">Changes you have told us about</a></li>
</ul>

{% else %}

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a class="" href="case-changes-01" target="">Tell us about a change</a></p>

{% endif %}
