{% extends "layouts/main-citizen-base.html" %}

{% block pageTitle %}
  Citizen (PIP)
{% endblock %}

{% block content %}

<form action="home-citizen-nil-mr#ch-mr-submission-banner" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "citizen-record-0-0-2/id-base-record.html" %}

    </div>
  </div>

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "My Home",
        href: "home-citizen-nil-mr-reg"
      },
      {
        text: "Help with decision",
        href: "case-help-with-decision"
      },
      {
      text: "Mandatory reconsideration"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Request a mandatory reconsideration</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You can ask for a mandatory reconsideration if any of the following apply:</p>
      <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-6">

        <li>you think we have made an error or missed important evidence</li>
        <li>you disagree with the reasons for the decision</li>
        <li>you want to have the decision looked at again</li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">You should do this within one month of the date on your decision letter.</p>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">What will happen next</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You can tell us the details of which parts of the decision you disagree with.</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">There'll be an opportunity to send additional evidence. </p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Someone will look at all the information again and make another decision. Your points could go up, down or remain the same. </p>

     {{ govukButton({
       text: "Continue",
       classes: "govuk-!-margin-bottom-8"
     }) }}

    </div>
  </div>


  </form>

{% endblock %}
