{% extends "layouts/main-citizen-base.html" %}

{% block pageTitle %}
  Citizen (PIP)
{% endblock %}

{% block content %}

<form action="home-citizen-nil-mr#ch-mr-submission-banner" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "citizen-record-0-0-2/id-base-record.html" %}

    </div>
  </div>

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "My Home",
        href: "home-citizen-nil-mr-reg"
      },
      {
        text: "Help with decision",
        href: "case-help-with-decision"
      },
      {
      text: "Mandatory reconsideration"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Register a mandatory reconsideration</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Make sure the person who has asked for their decision to be reconsidered understands that:</p>
      <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-6">

        <li>PIP is assessed on how their condition affects them, not the condition itself
        <li>they have been given points for each activity based on the information that they submitted</li>
        <li>the rate of PIP awarded depends on the total points for all of the activities</li>
      </ul>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Explain what will happen next</p>
      <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
        <li>We'll record the details of which parts of the decision they disagree with.</li>
        <li>There'll be an opportunity to send additional evidence to support the application.</li>
        <li>Someone will look at all the information again and make another decision.</li>
        <li>Their points could go up, down or remain the same.</li>
      </ul>


     {{ govukButton({
       text: "Continue",
       classes: "govuk-!-margin-bottom-8"
     }) }}

    </div>
  </div>


  </form>

{% endblock %}
