{% extends "layouts/main-citizen-base.html" %}

{% block pageTitle %}
  Citizen (PIP)
{% endblock %}

{% block content %}

<form action="case-changes-docs-upload" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "citizen-record-0-0-2/id-base-record.html" %}

    </div>
  </div>

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "My Home",
        href: "home-citizen-nil-mr-reg"
      },
      {
        text: "Help with decision"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Help with understanding your decision</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Your PIP decision is made based on your ability to do everyday tasks and get around.</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You are given points for 12 activities:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>10 for the daily living part of PIP</li>
        <li>2 for the mobility part of PIP</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">The outcome of your decision</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Your decision was sent to you by post. It contains details of how many points you were given for each activity and why.</p>

      <ul class="govuk-list govuk-list--no-bullet">
        <li><a class="" href="../person-record-0-0-4/record-applicaion-evidence-decision" target="">View the decision details</a></li>
        <li><a class="" href="nil-award-letter.pdf" target="">View the decision letter that was sent by post</a></li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">How we made your decision</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">We looked at all the information available to us to understand whether you can carry out the 12 activities, and how much help you need to do them.</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This includes:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>information provided in your application</li>
        <li>supporting evidence</li>
        <li>information gathered at your health assessment, if you had one</li>
      </ul>

      <ul class="govuk-list govuk-list--no-bullet">
        <li><a class="" href="case-l3-1h-overview-ori-app" target="">[Application] [decision] summary</a></li>
        <li><a class="" href="case-docs-submitted" target="">See what supporting evidence you have sent us</a></li>

      </ul>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">If you disagree with a decision</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You, or someone who has the authority to act for you, can ask us to explain our decision.</p>

      <ul class="govuk-list govuk-list--no-bullet govuk-!-margin-bottom-6">
        <li><a class="" href="#" target="">Request a call back</a></li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">You can also ask us to reconsider a decision. Do this within one month of the date on your decision letter.  </p>


      <ul class="govuk-list govuk-list--no-bullet">
        <li><a class="" href="case-mr-reg-overview" target="">Request a mandatory reconsideration</a></li>
      </ul>

<br><br><br><br>

      <!--{{ govukRadios({
       idPrefix: "case-help-with-decision",
       name: "case-help-with-decision",
       fieldset: {
         legend: {
           html: "Do you need more help with understanding your decision?",
           isPageHeading: true,
           classes: "govuk-fieldset__legend--m"
         }
       },
       hint: {
         html: legendNumbers
       },
       classes: "govuk-radios",
       items: [
       {
         value: "Yes",
         html: "Yes",
         checked: (data["case-help-with-decision"] == "Yes")
       },
       {
        value: "1",
        html: "No",
        checked: (data["case-help-with-decision"] == "1")
        }
       ]
     }) }}

     {{ govukButton({
       text: "Continue",
       classes: "govuk-!-margin-bottom-8"
     }) }}-->

    </div>
  </div>


  </form>

{% endblock %}
