{% extends "layouts/main-citizen-base.html" %}

{% block pageTitle %}
  Citizen (PIP)
{% endblock %}

{% block content %}



<form action="XXX" method="post" class="form">
  {% include "citizen-record-0-0-2/ch-notifications.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "citizen-record-0-0-2/id-base-record.html" %}

    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">My PIP home</h1>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Before we can review your application<br>you need to confirm your identity</h1>

      <ul class="govuk-list govuk-list--no-bullet">
        <p><a class="" href="case-l3-1k-overview-ori-app" target="">View progress and review what you told us</a></p>
      </ul>

      <ul class="govuk-list govuk-list--no-bullet">
        <li><a class="" href="#" target="">Confirm your identity</a></li>
        <li><a class="" href="case-changes-docs-upload" target="">Send us more supporting evidence</a></li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      {% include "citizen-record-0-0-2/block-evidence.html" %}


    </div>
  </div>

  </form>

{% endblock %}
