{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application mandatory reconsideration
{% endblock %}


{% block content %}

{% include "another-decision-0-0-6/record-id.html" %}



<form action="an-de-mr-tl-1-justification" method="post" class="form">

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Reconsider a decision",
        href: "../an-de-tasklist"
      },
      {
        text: "Preparing food",
        href: "an-de-mr-tl-1-score-check"
      }
    ]
  }) }}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



            <!------------H1 LEGEND------------>
              {% set dynamicH1 %}
              <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">Which descriptor do you want to select for preparing food instead of Descriptor A (0 points)?
                  </h2>
                  {% endset %}
            <!------------Legend--------------->



            {{ govukRadios({
              idPrefix: "an-de-mr-tl-1-score-change",
              name: "an-de-mr-tl-1-score-change",
              fieldset: {
                legend: {
                  html: dynamicH1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: ""
              },
              classes: "govuk-radios",
              items: [

              {
                value: "b2",
                html: "<strong>Descriptor B (2 points):</strong> Needs to use an aid or appliance to be able to either prepare or cook a simple meal",
                checked: (data["an-de-mr-tl-1-score-change"] == "2")
              },
              {
                value: "c3",
                html: "<strong>Descriptor C (2 points):</strong> Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave",
                checked: (data["an-de-mr-tl-1-score-change"] == "2")
              },
              {
                value: "d4",
                html: "<strong>Descriptor D (2 points):</strong> Needs prompting to be able to either prepare or cook a simple meal",
                checked: (data["an-de-mr-tl-1-score-change"] == "2")
              },
              {
                value: "e5",
                html: "<strong>Descriptor E (4 points):</strong>Needs supervision or assistance to either prepare or cook a simple meal",
                checked: (data["an-de-mr-tl-1-score-change"] == "4")
              },
              {
                value: "f6",
                html: "<strong>Descriptor F (8 points):</strong> Cannot prepare and cook food",
                checked: (data["an-de-mr-tl-1-score-change"] == "8")
              }
              ]
            }) }}


            <!--
              value: "a1",
              html: "<strong>Descriptor A (0 points):</strong> Can prepare and cook a simple meal unaided",
              checked: (data["an-de-mr-tl-1-score-change"] == "0")
             -->


<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue"
  }) }}

  <a class="govuk-link" href="an-de-mr-tl-1-score-check">Cancel change</a>
</div>
        </div>
      </div>

  </form>

{% endblock %}
