{% extends "layouts/layout.html" %}
​
{% block pageTitle %}
  Mainstream guide example
{% endblock %}
​
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
​
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
​
{% block content %}

<form action="actions-what-was-wrong" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "agent-0-8/record-id.html" %} -->


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Whats wrong?</h1>


      <!-- <p class="govuk-body">What is it that is wrong?</p> -->



      {{ govukRadios({
        idPrefix: "outcome-overview-3",
        name: "outcome-overview-3",
        fieldset: {
          legend: {
            text: "What is it that is wrong?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [

        {
          value: "1",
          text: "You have missed something",
          checked: (data["outcome-overview-3"] == "1")
            },

        {
          value: "2",
          text: "I have more information to provide",
          checked: (data["outcome-overview-3"] == "2")
        },
        {
          value: "3",
          text: "I think you are wrong",
          checked: (data["outcome-overview-3"] == "3")
        },
        {
          divider: "or"
        },
        {
          value: "4",
          text: "I dont understand",
          checked: (data["next-steps"] == "4")
        }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
