{% extends "layouts/layout.html" %}
​
{% block pageTitle %}
  Mainstream guide example
{% endblock %}
​
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
​
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
​
{% block content %}

<form action="outcome-overview-landing" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "agent-0-8/record-id.html" %} -->


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Information we used to help us make a decision</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">We look at all the information available to us.</p>
      <br>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">This tells us the type of help, and how much help you need.</p>

      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><strong>Decision letters</strong></p>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">XXX</p> -->
      <!-- <p class="govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="application-data-1" target="">Data submitted in the application</a></p> -->

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->


      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><strong>Information and documents you provided</strong></p>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">XXX</p> -->
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-1"><a class="" href="application-data-1" target="">Your PIP application</a></p>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-1"><a class="" href="application-data-1" target="">GP letter</a></p>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-1"><a class="" href="application-data-1" target="">Specialist report</a></p>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="application-data-1" target="">GP letter 2</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><strong>Information provided by health care professionals</strong></p>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">XXXX</p> -->
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="application-data-1" target="">Assessment provider report</a></p>



      {{ govukButton({
        text: "Back",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
