{% extends "layouts/layout.html" %}
​
{% block pageTitle %}
  Mainstream guide example
{% endblock %}
​
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
​
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
​
{% block content %}

<form action="understand-choice" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "agent-0-8/record-id.html" %} -->


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You've said you dont agree with something</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Data item: Details</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Data item: Details</p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Arranging a call back</h2>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Something in here XXXX</p>
      <p class="govuk-body govuk-!-margin-bottom-6"><a href="dont-agree-call-back">Request a call back</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Contacting us by phone</h2>
              <p class="govuk-body govuk-!-margin-bottom-1">Telephone: 0800 99 XXXX</p>
              <p class="govuk-body govuk-!-margin-bottom-2">Textphone: 0800 169 XXX</p>
              <p class="govuk-body govuk-!-margin-bottom-2"><a href=" http://ngts.org.uk/"> <abbr title="Next Generation Text">NGT</abbr> text relay</a> (if you cannot hear or speak on the phone):<br>18001 then 0800 99 1234 </p>
              <p class="govuk-body govuk-!-margin-bottom-2"><a href="https://main.signvideo.me/app/8/11030">Video relay service</a> for British Sign Language (BSL)<br>users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use this service</a></p>
              <p class="govuk-body govuk-!-margin-bottom-6">Monday to Friday, 9.30am to 3:30pm<br><a href="/call-charges">Find out about call charges</a></p>

<br>

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}


        </div>
      </div>

  </form>

{% endblock %}
