{% extends "layouts/layout.html" %}
​
{% block pageTitle %}
  Mainstream guide example
{% endblock %}
​
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
​
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
​
{% block content %}

<form action="exit-check-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "agent-0-8/record-id.html" %} -->



            {{ govukRadios({
              idPrefix: "exit-check",
              name: "exit-check",
              fieldset: {
                legend: {
                  text: "Do you want to log out?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: "You will be returned to GOV.UK"
              },
              classes: "govuk-radios",
              items: [

              {
                value: "Yes",
                text: "Yes",
                checked: (data["exit-check"] == "Yes")
                  },

              {
                value: "No",
                text: "No",
                checked: (data["exit-check"] == "No")
              },

              {
                divider: "or"
              },
              {
                value: "Status",
                text: "View query status",
                checked: (data["exit-check"] == "Status")
              }
              ]
            }) }}

            {{ govukButton({
              text: "Continue",
              classes: "govuk-!-margin-bottom-8"
            }) }}

        </div>
      </div>

  </form>

{% endblock %}
