<aside class="app-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Subsection
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="#">
          Related link
        </a>
      </li>
      <li>
        <a href="#">
          Related link
        </a>
      </li>
      <li>
        <a href="#" class="govuk-!-font-weight-bold">
          More <span class="govuk-visually-hidden">in Subsection</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>


<!-- Disability Living Allowance (DLA) for adults
Disability Living Allowance (DLA) for children
Attendance Allowance
Financial help if you're disabled
Find a community support group or organisation -->
