{% extends "layouts/layout.html" %}
​
{% block pageTitle %}
  Mainstream guide example
{% endblock %}
​
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
​
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
​
{% block content %}
​​

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-top-0 govuk-!-padding-top-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Headline</h1>

        {% include "pa-0-1/apply/gov-uk-menu.html" %}
      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h1 class="govuk-heading-l">Headline</h1>
        <p class="govuk-body">This is a paragraph inside a two-thirds wide column</p>

        <p>Content goes here.</p>

        <div class="govuk-inset-text">This guide is for people that live in England, Scotland or Wales. It is also available <a href="https://www.gov.uk/credyd-pensiwn">in Welsh (Cymraeg)</a> There is a separate guide for <a rel="external" href="https://www.nidirect.gov.uk/articles/understanding-pension-credit">people who live in Northern Ireland</a>.</div>

        <p>Content goes here.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        {% include "pa-0-1/apply/gov-uk-side-menu.html" %}
      </div>
    </div>


    <p>Content goes here.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible">

        {% include "pa-0-1/apply/gov-uk-lower-menu.html" %}


      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </main>
</div>


<!-- LOWER NAV -->

​
​
{% endblock %}
