<aside class="app-mainstream-guide-contents-list" role="complementary">
  <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
    <h2 class="app-contents-list__title">
      Contents
    </h2>
    <ol class="app-contents-list__list">
      <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
        <a href="gov-uk-1-content.html">
          What PIP is for
        </a>
      </li>
      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
        <a href="gov-uk-2-content.html">
          Eligibility
        </a>
        </li>

      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
        <a href="gov-uk-3-content.html">
          How much you’ll get
        </a>
        </li>

      <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
        <a href="gov-uk-4-content.html">
          How to claim
        </a>
        </li>

        <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="gov-uk-5-content.html">
            If your PIP claim is reviewed
          </a>
          </li>

        <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
          <a href="gov-uk-6-content.html">
            Change of circumstances
          </a>
          </li>

          <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
            <a href="gov-uk-7-content.html">
              Claiming PIP if you might have 6 months or less to live
            </a>
            </li>

          <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
            <a href="landing-0-1.html">
              View your PIP decision
            </a>
            </li>


    </ol>
  </nav>
</aside>
