{% extends "layouts/layout.html" %}
​
{% block pageTitle %}
  Mainstream guide example
{% endblock %}
​
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
​
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
​
{% block content %}

<form action="outcome-overview-landing" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "agent-0-8/record-id.html" %} -->


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">A 6 digit code has been texted to mobile number ending 789</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">The code expires after 5 minutes.</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Do not close this screen before you enter the code unless<br>you need to request another.</p>

<!--
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-3">Date of assessment: XXXX</p> -->

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Something else in here</p> -->

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">If you get stuck, etc call XXX </p> -->


      {{ govukInput({
        label: {
          text: "Enter your 6 digit code"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-town",
        name: "addressTown",
        autocomplete: "",
        classes: "govuk-input--width-5"
      }) }}

      <p class="govuk-body govuk-!-margin-bottom-6"><a href="#">I need a new code</a></p>



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
