{% extends "layouts/layout.html" %}
​
{% block pageTitle %}
  Mainstream guide example
{% endblock %}
​
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
​
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
​
{% block content %}

<form action="next-steps" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <!-- {% include "agent-0-8/record-id.html" %} -->


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">We will get back to you as soon as we can</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">We will use the contact telephone number from your application.</p>

      <!-- <h2 class="govuk-heading-m">You can view the staus of your query here or when you login again</h2> -->
      <p class="govuk-body govuk-!-margin-bottom-6">You can view the <a href="outcome-query-status"> staus of your query now</a> or you when you log in again.</p>

<br>

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}


        </div>
      </div>

  </form>

{% endblock %}
