{% extends "layouts/layout.html" %}
​
{% block pageTitle %}
  Mainstream guide example
{% endblock %}
​
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
​
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
​
{% block content %}

<form action="understand-choice-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">


      {{ govukRadios({
        idPrefix: "understand-choice",
        name: "understand-choice",
        fieldset: {
          legend: {
            text: "What would you like to do next?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [

        {
          value: "1",
          text: "I wannt to know what information was used",
          checked: (data["understand-choice"] == "1")
        },
        {
          divider: "or"
        },
        {
          value: "2",
          text: "Wait for a responce and return to the start",
          checked: (data["understand-choice"] == "2")
        },
        {
          value: "3",
          text: "Wait for a responce and exit",
          checked: (data["understand-choice"] == "3")
        }

        ]
      }) }}

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}


        </div>
      </div>

  </form>

{% endblock %}
