{% extends "layouts/layout.html" %}
​
{% block pageTitle %}
  Mainstream guide example
{% endblock %}
​
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
​
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
​
{% block content %}

<form action="understand-next-steps" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- {% include "agent-0-8/record-id.html" %} -->


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Tell us a little bit about what you dont understand</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Tell us a little bit about what you dont understand</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Tell us when we can call you</p>

      {{ govukTextarea({
        name: "understand-call-back",
        id: "understand-call-back",
        classes: " govukTextarea--overwrite",
        label: {
          text: "",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          html: legendCanned
        },
        value: data["understand-call-back"]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}



        </div>
      </div>

  </form>

{% endblock %}
