


{% if data["qppt-dl-3m-change-check"] == "No"
or
data["qppt-dl-9m-change-check"] == "No"
or
data["qppt-m-3m-change-check"] == "No"
or
data["qppt-m-9m-change-check"] == "No"
%}

<form action="r-applications-post-mr-nil" method="post" class="form">

<h1 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">Move to PIPCS</h1>

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">To complete this action, select 'Identified need to move to PIPCS' in event history.</p>

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}


{% else %}

                {% if data["entry-home-processing-options"] == "MakeMRNil" %}
                n

                              {% if data["an-de-mr-tl-12-score-check"] == "Agree" %}
                              <form action="cya-letter-review" method="post" class="form">

                              <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-4">The outcome of the decision has remained the same</h1>

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The outcome is:</p>
                              <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
                                <li>Daily living: [XXX]</li>
                                <li>Mobility: [XXX]</li>
                              </ul>

                              {{ govukButton({
                                text: "Continue (N)",
                                classes: "govuk-!-margin-bottom-8"
                              }) }}

                              {% elif data["an-de-mr-tl-12-score-check"] == "Amended" %}

                              <form action="award-dates-review-manual" method="post" class="form">

                              <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-4">The outcome of the decision has changed</h1>

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The outcome is:</p>
                              <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
                                <li>Daily living: nil</li>
                                <li>Mobility: nil</li>
                              </ul>

                              {{ govukButton({
                                text: "Continue (N)",
                                classes: "govuk-!-margin-bottom-8"
                              }) }}

                              {% else %}
                              {% endif %}


                {% elif data["entry-home-processing-options"] == "MakeMRNilPay" %}
                np


                              {% if data["an-de-mr-tl-12-score-check"] == "Agree" %}
                              <form action="award-dates-review-manual" method="post" class="form">

                                <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-4">The outcome of the decision remains the same</h1>

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The outcome is:</p>
                              <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
                                <li>Daily living: nil</li>
                                <li>Mobility: nil</li>
                              </ul>

                              {{ govukButton({
                                text: "Continue (N)",
                                classes: "govuk-!-margin-bottom-8"
                              }) }}

                              {% elif data["an-de-mr-tl-12-score-check"] == "Amended" %}
                              <!-- <form action="award-dates-review-check" method="post" class="form"> -->
                                <form action="award-dates-review-manual" method="post" class="form">

                              <h1 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">The outcome of the decision has changed</h1>

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The outcome is:</p>
                              <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
                                <li>Daily living: standard/enhanced/nil</li>
                                <li>Mobility: standard/enhanced/nil</li>
                              </ul>

                              {{ govukButton({
                                text: "Continue (P)",
                                classes: "govuk-!-margin-bottom-8"
                              }) }}

                              {% else %}
                              {% endif %}


                {% elif data["entry-home-processing-options"] == "MakeMRChange" %}

                              {% if data["an-de-mr-tl-12-score-check"] == "Agree" %}
                              <form action="award-dates-review-check" method="post" class="form">

                                Increase in value out of scope

                              {% elif data["an-de-mr-tl-12-score-check"] == "Amended" %}
                              <!-- <form action="award-dates-review-check" method="post" class="form"> -->
                                <form action="award-dates-review-check" method="post" class="form">

                              <h1 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">The outcome of the decision has changed</h1>

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The outcome is:</p>
                              <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
                                <li>Daily living: standard/enhanced/nil</li>
                                <li>Mobility: standard/enhanced/nil</li>
                              </ul>

                              {{ govukButton({
                                text: "Continue (P)",
                                classes: "govuk-!-margin-bottom-8"
                              }) }}

                              {% else %}
                              {% endif %}

                          {% elif data["entry-home-processing-options"] == "PayRemainsPay" or data["entry-home-processing-options"] == "PreparePayRemainsPay"%}


                              {% if data["an-de-mr-tl-12-score-check"] == "Agree" %}
                              <form action="award-dates-review-check" method="post" class="form">

                                <h1 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">The outcome of the decision and<br>payment rate remain the same</h1>

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The outcome is:</p>
                              <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
                                <li>Daily living: Standard</li>
                                <li>Mobility: Standard</li>
                              </ul>

                              {{ govukButton({
                                text: "Continue (P)",
                                classes: "govuk-!-margin-bottom-8"
                              }) }}

                              {% elif data["an-de-mr-tl-12-score-check"] == "Amended" %}

                              <form action="award-dates-review-check" method="post" class="form">

                                <h1 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">The outcome of the decision and<br>payment rate remain the same</h1>

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The outcome is:</p>
                              <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
                                <li>Daily living: Standard</li>
                                <li>Mobility: Standard</li>
                              </ul>

                              {{ govukButton({
                                text: "Continue (P)",
                                classes: "govuk-!-margin-bottom-8"
                              }) }}

                              {% else %}
                              {% endif %}


                {% else %}
                0
                {% endif %}

{% endif %}
