{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}


{% block content %}

<form action="payability-check-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-6/record-id.html" %}






        {% set legendChangeList %}

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
          <li>changes of circumstances
        <li>Name</li>
        <li>Address</li>
        <li>Correspondence address</li>
        <li>Date of death</li>
        <li>Nationality</li>
        <li>Residency and presence</li>
        <li>Immigration status</li>
        <li>Special Rules End of Life (SREL)</li>
        <li>Representative or appointee</li>
        <li>Withdrawn</li>
        <li>Age criteria</li>
        <li>Additional support</li>
        <li>Alternative format</li>
        <li>Fraud</li>
        <li>Keep customer interactions safe (KCIS)</li>
        <li>Working abroad</li>
        <li>Foreign benefits</li>
        <li>Disability Living Allowance (DLA)</li>
        <li>Child Disability Payment or Adult Disability Payment</li>
        <li>Armed Forces Independence Payment (AFIP)</li>
        <li>War Pensioners' Mobility Supplement (WPMS)</li>
        <li>Constant Attendance Allowance (CAA)</li>
        <li>Hospital or similar institutions</li>
        <li>Care homes</li>
        <li>Nursing homes</li>
        <li>Residential schools or colleges</li>
        <li>Prison or legal custody</li>
      </ul>

        {% endset %}



      {% if data["obc-change-tasklist-item-3"] == "Yes"  %}




      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">There has been change in their accommodation</h1>


      <p class="govuk-body govuk-!-margin-bottom-2">These were the issues:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

      <li>Hospital or similar institutions</li>
      <li>Care homes</li>
      <li>Nursing homes</li>
      <li>Residential schools or colleges</li>
      <li>Prison or legal custody</li>
    </ul>

      {% else %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Nothing has changed since the original decision, payments should be fine</h1>

      {{ govukDetails({
        summaryText: "Show what was checked on the call",
        classes: "govuk-!-margin-bottom-6 govuk-!-padding-top-4",
        html: legendChangeList
      }) }}

      {% endif %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "payability-check",
        name: "payability-check",
        fieldset: {
          legend: {
            text: "Will the effect the payments?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: legendHint
        },
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["payability-check"] == "Yes")
        },
        {
          value: "No",
          text: "No",
          checked: (data["payability-check"] == "No")
        }
        ]
      }) }}





      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
