{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="r-overview" method="post" class="form">

  {% include "another-decision-0-0-6/record-id-base.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Move to PIPCS</h1>

      <p class="govuk-body govuk-!-margin-bottom-8">Select 'Identified need to move to PIPCS' in event history to complete this action.</p>



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}


        </div>
      </div>

  </form>

{% endblock %}
