


{% if data["call-complete"] %}
{% include "an-de-mr-call-bar-active-review.html" %}

{% else %}

      {% if data["obc-security"] == "Yes" and data["obc-greeting"] == "Yes" and data["obc-other-help"] %}
      {% include "an-de-mr-call-bar-active-review.html" %}

      {% elif data["obc-greeting"] == "Yes" and data["obc-security"] == "Yes" and data["obc-payability-check"] == "Yes"  %}
      {% include "an-de-mr-call-bar-active-tasklist.html" %}

      {% else %}
      {% include "an-de-mr-call-bar-prepare.html" %}

      {% endif %}

{% endif %}
