{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}


{% block content %}


{% if data["payability-tasklist-item-3"] == "No" %}
<form action="entry-home" method="post" class="form">
{% else %}
<form action="cya-payment-breakdown-a" method="post" class="form">
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "another-decision-0-0-6/record-id.html" %}


        {% if data["payability-check"] == "Yes" %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Check the information and move to PIPcs</h1>
        {% else %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Check the information for the Mandatory Reconsideration Notice</h1>
        {% endif %}

      <!------------H1 LEGEND------------>

        {% set dynamicAgentNotes %}

          {% if data["application-5-letter-edit"]%}
          Change
          {% else %}
          Add
          {% endif %}

        {% endset %}
      <!------------Legend--------------->





      <!------------OUTCOME LEGEND------------>

      <h3 class="govuk-heading-xm govuk-!-padding-top-2 govuk-!-margin-bottom-6">Outcome</h3>


        {% if data["system-application-selector"]  == "1" %}
        [The applicant will not be given PIP]

        {% else %}

        {% endif %}

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"></p>
<!-- DL -->
  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[XX] points for the daily living part: this means they have been given the standard/enhanced rate</p> -->
  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[XX] points for the daily living part - this means the applicant has been given the [standard/enhanced] rate</p> -->
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[X] points for the daily living part - this means the applicant will not be awarded PIP</p>
<!-- M -->
  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[XX] points for the mobility part: this means they have been given the standard/enhanced rate</p> -->
  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[XX] points for the mobility part - this means the applicant has been given the [standard/enhanced] rate</p> -->
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">[0] points for the mobility part - this means the applicant will not be awarded PIP</p>


        {% set firstPaymentDetails %}

        {% if data["system-application-selector"]  == "1" %}



        {% else %}

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Your first payment will be £2,300.</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This will be paid into your bank account within 3 days.</p>

        {{ govukSummaryList({
          rows: [
          {
                key: {
                  text: "First payment"
                },
                value: {
                  html: firstPaymentDetails
                }
              }
            ]
          }) }}

        {% endif %}



        {% endset %}

        <!------------OUTCOME LEGEND------------>

        <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Qualifying period and prospective test</h3>


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Daily living qualifying period met"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-dl-3m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Likely to still have daily living restrictions"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-dl-9m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mobility qualifying period met"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-m-3m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Likely to still have moblity restrictions"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-m-9m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            }
          ]
        }) }}

              {% if data["system-application-selector"]  == "1" %}

              <!-- I am Nill award -->

                {% else %}

              <!------------Q2 LEGEND------------>
                {% set dynamicDateRange %}


                [Day] [Month] [Year]
                <!-- From {{ data['application-6-award-period-date-start-day'] + ' ' + (data['application-6-award-period-date-start-month'] | getMonth) + ' ' + data['application-6-award-period-date-start-year']}}


                {% if data["application-6-award-period-end-check"]  == "Yes" %}
                to  {{ data['application-6-award-period-date-end-day'] + ' ' + (data['application-6-award-period-date-end-month'] | getMonth) + ' ' + data['application-6-award-period-date-end-year']}}
                {% else %}
                (there is no end date)
                {% endif %} -->

                {% endset %}

              <!------------Legend--------------->

              <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Review dates</h3>


                {{ govukSummaryList({
                  rows: [
                    {
                      key: {
                        text: "Award start date"
                      },
                      value: {
                        text: "2 March 2024"
                      },
                      actions: {
                        items: [
                          {
                            href: "award-dates-playback",
                            text: "",
                            visuallyHiddenText: "XXX"
                          }
                        ]
                      }
                    },
                    {
                      key: {
                        text: "Award review date"
                      },
                      value: {
                        text: "1 March 2026"
                      },
                      actions: {
                        items: [
                          {
                            href: "award-dates-playback",
                            text: "",
                            visuallyHiddenText: "XXX"
                          }
                        ]
                      }
                    },
                    {
                      key: {
                        text: "Review period"
                      },
                      value: {
                        text: "3 years"
                      },
                      actions: {
                        items: [
                          {
                            href: "award-dates-playback",
                            text: "Change",
                            visuallyHiddenText: "XXX"
                          }
                        ]
                      }
                    },
                    {
                      key: {
                        text: "Award end date"
                      },
                      value: {
                        text: "1 March 2027"
                      },
                      actions: {
                        items: [
                          {
                            href: "award-dates-playback",
                            text: "",
                            visuallyHiddenText: "XXX"
                          }
                        ]
                      }
                    }
                  ]
                }) }}


                {% endif %}




                <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Supporting documents</h3>

          {% set DynamicSelectedDocumentsList %}


          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 ">
            <li>Information provided by care home</li>
            <li>Care plan</li>
            <li>Certificate of Vision Impairment (CVI)</li>
            <li>Information provided by community mental health team</li>
          </ul>

              {% endset %}

              {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: [
                {
                  key: {
                    text: "Selected documents"
                  },
                  value: {
                    html:
                    DynamicSelectedDocumentsList
                  },
                  actions: {
                    items: [
                    {
                      href: "application-evidence-used-b",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                    ]
                  }
                }
                ]
              }) }}


              <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Daily living activities</h3>

      <!-- 1 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preparing food
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-1-score-check"] %}
              {% include "./an-de-mr-tl-1/an-de-mr-tl-1-score-overwrite.html" %}
              {% else %}
              0
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "./an-de-mr-tl-1/an-de-mr-tl-1-descriptor-overwrite.html" %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a1-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-1-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a1-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 2 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Taking nutrition
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-2-score-check"] %}
              {% include "./an-de-mr-tl-2/an-de-mr-tl-2-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 10
            </strong>
            <br>
            {% include "./an-de-mr-tl-2/an-de-mr-tl-2-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a2-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-2-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a2-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 3 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing therapy or monitoring a health condition
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-3-score-check"] %}
              {% include "./an-de-mr-tl-3/an-de-mr-tl-3-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "./an-de-mr-tl-3/an-de-mr-tl-3-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a3-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-3-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a3-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 4 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Washing and bathing
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-4-score-check"] %}
              {% include "./an-de-mr-tl-4/an-de-mr-tl-4-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "./an-de-mr-tl-4/an-de-mr-tl-4-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a4-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-4-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a4-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 5 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing toilet needs or incontinence
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-5-score-check"] %}
              {% include "./an-de-mr-tl-5/an-de-mr-tl-5-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "./an-de-mr-tl-5/an-de-mr-tl-5-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a5-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-5-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a5-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 6 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dressing and undressing
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-6-score-check"] %}
              {% include "./an-de-mr-tl-6/an-de-mr-tl-6-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "./an-de-mr-tl-6/an-de-mr-tl-6-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a6-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-6-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a6-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


      <!-- 7 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Communicating verbally
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-7-score-check"] %}
              {% include "./an-de-mr-tl-7/an-de-mr-tl-7-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "./an-de-mr-tl-7/an-de-mr-tl-7-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a7-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-7-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a7-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 8 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reading and understanding signs, symbols and words
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-8-score-check"] %}
              {% include "./an-de-mr-tl-8/an-de-mr-tl-8-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "./an-de-mr-tl-8/an-de-mr-tl-8-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a8-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-8-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a8-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 9 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Engaging with other people face to face
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-9-score-check"] %}
              {% include "./an-de-mr-tl-9/an-de-mr-tl-9-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 8
            </strong>
            <br>
            {% include "./an-de-mr-tl-9/an-de-mr-tl-9-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a9-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-9-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a9-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 10 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Making budgeting decisions
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-10-score-check"] %}
              {% include "./an-de-mr-tl-10/an-de-mr-tl-10-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 6
            </strong>
            <br>
            {% include "./an-de-mr-tl-10/an-de-mr-tl-10-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a10-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-10-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a10-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>


      <h3 class="govuk-heading-xm govuk-!-padding-top-8 govuk-!-margin-bottom-6">Mobility activities</h3>

      <!-- 11 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning and following journeys
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-11-score-check"] %}
              {% include "./an-de-mr-tl-11/an-de-mr-tl-11-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "./an-de-mr-tl-11/an-de-mr-tl-11-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a11-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-11-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a11-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>

      <!-- 12 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             Moving around
          </dt>
          <dd class="govuk-summary-list__value">

            <strong>
              {% if data["an-de-mr-tl-12-score-check"] %}
              {% include "./an-de-mr-tl-12/an-de-mr-tl-12-score-overwrite.html" %}
              {% else %}
              [X]
              {% endif %}
              out of 12
            </strong>
            <br>
            {% include "./an-de-mr-tl-12/an-de-mr-tl-12-descriptor-overwrite.html" %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a12-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Justification
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["an-de-mr-tl-12-score-check-reason"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="application-6-about-a12-score">
              Change<span class="govuk-visually-hidden"> XXX justification</span>
            </a>
          </dd>
        </div>

      </dl>



      {% if data["entry-home-processing-options"] == "MakeMRNil" %}
      {% else %}




<br>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

              {% if data["payability-check"] == "Yes"%}

              <!------------CheckBox Hint------------>

                <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">This information will be stored as the decision.</p>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">XXX </p>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">XXX</p>

              <!------------Legend--------------->

              {{ govukCheckboxes({
                idPrefix: "ConfimLetter",
                name: "ConfimLetter",
                fieldset: {
                  classes: "govuk-!-margin-top-6 govuk-!-padding-bottom-6",
                  legend: {
                    text: "Moving to PIPCS",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-padding-bottom-3"
                  }
                },
                hint: {
                  html: dynamicCheckBoxHintPayment
                },
                items: [
                  {
                    value: "ConfimLetter",
                    text: "I confirm that I have completed the move to PIPCS.",
                    checked: (data["application-about-a9-score-overwrite"] == "0")
                  }
                ]
              }) }}

              {% elif data["payability-check"] == "YesR3"%}




<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Information entered has effected the default amounts</h1>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-top-4 govuk-!-margin-bottom-6">
  <li>Changes of bank details</li>
  <li>Save to pay (large payment)</li>
<li>Hospital or similar institutions</li>
<li>Care homes</li>
<li>Nursing homes</li>
<li>Residential schools or colleges</li>
<li>Prison or legal custody</li>
<li>Something else</li>
<li>Outside of the UK</li>

</ul>


{{ govukButton({
  text: "Review payment schedule",
  classes: "govuk-!-margin-bottom-8"
}) }}


            {% else %}



              <!------------CheckBox Hint------------>

                {% set dynamicCheckBoxHintPayment %}

                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will need to manually send the letter and save it in ECMS</p>
                <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">???</p> -->

                {% endset %}
              <!------------Legend--------------->

<br><br>

              {{ govukCheckboxes({
                idPrefix: "ConfimLetter",
                name: "ConfimLetter",
                fieldset: {
                  classes: "govuk-!-margin-top-6 govuk-!-padding-bottom-4",
                  legend: {
                    text: "Sending the Mandatory Reconsideration Notice",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-padding-bottom-3"
                  }
                },
                hint: {
                  html: dynamicCheckBoxHintPayment
                },
                items: [
                  {
                    value: "ConfimLetter",
                    text: "I confirm that I have fully checked the information for the Mandatory Reconsideration Notice.",
                    checked: (data["application-about-a9-score-overwrite"] == "0")
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Finish and close",
                classes: "govuk-!-margin-bottom-8"
              }) }}

              {% endif %}









      </div>
    </div>

  </form>

{% endblock %}
