{% extends "layout-process-mr.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}
{% include "person-record-0-0-2/record-id-base.html" %}

  <form action="mr-application-overview-router" method="post" class="form">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Review the original decision and any new supporting evidence before making another decision </h1>

      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Have a think about what all this means in order, anything you are worried about that would stop you from making a decision on this MR within the new service</p> -->



      <p class="govuk-heading-m govuk-!-margin-bottom-2">Decision overview</p>

      <table class="govuk-table govuk-!-margin-bottom-8">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Decision overview</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">Decision made: not awarded</td>
          </tr>



          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Outcome</th>
            <td class="govuk-table__cell">Daily living: Nil (4 points)<br>Mobility: Nil (4 points)</td>
          </tr>

          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Application submitted</th>
            <td class="govuk-table__cell">1 December 2023</td>
          </tr> -->
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Effective date</th>
            <td class="govuk-table__cell">1 December 2023</td>
          </tr> -->
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Review date</th>
            <td class="govuk-table__cell">1 December 2027</td>
          </tr> -->

          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Payment end date</th>
            <td class="govuk-table__cell">1 December 2028</td>
          </tr> -->

        </tbody>
      </table>


      <p class="govuk-heading-m govuk-!-margin-bottom-4">Important events</p>


      <table class="govuk-table govuk-!-margin-bottom-8">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Personal Independence status</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header govuk-!-width-two-quarters">Event</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">


          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Today</th>
            <td class="govuk-table__cell">Mandatory reconsideration requested notes</td>
            <td class="govuk-table__cell "><a class="govuk-aligned-right" href="/person-record-0-0-2/record-applicaion-evidence-notes" target="">View</a></td>
          </tr>

      <!-- <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">1 Mar 2024</td>
        <td class="govuk-table__cell">@Rachel Payment setup	</td>

        {% if data["find-someone-1-offline-return"]  == "YesLinked" %}
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="https://pip-end-to-end-84bc0caed567.herokuapp.com/agent/case-manager-review-dev/decision" target="">View (C)</a></td>
        {% else %}
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="record-application-payment-structure" target="">View</a></td>
        {% endif %}
      </tr> -->

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">1 Mar 2024</td>
        <td class="govuk-table__cell">Decision made</td>

        {% if data["find-someone-1-offline-return"]  == "YesLinked" %}
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="https://pip-end-to-end-84bc0caed567.herokuapp.com/agent/case-manager-review-dev/decision" target="">View (C)</a></td>
        {% else %}
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="record-applicaion-evidence-decision" target="">View</a></td>
        {% endif %}
        </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">28 Feb 2024</td>
        <td class="govuk-table__cell">'Prepare application for decision' checks completed	</td>
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="record-applicaion-prep-checks" target="">View</a></td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">2 Feb 2024</td>
        <td class="govuk-table__cell">Assessment report completed</td>
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="record-applicaion-evidence-ap" target="">View</a></td> <!--View assessment report -->
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">2 Dec 2023</td>
        <td class="govuk-table__cell">'Prepare application for assessement provider' checks completed</td>
        <td class="govuk-table__cell"><a class="govuk-aligned-right" href="record-applicaion-prep-checks" target="">View </a></td>
      </tr>

      <!-- <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1 January 2025</th>
        <td class="govuk-table__cell">Identity verified</td>
        <td class="govuk-table__cell govuk-text-aligned-right"><a class="" href="#" target=""></a></td>
      </tr> -->

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">1 Dec 2023</td>
        <td class="govuk-table__cell">Health information gather (HIG) submitted</td>

        {% if data["find-someone-1-offline-return"]  == "YesLinked" %}
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="https://supporting-docs-prototype.herokuapp.com/manage-prototype/password?returnURL=%2FvStarling-award%2Fdocument-list" target="">View</a></td>
        {% else %}
        <td class="govuk-table__cell"><a class="govuk-aligned-right" href="record-applicaion-evidence-pip2" target="">View</a></td> <!--View HIG details -->
        {% endif %}

      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">1 Dec 2023</td>
        <td class="govuk-table__cell">Registration submitted</td>

        {% if data["find-someone-1-offline-return"]  == "YesLinked" %}
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="/v13/case-review/personal-details-cmr" target="">View (C)</a></td>
        {% else %}
        <td class="govuk-table__cell"><a class="govuk-aligned-right" href="record-applicaion-evidence-pip1" target="">View</a></td> <!--View registration details -->
        {% endif %}

      </tr>


        </tbody>
      </table>



    <p class="govuk-heading-m govuk-!-margin-bottom-4">Resources</p>

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="record-applicaion-evidence-notes" class="govuk-link" rel="noreferrer noopener" target="">Notes</a></p> -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="record-foundation-view-graded-evidence" class="govuk-link" rel="noreferrer noopener" target="">Supplied information</a> (Will become document grading)</p>
    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="pip-letter.pdf" class="govuk-link" rel="noreferrer noopener" target="">Letters sent</a></p> -->


      {{ govukRadios({
        idPrefix: "mr-application-overview",
        name: "mr-application-overview",
        fieldset: {
          legend: {
            html: "Having reviewed the original decision and any new supporting evidence does the decison remain a nil award?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: legendNumbers
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          html: "Yes",
          checked: (data["mr-application-overview"] == "Yes")
        },
        {
          value: "X",
          html: "No",
          checked: (data["mr-application-overview"] == "X")
        }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
