{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application mandatory reconsideration
{% endblock %}


{% block content %}

{% include "another-decision-0-0-6/record-id.html" %}

<form action="application-5-view-evidence" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "includes/js-back-link.html" %}



      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Information captured from the mandatory reconsideration call</h1>

      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Registration details</h3>


      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mandatory reconsideration registration date
          </dt>
          <dd class="govuk-summary-list__value">
            Today
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

      </dl>

      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">About their decision letter</h3>


      <dl class="govuk-summary-list govuk-!-margin-bottom-4">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason request is more than one month after decision
          </dt>
          <dd class="govuk-summary-list__value">
            I was in hosptial
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How were they informed about their decision?
          </dt>
          <dd class="govuk-summary-list__value">
            By letter
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they have their decision letter with them?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they need us to resend their decision letter?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

      </dl>
      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Reasons for the mandatory reconsideration</h3>


      <dl class="govuk-summary-list govuk-!-margin-bottom-4">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">

            Parts of their decision they disagree with
          </dt>
          <dd class="govuk-summary-list__value">

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 ">

              <li>Points and justification given for one or more of the activities</li>
            </ul>

          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>




      </dl>



      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Dates in the decision letter</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Award start date
          </dt>
          <dd class="govuk-summary-list__value">
            No disagreement
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Qualifying period
          </dt>
          <dd class="govuk-summary-list__value">

            No disagreement
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Prospective test
          </dt>
          <dd class="govuk-summary-list__value">

            No disagreement
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Award end date
          </dt>
          <dd class="govuk-summary-list__value">

            No disagreement
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

      </dl>


      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Length of the award period</h3>


      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length of award details
          </dt>
          <dd class="govuk-summary-list__value">

            No disagreement
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

      </dl>


      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Supporting documents used to make the decision</h3>


      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Supporting documents details
          </dt>
          <dd class="govuk-summary-list__value">

            No disagreement
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

      </dl>

      <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Payment amounts including arrears</h3>


      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment details
          </dt>
          <dd class="govuk-summary-list__value">

            No disagreement
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

      </dl>


    <h3 class="govuk-heading-xm govuk-!-padding-top-6">Daily living activities</h3>

    <!-- 1 -->
    <dl class="govuk-summary-list govuk-!-margin-bottom-4">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Preparing food
        </dt>
        <dd class="govuk-summary-list__value">
I am unhappy that you have not considered the fact that I use adapted cutlery. My condition means that I have weak grip which makes cutting up food difficult. My daughter often has to do this for me so I can eat.
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>


    <!-- 2 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Taking nutrition
        </dt>
        <dd class="govuk-summary-list__value">
          No disagreement

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>


    <!-- 3 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Managing therapy or monitoring a health condition
        </dt>
        <dd class="govuk-summary-list__value">
          No disagreement

        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>


    <!-- 4 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Washing and bathing
        </dt>
        <dd class="govuk-summary-list__value">
          No disagreement

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>



    <!-- 5 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Managing toilet needs or incontinence
        </dt>
        <dd class="govuk-summary-list__value">
          No disagreement

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>


    <!-- 6 -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Dressing and undressing
        </dt>
        <dd class="govuk-summary-list__value">
I have to sit on the bed to dress myself. I need to use a shoe horn to put my shoes on as I cannot bend to put them on.
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

    <!-- 7 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Communicating verbally
        </dt>
        <dd class="govuk-summary-list__value">
          No disagreement
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

    <!-- 8 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reading and understanding signs, symbols and words
        </dt>
        <dd class="govuk-summary-list__value">
          No disagreement

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>


    <!-- 9 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Engaging with other people face to face
        </dt>
        <dd class="govuk-summary-list__value">
          No disagreement

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

    <!-- 10 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Making budgeting decisions
        </dt>
        <dd class="govuk-summary-list__value">
          My daughter pays all my bills for me as I struggle to make the correct payment as everything is online. I cannot walk to the post office to get my money out so my daughter does this for me.
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

    </dl>


    <h3 class="govuk-heading-xm govuk-!-padding-top-4 govuk-!-margin-bottom-6">Mobility activities</h3>

    <!-- 11 -->
    <dl class="govuk-summary-list govuk-!-margin-bottom-4">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Planning and following journeys
        </dt>
        <dd class="govuk-summary-list__value">
          No disagreement
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>


    <!-- 12 -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
           Moving around
         </dt>
         <dd class="govuk-summary-list__value">
           My walking has really deteriorated in the last week and I am being referred for a possible hip replacement.
         </dd>
         <dd class="govuk-summary-list__actions">

         </dd>
       </div>

    </dl>




    <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Supporting documents which was not available<br> to us when the decision was made</h3>


            <dl class="govuk-summary-list govuk-!-margin-bottom-4">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do they want to send additional supporting documents?
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">

                Expected supporting documents
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 ">
                  <li>Information provided by care home</li>
                  <li>Care plan</li>
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>

            </dl>




            <dl class="govuk-summary-list govuk-!-margin-bottom-4">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Any other expected supporting documents

                </dt>
                <dd class="govuk-summary-list__value">
                  No

                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>

</dl>

          <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Anything else they would like to tell us</h3>


          <dl class="govuk-summary-list govuk-!-margin-bottom-4">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is there anything else they would like to tell us?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Details of what they would like to tell us
              </dt>
              <dd class="govuk-summary-list__value">
I was very unhappy that the assessment was over the phone. I wanted a face to face assessment so you could see how bad my arthritis is.
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
          </dl>




        </div>
      </div>

  </form>

{% endblock %}
