{% extends "layout-process-mr.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

{% if data["system-myopentasks-selector"]  === "2" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">My open tasks</h1>

    </div>
  </div>

  {% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="entry-home" method="post" class="form">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You have no open tasks</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Any tasks you leave or are timed out of will be on this page.</p>
        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Go <a class="govuk-body govuk-!-font-size-19" href="#">back to my home page</a>.</p> -->



        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Applications you have paused will remain here until they are compeleted or removed.</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">New tasks can be found using the links on my home page.</p> -->

        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Tasks that are timed out will be assigned to you until midnight. You will then get them back when you request a new application to process.</p> -->

        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">You can start <a class="" href="system-application-selector">processing an application</a>.</p> -->

        {{ govukButton({
          text: "Back to My home page",
          classes: "govuk-!-margin-bottom-8"
        }) }}

      </div>
    </div>

  {% endif %}




              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">



                                {% if data["system-myopentasks-selector"]  === "2" %}

                                <table class="govuk-table">

                                  <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell govuk-20-percent"><b>Task created</b></td>
                                      <!-- <td class="govuk-table__cell govuk-15-percent">NINO</td> -->

                                      <td class="govuk-table__cell govuk-30-percent"><b>Name</b></td>
                                      <td class="govuk-table__cell govuk-35-percent"><b>Task status</b></td>
                                      <td class="govuk-table__cell govuk-20-percent"><b>Actions</b></td>

                                    </tr>
                                  </thead>




                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell table-spacer"> 12 December 2024</td>
                                  <!-- <td class="govuk-table__cell table-spacer"> NA 11 22 33 c</td> -->
                                  <td class="govuk-table__cell table-spacer">Reuben Trabocco-Jarvis</td>
                                  <td class="govuk-table__cell table-spacer"><a href=""></a>Make outbound contact: Help with a decision</td>
                                  <td class="govuk-table__cell table-spacer"><a href="application-payment-detials-available">Start task</a></td>


                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 1 August 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 11 22 33 c</td> -->
                                    <td class="govuk-table__cell table-spacer">Philip Seymour Hoffman</td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Payment details not available
                                      <td class="govuk-table__cell table-spacer"><a href="application-payment-detials-check">Continue task</a></td>

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 1 August 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 11 22 33 c</td> -->
                                    <td class="govuk-table__cell table-spacer">Philip Seymour Hoffman</td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Payment details now available</td>
                                    <td class="govuk-table__cell table-spacer"><a href="application-payment-detials-available">Continue task</a></td>


                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell table-spacer"> 1 August 2024</td>
                                      <!-- <td class="govuk-table__cell table-spacer"> NA 11 22 33 c</td> -->
                                      <td class="govuk-table__cell table-spacer">Philip Seymour Hoffman</td>
                                      <td class="govuk-table__cell table-spacer"><a href=""></a>Payment details not available
                                        <td class="govuk-table__cell table-spacer"><a href="application-payment-detials-check">Continue task</a></td>

                                    <!-- <td class="govuk-table__cell table-spacer">

                                      {% if data["application-1-task-t4"] == "Done" %}
                                      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                      {% elif data["application-1-task-t4"]  === "Bad" %}
                                      <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                      {% elif data["application-1-task-t4"]  === "Pause" %}
                                      <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                      {% else %}
                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                      {% endif %}

                                    </td> -->

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 1 May 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 11 22 33 c</td> -->
                                    <td class="govuk-table__cell table-spacer">Jeff Bridges</td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Prepare for assessment provider</td>
                                    <td class="govuk-table__cell table-spacer"><a href="my-open-tasks-record">Continue task</a></td>

                                    <!-- <td class="govuk-table__cell table-spacer">

                                      {% if data["application-1-task-t4"] == "Done" %}
                                      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                      {% elif data["application-1-task-t4"]  === "Bad" %}
                                      <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                      {% elif data["application-1-task-t4"]  === "Pause" %}
                                      <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                      {% else %}
                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                      {% endif %}

                                    </td> -->


                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 29 June 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 88 44 77 c</td> -->
                                    <td class="govuk-table__cell table-spacer">Sam Elliot</td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Prepare for decision</td>
                                    <td class="govuk-table__cell table-spacer"><a href="my-open-tasks-record">Continue task</a></td>

                                    <!-- <td class="govuk-table__cell table-spacer">

                                      {% if data["application-1-task-t4"] == "Done" %}
                                      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                      {% elif data["application-1-task-t4"]  === "Bad" %}
                                      <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                      {% elif data["application-1-task-t4"]  === "Pause" %}
                                      <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                      {% else %}
                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                      {% endif %}

                                    </td> -->

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 15 July 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 77 55 66 c</td> -->
                                    <td class="govuk-table__cell table-spacer">Julianne Moore</td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Make a decision</td>
                                    <td class="govuk-table__cell table-spacer"><a href="my-open-tasks-record">Continue task</a></td>

                                    <!-- <td class="govuk-table__cell table-spacer">

                                      {% if data["application-1-task-t4"] == "Done" %}
                                      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                      {% elif data["application-1-task-t4"]  === "Bad" %}
                                      <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                      {% elif data["application-1-task-t4"]  === "Pause" %}
                                      <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                      {% else %}
                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                      {% endif %}

                                    </td> -->
                                  </tr>

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 10 July 2024</td>
                                    <!-- <td class="govuk-table__cell table-spacer"> NA 77 55 66 c</td> -->
                                    <td class="govuk-table__cell table-spacer">John Turturro</td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>Needs to be moved to PIPCS</td>
                                    <td class="govuk-table__cell table-spacer"><a href="my-open-tasks-record">Continue task</a></td>

                                    <!-- <td class="govuk-table__cell table-spacer">

                                      {% if data["application-1-task-t4"] == "Done" %}
                                      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                      {% elif data["application-1-task-t4"]  === "Bad" %}
                                      <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                      {% elif data["application-1-task-t4"]  === "Pause" %}
                                      <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                      {% else %}
                                      <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                      {% endif %}

                                    </td> -->
                                  </tr>

                                </table>






                                {% else %}
                                {% endif %}





                    </div>
                  </div>
    </form>
{% endblock %}
