{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% if data["obc-security"] == "Yes" and data["obc-greeting"] == "Yes" and data["obc-other-help"] %}
 {% include "an-de-mr-call-bar-callguide-review.html" %}

 {% else %}
 {% include "an-de-mr-call-bar-active.html" %}

 {% endif %}

{% endblock %}

{% block content %}


<form action="obc-payability-check-router" method="post" class="form">

{% if data["application-selector"]  == "4" %}

{% else %}

{% endif %}


  {% include "another-decision-0-0-6/record-id.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">During the call</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Use the call to gather further information from the person that might affect their award.</p>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Use 'My decision notes' to make any notes during the call.</p> -->

      <!-- <p class="govuk-body govuk-!-margin-bottom-2">Original decision and supporting documents:</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a class="" href="an-de-tasklist" target="_blank">Mandatory reconsderation tasklist</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="mr-application-overview" class="govuk-link" rel="noreferrer noopener" target="_blank">Overview of original decision</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/agent/case-manager-review/event-history" class="govuk-link" rel="noreferrer noopener" target="_blank">View full event history</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="https://supporting-docs-prototype.herokuapp.com/vStarling-award/document-list" target="_blank">Supporting documents service</a></p> -->


        {% if data["obc-payability-check"] == "Yes" %}

        <h1 class="govuk-heading-m govuk-!-margin-bottom-4">Payability information you need from the call</h1>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Check to see whether anything has changed that might affect payability.</p>

        {% include "another-decision-0-0-6/obc-call-guide-tasklist.html" %}


        {% elif data["obc-payability-check"] == "No" %}

        <h1 class="govuk-heading-m govuk-!-margin-bottom-4">If you need to ask payability information</h1>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="obc-callguide" target="">Payability questions checklist</a></p>


          {% else %}

          {{ govukRadios({
            idPrefix: "obc-payability-check",
            name: "obc-payability-check",
            fieldset: {
              legend: {
                html: "Do you need to ask payability questions?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "You might not need to ask these if the decision outcome is a nil award."
            },
            classes: "govuk-radios",
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["obc-payability-check"] == "Yes")
            },
            {
            value: "No",
            text: "No",
            checked: (data["obc-payability-check"] == "No")
          }
            ]
          }) }}

          {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-bottom-8"
          }) }}

        {% endif %}








        </div>
      </div>

      {% set checksUndo %}

      {{ govukRadios({
        idPrefix: "obc-payability-check",
        name: "obc-payability-check",
        fieldset: {
          legend: {
            html: "Do you need to ask payability questions?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You might not need to ask these if the decision outcome is a nil award."
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["obc-payability-check"] == "Yes")
        },
        {
        value: "No",
        text: "No",
        checked: (data["obc-payability-check"] == "No")
      }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

      {% endset -%}


      {{ govukDetails({
        summaryText: "..",
        html: checksUndo
      }) }}

  </form>

{% endblock %}
