{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="obc-goodbye" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-6/record-id-base.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Review your notes</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">You can edit your notes before they are added to the event history.</p>


      {{ govukTextarea({
        name: "call-notes",
        id: "call-notes",
        label: {
          text: "Your notes from the call",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: ""
        },
        value: data["call-notes"]
      }) }}

<br>

            {{ govukRadios({
              idPrefix: "ecp-washup",
              name: "ecp-washup",
              fieldset: {
                legend: {
                  text: "These notes will be added to the event histroy, do you want to tag these to an applicaiton also?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: ""
              },
              classes: "govuk-radios",
              items: [
              {
                value: "1",
                text: "Yes",
                checked: (data["ecp-washup"] == "1")
              },
                {
                value: "3",
                text: "No",
                checked: (data["ecp-washup"] == "3")
              }
              ]
            }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
