{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "an-de-mr-call-bar-active.html" %}
{% endblock %}

{% block content %}


  <form action="obc-callguide" method="post" class="form">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-6/record-id.html" %}


      <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Use Searchlight to generate the security questions</h1> -->
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">XXX</p> -->



      {{ govukRadios({
        idPrefix: "obc-security",
        name: "obc-security",
        fieldset: {
          legend: {
            html: "Did they correctly answer the questions to confirm their identity?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["obc-security"] == "Yes")
        },
        {
          value: "No",
          text: "No",
          checked: (data["obc-security"] == "No")
        }
        ]
      }) }}




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
