{% extends "layout-process-mr.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "an-de-mr-call-bar-active.html" %}
{% endblock %}

{% block content %}


<form action="obc-security" method="post" class="form">

{% if data["application-selector"]  == "4" %}

{% else %}

{% endif %}


  <input type="hidden" name="find-someone-1-gather" value="true"/>
  {% include "another-decision-0-0-6/record-id.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Hello, I'm calling from the Department for Work and Pensions</h1> -->
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Opening the call</h1>

      <p class="govuk-body govuk-!-margin-bottom-2">Advise the person that:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>that you're calling from the Department for Work and Pensions</li>
        <li>you'll need to go through some security questions to confirm their identity</li>
        <li>the call will be recorded for training and monitoring puposes</li>
      </ul>

{{ govukRadios({
  idPrefix: "obc-greeting",
  name: "obc-greeting",
  classes: "govuk-checkboxes",
  fieldset: {
    legend: {
      text: "Are they happy to continue?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: ""
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["obc-greeting"] == "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: (data["obc-greeting"] == "No")
    }
  ]
}) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
