{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

{% include "another-decision-0-0-6/record-id.html" %}

{{ govukBreadcrumbs({
  classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
  items: [
    {
      text: "Prepare for payment",
      href: "payability-tasklist"
    },
    {
      text: "XXX",
      href: "payability-tasklist-item-X"
    }
  ]
}) }}

<form action="payability-tasklist-item-2-router" method="post" class="form">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!------------Q2 LEGEND------------>
        <!-- {% set dynamicHint %} -->


        <!-- {% endset %} -->
      <!------------Legend--------------->

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Receiving and managing large payments</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-4 govuk-!-margin-bottom-2"> Consider whether the person:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">

      <li>has an appointee or representative</li>
      <li>has an additional support marker</li>
      <li>has a mental health condition</li>
      <li>shows signs of drug or gambling addition</li>
      <li>could be influenced or open to abuse by others</li>
      <li>has limited capacity to understand, process or manage financial matters</li>

      </ul>


      {% set dynamicHint %}
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><strong>The descriptor selected for 'Making budgeting decisions' is:</strong></p>
      <p class="govuk-body govuk-!-font-size-19">Descriptor A (0 points): Can manage complex budgeting decisions unaided</p>

      {% endset %}

      {{ govukInsetText({
        html: dynamicHint
      }) }}

      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "payability-tasklist-item-2",
        name: "payability-tasklist-item-2",
        fieldset: {
          legend: {
            html: "Will the person find it challenging to receive and manage a large payment?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: ""
        },
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["payability-tasklist-item-2"] == "Yes")
        },
        {
          value: "No",
          text: "No",
          checked: (data["payability-tasklist-item-2"] == "No")
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

{% endblock %}
