{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}


{% block content %}

<form action="payability-check-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-6/record-id.html" %}






        {% set legendChangeList %}

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
          <li>changes of circumstances
        <li>Name</li>
        <li>Address</li>
        <li>Correspondence address</li>
        <li>Date of death</li>
        <li>Nationality</li>
        <li>Residency and presence</li>
        <li>Immigration status</li>
        <li>Special Rules End of Life (SREL)</li>
        <li>Representative or appointee</li>
        <li>Withdrawn</li>
        <li>Age criteria</li>
        <li>Additional support</li>
        <li>Alternative format</li>
        <li>Fraud</li>
        <li>Keep customer interactions safe (KCIS)</li>
        <li>Working abroad</li>
        <li>Foreign benefits</li>
        <li>Disability Living Allowance (DLA)</li>
        <li>Child Disability Payment or Adult Disability Payment</li>
        <li>Armed Forces Independence Payment (AFIP)</li>
        <li>War Pensioners' Mobility Supplement (WPMS)</li>
        <li>Constant Attendance Allowance (CAA)</li>
        <li>Hospital or similar institutions</li>
        <li>Care homes</li>
        <li>Nursing homes</li>
        <li>Residential schools or colleges</li>
        <li>Prison or legal custody</li>
      </ul>

        {% endset %}



      {% if data["obc-change-tasklist-item-1"] == "Yes"  %}




      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">There is a payment risk</h1>


      <p class="govuk-body govuk-!-margin-bottom-2">These were the issues:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

        <li>Change in bank details</li>
        <li>Safe to pay</li>
        <!-- <li>Hospital or similar institutions</li>
        <li>Care homes</li>
        <li>Nursing homes</li>
        <li>Residential schools or colleges</li>
        <li>Prison or legal custody</li> -->
    </ul>

      <!-- <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>changes of circumstances
        <li>Name</li>
        <li>Address</li>
        <li>Correspondence address</li>
        <li>Date of death</li>
        <li>Nationality</li>
        <li>Residency and presence</li>
        <li>Immigration status</li>
        <li>Special Rules End of Life (SREL)</li>
        <li>Representative or appointee</li>
        <li>Withdrawn</li>
        <li>Age criteria</li>
        <li>Additional support</li>
        <li>Alternative format</li>
        <li>Fraud</li>
        <li>Keep customer interactions safe (KCIS)</li>
        <li>Working abroad</li>
        <li>Foreign benefits</li>
        <li>Disability Living Allowance (DLA)</li>
        <li>Child Disability Payment or Adult Disability Payment</li>
        <li>Armed Forces Independence Payment (AFIP)</li>
        <li>War Pensioners' Mobility Supplement (WPMS)</li>
        <li>Constant Attendance Allowance (CAA)</li>
        <li>Hospital or similar institutions</li>
        <li>Care homes</li>
        <li>Nursing homes</li>
        <li>Residential schools or colleges</li>
        <li>Prison or legal custody</li>
      </ul> -->

      {% else %}

      <!-- <h1 class="govuk-heading-m govuk-!-margin-bottom-8">Information from the call and how it effects the payments</h1> -->

      <!-- {{ govukDetails({
        summaryText: "Show what was checked on the call",
        classes: "govuk-!-margin-bottom-6 govuk-!-padding-top-4",
        html: legendChangeList
      }) }} -->

      {% endif %}

      {% set legendHint %}
      <p class="govuk-body govuk-!-padding-top-4 govuk-!-margin-bottom-2">Consider:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-2">
      <li>changes to payment account details</li>
      <li>whether they might find it challenging to receive and manage a large payment</li>
      <li>stays in hospital or similar institutions</li>
      <li>stays in care or nursing homes</li>
      <li>stays in supported accommodation</li>
      <li>time spent in prison or legal custody</li>
      <li>temporary absences abroad</li>
    </ul>

      {% endset %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "payability-check",
        name: "payability-check",
        fieldset: {
          legend: {
            text: "Has anything changed that might affect the person's payments?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: legendHint
        },
        items: [
        {
          value: "Yes",
          text: "Yes (R2)",
          checked: (data["payability-check"] == "Yes")
        },
        {
          value: "YesR3",
          text: "Yes (R3)",
          checked: (data["payability-check"] == "YesR3")
        },
        {
          value: "No",
          text: "No",
          checked: (data["payability-check"] == "No")
        }
        ]
      }) }}





      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
