{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi.html" %}
{% endblock %}
{% block content %}



  <form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "another-decision-0-0-6/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Check the information for the Mandatory Reconsideration Notice</h1>

        <h3 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-6">Qualifying period and prospective test</h3>


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Daily living qualifying period met"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-dl-3m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Likely to still have daily living restrictions"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-dl-9m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mobility qualifying period met"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-m-3m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Likely to still have moblity restrictions"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "qppt-m-9m-check",
                    text: "Change",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            }
          ]
        }) }}




      </div>
    </div>

  </form>

{% endblock %}
