{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}


<form action="application-6-about" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-6/record-id.html" %}

      <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">This application needs to be moved to PIPcs</h2>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Becase there is multiple decision over multiple periods of time are needed the service can not account for this process
        there is not a single start date for this application</p>




When will the first effective date start?
<br><br>
What was the outcome for this period?
<br>
— Nil<br>
— Standard<br>
— Enhanced<br>
<br><br>
When will the second effective date start for the onward payment?
<br><br>
These scores will be taken from the process
<br><br>


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
