<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Justification from the original decision</h3>

<p class="govuk-body govuk-!-margin-bottom-2">
  I made my decision using information about your health condition
or disability including details of any treatment, medication, test
results and symptoms. This information is the best available and
enough to decide how much help you need. You said you can
manage taking nutrition, washing and bathing, managing toilet
needs or incontinence, reading and understanding signs,
symbols and words, engaging with other people face to face and
making budgeting decisions.
</p>
<p class="govuk-body govuk-!-margin-bottom-8">
  I agree you can manage these activities. You said you have difficulties preparing food, managing
  therapy or monitoring a health condition, dressing and undressing
  and communicating verbally.
</p>
