{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="#" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
      {% include "another-decision-0-0-8/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">My decision notes</h1>
      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">These notes are attached to this person </p> -->

      {{ govukTextarea({
        name: "call-notes",
        id: "call-notes",
        formGroup: {
          attributes: {
            "data-module": "moj-rich-text-editor",
            "data-toolbar.bold": "true",
            "data-toolbar.italic": "true",
            "data-toolbar.underline": "true",
            "data-toolbar.bullets": "true",
            "data-toolbar.numbers": "true"
          }
        },
        rows: "10",
        label: {
          text: "",
          classes: "govuk-!-font-weight-bold"
        },
        hint: {
          text: "Add any notes that will help you when speaking to the person and making your decision."
        },
        value: data["call-notes"]
      }) }}


      <h1 class="govuk-heading-l govuk-!-padding-top-8 govuk-!-margin-bottom-6">Draft activity scores and notes</h1>

      {% set dynamicProvisional %}
      {% include "another-decision-0-0-8/notes-popout-working.html" %}
      {% endset %}

      {{ govukAccordion({
        id: "accordion-default",
        items: [
          {
            heading: {
              text: "Preparing food"
            },
            content: {
              html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Taking nutrition"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Managing therapy or monitoring a health condition"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Washing and bathing"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Managing toilet needs or incontinence"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Dressing and undressing"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Communicating verbally"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Reading and understanding signs, symbols and words"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Engaging with other people face to face"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Making budgeting decisions"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Planning and following journeys"
            },
            content: {
            html: dynamicProvisional
            }
          },
          {
            heading: {
              text: "Moving around"
            },
            content: {
            html: dynamicProvisional
            }
          }
        ]
      }) }}







      <div class="govuk-button-group">

        {{ govukButton({
          text: "Save",
          classes: "govuk-button--secondary"
        }) }}
        <p class="govuk-body govuk-!-font-size-19 ">Auto saved 1 minute ago</p>
      </div>

        </form>

        </div>
      </div>

  </form>

{% endblock %}
