{% extends "layouts/main-agent-notes-bar.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block content %}


<form action="qppt-dl-3m-check-router" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "another-decision-0-0-8/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Request overview</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">If you need to contact or get some help here is the space for you</p>


      <table class="govuk-table govuk-!-margin-bottom-8">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header govuk-50-percent"></th>
            <th scope="col" class="govuk-table__header govuk-50-percent"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Request made</td>
            <td class="govuk-table__cell">19 March 2024</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Response recived</td>
            <td class="govuk-table__cell">Today</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Person contacted</td>
            <td class="govuk-table__cell">Assessment provider</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Contact number</td>
            <td class="govuk-table__cell">0796008654</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Contact email</td>
            <td class="govuk-table__cell">hello@email.com</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Responses type</td>
            <td class="govuk-table__cell">Full assessment report</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Additional questions</td>
            <td class="govuk-table__cell">Yes</td>
          </tr>



        </tbody>
      </table>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Responses</h1>


      <table class="govuk-table govuk-!-margin-bottom-8">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header govuk-50-percent">Question</th>
            <th scope="col" class="govuk-table__header govuk-50-percent">Response</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">

          <tr class="govuk-table__row">
            <td class="govuk-table__header">{{data["request-question-1-ap"]}}</td>
            <td class="govuk-table__cell">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">{{data["request-question-2-ap"]}}</td>
            <td class="govuk-table__cell">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
</td>
          </tr>

        </tbody>
      </table>


      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Attachments</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Review and grade the attachment.</p>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="../documents-0-1/doc-8">View attachment</a></p>


      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Follow-up request</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">If you need to contact the person again, you can make a follow-up request. </p>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="request-questions.html">Make a follow up request</a></p>



        </div>
      </div>

  </form>

{% endblock %}
