{% extends "layouts/main-agent-dwa.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}


<form action="qppt-dl-3m-check-router" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "another-decision-0-0-8/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Request overview</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">If you need to contact or get some help here is the space for you</p>


      <table class="govuk-table govuk-!-margin-bottom-8">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header govuk-50-percent"></th>
            <th scope="col" class="govuk-table__header govuk-50-percent"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Request made</td>
            <td class="govuk-table__cell">19 March 2024</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Responce recived</td>
            <td class="govuk-table__cell">Today</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Actor</td>
            <td class="govuk-table__cell">Assessment provider</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Contact number</td>
            <td class="govuk-table__cell">0796008654</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Contact email</td>
            <td class="govuk-table__cell">hello@email.com</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Responce type</td>
            <td class="govuk-table__cell">Full assessment report</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Additional questions</td>
            <td class="govuk-table__cell">Yes</td>
          </tr>



        </tbody>
      </table>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Responces</h1>


      <table class="govuk-table govuk-!-margin-bottom-8">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header govuk-50-percent">Question</th>
            <th scope="col" class="govuk-table__header govuk-50-percent">Responce</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Whats going on with this medication. I'm unsure how this fits into this as a whole. Can you do me a report please</td>
            <td class="govuk-table__cell">A mix of custom microservices, and reuse of other services such as Address Lookup. Later integration with other services such as GCII and CIS to iteratively improve capture journey.</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__header">Unsure on the effects X condition in relationship with XYZ</td>
            <td class="govuk-table__cell">A mix of custom microservices, and reuse of other services such as Address Lookup. Later integration with other services such as GCII and CIS to iteratively improve capture journey.</td>
          </tr>

        </tbody>
      </table>


      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Attachments</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Review attachment, you can then grade as normal</p>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="../documents-0-1/doc-8">View attachment</a></p>


      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Follow up request</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">If you need to contact or get more help here is the space for you</p>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="request-questions.html">Make a follow up request</a></p>



        </div>
      </div>

  </form>

{% endblock %}
