<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>The person is nearing State Pension age</strong></p>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-list_prase"><span id="prase1">As you are close to State Pension age, I have reconsidered the date that your PIP will end. The new date is given in this letter. There will be a ‘light touch review’ before this date, but you will not usually expected to have a face-to-face assessment.</span></p>

    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="As you are close to State Pension age, I have reconsidered the date that your PIP will end. The new date is given in this letter. There will be a ‘light touch review’ before this date, but you will not usually expected to have a face-to-face assessment." aria-live="assertive" data-module="html">Copy paragraph</button>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>The person is waiting for treatment</strong></p>


  </div>
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-list_prase"><span id="prase2">As you are waiting for treatment, I have reconsidered the date that your PIP will end. The new date is given in this letter.</span></p>


    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="As you are waiting for treatment, I have reconsidered the date that your PIP will end. The new date is given in this letter." aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>

  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>The person is undergoing treatment</strong></p>


  </div>
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-list_prase"><span id="prase3">As your treatment is due to last [XX years/months], I have reconsidered the date that your PIP will end. The new date is given in this letter.</span></p>


    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="You said you can [Activity name] unaided. I decided you need an aid to help you with this activity." aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>

  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>The person is waiting for treatment which will last a period of time</strong></p>


  </div>
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-list_prase"><span id="prase4">As you are waiting for treatment and this treatment is due to last [XX years/months], I have reconsidered the date that your PIP will end. The new date is given in this letter.</span></p>


    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="As you are waiting for treatment and this treatment is due to last [XX years/months], I have reconsidered the date that your PIP will end. The new date is given in this letter." aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>

  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>The person’s condition is likely to get worse</strong></p>


  </div>
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-list_prase"><span id="prase4">As your needs are likely to either stay the same or get worse, I have reconsidered the date that your PIP will end. The new date is given in this letter.</span></p>


    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="As your needs are likely to either stay the same or get worse, I have reconsidered the date that your PIP will end. The new date is given in this letter." aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>

  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>The person’s condition is likely to improve</strong></p>


  </div>
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-list_prase"><span id="prase4">As your health condition or disability is likely to improve, I have reconsidered the date that your PIP will end. The new date is given in this letter.</span></p>


    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="As your health condition or disability is likely to improve, I have reconsidered the date that your PIP will end. The new date is given in this letter." aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>

  </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>The person has limited leave to remain in the UK</strong></p>


  </div>
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-list_prase"><span id="prase4">As you have limited leave to remain in the UK, I have reconsidered the date that your PIP will end. The new date is given in this letter.</span></p>


    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="As you have limited leave to remain in the UK, I have reconsidered the date that your PIP will end. The new date is given in this letter." aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>

  </div>
</div>
