<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>No change to the descriptor</strong></p>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-list_prase"><span id="prase1">I have considered this activity again and found no new evidence to support changing this decision.</span></p>

    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="I have considered this activity again and found no new evidence to support changing this decision." aria-live="assertive" data-module="html">Copy paragraph</button>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>Out of scope</strong></p>


  </div>
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-list_prase"><span id="prase2">The reasons you have given cannot be considered for this activity.</span></p>


    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="The reasons you have given cannot be considered for this activity." aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>

  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>Aids and adaptations</strong></p>


  </div>
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-list_prase"><span id="prase3">You said you can [Activity name] unaided. I decided you need an aid to help you with this activity.</span></p>


    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="You said you can [Activity name] unaided. I decided you need an aid to help you with this activity." aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>

  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>No disagreement</strong></p>


  </div>
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-list_prase"><span id="prase4">You said you did not have any difficulties with this activity. I agree you can manage this activity.</span></p>


    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="You said you did not have any difficulties with [Activity name]. I agree you can manage this activity." aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>

  </div>
</div>
