{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  What’s the postcode? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <!------------H1 LEGEND------------>
      {% set dynamicH1 %}
      {% if data["home-care-home-check"] == "Yes" %}<h2 class="govuk-heading-xl govuk-!-margin-bottom-6">What is the postcode of your care home?</h2>
      {% else %}<h2 class="govuk-heading-xl govuk-!-margin-bottom-6">What is your home postcode?</h2>{% endif %}
      {% endset %}
    <!------------Legend--------------->

    <form action="address-choice" method="post" class="form">
      {{ govukInput({
        id: "postcode",
        name: "postcode",
        value: data["postcode"],
        classes: "govuk-input--width-10",
        label: {
          html: dynamicH1
        }
      }) }}

      <input type="hidden" name="address-complete" value="in-progress"/>

      {{ govukButton({
        text: "Find address"
      }) }}
    </form>

    <br>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="address-manual">Enter your address manually</a>
      </li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->


  </div>
</div>
{% endblock %}
