{% extends "layout-process-mr.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi.html" %}
{% endblock %}
{% block content %}

{% include "another-decision-0-0-6/record-id.html" %}

  {% if data["obc-payability-check"] == "No" %}
  <form action="cya-letter-review" method="post" class="form">
    No payment risk
  {% else %}
  <form action="award-dates-playback-router" method="post" class="form">
    
  {% endif %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Add your justification for setting a X year(s)/month(s) award review period</h1>


      {% set legendHint %}

     {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "award-dates-AP-rec-check",
        name: "award-dates-AP-rec-check",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: legendHint
        },
        items: [
        {
          value: "Yes",
          text: "Standard 3 year award review period",
          checked: (data["award-dates-AP-rec-check"] == "Yes")
        },
        {
          value: "No",
          text: "The person is under 25",
          checked: (data["award-dates-AP-rec-check"] == "No")
        },
        {
          value: "No",
          text: "The person is close to State Pension age",
          checked: (data["award-dates-AP-rec-check"] == "No")
        },
        {
          value: "No",
          text: "The person has high-level needs that will either stay the same or get worse",
          checked: (data["award-dates-AP-rec-check"] == "No")
        },
        {
          value: "No",
          text: "The person has a health condition or disability that is likely to improve",
          checked: (data["award-dates-AP-rec-check"] == "No")
        },
        {
          value: "No",
          text: "The person is waiting for treatment",
          checked: (data["award-dates-AP-rec-check"] == "No")
        },
        {
          value: "No",
          text: "The person is undergoing treatment that will last a period of time",
          checked: (data["award-dates-AP-rec-check"] == "No")
        }
        ,
       {
        divider: "or"
      },
       
        {
          value: "No",
          text: "Other",
          checked: (data["award-dates-AP-rec-check"] == "No")
        }
        ]
      }) }}

            {% endset %}

    {{ govukTextarea({
      name: "award-dates-review-justification",
      id: "award-dates-review-justification",
      classes: " govukTextarea--overwrite",
      label: {
        text: "",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        html: legendHint
      },
      value: data["award-dates-review-justification"]
    }) }}

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-bottom-8"
    }) }}

        </div>
      </div>

  </form>

{% endblock %}
