
{% if data["system-application-selector"]  == "1" %}

    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application and sent the decision letter. The person has not been awarded PIP.</p>
    <p class="govuk-body govuk-!-font-size-19">The sent letter will be available to view in ECMS in the next couple of minutes.</p>

    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}

    {% elif data["system-application-selector"]  == "2" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application. The applicant has been awarded PIP.</p>
    <p class="govuk-body govuk-!-font-size-19">The sent letter will be available to view in ECMS shortly.</p>

  {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}

      {% else %}

    {% endif %}


    {% if data["assurance-tasklist-separate-outcome"] == "AP"%}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">This application will now go to an assessment provider</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}

    {% else %}

  {% endif %}

    {% if data["ftc-make-contact"] == "Invalid" or data["fta-make-contact"] == "Invalid" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">Withdraw process</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'information'
    }) }}

    {% elif data["ftx-contact-issues"] == "1" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">!!! Paused How are we doing this? Agent is blocked</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'information'
    }) }}

    {% elif data["ftx-contact-issues"] == "2" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">??? Auto letter to contact DWP about FTA / FTC</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}

    {% elif data["assurance-disallow-check"] == "No" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">This application has been disallowed. You have sent the applicant a letter confirming this. You do not need to do anything further.</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}

    {% elif data["assurance-withdraw-check"] == "No" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">This application has been withdrawn. You have sent the applicant a letter confirming this. You do not need to do anything further.</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}

    {% elif data["assurance-disallow-check"] == "Yes" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">This application has been moved to PIPCS to be disallowed</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'information'
    }) }}

    {% elif data["assurance-withdraw-check"] == "Yes" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">This application has been moved to PIPCS to be withdrawn</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'information'
    }) }}

    {% elif data["assurance-mm-tasklist-outcome"] == "PIPcs" or data["preparation-linear-outcome"] == "PIPcs" or data["eject-reason"] == "PIPcs" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">This application has been moved to PIPCS</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'information'
    }) }}




  {% else %}

{% endif %}
