{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "dwa-dec-call-bar-active.html" %}
{% endblock %}

{% block content %}

{% include "another-decision-0-0-7/record-id.html" %}


{% if data["obc-change-tasklist-item-8"] %}
<form action="../obc-callguide" method="post" class="form">
{% else %}
<form action="obc-change-tasklist-item-8" method="post" class="form">
<!-- <form action="../obc-change-tasklist-item-2" method="post" class="form"> -->
{% endif %}



{{ govukBreadcrumbs({
  classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
  items: [
    {
      text: "Call guide",
      href: "../obc-callguide"
    },
    {
      text: "Care home",
      href: ""
    }
  ]
}) }}




      <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


          <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">Care home details</h2>

          {{ govukInput({
            label: {
              text: "Care home name"
            },
            id: "obc-change-tasklist-item-3-name",
            name: "obc-change-tasklist-item-3-name",
            classes: "govuk-input--width-20",
            value: data["obc-change-tasklist-item-3-name"]
          }) }}

          {{ govukTextarea({
            name: "obc-change-tasklist-item-3-contact",
            id: "obc-change-tasklist-item-3-contact",
        rows: "3",
        label: {
          text: "",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Contact details"
        },
        value: data["obc-change-tasklist-item-3-contact"]
      }) }}

      {{ govukTextarea({
        name: "obc-change-tasklist-item-3-address",
        id: "obc-change-tasklist-item-3-address",
    rows: "3",
    label: {
      text: "",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "Care home address"
    },
    value: data["obc-change-tasklist-item-3-address"]
  }) }}


<!-- ————————————————————— -->

    {% set dynamicFundingType %}

    {{ govukTextarea({
      name: "obc-change-tasklist-item-3-funding-details",
      id: "obc-change-tasklist-item-3-funding-details",
  rows: "3",
  label: {
    text: "",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  hint: {
    text: "Funding details"
  },
  value: data["obc-change-tasklist-item-3-funding-details"]
}) }}

    {% endset -%}

    <br>


    {{ govukRadios({
      idPrefix: "obc-change-tasklist-item-3-funding-type",
      name: "obc-change-tasklist-item-3-funding-type",
      fieldset: {
        legend: {
          text: "How is the person's stay in the care home funded?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m "
        }
      },
      items: [
    {
      value: "The person funds it themselves",
      text: "The person funds it themselves",
      checked: (data["obc-change-tasklist-item-3-funding-type"] == "The person funds it themselves")
      },
      {
      value: "By the local authority",
      text: "By the local authority",
      checked: (data["obc-change-tasklist-item-1-roll-number-check"] == "By the local authority"),
        conditional: {
          html: dynamicFundingType
        }
      },
      {
      value: "Not known",
      text: "Not known",
      checked: (data["obc-change-tasklist-item-1-roll-number-check"] == "Not known"),
        conditional: {
          html: dynamicFundingType
        }
      }
      ]
    }) }}


    <!-- ————————————————————— -->


    <!-- ————————————————————— -->

        {% set stayLength %}

        {{ govukTextarea({
          name: "obc-change-tasklist-item-3-tempory-acc-check-details",
          id: "obc-change-tasklist-item-3-tempory-acc-check-details",
      rows: "3",
      label: {
        text: "",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: "About the stays in a care home"
      },
      value: data["obc-change-tasklist-item-3-tempory-acc-check-details"]
    }) }}

        {% endset -%}

        {% set stayLengthSingle %}

        {{ govukDateInput({
          name: "obc-change-tasklist-item-3-tempory-acc-date-in",
          id: "obc-change-tasklist-item-3-tempory-acc-date-in",
          fieldset: {
            legend: {
              text: "When did they go into the care home?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          value: data["obc-change-tasklist-item-3-tempory-acc-date-in"]
        }) }}

        {{ govukDateInput({
          name: "obc-change-tasklist-item-3-tempory-acc-date-out",
          id: "obc-change-tasklist-item-3-tempory-acc-date-out",
          fieldset: {
            legend: {
              text: "When did they leave the care home? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          value: data["obc-change-tasklist-item-3-tempory-acc-date-out"]
        }) }}

        {% endset -%}

<br>


        {{ govukRadios({
          idPrefix: "obc-change-tasklist-item-3-tempory-acc-check",
          name: "obc-change-tasklist-item-3-tempory-acc-check",
          fieldset: {
            legend: {
              text: "Was this a single continuous stay? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
        {
          value: "Yes",
          text: "Yes, the person only stayed in the care home once",
          checked: (data["obc-change-tasklist-item-3-tempory-acc-check"] == "Yes"),
            conditional: {
              html: stayLengthSingle
            }
          },
          {
          value: "No",
          text: "No, the person had multiple stays",
          checked: (data["obc-change-tasklist-item-3-tempory-acc-check"] == "No"),
            conditional: {
              html: stayLength
            }
          },
          {
          value: "Not known",
          text: "Not known",
          checked: (data["obc-change-tasklist-item-3-tempory-acc-check"] == "Not known"),
            conditional: {
              html: stayLength
            }
          }
          ]
        }) }}


        <!-- ————————————————————— -->





          {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-bottom-8"
          }) }}

            </div>
          </div>

      </form>

    {% endblock %}
