{% extends "layouts/layout.html" %}

{% block pageTitle %}
Record the primary condition or disability
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="application-6-about-done-2" method="post">



      {% include "agent-day-0-2-1/record-id.html" %}

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Health conditions or disabilities</h1>



      <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 80%">Primary condition</th>
              <th scope="col" class="govuk-table__header" style="width: 10%"></th>
              <th scope="col" class="govuk-table__header" style="width: 10%"></th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">{{ data["health-condition-primary-search"]}} </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"><a href="health-condition-primary-search-change">Change</a></td>
            </tr>
          </tbody>
        </table>


        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 80%">Other conditions</th>
              <th scope="col" class="govuk-table__header" style="width: 10%"></th>
              <th scope="col" class="govuk-table__header" style="width: 10%"></th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">{{ data["health-condition-3-search"]}} </td>
              <td class="govuk-table__cell"><a href="#">Change</a></td>
              <td class="govuk-table__cell"><a href="#">Remove</a></td>
            </tr>
          </tbody>
        </table>





        <a href="application-6-about-done" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
        &nbsp
        <a href="health-condition-condition-2-search" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another condition or disability
        </a>








    </div>
    </form>


  </div>
</div>
{% endblock %}
