{% extends "layouts/layout.html" %}

{% block pageTitle %}
Record the primary condition or disability
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block head %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="/public/images/accessible-autocomplete.min.css"/>
  <script src="/public/javascripts/accessible-autocomplete2.min.js"></script>
  <style>
    .autocomplete__option {
      font-size: 19px;
      line-height: 1.31579;
      font-family: GDS Transport,arial,sans-serif;
      -webkit-font-smoothing: antialiased;
    }
  </style>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" method="post">



      {% include "person-record-0-0-2/record-id.html" %}



          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Help to find a condition</h1>








        <p class="govuk-body govuk-!-margin-bottom-8">XXXX</p>

        <!------------H1 LEGEND------------>
          {% set legendName %}
          <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Manual search</h1>
          {% endset %}
        <!------------Legend--------------->

        <!-- {{ govukInput({
          label: {
            html: legendName
          },
          hint: {
            text: ""
          },
          id: "search",
          name: "search",
          classes: "govuk-input--width-30 govuk-!-margin-bottom-6",
          value: data["search"]
        }) }} -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">

            {{ govukCheckboxes({
            idPrefix: "record-1-event-history-filter",
            name: "record-1-event-history-filter",
            classes: "govuk-checkboxes--small",
            fieldset: {
            legend: {
            text: "Category 1",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s "
            }
            },
            items: [
            {
            value: "1",
            text: "Abdominal hernias",
            checked: (data["record-1-event-history-filter"] == "1")
            },
            {
            value: "2",
            text: "Adrenal disease",
            checked: (data["record-1-event-history-filter"] == "2")
            },
            {
            value: "3",
            text: "Amputations",
            checked: (data["record-1-event-history-filter"] == "3")
            },
            {
            value: "XXX",
            text: "Amyloidosis",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Anaemia",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Aneurysm",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Ankle and foot disorders",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Antiphospholipid syndrome",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Anxiety disorders",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Asthma",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Ataxia",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Autistic spectrum disorders",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Benign tumours",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Benign tumours of the gastrointestinal tract",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Blood disorders",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Bronchiectasis",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Bullous disease",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Burns",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cancer of breast ",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cancer of the brain and spinal cord",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cancers of bone",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cancers of the adrenal gland",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cancers of the gastrointestinal tract",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cancers of the genitourinary tract",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cancers of the haematological system",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cancers of the skin",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cardiac arrhythmias",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cardiac failure",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cardiomyopathy",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cataract",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cerebral palsy",
            checked: (data["record-1-event-history-filter"] == "XXX")
            },
            {
            value: "XXX",
            text: "Cerebrovascular disease",
            checked: (data["record-1-event-history-filter"] == "XXX")
            }
            ]
            }) }}


          </div>
          <div class="govuk-grid-column-one-half">

            {{ govukCheckboxes({
            idPrefix: "record-1-event-history-filter",
            name: "record-1-event-history-filter",
            classes: "govuk-checkboxes--small",
            fieldset: {
            legend: {
            text: "Category 2",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s "
            }
            },
            items: [
            {
            value: "sc1",
            text: "Autoimmune disease (connective tissue disorders)",
            checked: (data["record-1-event-history-filter"] == "sc1")
            },
            {
            value: "sc2",
            text: "Cardiovascular disease",
            checked: (data["record-1-event-history-filter"] == "sc2")
            },
            {
            value: "sc3",
            text: "Diseases of Pregnancy and the Postnatal Period",
            checked: (data["record-1-event-history-filter"] == "sc3")
            },
            {
            value: "sc4",
            text: "Diseases of the immune system",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Endocrine disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Gastrointestinal disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Genitourinary disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Haematological Disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Hearing disorders",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Infectious disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Malignant disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Metabolic disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Multisystem and extremes of age",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Musculoskeletal disease (general)",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Musculoskeletal disease (regional)",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Neurological disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Psychiatric disorders",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Respiratory disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Skin disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            },
            {
            value: "sc4",
            text: "Visual disease",
            checked: (data["record-1-event-history-filter"] == "sc4")
            }
            ]
            }) }}



          </div>



          <div class="govuk-grid-column-full govuk-!-margin-bottom-0">

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Apply filter",
                classes: "govuk-button"

              }) }}

              {{ govukButton({
                text: "Clear all filters",
                classes: "govuk-button--secondary"
              }) }}
            </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible-seperator">

        <h1 class="govuk-heading-m govuk-!-margin-bottom-3">Filtered results</h1>

        <p class="govuk-body govuk-!-margin-bottom-6"> 10 - 2,000 conditions shown</p>

        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 1</a></p>
        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 2</a></p>
        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 3</a></p>
        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 4</a></p>
        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 5</a></p>
        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 6</a></p>
        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 7</a></p>
        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 8</a></p>
        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 9</a></p>
        <p class="govuk-!-margin-bottom-4"><a class="govuk-link govuk-!-margin-bottom-4" href="health-condition-choice">Condition 10</a></p>

        </div>



      </div>





    </div>
    </form>


  </div>
</div>
{% endblock %}
