{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}


<form action="record-1-overview" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">No record found</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">There are no applicant or claimant records for<br>National Insurance number <b>{% if data["search"] %} {{ data ["search"]}}{% else %}NA 11 22 33 c{% endif %}</b></p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href='find-someone-1-offline-gather'>Search again</a></p>



        </div>
      </div>

  </form>



{% endblock %}
