     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



     <p class="govuk-body-s"><a class="" href="r-address" target="">Same letter address</a>
     <p class="govuk-body-s"><a class="" href="r-address-type" target="">Address type (Payabiltiy)</a>
     <p class="govuk-body-s"><a class="" href="r-address-alt-address" target="">Alt address for letters</a>
     <p class="govuk-body-s"><a class="" href="r-appointees" target="">When DelAuth is Alt address for letters</a></p>
     <p class="govuk-body-s"><a class="" href="r-appointees" target="">When there is temporary accommodation</a></p>

     <!--<p class="govuk-body-s"><a class="" href="X" target="">X</a></p>-->
     <!--<p class="govuk-body-s"><a class="" href="X" target="">X</a></p>-->
     <!--<p class="govuk-body-s"><a class="" href="X" target="">X</a></p>-->
