{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-4/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="#" method="post" class="form">

      {% include "person-record-0-0-4/record-id-base.html" %}


    </div>
  </div>


    {% include "person-record-0-0-4/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">


    {% if data["r-appointees-add"] %}

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Appointees or representatives</h3>


    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="r-appointees-add" target="">Add another appointee or representative</a></p>

    {% include "person-record-0-0-4/r-appointees-data-active.html" %}
    {% include "person-record-0-0-4/r-appointees-data-history.html" %}





    {% else %}
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">There are no appointees or representatives for this person</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="r-appointees-add" target="">Add an appointee or representative</a></p>

    {% endif %}

    {% include "person-record-0-0-4/r-appointees-scenarios.html" %}





  </div>


    </form>
{% endblock %}
