{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-4/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="#" method="post" class="form">

      {% include "person-record-0-0-4/record-id-base.html" %}


    </div>
  </div>


    {% include "person-record-0-0-4/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">


    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-8">Appointees and representatives</h3>


    {{ govukSummaryList({
      card: {
        title: {
          html: "Sam Elliott"
        },
        actions: {
          items: [
            {
              href: "r-appointees-cya",
              text: "View or change details",
              visuallyHiddenText: "of University of Gloucestershire"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Relationship to the applicant"
          },
          value: {
            html: "Power of attorney"
          }
        },
        {
          key: {
            text: "[Type] telephone"
          },
          value: {
            html: "0796 009 4452"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: 'PO BOX <br>Newcastle upon Tyne <br>NE1 4ST'
          }
        }
      ]
    }) }}



    {% include "person-record-0-0-4/r-appointees-data-history.html" %}


    {% include "person-record-0-0-4/r-appointees-scenarios.html" %}





  </div>


    </form>
{% endblock %}
