        <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27 govuk-!-margin-top-8 govuk-!-margin-bottom-4">Previous cases</h3>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case summary</th>
                <th scope="col" class="govuk-table__header">Number of decisions</th>
                <th scope="col" class="govuk-table__header">Application date</th>
                <th scope="col" class="govuk-table__header">End date / last event</th>
                <th scope="col" class="govuk-table__header">Status or Outcome</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">

              {% if data["case-scenario-selector"]  == "0f" %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="" href="r-case-l3-0f-overview-application" target="">View</a></td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">12 Dec 2025</td>
                <td class="govuk-table__cell">Today</td>
                <td class="govuk-table__cell">

                  {{govukTag({
                    text: "Nil award",
                    classes: "govuk-tag--red"
                  })}}

                </td>
              </tr>

              {% else %}
              {% endif %}

              {% if data["case-scenario-selector"]  == "0g" %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="" href="r-case-l3-0f-overview-application" target="">View</a></td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">12 Dec 2025</td>
                <td class="govuk-table__cell">Today</td>
                <td class="govuk-table__cell">

                  {{govukTag({
                    text: "Disallowed",
                    classes: "govuk-tag--red"
                  })}}

                </td>
              </tr>

              {% else %}
              {% endif %}


              {% if data["case-scenario-selector"]  == "10a" %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="" href="r-case-l3-10a-overview-application" target="">View</a></td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">12 Dec 2025</td>
                <td class="govuk-table__cell">Today</td>
                <td class="govuk-table__cell">

                  {{govukTag({
                    text: "PIPCS",
                    classes: "govuk-tag--orange"
                  })}}

                </td>
              </tr>

              {% else %}
              {% endif %}


              {% if data["case-scenario-selector"]  == "0c" %}

              {% if data["r-case-l3-AA-application-overview-ftc-controls"] == "Reactivate" %}
              {% else %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="" href="r-case-l3-AA-application-overview-ftc" target="">View</a></td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">60 days ago</td>
                <td class="govuk-table__cell">Yesterday</td>
                <td class="govuk-table__cell">

                  {{govukTag({
                    text: "FTC",
                    classes: "govuk-tag--yellow"
                  })}}

                </td>
              </tr>
              {% endif %}

              {% else %}
              {% endif %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="" href="r-case-l3-AA-application-overview-withdrawn" target="">View</a></td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">12 Dec 2025</td>
                <td class="govuk-table__cell">20 Dec 2025</td>
                <td class="govuk-table__cell">

                  {{govukTag({
                    text: "Withdrawn",
                    classes: "govuk-tag--grey"
                  })}}

                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="" href="r-case-summary-ARC-1" target="">View</a></td>
                <td class="govuk-table__cell">4</td>
                <td class="govuk-table__cell">10 Jan 2020</td>
                <td class="govuk-table__cell">1 Jan 2025</td>
                <td class="govuk-table__cell">

                  {{govukTag({
                    text: "Closed",
                    classes: "govuk-tag--red"
                  })}}

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="" href="r-case-summary-ARC-2" target="">View</a></td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">1 Mar 2016</td>
                <td class="govuk-table__cell">2 Mar 2018</td>
                <td class="govuk-table__cell">

                  {{govukTag({
                    text: "Closed",
                    classes: "govuk-tag--red"
                  })}}

                </td>
              </tr>


            </tbody>
          </table>
