
<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27 govuk-!-margin-top-8 govuk-!-margin-bottom-6">Previous cases</h3>
<!--<h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Details of applications and decisions that have been closed or withdrawn.</h3>-->


    {% if data["case-scenario-selector"]  == "0c" %}

    {% set CaseX %}
    <p class="govuk-body"><a class="" href="r-case-l3-AA-application-overview-ftc" target="">View</a></p>
    {% endset -%}

    {% set CaseXDateStart %}
    <p class="govuk-body">60 days ago</p>
    {% endset -%}

    {% set CaseXDateEnd %}
    <p class="govuk-body">Yesterday</p>
    {% endset -%}

    {% set CaseXstatus %}

    {{govukTag({
      text: "FTC",
      classes: "govuk-tag--yellow"
    })}}

    {% endset -%}


    {% else %}

    {% set CaseX %}
    <p class="govuk-body"><a class="" href="r-case-l3-AA-application-overview-withdrawn" target="">View</a></p>
    {% endset -%}

    {% set CaseXDateStart %}
    <p class="govuk-body">12 Dec 2025</p>
    {% endset -%}

    {% set CaseXDateEnd %}
    <p class="govuk-body">20 Dec 2025</p>
    {% endset -%}

    {% set CaseXstatus %}

    {{govukTag({
      text: "Withdrawn",
      classes: "govuk-tag--grey"
    })}}

    {% endset -%}

    {% endif %}

    {% set Case2 %}
    <p class="govuk-body"><a class="" href="r-case-summary-ARC-1" target="">View</a></p>
    {% endset -%}

    {% set Case2status %}

    {{govukTag({
      text: "Closed",
      classes: "govuk-tag--red"
    })}}

    {% endset -%}

    {% set Case1 %}
    <p class="govuk-body"><a class="" href="r-case-summary-ARC-2" target="">View</a></p>
    {% endset -%}

    {% set Case1status %}

    {{govukTag({
      text: "Closed",
      classes: "govuk-tag--red"
    })}}

    {% endset -%}


    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          html: "Case<br>summary",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Number of decisions",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Application date",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "End date / last event",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Status",
          classes: "govuk-!-width-one-quarter"
        }
      ],
      rows: [
            [
            {
              html: CaseX
            },
            {
              text: "0"
            },
            {
              html: CaseXDateStart
            },
            {
              html: CaseXDateEnd
            },
            {
            html: CaseXstatus
            }
          ],
          [
          {
            html: Case2
          },
          {
            text: "4"
          },
          {
            text: "10 Jan 2020"
          },
          {
            text: "1 Jan 2025"
          },
          {
          html: Case2status
          }
        ],
        [
          {
          html: Case1
          },
          {
            text: "2"
          },
          {
            text: "1 Mar 2016"
          },
          {
            text: "2 Mar 2018"
          },
          {
          html: Case1status
          }
        ]
      ]
    }) }}
