<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Mobile telephone
    </dt>
    <dd class="govuk-summary-list__value">
      0796 009 3500
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="r-contact-alt-detials-add">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Text message updates
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="r-contact-alt-detials-add">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Landline telephone
    </dt>
    <dd class="govuk-summary-list__value">
      0191 488 3188
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="r-contact-alt-detials-add">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  </dl>
