{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-4/r-notifications.html" %}

<form action="r-contact" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->
  {% include "person-record-0-0-4/record-id-base.html" %}

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-overview"
        },
        {
          text: "Contact details",
          href: "r-contact-details"
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">


      {{ govukRadios({
        idPrefix: "r-contact-alt-detials-add",
        name: "r-contact-alt-detials-add",
        classes: "govuk-radios",
        fieldset: {
          legend: {
            text: "Add a method of contact?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: "X"
        },
        items: [
        {
          value: "0",
          text: "Landline telephone",
          checked: (data["r-contact-alt-detials-add"] == "0")
        },
        {
          value: "1",
          text: "Audio format",
          checked: (data["r-contact-alt-detials-add"] == "1")
        },

          {
            value: "2",
            text: "Braille format",
            checked: (data["r-contact-alt-detials-add"] == "2")
          },

          {
            value: "3",
            text: "British Sign Language Video",
            checked: (data["r-contact-alt-detials-add"] == "3"),
            conditional: {
              html: 1Html
            }
          },
          {
            value: "4",
            text: "Email",
            checked: (data["r-contact-alt-detials-add"] == "4"),
            conditional: {
              html: 2Html
            }
          },
          {
            value: "5",
            text: "Paper colour options",
            checked: (data["r-contact-alt-detials-add"] == "5"),
            conditional: {
              html: 3Html
            }
          },
          {
            value: "6",
            text: "Text size (Large format)",
            checked: (data["r-contact-alt-detials-add"] == "6"),
            conditional: {
              html: 3Html
            }
          },
          {
            value: "7",
            text: "Coloured paper",
            checked: (data["r-contact-alt-detials-add"] == "7"),
            conditional: {
              html: 3Html
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
