{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}



{% block content %}
{% include "person-record-0-0-4/record-id-base.html" %}

  <form action="r-o-a-move-reason-justification" method="post" class="form">

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-overview"
        },
        {
          text: "Event history",
          href: "r-event-history"
        }
      ]
    }) }}

    <div class="govuk-grid-column-full">

      <form action="record-1-event-history-filter-router" method="post" class="form">


            <style>
            #accordion-default > div.govuk-accordion__controls > button {display: none}
            /* #accordion-default-heading-1 > span {display: none} */
            </style>



          </div>
        </div>

         <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Event history</h1>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="record-1-event-history-reason" target="">Add a new event</a> to the event history.</p>







      <div class="govuk-accordion govuk-!-margin-bottom-0 event-history-top-border " data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Filter by event type
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">

                {{ govukCheckboxes({
                idPrefix: "record-1-event-history-filter",
                name: "record-1-event-history-filter",
                classes: "govuk-checkboxes--small",
                fieldset: {
                legend: {
                text: "Select filter type",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s "
                }
                },
                items: [
                {
                value: "1",
                text: "Inbound calls",
                checked: (data["record-1-event-history-filter"] == "1")
                },
                {
                value: "2",
                text: "Outbound calls",
                checked: (data["record-1-event-history-filter"] == "2")
                },
                {
                value: "3",
                text: "Letters sent",
                checked: (data["record-1-event-history-filter"] == "3")
                },
                {
                value: "4",
                text: "Letters received",
                checked: (data["record-1-event-history-filter"] == "4")
                },
                {
                value: "4",
                text: "Flags and markers",
                checked: (data["record-1-event-history-filter"] == "4")
                },
                {
                value: "5",
                text: "Changes of circumstances",
                checked: (data["record-1-event-history-filter"] == "4")
                }
                ]
                }) }}

                {{ govukButton({
                text: "Apply",
                classes: "govuk-button--secondary govuk-!-margin-bottom-4"
                }) }}

              </div>
              <div class="govuk-grid-column-one-half">

                {{ govukCheckboxes({
                idPrefix: "record-1-event-history-filter",
                name: "record-1-event-history-filter",
                classes: "govuk-checkboxes--small",
                fieldset: {
                legend: {
                text: "Select case/decision",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s "
                }
                },
                items: [
                {
                value: "c2",
                html: "Mandatory reconsideration decision<br>(16 March 2024)",
                checked: (data["record-1-event-history-filter"] == "claim2")
                },
                {
                value: "c2",
                html: "Original decision<br>(1 March 2024)",
                checked: (data["record-1-event-history-filter"] == "claim1")
                }
                ]
                }) }}



              </div>



              <div class="govuk-grid-column-full govuk-!-margin-bottom-0">

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible-seperator">

            </div>

          </div>
        </div>
      </div>



          <table class="govuk-table govuk-!-margin-top-0">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-33-percent">Date</td>
              <td class="govuk-table__cell govuk-66-percent">Details</td>
              <!-- <td class="govuk-table__cell govuk-20-percent">Actions</td> -->
            </tr>
            </thead>

            {% if data["r-other-actions"] == "completed-move-to-PIPCS" or data["case-scenario-selector"]  == "10a" %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">Today</td>

              <td class="govuk-table__cell table-spacer">
               <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Completed move to PIPCS</h2>

                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p>
                <p class="govuk-body govuk-!-margin-bottom-3">I did the do and no drama</p>

                <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

              </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer">Today</td>

                <td class="govuk-table__cell table-spacer">
                 <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Identified need to move to PIPCS</h2>

                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Reason</p>
                  <p class="govuk-body govuk-!-margin-bottom-3">Appointee added</p>

                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p>
                  <p class="govuk-body govuk-!-margin-bottom-3">Information taken from the call</p>

                  <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                </td>
                </tr>

              {% else %}
              {% endif %}

            {% if data["r-other-actions"] == "move-to-PIPCS" or data["case-scenario-selector"]  == "10" %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">Today</td>

              <td class="govuk-table__cell table-spacer">
               <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Identified need to move to PIPCS</h2>

                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Reason</p>
                <p class="govuk-body govuk-!-margin-bottom-3">Appointee added</p>

                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p>
                <p class="govuk-body govuk-!-margin-bottom-3">Information taken from the call</p>

                <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

              </td>
              </tr>

              {% else %}
              {% endif %}

            {% if data["r-appointees-add"] %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">Today</td>

              <td class="govuk-table__cell table-spacer">
                <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">A new DelAuth was added</h2>

                <p class="govuk-body govuk-!-margin-bottom-2">Sam Elliot was added and will take over XYZ</p>

                <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-3"><a class="" href="r-appointees" target="">View details</a></p>

                <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

              </td>
              </tr>

              {% else %}
              {% endif %}


            {% if data["entry-home-processing-options"] == "MakeMRNil" or data["entry-home-processing-options"] == "MakeMRChange" %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">Today</td>

              <td class="govuk-table__cell table-spacer">
                <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">MR Done</h2>

                <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

                <ul class="govuk-list govuk-list--bullet">
                  <li>XXX.</li>
                  <li>XXX</li>
                </ul>
              </p>
              <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

              </td>
              </tr>

              {% else %}
              {% endif %}


            {% if data["an-de-move-paper"] == "ByPost" %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">Today</td>

              <td class="govuk-table__cell table-spacer">
                <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Inbound call (P)</h2>

                <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

                <ul class="govuk-list govuk-list--bullet">
                  <li>Talked through the process of an mandatory reconsideration.</li>
                  <li>Manually sent form CRMR1 by post.</li>
                </ul>
              </p>
              <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

              </td>
              </tr>

              {% else %}
              {% endif %}

              {% if data["an-de-move-paper"] == "ByEmail" %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer">Today</td>

                <td class="govuk-table__cell table-spacer">
                  <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Inbound call (E)</h2>

                  <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

                  <ul class="govuk-list govuk-list--bullet">
                    <li>Talked through the process of an mandatory reconsideration.</li>
                    <li>Email sent with a link to the CRMR1 form.</li>
                  </ul>
                </p>
                <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                </td>
                </tr>


              {% else %}
              {% endif %}

              {% if data["an-de-move-paper"] == "ByDownload" %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer">Today</td>

                <td class="govuk-table__cell table-spacer">
                  <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Inbound call (D)</h2>

                  <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

                  <ul class="govuk-list govuk-list--bullet">
                    <li>Talked through the process of an mandatory reconsideration.</li>
                    <li>Advised person to download CRMR1 from GOV.UK.</li>
                  </ul>
                </p>
                <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                </td>
                </tr>

              {% else %}
              {% endif %}

              {% if data["an-de-reissue-letter"] == "Yes" %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer">Today</td>

                <td class="govuk-table__cell table-spacer">
                  <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Inbound call</h2>

                  <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

                  <ul class="govuk-list govuk-list--bullet">
                    <li>Talked through the process of an mandatory reconsideration.</li>
                    <li>Person requested that we resend their decision letter. </li>
                  </ul>
                </p>
                <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                </td>
                </tr>

                {% elif data["an-de-reissue-letter"] == "No" %}

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer">Today</td>

                    <td class="govuk-table__cell table-spacer">
                      <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Inbound call</h2>
                      <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

                      <ul class="govuk-list govuk-list--bullet">
                        <li>Talked through the process of an mandatory reconsideration.</li>
                        <li>Person will call us back to provide details of which parts of their decision they disagree with.</li>
                      </ul>
                    </p>
                    <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                    </td>
                    </tr>

              {% else %}
              {% endif %}


            {% if data["an-de-overview"] == "Yes" %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer">Today</td>

                <td class="govuk-table__cell table-spacer">
                  <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Inbound call</h2>
                  <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

                  <ul class="govuk-list govuk-list--bullet">
                    <li>Talked through the process of an mandatory reconsideration.</li>
                    <li>Mandatory reconsideration registered.</li>
                  </ul>
                </p>
                  <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                  <!-- <p class="govuk-body govuk-!-margin-bottom-3">Request for their decision to be reconsidered. Recorded the reasons they disagreed with the decision and explained what will happen next.</p> -->
                  <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-3"><a class="" href="record-applicaion-evidence-notes" target="">View notes</a></p>

                  <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                </td>
                </tr>

            {% else %}
            {% endif %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">18 October 2023</td>

              <td class="govuk-table__cell table-spacer">
                <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Inbound call</h2>
                <p class="govuk-body govuk-!-margin-bottom-2">Actions taken:

                <ul class="govuk-list govuk-list--bullet">
                  <li>Reissue award letter</li>
                  <li>Changed landline</li>
                  <li>Removed helper</li>
                </ul>
              </p>
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p>
                <p class="govuk-body govuk-!-margin-bottom-3">Information taken from the call</p>
                <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

              </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer">16 October 2023</td>

                <td class="govuk-table__cell table-spacer">
                  <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Letter sent</h2>

                  <p class="govuk-body govuk-!-margin-bottom-3">Citzen asked for another copy of the decsion letter</p>
                  <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-spacer">1 October 2023</td>

                  <td class="govuk-table__cell table-spacer">
                    <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Inbound call</h2>
                    <!-- <p class="govuk-body govuk-!-margin-bottom-3">David Connifey</p> -->

                    <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                    <p class="govuk-body govuk-!-margin-bottom-3">Information taken from the call</p>
                    <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                  </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer">29 September 2023</td>

                    <td class="govuk-table__cell table-spacer">
                      <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Outbound call</h2>

                      <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                      <p class="govuk-body govuk-!-margin-bottom-3">I have requested a care plan from the citizen</p>
                      <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                    </td>
                    </tr>


                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">DD Month Year</td>

                      <td class="govuk-table__cell table-spacer">
                        <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Entry type</h2>

                        <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                        <p class="govuk-body govuk-!-margin-bottom-3">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                        <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                        <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
                        <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                      </td>
                      </tr>


                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-spacer">DD Month Year</td>

                        <td class="govuk-table__cell table-spacer">
                          <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Entry type</h2>

                          <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                          <p class="govuk-body govuk-!-margin-bottom-3">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                          <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                          <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
                          <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                        </td>
                        </tr>


                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell table-spacer">DD Month Year</td>

                          <td class="govuk-table__cell table-spacer">
                            <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Entry type</h2>

                            <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                            <p class="govuk-body govuk-!-margin-bottom-3">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                            <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                            <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
                            <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                          </td>
                          </tr>


                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell table-spacer">DD Month Year</td>

                            <td class="govuk-table__cell table-spacer">
                              <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Entry type</h2>

                              <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                              <p class="govuk-body govuk-!-margin-bottom-3">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                              <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                              <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
                              <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                            </td>
                            </tr>


                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer">DD Month Year</td>

                              <td class="govuk-table__cell table-spacer">
                                <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Entry type</h2>

                                <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                                <p class="govuk-body govuk-!-margin-bottom-3">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                                <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                                <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
                                <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                              </td>
                              </tr>


                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer">DD Month Year</td>

                                <td class="govuk-table__cell table-spacer">
                                  <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Entry type</h2>

                                  <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                                  <p class="govuk-body govuk-!-margin-bottom-3">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                                  <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                                  <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
                                  <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                                </td>
                                </tr>


                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell table-spacer">DD Month Year</td>

                                  <td class="govuk-table__cell table-spacer">
                                    <h2 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">Entry type</h2>

                                    <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Notes</p> -->
                                    <p class="govuk-body govuk-!-margin-bottom-3">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                                    <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                                    <p class="govuk-body"> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
                                    <p class="govuk-body-s pr-meta-colour">Reported by: Rachel Loughlin (#ID1234)</p>

                                  </td>
                                  </tr>



                  </table>
                </div>


                {{ govukPagination({
                  previous: {
                    href: "#"
                  },
                  next: {
                    href: "#"
                  },
                  items: [
                    {
                      number: 1,
                      href: "#"
                    },
                    {
                      number: 2,
                      current: true,
                      href: "#"
                    },
                    {
                      number: 3,
                      href: "#"
                    }
                  ]
                }) }}

                    </form>
                {% endblock %}
