{{ govukSummaryList({
  card: {
    title: {
      html: "Sam Elliott"
    },
    actions: {
      items: [
        {
          href: "r-hcp-cya",
          text: "View or change details",
          visuallyHiddenText: "of University of Gloucestershire"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Relationship to the applicant"
      },
      value: {
        html: "Doctor / General Practitioner (DO)"
      }
    },
    {
      key: {
        text: "Name"
      },
      value: {
        html: "Mr Steven Strange"
      }
    },
    {
      key: {
        text: "Telephone"
      },
      value: {
        html: "0796 009 4452"
      }
    }
  ]
}) }}
