{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-4/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="#" method="post" class="form">

      {% include "person-record-0-0-4/record-id-base.html" %}


    </div>
  </div>


    {% include "person-record-0-0-4/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">


    {% if data["r-hcp-add"] %}

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Health Care Professionals</h3>


    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="r-hcp-add" target="">Add another Health Care Professional</a></p>

    {% include "person-record-0-0-4/r-hcp-data-active-person1.html" %}
    {% include "person-record-0-0-4/r-hcp-data-history.html" %}





    {% else %}
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">There are no Health Care<br>Professionals for this person</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="r-hcp-add" target="">Add a Health Care Professional</a> to the person's record.</p>

    {% endif %}

    {% include "person-record-0-0-4/r-hcp-scenarios.html" %}





  </div>


    </form>
{% endblock %}
