{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-4/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="r-overview" method="post" class="form">

      {% include "person-record-0-0-4/record-id-base.html" %}


    </div>
  </div>


    {% include "person-record-0-0-4/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-8">Identity</h3>


        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>

              </tr>

            </thead>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__header">Status</td>
                  <td class="govuk-table__cell">Active</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__header">Date verified</td>
                  <td class="govuk-table__cell">DD Month YYYY</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__header">Method</td>
                  <td class="govuk-table__cell">Manual (Agent/G4s)</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__header">Notes</td>
                  <td class="govuk-table__cell">

                    {% if data["r-identity-notes-notes"] %}
                      {{data["r-identity-update-notes"]}}
                    {% else %}
                      Something about the call.
                    {% endif %}
                  </td>
                </tr>


              </tbody>

          </table>






        {% include "person-record-0-0-4/r-identity-scenarios.html" %}


  </div>



    </form>
{% endblock %}
