{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-4/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="r-overview" method="post" class="form">

      {% include "person-record-0-0-4/record-id-base.html" %}


    </div>
  </div>


    {% include "person-record-0-0-4/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Names</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><p><a class="" href="r-name-add" target="">Add another name</a></p>


        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["r-name-first"] %} {{data["r-name-first"]}} {% else %} Jefferson {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="r-name-change">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          {% if data["r-name-type"] == "Middle" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Middle name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data["r-name-addional"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="r-name-another-change">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          {% else %}
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Second name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["r-name-second"] %} {{data["r-name-second"]}} {% else %} Bridgesss {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="r-name-change">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          {% if data["r-name-type"] == "Preferred" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data["r-name-addional"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="r-name-another-change">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          {% else %}
          {% endif %}




          </dl>



        {% include "person-record-0-0-4/r-name-scenarios.html" %}


  </div>




    </form>
{% endblock %}
