{% if data["entry-home-processing-options"] == "MakeMRNil" %}
{% set html %}
<p class="govuk-body govuk-!-font-size-19">Mandatory reconsideration submitted (nil remains nil)</p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'success'
}) }}

{% elif data["entry-home-processing-options"] == "MakeMRChange" %}

{% set html %}
<p class="govuk-body govuk-!-font-size-19">Mandatory reconsideration submitted (Change in rate)</p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'success'
}) }}

{% else %}

{% endif %}


<!-- ProcessMR OUTCOME -->


{% if data["payability-check"] == "Yes" %}

{% set html %}
<p class="govuk-body govuk-!-font-size-19">@rachel Moved to PIPcs</p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'success'
}) }}

{% elif data["payability-check"] == "No" %}

              {% set html %}
              <p class="govuk-body govuk-!-font-size-19">Mandatory reconsideration completed. The decision has changed/remains the same. An entry has been added to the event history and the decision overview. </p>
              {% endset %}

              {{ govukNotificationBanner({
                html: html,
                type: 'success'
              }) }}


{% elif data["payability-check"] == "YesR3" %}


        {% if data["payability-tasklist-item-8"] == "Yes" %}

                      {% set html %}
                      <p class="govuk-body govuk-!-font-size-19">Moved to PIPcs as cant process in service</p>
                      {% endset %}

                      {{ govukNotificationBanner({
                        html: html,
                        type: 'success'
                      }) }}
        {% else %}
                      {% set html %}
                      <p class="govuk-body govuk-!-font-size-19">Mandatory reconsideration completed. The decision has changed/remains the same. An entry has been added to the event history and the decision overview. (After the payment details have been checked.) </p>
                      {% endset %}

                      {{ govukNotificationBanner({
                        html: html,
                        type: 'success'
                      }) }}
        {% endif %}



{% else %}

{% endif %}



{% set flagContext %}
<p class="govuk-body govuk-!-font-size-19">


  {% if data["r-flags-task-add-as"] == "Yes" or data["r-flags-task-add-as"] == "Flag3" %}
  The additional support
  {% else %}
  {% endif %}
  marker has been added to the person's record. </p>

{% endset %}

{{ govukNotificationBanner({
  classes: "prototype-banner-hidden",
attributes: {
  id: "r-flags-task-add-as-marker"
},
  html: flagContext,
  type: 'success'
}) }}



{% if data["an-de-exit-mr-process-early"] == "MyOpenTasks" %}

              {% set html %}
              <p class="govuk-body govuk-!-font-size-19">Paused, now in My open tasks</p>
              {% endset %}

              {{ govukNotificationBanner({
                html: html,
                type: 'success'
              }) }}
{% else %}

{% endif %}


{% set DynamicAddress %}
<p class="govuk-body govuk-!-font-size-19">A new address 'Richardson Road, Newcastle upon Tyne, NE2 4BJ' has been added to the record.</p>
</p>
{% endset %}

{{ govukNotificationBanner({
  classes: "prototype-banner-hidden",
attributes: {
  id: "r-address-add"
},
  html: DynamicAddress,
  type: 'success'
}) }}

{% set DynamicDelAuth %}
<p class="govuk-body govuk-!-font-size-19">A new address 'Richardson Road, Newcastle upon Tyne, NE2 4BJ' has been added to the record.</p>
</p>
{% endset %}

{{ govukNotificationBanner({
  classes: "prototype-banner-hidden",
attributes: {
  id: "r-address-add"
},
  html: DynamicAddress,
  type: 'success'
}) }}


{% set DynamicAppointee %}
<p class="govuk-body govuk-!-font-size-19">A new Power of Attorney 'Sam Elliott' has been added to the person's record.</p>
{% endset %}

{{ govukNotificationBanner({
  classes: "prototype-banner-hidden",
attributes: {
  id: "r-appointees-add"
},
  html: DynamicAppointee,
  type: 'success'
}) }}
