{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}



{% block content %}
{% include "person-record-0-0-4/record-id-base.html" %}

  <form action="r-other-actions-router" method="post" class="form">

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-overview"
        },
        {
          text: "Other actions",
          href: "r-other-actions"
        }
      ]
    }) }}

    <div class="govuk-grid-column-three-quarters">


             {{ govukRadios({
              idPrefix: "r-other-actions",
              name: "r-other-actions",
              fieldset: {
                legend: {
                  html: "What do you need todo?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: ""
              },
              classes: "govuk-radios",
              items: [
              {
                value: "move-to-PIPCS",
                text: "Identify need to move to PIPCS / PIPcs rebuild identified",
                      hint: {
                        text: "This will create a 'Move to PIPCS' task"
                      },
                checked: (data["r-other-actions"] == "move-to-PIPCS")
              },
              {
                value: "completed-move-to-PIPCS",
                text: "Complete move to PIPCS",
                      hint: {
                        text: "This will close the 'Move to PIPcs Task'"
                      },
                checked: (data["r-other-actions"] == "completed-move-to-PIPCS")
              },
              {
                value: "death",
                text: "Claimant has died",
                checked: (data["r-other-actions"] == "death")
              },
              {
                value: "Something else",
                text: "Something else",
                checked: (data["r-other-actions"] == "something-else")
              }
              ]
            }) }}



            {{ govukButton({
              text: "Continue",
              classes: "govuk-!-margin-bottom-8"
            }) }}

  </form>

{% endblock %}
