{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}


{% include "person-record-0-0-4/record-id-base.html" %}

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-overview"
        },
        {
          text: "Payments",
          href: "r-payments"
        }
      ]
    }) }}



<form action="entry-home" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Arrears payments<br>summary and schedule</h1>


                 <h3 class="govuk-body govuk-!-font-size-27 govuk-!-margin-bottom-6"><b>Payment date:</b> 2 Sept 2025</h3>
                 <table class="govuk-table govuk-!-margin-bottom-0">
                   <thead class="govuk-table__head">
                     <tr class="govuk-table__row">
                       <th scope="col" class="govuk-table__header govuk-20-percent">Period</th>
                       <th scope="col" class="govuk-table__header govuk-20-percent">Accommodation</th>
                       <th scope="col" class="govuk-table__header govuk-10-percent">Days</th>
                       <th scope="col" class="govuk-table__header govuk-20-percent">Rate</th>
                       <th scope="col" class="govuk-table__header govuk-10-percent">Days<br>paid</th>
                       <th scope="col" class="govuk-table__header govuk-10-percent">Amount</th>

                     </tr>
                   </thead>

                     <tr class="govuk-table__row">
                       <td class="govuk-table__cell">X Month 2025 to<br>X Month 2025 </td>
                       <td class="govuk-table__cell">Hospital: <br> funded by Local authority</td>
                       <td class="govuk-table__cell">20</td>

                       <td class="govuk-table__cell">
                         <p class="govuk-body govuk-!-margin-bottom-2">Daily living:<br>standard</p>
                         <p class="govuk-body govuk-!-margin-bottom-1">Mobility: <br>standard</p>
                       </td>

                       <td class="govuk-table__cell">
                         <p class="govuk-body govuk-!-margin-bottom-2">14<br><br></p>
                         <p class="govuk-body govuk-!-margin-bottom-1">28</p>
                       </td>

                       <td class="govuk-table__cell">
                         <p class="govuk-body govuk-!-margin-bottom-2">£147.84<br><br></p>
                         <p class="govuk-body govuk-!-margin-bottom-1">£83.40</p>
                       </td>

                     </tr>


                     </tr>

                   </tbody>
                 </table>


                 <hr class="govuk-section-break govuk-section-break--visible-seperator">


                 <table class="govuk-table govuk-!-padding-top-0">

                   <tbody class="govuk-table__body">

                     <tr class="govuk-table__row">
                       <td class="govuk-table__cell govuk-50-percent">Total days</td>
                       <td class="govuk-table__cell govuk-10-percent"><strong>28</strong></td>
                       <td class="govuk-table__cell govuk-20-percent"></td>
                       <td class="govuk-table__cell govuk-10-percent"></td>
                       <td class="govuk-table__cell govuk-10-percent"></td>
                       <td class="govuk-table__cell govuk-10-percent"></td>
                     </tr>

                     <tr class="govuk-table__row">
                       <td class="govuk-table__cell ">Total days in temporary accomodation</td>
                       <td class="govuk-table__cell "><strong>14</strong></td>
                       <td class="govuk-table__cell "></td>
                       <td class="govuk-table__cell "></td>
                       <td class="govuk-table__cell "></td>
                       <td class="govuk-table__cell "></td>
                     </tr>

                     <tr class="govuk-table__row">
                       <td class="govuk-table__cell"><a href="cya-payment-breakdown-days" class="govuk-link" rel="noreferrer noopener" target="">Total days with reduced payments</a> </td>
                       <td class="govuk-table__cell"><strong>14</strong></td>
                       <td class="govuk-table__cell"></td>
                       <td class="govuk-table__cell "></td>
                       <td class="govuk-table__cell "></td>
                       <td class="govuk-table__cell"></td>
                     </tr>


                     <tr class="govuk-table__row">
                       <td class="govuk-table__cell"><strong>Total amount</strong></td>
                       <td class="govuk-table__cell"></td>
                       <td class="govuk-table__cell"></td>
                       <td class="govuk-table__cell"></td>
                       <td class="govuk-table__cell"></td>
                       <td class="govuk-table__cell"><strong>£231.24</strong></td>
                     </tr>

                   </tbody>
                 </table>


                 {% include "person-record-0-0-4/r-payment-scenarios.html" %}


      </div>
    </div>

  </form>

{% endblock %}
