     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



     <p class="govuk-body-s"><a class="" href="r-payments" target="">(Dynamic)</a>
     <p class="govuk-body-s"><a class="" href="r-payments-none" target="">(Nothing in payment)</a>
     <p class="govuk-body-s"><a class="" href="r-payment-breakdown-arrears-simple" target="">(Payment breakdowns / Arrears payment: simple)</a>
     <p class="govuk-body-s"><a class="" href="r-payment-breakdown-arrears" target="">(Payment breakdowns / Arrears payment: simple Acc type)</a>
     <p class="govuk-body-s"><a class="" href="r-payment-breakdown-arrears-complex" target="">(Payment breakdowns / Arrears payment: complex payability)</a>
     <p class="govuk-body-s"><a class="" href="r-payment-breakdown-arrears-complex-with-stays" target="">(Payment breakdowns / Arrears payment: complex payability with stays)</a>

     <p class="govuk-body-s"><a class="" href="r-payment-reg-breakdown" target="">(Payment breakdowns / Regular payment: standard)</a>
     <p class="govuk-body-s"><a class="" href="r-payment-reg-breakdown-with-stay" target="">(Payment breakdowns / Regular payment: complex payability)</a>



     <!--<p class="govuk-body-s"><a class="" href="X" target="">X</a></p>-->
     <!--<p class="govuk-body-s"><a class="" href="X" target="">X</a></p>-->
     <!--<p class="govuk-body-s"><a class="" href="X" target="">X</a></p>-->
     <!--<p class="govuk-body-s"><a class="" href="X" target="">X</a></p>-->
