{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-4/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">



      {% include "person-record-0-0-4/record-id-base.html" %}


    </div>
  </div>



    {% include "person-record-0-0-4/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Tasks</h1>


    <table class="govuk-table govuk-table--small-text-until-tablet">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date created</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">



        {% if data["r-other-actions"]  == "completed-move-to-PIPCS" %}
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">Today</td>
          <td class="govuk-table__cell">Completed move to PIPCS</td>
          <td class="govuk-table__cell">Done</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Yesterday</td>
          <td class="govuk-table__cell">Identified need to move to PIPCS</td>
          <td class="govuk-table__cell">Done</td>
        </tr>

      </tbody>
    </table>

    {% else %}
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">There are no outstanding<br>tasks for this person</h3>

    {% endif %}



    {% include "person-record-0-0-4/r-tasks-scenarios.html" %}

  </div>





    </form>
{% endblock %}
