     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



     <p class="govuk-body-s"><a class="" href="r-temp-accom" target="">(Dynamic)</a>
     <!--<p class="govuk-body-s"><a class="" href="Added a temp stay" target="">(Ability to add a temp stay)</a>-->
     <p class="govuk-body-s"><a class="" href="r-temp-accom-history" target="">(Previous stays)</a>
     <p class="govuk-body-s"><a class="" href="r-temp-accom-active-history" target="">(Active and Previous stays)</a></p>
     <!--<p class="govuk-body-s"><a class="" href="X" target="">X</a></p>-->
     <!--<p class="govuk-body-s"><a class="" href="X" target="">X</a></p>-->
