{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Sign in - Pension Credit
{% endblock %}


{% block content %}

{% include "another-decision-0-0-7/record-id.html" %}

<form action="dwa-set-task-next-steps" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <!---------- Conditional ---------->

              {% set ConditionalHtml %}

              {{ govukTextarea({
                name: "ap-send-check",
                id: "ap-send-check",
                rows: "4",
                label: {
                  text: "Why do you need to put this on hold?",
                  classes: "govuk-label--s",
                  isPageHeading: true
                },
                hint: {
                  html: ""
                }
              }) }}

              {% endset -%}

      <!----------  ---------->


        {{ govukCheckboxes({
          idPrefix: "ap-send-check-check",
          name: "ap-send-check-check",
          classes: "govuk-checkboxes",
          fieldset: {
            legend: {
              html: "Why do you need to pause this?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: "XXX"
          },
          items: [
          {
            value: "Yes",
            text: "X",
            checked: (data["ap-send-check-check"] == "Yes")
          },
          {
            value: "Yes",
            text: "Y",
            checked: (data["ap-send-check-check"] == "Yes")
          },
          {
            value: "Yes",
            text: "Z",
            checked: (data["ap-send-check-check"] == "Yes")
          },
            {
              value: "Something else",
              text: "Something else",
              checked: (data["ap-send-check-check"] == "No"),
              conditional: {
                html: ConditionalHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
        }) }}


        </div>
      </div>

  </form>

{% endblock %}
