
{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">




      {% if data["dwa-prep-tasklist-item-4"] %}
      <form action="dwa-prep-tasklist" method="post" class="form">
      {% else %}
      <form action="dwa-prep-tasklist-item-3a-router" method="post" class="form">
      {% endif %}



    <div class="govuk-grid-column-two-thirds">
      {% include "another-decision-0-0-7/record-id.html" %}


      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "dwa-prep-tasklist-item-3a",
        name: "dwa-prep-tasklist-item-3a",
        fieldset: {
          legend: {
            html: "Is there a correspondence address shown on Searchlight?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
        {
          value: "Unexpected",
          text: "Yes",
          checked: (data["dwa-prep-tasklist-item-3a"] == "Unexpected")
        },
        {
          value: "Expected",
          text: "No",
          checked: (data["dwa-prep-tasklist-item-3a"] == "Expected")
        },
        {
          value: "Pause",
          text: "I need to come back to this later",
          checked: (data["dwa-prep-tasklist-item-3a"] == "Pause")
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

{% endblock %}
