{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}





{% include "another-decision-0-0-7/record-id.html" %}

  <form action="an-de-tasklist" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Decision overview</h1>
      <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Review the original decision and any new supporting evidence before making another decision</h1> -->

      <table class="govuk-table govuk-!-margin-bottom-8">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Personal Independence status</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          </tr>
        </thead>




          {% if data["entry-home-processing-options"]  == "MakeMRNil" %}

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Nil award</p>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mandatory reconsideration requested</p>

            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Outcome</th>
            <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Nil (0 points)</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Nil (0 points)</p>
            </td>
          </tr>

          {% elif data["entry-home-processing-options"]  == "MakeMRChange" %}

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Decision made: In payment</p>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mandatory reconsideration requested</p>

            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Outcome</th>
            <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Standard (8 points)</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Standard (8 points)</p>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Start of application</th>
            <td class="govuk-table__cell">1 December 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award start date</th>
            <td class="govuk-table__cell">1 December 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award review date</th>
            <td class="govuk-table__cell">1 December 2027</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award end date</th>
            <td class="govuk-table__cell">1 December 2028</td>
          </tr>

          {% elif data["entry-home-processing-options"]  == "PayRemainsPay" or data["entry-home-processing-options"]  == "PreparePayRemainsPay" %}

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Decision made: In payment</p>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mandatory reconsideration requested</p>

            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Outcome</th>
            <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Standard (8 points)</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Standard (8 points)</p>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Start of application</th>
            <td class="govuk-table__cell">1 December 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award start date</th>
            <td class="govuk-table__cell">1 December 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award review date</th>
            <td class="govuk-table__cell">1 December 2027</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award end date</th>
            <td class="govuk-table__cell">1 December 2028</td>
          </tr>

          {% elif data["entry-home-processing-options"]  == "MakeMRNilPay" %}

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Nil award</p>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mandatory reconsideration requested</p>

            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Outcome</th>
            <td class="govuk-table__cell">
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Nil (0 points)</p>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Nil (0 points)</p>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Start of application</th>
            <td class="govuk-table__cell">1 December 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award start date</th>
            <td class="govuk-table__cell">1 December 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award review date</th>
            <td class="govuk-table__cell">1 December 2027</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award end date</th>
            <td class="govuk-table__cell">1 December 2028</td>
          </tr>


          {% else %}
          {% endif %}

      </table>


      <p class="govuk-heading-l govuk-!-margin-bottom-6">Decision events</p>


      <table class="govuk-table govuk-!-margin-bottom-8">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Personal Independence status</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-two-quarters"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Today</th>
            <td class="govuk-table__cell">Mandatory reconsideration registered</td>
            <td class="govuk-table__cell "><a class="govuk-aligned-right" href="mr-call-notes" target="">View</a></td>
          </tr>

      {% if data["entry-home-processing-options"]  == "MakeMRNil" %}

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">2 April 2025</td>
        <td class="govuk-table__cell">Decision made: not awarded</td>
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="decision-made-detials" target="">View</a></td>
      </tr>

      {% elif data["entry-home-processing-options"]  == "MakeMRChange" %}

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">2 April 2025</td>
        <td class="govuk-table__cell">Decision made: In payment</td>
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="decision-made-detials" target="">View</a></td>
      </tr>

      {% else %}
      {% endif %}

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">2 April 2025</td>
        <td class="govuk-table__cell">Pre-decision checks completed</td>
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="record-applicaion-prep-checks" target="">View</a></td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">1 April 2025</td>
        <td class="govuk-table__cell">Returned from assessment provider</td>
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="record-applicaion-evidence-ap" target="">View</a></td> <!--View assessment report -->
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">5 March 2025</td>
        <td class="govuk-table__cell">Pre-assessment checks completed</td>
        <td class="govuk-table__cell"><a class="govuk-aligned-right" href="record-applicaion-prep-checks" target="">View </a></td>
      </tr>


      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">2 March 2025</td>
        <td class="govuk-table__cell">Received health information gather (PIP2)</td>

        {% if data["find-someone-1-offline-return"]  == "YesLinked" %}
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="https://supporting-docs-prototype.herokuapp.com/manage-prototype/password?returnURL=%2FvStarling-award%2Fdocument-list" target="">View</a></td>
        {% else %}
        <td class="govuk-table__cell"><a class="govuk-aligned-right" href="https://supporting-docs-prototype.herokuapp.com/manage-prototype/password?returnURL=%2FvStarling-award%2Fdocument-list" target="">View</a></td> <!--View HIG details -->
        {% endif %}

      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">1 March 2025</td>
        <td class="govuk-table__cell">Start of application (PIP1)</td>

        {% if data["find-someone-1-offline-return"]  == "YesLinked" %}
        <td class="govuk-table__cell "><a class="govuk-aligned-right" href="/v13/case-review/personal-details-cmr" target="">View (C)</a></td>
        {% else %}
        <td class="govuk-table__cell"><a class="govuk-aligned-right" href="record-applicaion-evidence-pip1" target="">View</a></td> <!--View registration details -->
        {% endif %}

      </tr>


        </tbody>
      </table>

      <!-- <h1 class="govuk-heading-m govuk-!-margin-bottom-4">View decision resources</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="https://has-supporting-docs-82bfe12ac9a5.herokuapp.com/vStarling-award/document-list" class="govuk-link" rel="noreferrer noopener" target="">Supporting documents</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/agent/case-manager-review/event-history" class="govuk-link" rel="noreferrer noopener" target="">Full event history</a></p> -->


      <!-- <p class="govuk-heading-m govuk-!-margin-bottom-4">Resources</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/agent/case-manager-review/event-history" class="govuk-link" rel="noreferrer noopener" target="">View full event history</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Veiw supporting documents</a></p>
 -->


      <!-- {% if data["entry-home-processing-options"]  == "MakeMRChange" %}


      {{ govukRadios({
        idPrefix: "mr-application-overview",
        name: "mr-application-overview",
        fieldset: {
          legend: {
            html: "Having reviewed the original decision and any new supporting evidence does the decison remain a standard rate daily living and standard mobility?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: legendNumbers
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          html: "Yes",
          checked: (data["mr-application-overview"] == "Yes")
        },
        {
          value: "No",
          html: "No",
          checked: (data["mr-application-overview"] == "No")
        },
        {
          value: "Unsure",
          html: "Not sure",
          checked: (data["mr-application-overview"] == "Unsure")
        }
        ]
      }) }}

      {% elif data["entry-home-processing-options"]  == "MakeMRNil" %}


      {{ govukRadios({
        idPrefix: "mr-application-overview",
        name: "mr-application-overview",
        fieldset: {
          legend: {
            html: "Having reviewed the original decision and any new supporting evidence does the decison remain a nil award?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: legendNumbers
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          html: "Yes",
          checked: (data["mr-application-overview"] == "Yes")
        },
        {
          value: "No",
          html: "No",
          checked: (data["mr-application-overview"] == "No")
        },
        {
          value: "Unsure",
          html: "Not sure",
          checked: (data["mr-application-overview"] == "Unsure")
        }
        ]
      }) }}
      {% else %}

      {% endif %}
 -->

 <!-- {{ govukButton({
   text: "Continue",
   classes: "govuk-!-margin-bottom-8"
 }) }} -->

        </div>
      </div>

  </form>

{% endblock %}
