{% extends "layouts/main-agent-process-mr.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

{% include "another-decision-0-0-7/record-id.html" %}

{{ govukBreadcrumbs({
  classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
  items: [
    {
      text: "Prepare for payment",
      href: "payability-tasklist"
    },
    {
      text: "XXX",
      href: "payability-tasklist-item-X"
    }
  ]
}) }}

<form action="payability-tasklist-item-3-cya" method="post" class="form">




      <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


          <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">
          {% if data["payability-tasklist-item-3"] == "Care home" %}
          Care home details
          {% elif data["payability-tasklist-item-3"] == "Hospital" %}
          Hospital details
          {% elif data["payability-tasklist-item-3"] == "Prison" %}
          Prison details
          {% elif data["payability-tasklist-item-3"] == "Residential school or college" %}
          Residential school or college details
          {% elif data["payability-tasklist-item-3"] == "Shelterd housing" %}
          Shelterd housing
          {% else %}
          XXX
          {% endif %}
          </h2>

              {{ govukInput({
                label: {
                  text: "Name"
                },
                id: "payability-tasklist-item-3-name",
                name: "payability-tasklist-item-3-name",
                autocomplete: ""
              }) }}

              {{ govukInput({
                label: {
                  text: "Address line 1"
                },
                id: "payability-tasklist-item-3-address-1",
                name: "payability-tasklist-item-3-address-1",
                autocomplete: "address-line1"
              }) }}

              {{ govukInput({
                label: {
                  text: "Address line 2 (optional)"
                },
                id: "payability-tasklist-item-3-address-2",
                name: "payability-tasklist-item-3-address-2",
                autocomplete: "address-line2"
              }) }}

              {{ govukInput({
                label: {
                  text: "Town or city"
                },
                classes: "govuk-!-width-two-thirds",
                id: "payability-tasklist-item-3-address-3",
                name: "payability-tasklist-item-3-address-3",
                autocomplete: "address-level2"
              }) }}

              {{ govukInput({
                label: {
                  text: "County"
                },
                classes: "govuk-!-width-two-thirds",
                id: "payability-tasklist-item-3-address-4",
                name: "payability-tasklist-item-3-address-4"
              }) }}

              {{ govukInput({
                label: {
                  text: "Postcode"
                },
                classes: "govuk-input--width-10",
                id: "payability-tasklist-item-3-address-5",
                name: "payability-tasklist-item-3-address-5",
                autocomplete: "postal-code"
              }) }}


<!-- ————————————————————— -->

    {% set dynamicFundingType %}

    {{ govukTextarea({
      name: "payability-tasklist-item-3-funding-details",
      id: "payability-tasklist-item-3-funding-details",
  rows: "3",
  label: {
    text: "",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  hint: {
    text: "Funding details"
  },
  value: data["payability-tasklist-item-3-funding-details"]
}) }}

    {% endset -%}

    <br>

    {{ govukRadios({
      idPrefix: "payability-tasklist-item-3-funding-type",
      name: "payability-tasklist-item-3-funding-type",
      fieldset: {
        legend: {
          text: "How was the stay in [X] funded?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m "
        }
      },
      items: [
      {
      value: "By the NHS",
      text: "By the NHS",
      checked: (data["payability-tasklist-item-3-funding-type"] == "By the NHS")
      },
      {
      value: "By the local authority",
      text: "By the local authority",
      checked: (data["payability-tasklist-item-3-funding-type"] == "By the local authority"),
        conditional: {
          html: dynamicFundingType
        }
      },
      {
      value: "The person funds it themselves",
      text: "The person funds it themselves",
      checked: (data["payability-tasklist-item-3-funding-type"] == "The person funds it themselves")
      },
      {
      value: "Not known",
      text: "Not known",
      checked: (data["payability-tasklist-item-3-funding-type"] == "Not known"),
        conditional: {
          html: dynamicFundingType
        }
      }
      ]
    }) }}

    <!-- ————————————————————— -->


    <!-- ————————————————————— -->


        {{ govukDateInput({
          id: "payability-tasklist-item-3-date-in",
          namePrefix: "payability-tasklist-item-3-date-in",
          fieldset: {
            legend: {
              html: "Date they entered the [X]",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
            }
          },
          hint: {
            html: ""
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data["payability-tasklist-item-3-date-in-day"]
            },

            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data["payability-tasklist-item-3-date-in-month"]
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data["payability-tasklist-item-3-date-in-year"]
            }
          ]
        }) }}

        {% set stayEnd %}

        {{ govukDateInput({
          id: "payability-tasklist-item-3-date-3-out",
          namePrefix: "payability-tasklist-item-3-date-out",
          fieldset: {
            legend: {
              html: "Date they left the [X]",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
            }
          },
          hint: {
            html: ""
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data["payability-tasklist-item-3-date-out-day"]
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data["payability-tasklist-item-3-date-out-month"]
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data["payability-tasklist-item-3-date-out-year"]
            }
          ]
        }) }}

        {% endset -%}

        {% set OutCheckHeader %}

        Are they currently in a

        {% if data["payability-tasklist-item-3"] == "Care home" %}
        care home?
        {% elif data["payability-tasklist-item-3"] == "Hospital" %}
        hospital?
        {% elif data["payability-tasklist-item-3"] == "Prison" %}
        prison?
        {% elif data["payability-tasklist-item-3"] == "Residential school or college" %}
        residential school or college?
        {% else %}
        XXX
        {% endif %}

        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios govuk-!-margin-bottom-4",
          idPrefix: "payability-tasklist-item-3-date-out-check",
          name: "payability-tasklist-item-3-date-out-check",
          fieldset: {
            legend: {
              html: OutCheckHeader,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            html: dynamicHint
          },
          items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["payability-tasklist-item-3-date-out-check"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["payability-tasklist-item-3-date-out-check"] == "No"),
              conditional: {
                html: stayEnd
              }
          }
          ]
          }) }}


          {{ govukTextarea({
            name: "payability-tasklist-item-3-contact",
            id: "payability-tasklist-item-3-contact",
            label: {
              text: "Addional details"
            },
            value: data["payability-tasklist-item-3-contact"]
          }) }}


        <!-- ————————————————————— -->

          {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-bottom-8"
          }) }}

            </div>
          </div>

      </form>

    {% endblock %}
