{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "dwa-dec-call-bar-active.html" %}
{% endblock %}

{% block content %}

 {% if data["application-selector"] == "A" %} {% include "explore-header-global-nav-multi-bail.html" %}
 {% else %}                                   {% include "explore-header-global-nav-multi.html" %}
 {% endif %}

{% endblock %}

{% block content %}

{% include "another-decision-0-0-7/record-id.html" %}

{{ govukBreadcrumbs({
  classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
  items: [
    {
      text: "Call guide",
      href: "obc-why"
    },
    {
      text: "Change taskList",
      href: "obc-change-tasklist"
    }
  ]
}) }}

{% if data["obc-change-tasklist-item-2"] %}
<form action="../obc-change-tasklist" method="post" class="form">
{% else %}
<form action="../obc-change-tasklist-item-1-router" method="post" class="form">
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukRadios({
        classes: "govuk-radios govuk-!-margin-bottom-4",
        idPrefix: "obc-change-tasklist-item-1",
        name: "obc-change-tasklist-item-1",
        fieldset: {
          legend: {
            html: "Has XXX changed since the orginal decision?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "Expected",
          text: "Yes",
          checked: (data["obc-change-tasklist-item-1"] == "Expected")
        },
        {
          value: "Unexpected",
          text: "No",
          checked: (data["obc-change-tasklist-item-1"] == "Unexpected")
        },
        {
          value: "XXX",
          text: "Not going into payment",
          checked: (data["obc-change-tasklist-item-1"] == "XXX")
        },
        {
          value: "Pause",
          text: "I need to come back to this later",
          checked: (data["obc-change-tasklist-item-1"] == "Pause")
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


    </div>
  </div>




  </form>

{% endblock %}
