{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}


<form action="qppt-m-effective-date-check-router" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "another-decision-0-0-7/record-id.html" %}


      {{ govukRadios({
        idPrefix: "qppt-m-effective-date-check",
        name: "qppt-m-effective-date-check",
        fieldset: {
          legend: {
            html: "Do you want to create a single effective date for mobility?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["qppt-m-effective-date-check"] == "Yes")
        },
        {
          value: "No",
          text: "No - it's a split rate decision",
          checked: (data["qppt-m-effective-date-check"] == "No")
        }
        ]
      }) }}

<!-- Single effetive date
<br>
More than one condition meaning more than one start date? -->




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
