{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
  {% include "explore-header-global-nav-multi.html" %}

{% endblock %}
{% block content %}


{% include "person-record-0-0-2/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      {% include "person-record-0-0-2/record-id-base.html" %}


    </div>
  </div>


    {% include "another-decision-0-0-7/r-navigation.html" %}

    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Applications and decisions</h3>

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Chronological view of all applicaitons,<br>MRs, appeals or award reviews</p> -->


      <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
            </tr>

          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row border-bottom-end-clear">
              <td class="govuk-table__header border-bottom-end-clear">Mandatory reconsideration decision</td>
              <td class="govuk-table__cell">Start of application</td>
              <td class="govuk-table__cell">1 March 2020</td>
            </tr>

            <tr class="govuk-table__row border-bottom-end-clear">
              <td class="govuk-table__header border-bottom-end-clear"></td>
              <td class="govuk-table__cell">Status</td>
              <td class="govuk-table__cell">Decision made: not awarded</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell border-bottom-end-clear"></td>
              <td class="govuk-table__cell">Outcome</td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Nil</p>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Nil</p>
              </td>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-!-padding-bottom-6">
                <a class="" href="r-ori-dec-overview-nil-remains-nil" target="">View decision overview </a>
              </td>

              <td class="govuk-table__cell">
            </tr>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row border-bottom-end-clear">
                <td class="govuk-table__header border-bottom-end-clear">Original decision</td>
                <td class="govuk-table__cell">Start of application</td>
                <td class="govuk-table__cell">1 March 2020</td>
              </tr>

              <tr class="govuk-table__row border-bottom-end-clear">
                <td class="govuk-table__header border-bottom-end-clear"></td>
                <td class="govuk-table__cell">Status</td>
                <td class="govuk-table__cell"><Decision made: not awarded/td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell border-bottom-end-clear"></td>
                <td class="govuk-table__cell">Outcome</td>
                <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Nil</p>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Nil</p>
                </td>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-!-padding-bottom-6">
                  <a class="" href="r-ori-dec-overview-nil" target="">View decision overview </a>
                </td>

                <td class="govuk-table__cell">
              </tr>

            </tbody>
          </table>



<!-- ———————————— -->
{% include "another-decision-0-0-7/r-scenarios.html" %}





  </div>


    </form>
{% endblock %}
