{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "person-record-0-0-2/call-status.html" %}
{% endblock %}
{% block content %}

{% include "person-record-0-0-2/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      {% include "another-decision-0-0-7/record-id-base.html" %}


    </div>
  </div>


  {% include "another-decision-0-0-7/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-8">Payments</h3>

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">The agent will see future events. They will see the date of the event, the details and any actions they can take in relation to the event.</p> -->


    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">Scheduled</h3>

      <table class="govuk-table govuk-!-margin-bottom-8">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-30-percent">Payment type</td>
          <td class="govuk-table__cell govuk-25-percent">Date due</td>
      <td class="govuk-table__cell govuk-25-percent">Period</td>
          <td class="govuk-table__cell govuk-20-percent">Amount due</td>
        </tr>
        </thead>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer">Regular</td>
          <td class="govuk-table__cell table-spacer">2 Sept 2025</td>
          <td class="govuk-table__cell table-spacer">X Month 2025 to <br>X Month 2025</td>


          <td class="govuk-table__cell table-spacer">
            <p class="govuk-body govuk-!-margin-bottom-3">£412.40</p>

            <!-- <a class="" href="r-payment-reg-breakdown" target="">View payment breakdown</a> -->

          </td>
          </tr>


</table>

<h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">Paid</h3>


    <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-30-percent">Payment type</td>
        <td class="govuk-table__cell govuk-25-percent">Date paid</td>
    <td class="govuk-table__cell govuk-25-percent">Period</td>
        <td class="govuk-table__cell govuk-20-percent">Paid</td>
      </tr>
      </thead>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer"><a class="" href="r-payment-reg-breakdown-reduction" target="">Regular</a></td>
          <td class="govuk-table__cell table-spacer">2 Sept 2025</td>
          <td class="govuk-table__cell table-spacer">X Month 2025 to <br>X Month 2025</td>

          <td class="govuk-table__cell table-spacer">
            <p class="govuk-body govuk-!-margin-bottom-2">£231.24</p>
          </td>
          </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell table-spacer"><a class="" href="r-payment-reg-breakdown-with-stay" target="">Regular</a></td>
        <td class="govuk-table__cell table-spacer">2 August 2025</td>
        <td class="govuk-table__cell table-spacer">X Month 2025 to <br>X Month 2025</td>

        <td class="govuk-table__cell table-spacer">
            <p class="govuk-body govuk-!-margin-bottom-2">£412.40</p>
        </td>
        </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer"><a class="" href="r-payment-reg-breakdown" target="">Regular</a></td>
            <td class="govuk-table__cell table-spacer">2 July 2025</td>
            <td class="govuk-table__cell table-spacer">X Month 2025 to <br>X Month 2025</td>

            <td class="govuk-table__cell table-spacer">
              <p class="govuk-body govuk-!-margin-bottom-2">£412.40</p>
            </td>
            </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer"><a class="" href="r-payment-breakdown" target="">Arrears</a></td>
                <td class="govuk-table__cell table-spacer">2 June 2025</td>
                <td class="govuk-table__cell table-spacer">X Month 2025 to <br>X Month 2025</td>

                <td class="govuk-table__cell table-spacer">
                  <p class="govuk-body govuk-!-margin-bottom-3">£1,935.44</p>
                </td>
                </tr>




    </table>



  </div>
  </div>


    </form>
{% endblock %}
