{% extends "layouts/main-agent.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}



{% include "another-decision-0-0-7/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">



      {% include "another-decision-0-0-7/record-id-base.html" %}


    </div>
  </div>



    {% include "another-decision-0-0-7/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Tasks</h3>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">There are no outstanding tasks for this person.</p>




      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><strong> Application submitted:</strong> 1 August 2023 -->

<!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4"><strong>Assessment provider report received:</strong> 2 October 2023 -->

  <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">View <a class="govuk-body govuk-!-font-size-24" href="record-1-applications">more details about application.</a> -->

        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><strong>Application date:</strong> 01 August 2023 -->




  </div>


    </form>
{% endblock %}
