{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
{% include "an-de-mr-call-bar-demo.html" %}
{% endblock %}
{% block content %}

<form action="task-overview" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "person-record-0-0-3/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Making an outbound call</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">Use the 'Prepare for a call' button at the top of the page to prepare for an outbound call. </p>

      <p class="govuk-body govuk-!-margin-bottom-2">This will enable you to:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>make sure you're calling the right person</li>
        <li>follow the correct security process</li>
        <li>gather the required information from the person</li>
      </ul>

{{ govukRadios({
  idPrefix: "help-making-calls",
  name: "help-making-calls",
  classes: "govuk-checkboxes",
  fieldset: {
    legend: {
      text: "Do you want to see this help page next time?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: ""
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["help-making-calls"] == "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: (data["help-making-calls"] == "No")
    }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}

        </div>
      </div>

  </form>

{% endblock %}
