{% extends "layouts/main-agent-process-mr.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}



{% block header %}
{% include "an-de-mr-call-bar-active-wrapup.html" %}
{% endblock %}
{% block content %}

<form action="an-de-tasklist" method="post" class="form">
      <input type="hidden" name="obc-status" value="call-complete"/>





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "person-record-0-0-3/record-id-base.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Ending the call</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Thank the person for taking the call. </p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Advise that:</p>
        <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
          <li>we will now look at all their information and make another decision</li>
          <li>they will get a letter called a Mandatory Reconsideration Notice telling them whether we’ve changed the decision</li>
          <li>they should receive this within 15 weeks</li>
        </ul>

      {% if data["call-notes"]%}
      <form action="ecp-washup" method="post" class="form">

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}

      {% else %}
      <form action="entry-home" method="post" class="form">

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}

      {% endif %}



        </div>
      </div>

  </form>

{% endblock %}
