{% extends "layouts/main-agent-process-mr.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}


{% block content %}

<form action="cya-letter-review" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "person-record-0-0-3/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Move to PIPCS</h1>

      <p class="govuk-body govuk-!-margin-bottom-8">To complete this action, select 'Identified need to move to PIPCS' in event history.</p>



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
