{% extends "layouts/main-agent-process-mr.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

{% include "person-record-0-0-3/record-id.html" %}

{{ govukBreadcrumbs({
  classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
  items: [
    {
      text: "Prepare for payment",
      href: "payability-tasklist"
    },
    {
      text: "XXX",
      href: "payability-tasklist-item-X"
    }
  ]
}) }}
<form action="payability-tasklist-item-8-summary" method="post" class="form">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">
            Temporary absence abroad summary
          </h2>


{% set payabilityType %}     {{data["payability-tasklist-item-8"]}}    {% endset %}
{% set payabilityName %}     {{data["payability-tasklist-item-8-name"]}}   {% endset %}
{% set payabilityCountry %}     {{data["payability-tasklist-item-8-country-name"]}}    {% endset %}
{% set payabilityContact %}     {{data["payability-tasklist-item-8-contact"]}}    {% endset %}

{% set payabilityFunding %}     {{data["payability-tasklist-item-8-funding-type"]}}   {% endset %}
{% set payabilityFundingDetails %}     {{data["payability-tasklist-item-8-funding-details"]}}    {% endset %}

{% set payabilityDatesIn %}     {{ data['payability-tasklist-item-3b-date-in-day'] + ' ' + (data['payability-tasklist-item-3b-date-in-month'] | getMonth) + ' ' + data['payability-tasklist-item-3b-date-in-year']}}     {% endset %}
{% set payabilityDatesOut %}     {{ data['payability-tasklist-item-3b-date-out-day'] + ' ' + (data['payability-tasklist-item-3b-date-out-month'] | getMonth) + ' ' + data['payability-tasklist-item-3b-date-out-year']}}     {% endset %}


          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Type of stay"
                },
                value: {
                  html: payabilityName
                },
                actions: {
                  items: [
                    {
                      href: "award-dates-playback",
                      text: "Change",
                      visuallyHiddenText: "XXX"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Country"
                },
                value: {
                  html: payabilityCountry
                },
                actions: {
                  items: [
                    {
                      href: "award-dates-playback",
                      text: "Change",
                      visuallyHiddenText: "XXX"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Details for this stay"
                },
                value: {
                  html: payabilityContact
                },
                actions: {
                  items: [
                    {
                      href: "award-dates-playback",
                      text: "Change",
                      visuallyHiddenText: "XXX"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Date they went abroad"
                },
                value: {
                  html: payabilityDatesIn
                },
                actions: {
                  items: [
                    {
                      href: "award-dates-playback",
                      text: "Change",
                      visuallyHiddenText: "XXX"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Are they currently abroad?"
                },
                value: {
                  html: "Yes/No"
                },
                actions: {
                  items: [
                    {
                      href: "award-dates-playback",
                      text: "Change",
                      visuallyHiddenText: "XXX"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Date they returned"
                },
                value: {
                  html: payabilityDatesOut
                },
                actions: {
                  items: [
                    {
                      href: "award-dates-playback",
                      text: "Change",
                      visuallyHiddenText: "XXX"
                    }
                  ]
                }
              }
            ]
          }) }}

{{ govukButton({
  text: "Continue"
}) }}


</form>



    {% endblock %}
