{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{# {% include "layouts/explore-header-global-nav-multi.html" %} #}
{% endblock %}

{% block content %}


<form action="qppt-dl-3m-check-router" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "person-record-0-0-3/record-id.html" %}

<!------------H1 LEGEND------------>
  {% set dynamicHint %}
    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-4 govuk-!-margin-bottom-4">This is the 3 months qualifying period prior to date of submission</p> -->



    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-4 govuk-!-margin-bottom-2"><b>Assessment provider recomendaions:</b></p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">The Assesment provider has indicated that they had rescttions 3 months before DD MM YYYY (assessment date)</p>

    <!-- <ul class="govuk-list govuk-list--bullet">
      <li>The Assesment provider has indicated that they met the 3 month qualifying period prior to date of assesment was met</li>
    </ul> -->

  {% endset %}
<!------------Legend--------------->

Split



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
