{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
{# {% include "layouts/explore-header-global-nav-multi.html" %} #}
{% endblock %}

{% block content %}


<form action="qppt-m-9m-check" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "person-record-0-0-3/record-id.html" %}


          {{ govukDateInput({
            id: "qppt-dl-alt-date",
            namePrefix: "qppt-dl-alt-date",
            fieldset: {
              legend: {
                html: "Enter the date the qualifying period will be met",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-2"
              }
            },
            hint: {
              html: "This is the date the applicant can be paid from."
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data["qppt-dl-alt-date-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data["qppt-dl-alt-date-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data["qppt-dl-alt-date-year"]
              }
            ]
          }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
