{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-3/r-notifications.html" %}

<form action="r-address-add-outcomes-router#r-address-add" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->
  {% include "person-record-0-0-3/record-id-base.html" %}

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-applications"
        },
        {
          text: "Address",
          href: "r-address"
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Depending on this journey, it could mean that there is a change in award / kick off a full award review</h1>

      <p class="govuk-body govuk-!-margin-bottom-2">Examples:

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>They moved into a care home and someone is paying which means it will effect payability </li>
        <li>They moved to Scotland and now unable to claim PIP</li>
        <li>Moved into SREL / hospice</li>
        <li>Change would trigger an full award review, this would link to Future events journey</li>

      </ul>
    </p>

    {{ govukRadios({
      idPrefix: "r-address-add-outcomes",
      name: "r-address-add-outcomes",
      fieldset: {
        legend: {
          html: "Set scenario",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: "Example next steps"
      },
      classes: "govuk-radios--small",
      items: [
      {
        value: "OutcomeAwardReview",
        text: "More care needed",
        checked: (data["r-address-add-outcomes"] == "OutcomeAwardReview")
      },
      {
        value: "OutcomeMove",
        text: "Moved to Scotland",
        checked: (data["r-address-add-outcomes"] == "OutcomeMove")
      },
      {
        value: "OutcomeNoChange",
        text: "Like for like change",
        checked: (data["r-address-add-outcomes"] == "OutcomeNoChange")
      }
      ]
    }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
