{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-3/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="r-overview" method="post" class="form">

      {% include "person-record-0-0-3/record-id-base.html" %}


    </div>
  </div>


    {% include "person-record-0-0-3/r-navigation.html" %}

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Age and date of birth</h3>

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">View or change the person's date of birth.</p> -->


        {% set SetLandlineTelephone %}
          {% if data["record-1-contact-landline-telephone"] %}
            {{data["record-1-contact-landline-telephone"]}}
          {% else %}
            <p class="govuk-body">0191 488 3188</p>
          {% endif %}
        {% endset -%}




        {{ govukSummaryList({
          rows: [
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: "4 December 1949"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          },
            {
              key: {
                text: "Age"
              },
              value: {
                html: "75"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            },
            {
              key: {
                text: "State Pension age"
              },
              value: {
                html: "Reached State Pension age (65) <br> on 4 December 2014"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}


  </div>


    </form>
{% endblock %}
