{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-3/r-notifications.html" %}

<form action="r-appointees-add-outcomes" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->
  {% include "person-record-0-0-3/record-id-base.html" %}

  <div class="govuk-grid-row">


    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-overview"
        },
        {
          text: "Appointees and representatives",
          href: "r-appointees"
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">



      {{ govukRadios({
        idPrefix: "r-appointees-add",
        name: "r-appointees-add",
        classes: "govuk-checkboxes",
        fieldset: {
          legend: {
            text: "Which type of appointee or representative do you need to add?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: "Select all that apply."
        },
        items: [
          {
            value: "Flag1",
            text: "Power of attorney",
            checked: (data["r-appointees-add"] == "Flag1")
          },
          {
            value: "Flag2",
            text: "DWP appointee",
            checked: (data["r-appointees-add"] == "Flag2")
          },
          {
            value: "Flag3",
            text: "A Corporate Acting Body",
            checked: (data["r-appointees-add"] == "Flag3")
          },
          {
            value: "Flag3",
            text: "A Personal Acting Body",
            checked: (data["r-appointees-add"] == "Flag3")
          },
          {
            value: "Flag3",
            text: "Charity worker or organisation helping to do X",
            checked: (data["r-appointees-add"] == "Flag3")
          },
          {
            value: "Flag4",
            text: "Someone else",
            checked: (data["r-appointees-add"] == "Flag4")
          }
        ]
      }) }}




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
