{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-3/r-notifications.html" %}

<form action="r-appointees#r-appointees-add" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->
  {% include "person-record-0-0-3/record-id-base.html" %}

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-applications"
        },
        {
          text: "Address",
          href: "r-address"
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">We went through a journey to add details about primary contact method and address for letters</h1>

      <p class="govuk-body govuk-!-margin-bottom-2">Examples:

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>added telephone number</li>
        <li>they are a POA so first point of contact</li>
        <li>added details for letters</li>
        <li>this affects other sections</li>

      </ul>
    </p>


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
