 {% if data["case-scenario-selector"]  == "0" %}
Scenario 0
 {% elif data["case-scenario-selector"]  == "0a" %}
 Scenario 0a
 {% elif data["case-scenario-selector"]  == "0b" %}
 Scenario 0b
 {% elif data["case-scenario-selector"]  == "1" %}
 Scenario 1
 {% elif data["case-scenario-selector"]  == "1a" %}
 Scenario 1a
 {% elif data["case-scenario-selector"]  == "1b" %}
 Scenario 1b
 {% elif data["case-scenario-selector"]  == "2" %}
 Scenario 2
 {% elif data["case-scenario-selector"]  == "2a" %}
 Scenario 2a
 {% elif data["case-scenario-selector"]  == "3" %}
 Scenario 3
 {% elif data["case-scenario-selector"]  == "3a" %}
 Scenario 3a
 {% else %}
 Scenario None
 {% endif %}
