{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}



{% block content %}
{% include "person-record-0-0-3/record-id-base.html" %}

  <form action="record-foundation-application-overview-router" method="post" class="form">

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "r-overview"
        },
        {
          text: "Applications and decisions",
          href: "r-case-all-cases-2a-sections"
        }
      ]
    }) }}

    <div class="govuk-grid-column-full">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 caseID">Case summary</h1> <h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8 caseID">#2B</h3>
      <br><br>
      <h3 class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">12 April 2026 – Today</h3>



      {% set Child1 %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <p>.</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p>Date of decision</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p>Submission type</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p>Outcome</p>
        </div>
      </div>

      {% endset -%}


            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-2">Mandatory<br>reconsideration</p>

              </div>
              <div class="govuk-grid-column-two-thirds">

                    <table class="govuk-table">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-width-one-half">Submission date</td>
                          <td class="govuk-table__cell govuk-!-width-one-half">Yesterday</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Status</td>
                          <td class="govuk-table__cell">
                            {{govukTag({
                            text: "In progress",
                              classes: "govuk-tag--blue"
                            })}}
                          </td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell border-bottom-end-clear">
                            <a class="" href="r-case-l3-2a-overview-man-recon" target="">View submission overview</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>

              </div>
            </div>

            <hr class="govuk-section-break case-stroke govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-2">Original decision</p>

              </div>
              <div class="govuk-grid-column-two-thirds">

                    <table class="govuk-table">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-width-one-half">Submission date</td>
                          <td class="govuk-table__cell govuk-!-width-one-half">12 April 2026</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Status</td>
                          <td class="govuk-table__cell">
                            {{govukTag({
                              text: "Closed",
                              classes: "govuk-tag--red"
                            })}}
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Outcome</td>
                          <td class="govuk-table__cell">
                            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: nil (0 points)</p>
                            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: nil (0 points)</p>
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell border-bottom-end-clear">
                            <a class="" href="r-case-l3-2a-overview-application" target="">View decision overview</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>

              </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">




  </form>

  <br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
