{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}


{% if data["application-about-a12-score-overwrite"]  == "a1" %}

  <form action="entry-home" method="post" class="form">

  {% else %}
  <form action="/move-to-pipcs-1/eject-timeline" method="post" class="form">

  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "person-record-0-0-2/record-id-base.html" %}
      {% include "includes/js-back-link.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Payment amounts and schedule</h1>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Daily living amount"
              },
              value: {
                text: "£[rate]"
              },
              actions: {
                items: [
                  {
                    href: "qppt-dl-3m-check",
                    text: "-.",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mobility amount"
              },
              value: {
                text: "£[rate]"
              },
              actions: {
                items: [
                  {
                    href: "qppt-dl-3m-check",
                    text: "-.",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Total amount"
              },
              value: {
                text: "£[rate total]"
                },
              actions: {
                items: [
                  {
                    href: "qppt-dl-3m-check",
                    text: "-.",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "Payment schedule"
              },
              value: {
                text: "Every 4 weeks on a [day of the week]"
              },
              actions: {
                items: [
                  {
                    href: "qppt-dl-9m-check",
                    text: "-.",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "First payment amount"
              },
              value: {
                text: "£[total amount including arrears?]"
              },
              actions: {
                items: [
                  {
                    href: "qppt-m-3m-check",
                    text: "-.",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
              key: {
                text: "First payment period"
              },
              value: {
                text: "From [start date] until [date of first payment?]"
              },
              actions: {
                items: [
                  {
                    href: "qppt-m-9m-check",
                    text: "-.",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            }
          ]
        }) }}


    </div>
  </div>





  </form>

{% endblock %}
