<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% set detailsBlock %}

<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-applications-post-mr-nil" target="">Post MR Nil</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-applications-post-mr-pay" target="">Post MR Pay</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-claim-overview-not-processed" target="">Application submitted but not yet processed</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-claim-overview" target="">In payment and previous</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-claim-overview-no-previous" target="">In payment with no previous</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-claim-overview-additional-applications" target="">In payment, New application and preivous</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-claim-overview-additional-application-closed" target="">In payment, new application processed and archived</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"><a class="" href="r-claim-overview-additional-application-closed-award-review" target="">In payment, new application processed and archived. Data from MR added into award review</a></p>


  {% endset -%}

      {{ govukDetails({
        summaryText: "...",
        html: detailsBlock
      }) }}
