{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  Process a PIP application
{% endblock %}



{% block content %}

<form action="application-5-view-evidence" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "person-record-0-0-2/record-id.html" %}

      {% include "includes/js-back-link.html" %}



      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Mandatory reconsideration notes</h1>

      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">These are all the notes that relate to this application, including notes from telephone calls.</p> -->
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">You can <a href="you-added-a-note" class="govuk-link" rel="noreferrer noopener" target="">add a new note</a> to this application.</p> -->

      <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->


      {% if data["applicaiton-actions"] == "2" %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Today</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-20-percent"><b>Author</b></td>
                <td class="govuk-table__cell govuk-80-percent">David Connifey</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Origin</b></td>
                <td class="govuk-table__cell">Telephone call requesting we reconsider their decision</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Note</b></td>
                <td class="govuk-table__cell">

                {% if data["an-de-award-period"] %}
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Reasons they disagree with Award period</p>
                  <p class="govuk-body govuk-!-margin-bottom-4">{{ data["an-de-award-period"]}}</p>
                {% else %}
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Reasons they disagree with Award period</p>
                  <p class="govuk-body govuk-!-margin-bottom-4">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. </p>
                {% endif %}


                {% if data["an-de-preparing-food"] %}
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Reasons they disagree with Preparing food</p>
                  <p class="govuk-body govuk-!-margin-bottom-4">{{ data["an-de-preparing-food"]}}</p>
                {% else %}
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Reasons they disagree with Preparing food</p>
                  <p class="govuk-body govuk-!-margin-bottom-4">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. </p>
                {% endif %}


                {% if data["an-de-taking-nutrition"] %}
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Reasons they disagree with Taking nutrition</p>
                <p class="govuk-body govuk-!-margin-bottom-4">{{ data["an-de-taking-nutrition"]}}</p>

                {% else %}
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Reasons they disagree with Taking nutrition</p>
                  <p class="govuk-body govuk-!-margin-bottom-4">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
                {% endif %}

                  {% if data["an-de-other-issues"] %}
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Reasons they disagree with Taking nutrition</p>
                  <p class="govuk-body govuk-!-margin-bottom-4">{{ data["an-de-other-issues"]}}</p>

                  {% else %}
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Other issues reported</p>
                  <p class="govuk-body govuk-!-margin-bottom-4">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>
                {% endif %}

                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Additional supporting evidence expected</b></td>
                <td class="govuk-table__cell govuk-table--no-bottom-border">


                    <ul class="govuk-list govuk-list--bullet">
                      <li>GP letter</li>
                      <li>Evidence type A</li>
                      <li>Evidence type B</li>
                      <li>Evidence type C</li>
                    </ul>
                </td>
              </tr>


            </tbody>
          </table>

        </div>
      </div>

      <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

      {% else %}
      {% endif %}


<!--
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">21 Dec 2024</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-20-percent"><b>Author</b></td>
                <td class="govuk-table__cell govuk-80-percent">David Connifey</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Origin</b></td>
                <td class="govuk-table__cell">Telephone note</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Note</b></td>
                <td class="govuk-table__cell govuk-table--no-bottom-border">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">10 Dec 2024</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-20-percent"><b>Author</b></td>
                <td class="govuk-table__cell govuk-80-percent">David Connifey</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Origin</b></td>
                <td class="govuk-table__cell">Note about the decsion</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Note</b></td>
                <td class="govuk-table__cell govuk-table--no-bottom-border">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">21 Dec 2024</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-20-percent"><b>Author</b></td>
                <td class="govuk-table__cell govuk-80-percent">David Connifey</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Origin</b></td>
                <td class="govuk-table__cell">Telephone note</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Note</b></td>
                <td class="govuk-table__cell govuk-table--no-bottom-border">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div> -->



        </div>
      </div>

  </form>

{% endblock %}
