{% extends "layouts/main-agent.html" %}


{% block pageTitle %}
  PIP claimant record
{% endblock %}


{% block content %}

{% include "person-record-0-0-3/r-notifications.html" %}

<form action="record-1-event-history-reason-justification" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "person-record-0-0-3/record-id.html" %}

Pelican
      {{ govukRadios({
        idPrefix: "record-1-event-history-reason",
        name: "record-1-event-history-reason",
        fieldset: {
          legend: {
            html: "What event do you need to add?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Reason type",
          text: "This should go back to BAU marker",
          checked: (data["record-1-event-history-reason"] == "record-1-event-history-reason-3")
        },
        {
          value: "record-1-event-history-reason-bau",
          text: "I need to move the application back to BAU",
          checked: (data["record-1-event-history-reason"] == "record-1-event-history-reason-bau")
        },
        {
          value: "Withdraw application",
          text: "Pelican 2",
          checked: (data["record-1-event-history-reason"] == "record-1-event-history-reason-3")
        },
        {
          value: "Applicant death",
          text: "Pelican 3",
          checked: (data["record-1-event-history-reason"] == "record-1-event-history-reason-3")
        },
        {
          value: "record-1-event-history-reason-other",
          text: "Other",
          checked: (data["record-1-event-history-reason"] == "record-1-event-history-reason-other")
        }
        ]
      }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
