{% extends "layouts/layout-rebuild.html" %}

{% block pageTitle %}
PIP / Index
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-m">May 2026 — </span>
        </div>



        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">PIPservice training</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Ability for agents to get a feel of the service prior to going live</p>
        </div>
      </div> <!--GRID ROW END-->


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">T.0.1</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Decisions without assessment</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/another-decision-0-0-7/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Training envirmoment for Decisions without assessment</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">What it is</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	A feel of the service</li>
              <li>	There will be dead ends</li>
              <li>	There will be set paths and deviations from the paths might break the prototype</li>
            </ul>

            <p class="govuk-heading-m govuk-!-margin-top-6">What it's not</p>
              <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

                <li>	An absolute replica for the live service</li>
                <li>	XXX</li>
              </ul>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <!--<strong class="govuk-tag govuk-tag--untested" id="company-information-completed""></strong>-->
        </div>
      </div>




      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>



  </main>
  </div>


{% endblock %}
