{% extends "layouts/layout.html" %}

{% block pageTitle %}
PIP / Index
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-m">January 2023 — </span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">PIP Apply support<br>design development</h1>
          <p class="govuk-body-l govuk-!-margin-bottom-2"><strong>Current status: Alpha</strong> <br>Iterations, changes and updates listed between versions or testing.</p>
          <p class="govuk-body-l govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24 " href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133088477484/Design+development">Design development</a>
          and
          <a class="govuk-body govuk-!-font-size-24" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133109481798/Process+maps">process map archive</a></p>

        </div>
      </div> <!--GRID ROW END-->



      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <h1 class="govuk-heading-m govuk-!-margin-bottom-1">PA-0.6</h1>
              <p class="govuk-body-m govuk-!-margin-bottom-2">Welsh elements</p>
            </div>
          <!-------->
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/pa-0-6/apply/scenario-selection">Start prototype</a></p>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Version notes and shortcuts
                </span>
              </summary>

              <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Changes to the invited ditial for Welsh
              <Br><a class="govuk-body govuk-!-font-size-19" href="preferance-stated"></a>Toggle Welsh: Welsh scenarios selector</p>

              <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: XXX [XXX]</li>
                  <li>Changed: XXX</li>
                  <li>Removed: N/A</li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-6/apply/preferance-stated">Toggle Welsh: Welsh scenarios selector</a></p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-6/apply/find-someone">Welsh invited Digital</a></p>

            </div>
          <!-------->
            <div class="govuk-grid-column-one-quarter">
              <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Untested</strong>
            </div>
          </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <h1 class="govuk-heading-m govuk-!-margin-bottom-1">PA-0.5</h1>
              <p class="govuk-body-m govuk-!-margin-bottom-2">GOV.uk pages</p>
            </div>
          <!-------->
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/pa-0-5/apply/system-ur-submit-ab">Start prototype</a></p>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Version notes and shortcuts
                </span>
              </summary>

              <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">XXX
              <Br><a class="govuk-body govuk-!-font-size-19" href="XXX">Overview of the research and discussion guide [TBC]</a></p>

              <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: XXX [XXX]</li>
                  <li>Changed: XXX</li>
                  <li>Removed: N/A</li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-4/apply/XXX">XXX</a></p>
            </div>
          <!-------->
            <div class="govuk-grid-column-one-quarter">
              <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Untested</strong>
            </div>
          </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <h1 class="govuk-heading-m govuk-!-margin-bottom-1">PA-0.4</h1>
              <p class="govuk-body-m govuk-!-margin-bottom-2">GOV.uk pages</p>
            </div>
          <!-------->
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/pa-0-4/apply/gov-uk-1-content">Start prototype</a></p>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Version notes and shortcuts
                </span>
              </summary>

              <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">XXX
              <Br><a class="govuk-body govuk-!-font-size-19" href="XXX">Overview of the research and discussion guide [TBC]</a></p>

              <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: XXX [XXX]</li>
                  <li>Changed: XXX</li>
                  <li>Removed: N/A</li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-4/apply/XXX">XXX</a></p>
            </div>
          <!-------->
            <div class="govuk-grid-column-one-quarter">
              <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Untested</strong>
            </div>
          </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <h1 class="govuk-heading-m govuk-!-margin-bottom-1">PA-0.3</h1>
              <p class="govuk-body-m govuk-!-margin-bottom-2">Conditional reveals</p>
            </div>
          <!-------->
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/pa-0-3/apply/alt-formats-comms-format">Start prototype</a></p>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Version notes and shortcuts
                </span>
              </summary>

              <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Removal of conditional reveals within the Apply service
              <Br><a class="govuk-body govuk-!-font-size-19" href="XXX">Overview of the research and discussion guide [TBC]</a></p>

              <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: Alt formats jounrey [1809]</li>
                  <li>Changed: Updated CYA2 to added in new alt formats</li>
                  <li>Removed: N/A</li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-3/apply/alt-formats-comms-format">Alt Formats</a></p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-3/apply/cya-2">CYA 2</a></p>
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-3/apply/accessibility-statement">Accessibility statement</a></p>
            </div>
          <!-------->
            <div class="govuk-grid-column-one-quarter">
              <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Untested</strong>
            </div>
          </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-1">PA-0.2</h1>
        <p class="govuk-body-m govuk-!-margin-bottom-2">X4 CYAs</p>
      </div>
    <!-------->
      <div class="govuk-grid-column-one-half">
        <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/pa-0-2/apply/system-ur-landing">Start prototype</a></p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Check Your Answers (CYA) work for Apply service
        <Br><a class="govuk-body govuk-!-font-size-19" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133163647589/Check+Your+Answers+Usability+Testing">Overview of the research and discussion guide</a></p>

        <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
          <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
            <li>Added: Light weight UR jounrey to to test Add, change and Remove [1809]</li>
            <li>Added: x5 scenarios, various adding methods and outcomes</li>
            <li>Added: A/B testing: Split version of the mobility and submission questions</li>
            <li>Changed: N/A</li>
            <li>Removed: N/A</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-2/apply/current-cya-1">Full CYA 1 (All content)</a></p>
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-2/apply/current-cya-2">Full CYA 2 (All content)</a></p>
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-2/apply/current-cya-3">Full CYA 3 (All content)</a></p>
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-2/apply/current-cya-4">Full CYA 4 (All content)</a></p>
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/pa-0-2/apply/cya-full">Full CYA</a></p>
      </div>
    <!-------->
      <div class="govuk-grid-column-one-quarter">
        <strong class="govuk-tag govuk-tag--testingdone" id="company-information-completed">Tested: 6-13/03/23</strong>
      </div>
    </div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h1 class="govuk-heading-m govuk-!-margin-bottom-1">PA-0.1</h1>
            <p class="govuk-body-m govuk-!-margin-bottom-2">CYA and GOV.uk<br>baseline</p>
          </div>
        <!-------->
          <div class="govuk-grid-column-one-half">
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/pa-0-1/apply/system-home">Start prototype</a></p>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              Version notes and shortcuts
              </span>
            </summary>

            <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Check Your Answers (CYA) work for apply service and GOV.uk pages</p>

            <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
              <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                <li>Added: Light weight UR jounrey, bit showing all the Conditional questions to to test Add, change and Remove</li>
                <li>Updated: Ability to remove all</li>
                <li>Updated: Content for engineers to build from for tickets [1806] / [1807] / [1808] and [1809]</li>
                <li>Changed: XX</li>
                <li>Changed: XXX</li>
                <li>Removed: XXX</li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
              <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>
              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

            </div>
        <!-------->
          <div class="govuk-grid-column-one-quarter">
            <strong class="govuk-tag govuk-tag--untested" id="company-information-completed">Untested</strong>
          </div>
        </div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

  </main>

{% endblock %}
