{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">March 2026 –</span>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
          Personal Independence Payment (PIP) Rebuild
        </h1>
        <p class="govuk-body-l govuk-!-margin-bottom-2">
          Iterations, changes and updates listed between versions or testing.
        </p>
        <p class="govuk-body-l govuk-!-margin-bottom-2">
          <a
            class="govuk-body govuk-!-font-size-24"
            href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133088477484/Design+development">Design development</a
          > and <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133109481798/Process+maps" >process map archive</a
          >
        </p>
      </div>
    </div>
    <!--GRID ROW END-->

    <hr
      class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"
    />

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Prototypes</span>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Agent service</h1>
        <p class="govuk-body-m govuk-!-margin-bottom-2">December 2022 –</p>
        <a class="govuk-body govuk-!-font-size-19" href="index-archive-3"
          >Iterations</a
        >
      </div>

      <div class="govuk-grid-column-one-quarter">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-1">
          Service statistics
        </h1>
        <p class="govuk-body-m govuk-!-margin-bottom-2">March 2025 –</p>
        <a class="govuk-body govuk-!-font-size-19" href="index-archive-6"
          >Iterations</a
        >

        <h1
          class="govuk-heading-m govuk-!-padding-top-6 govuk-!-margin-bottom-1"
        >
          Outcome service
        </h1>
        <p class="govuk-body-m govuk-!-margin-bottom-2">January 2024 –</p>
        <a class="govuk-body govuk-!-font-size-19" href="index-archive-5"
          >Iterations</a
        >

        <h1
          class="govuk-heading-m govuk-!-padding-top-6 govuk-!-margin-bottom-1"
        >
          Apply for PIP
        </h1>
        <p class="govuk-body-m govuk-!-margin-bottom-2">January 2023</p>
        <a class="govuk-body govuk-!-font-size-19" href="index-archive-4"
          >Iterations</a
        >
      </div>

      <div class="govuk-grid-column-one-quarter">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Archive 2</h1>
        <p class="govuk-body-m govuk-!-margin-bottom-2">Feb 22 — Dec 2022</p>
        <a class="govuk-body govuk-!-font-size-19" href="index-archive-2"
          >Iterations</a
        >

        <h1
          class="govuk-heading-m govuk-!-padding-top-6 govuk-!-margin-bottom-1"
        >
          Archive 1
        </h1>
        <p class="govuk-body-m govuk-!-margin-bottom-2">May 2021 – Feb 2022</p>
        <a class="govuk-body govuk-!-font-size-19" href="old-sprints"
          >Iterations</a
        >

        <!-- <h1 class="govuk-heading-m govuk-!-margin-bottom-1">XXX</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">XXX</p>
          <a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a> -->
      </div>
    </div>
    <!--GRID ROW END-->
  </main>
</div>

<!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->
{% endblock %}
