{% extends "layouts/layout.html" %}

{% block pageTitle %}
PIP / Index
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-m">December 2022 — </span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Personal Independence Payment</h1>
          <p class="govuk-body-l govuk-!-margin-bottom-2"><strong>Current status: Alpha</strong> <br>Iterations, changes and updates listed between versions or testing.</p>
          <p class="govuk-body-l govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24 " href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133088477484/Design+development">Design development</a>
          and
          <a class="govuk-body govuk-!-font-size-24" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133109481798/Process+maps">process map archive</a></p>

        </div>
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.00</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="XXX">Start prototype</a>
          <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: ADP</li>
                  <li>Updated: X</li>
                  <li>Updated: X</li>
                  <li>Changed: XX</li>
                  <li>Changed: XXX</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="XXX" aria-describedby="contact-details-completed">XXX</a></li>
                  <!------------ ---- ------------>
                  <!------------ ---- ------------>
                </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

{% endblock %}
