{% extends "layouts/layout-rebuild.html" %}

{% block pageTitle %}
PIP / Index
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-m">March 2026 — </span>
        </div>



        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Agent service design development</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Iterations and additions listed under each versions, <br> aligns with each round of usability testing</p>

          <p class="govuk-body-m govuk-!-margin-bottom-2"><a class="" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133088477484/Design+development">Design development</a>
          ,
          <a class="" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133109481798/Process+maps">Process map archive</a>
          <br> and
          <a class=""  href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133463638155/Design+planning+and+feature+log+for+PIP+internal">Feature log / Planning board</a></p>




        </div>
      </div> <!--GRID ROW END-->


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">AD.0.7</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Decisions without assessment</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/another-decision-0-0-7/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Consolidated verion of Persion record with future elements and general direction</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: Payments</li>
              <li>	Added: Temporary stays and history of stays</li>
              <li>	Added: 'Temporary fragment' for data items that might not be permanent. That would be then converted to permanent or removed completly and added to history of X</li>
              <!-- <li>	Update: XXX </li> -->



            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="https://lucid.app/lucidspark/8d434ea1-bcf0-458e-8a40-b6e2a0c81008/edit?page=0_0#">Lucid board</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/person-record-0-0-3/system-payment-selector">XX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--untested" id="company-information-completed"">Untested</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">PR.0.3</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Person Record consolidation</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/person-record-0-0-3/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">Consolidated verion of Persion record with future elements and general direction</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: Payments</li>
              <li>	Added: Temporary stays and history of stays</li>
              <li>	Added: 'Temporary fragment' for data items that might not be permanent. That would be then converted to permanent or removed completly and added to history of X</li>
              <!-- <li>	Update: XXX </li> -->



            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="https://lucid.app/lucidspark/8d434ea1-bcf0-458e-8a40-b6e2a0c81008/edit?page=0_0#">Lucid board</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/person-record-0-0-3/system-payment-selector">XX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--untested" id="company-information-completed"">Untested</strong>
        </div>
      </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">PR.0.2</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Person record <br> Registration of a mandatory reconsideration</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/person-record-0-0-2/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">About</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: XXX</li>
              <li>	Added: XXX</li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>



            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="XXX">XXX</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--tested" id="company-information-completed"">13-21 Aug</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">LD.1.8</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2">Live development</p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="/agent-day-0-1-8/entry-home">Start prototype</a></p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <p class="govuk-heading-m govuk-!-margin-top-6">Summary</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-6">About</p>

          <p class="govuk-heading-m govuk-!-margin-top-6">Changes</p>
            <ul class="govuk-list--bullet govuk-!-margin-bottom-6">

              <li>	Added: Task list (Prep for AP)</li>
              <li>	Added: Task list (Prep for decision)</li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>
              <li>	Update: XXX </li>



            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-heading-m govuk-!-margin-top-6">Shortcuts</p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent-day-0-1-8/accessibility-ab">Accessibility ABC testing (Radios)</a></p>
            <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent-day-0-1-8/entry-home-live">HomeLive demo</a></p>

          </div>
      <!-------->
        <div class="govuk-grid-column-one-quarter">
          <strong class="govuk-tag govuk-tag--untested" id="company-information-completed"">Untested</strong>
        </div>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Archive</h1>
          <p class="govuk-body-m govuk-!-margin-bottom-2"></p>
        </div>
      <!-------->
        <div class="govuk-grid-column-one-half">
          <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-24" href="https://dwp-health-pip-agent-c0845210c372.herokuapp.com/index-archive-3">View all prevous iterations (Old kit)</a></p>
          </div>
      <!-------->

      </div>

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>



  </main>
  </div>


{% endblock %}
