{% extends "layout-process-mr.html" %}

{% block pageTitle %}
  Process a PIP application mandatory reconsideration
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi.html" %}
{% endblock %}
{% block content %}

{% include "another-decision-0-0-6/record-id.html" %}

<form action="../an-de-mr-tl-10-score-check-router" method="post" class="form">

  <!-- {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Reconsider a decision",
        href: "an-de-tasklist"
      },
      {
        text: "Making budgeting decisions",
        href: ""
      }
    ]
  }) }} -->

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Making budgeting decisions
          </h1>

          {% include "another-decision-0-0-6/an-de-mr-tl-10/an-de-mr-tl-10-extract.html" %}


          <!------------H1 LEGEND------------>
            {% set dynamicCTAHeader %}

            {% if data["entry-home-processing-options"] == "MakeMRChange" %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">The descriptor selected for this activity was Descriptor D (6 points).<br>Do you agree?</h2>
            {% elif data["entry-home-processing-options"] == "MakeMRNil" %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">The descriptor selected for this activity was Descriptor D (6 points).<br>Do you agree?</h2>
            {% elif data["entry-home-processing-options"] == "MakeMRNilPay" %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">The descriptor selected for this activity was Descriptor D (6 points).<br>Do you agree?</h2>
            {% elif data["entry-home-processing-options"] == "PayRemainsPay" %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">The descriptor selected for this activity was Descriptor D (6 points).<br>Do you agree?</h2>
            {% else %}
            Scenario not set
            {% endif %}


            {% endset %}
          <!------------Legend--------------->


            {{ govukRadios({
              idPrefix: "an-de-mr-tl-10-score-check",
              name: "an-de-mr-tl-10-score-check",
              fieldset: {
                legend: {
                  html: dynamicCTAHeader,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: ""
              },
              classes: "govuk-radios",
              items: [
              {
                value: "Agree",
                text: "Yes",
                checked: (data["an-de-mr-tl-10-score-check"] == "Agree")
              },
              {
                value: "Amended",
                text: "No",
                checked: (data["an-de-mr-tl-10-score-check"] == "Amended"),
                      conditional: {
                        html: scoreOverwite
                      }
                        },
                {
                value: "Pause",
                text: "I need to come back to this later",
                checked: (data["an-de-mr-tl-10-score-check"] == "Pause")
              }
              ]
            }) }}



          {{ govukButton({
            text: "Continue"
          }) }}


        </div>
      </div>

  </form>

{% endblock %}
