{% extends "layout-process-mr.html" %}

{% block pageTitle %}
  Process a PIP application mandatory reconsideration
{% endblock %}

{% block header %}
{% include "explore-header-global-nav-multi.html" %}
{% endblock %}
{% block content %}

{% include "another-decision-0-0-6/record-id.html" %}


    <form action="../an-de-tasklist" method="post" class="form">


      {{ govukBreadcrumbs({
        classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
        items: [
          {
            text: "Reconsider a decision",
            href: "../an-de-tasklist"
          },
          {
            text: "Making budgeting decisions",
            href: "an-de-mr-tl-10-score-check"
          }
        ]
      }) }}




      <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


          <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">

            {% if data["an-de-mr-tl-10-score-check"] == "Agree" %}

              Add your justification for selecting Descriptor D (6 points) for for making budgeting decisions

            {% elif data["an-de-mr-tl-10-score-check"] == "Amended" %}

              Add your reason for selecting

              {% if data["an-de-mr-tl-10-score-change"] == "a1" %}
                <strong>Descriptor A (0 points)</strong>
              {% elif data["an-de-mr-tl-10-score-change"] == "b2" %}
                <strong>Descriptor B (2 points)</strong>
              {% elif data["an-de-mr-tl-10-score-change"] == "c4" %}
                <strong>Descriptor C (4 points)</strong>
              {% elseif data["an-de-mr-tl-10-score-change"] == "d6" %}
                <strong>Descriptor D (6 points)</strong>
              {% endif %}

              for making budgeting decisions

            {% else %}
            Nowt
            {% endif %}


          </h2>

          <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Add your reason for selecting this descriptor to the decision letter</p> -->


          {% include "another-decision-0-0-6/an-de-mr-tl-10/an-de-mr-tl-10-extract.html" %}


                    <!------------CANNED PHRASES LEGEND------------>
                      {% set legendCannedDetails %}


                      {% include "another-decision-0-0-6/./standard-phrase-selector.html" %}



                      {% endset %}

                      {% set legendCanned %}

                      {{ govukDetails({
                        summaryText: "Standard wording examples",
                        classes: "govuk-!-margin-bottom-0",
                        html: legendCannedDetails
                      }) }}

                      {% endset %}
                    <!------------Legend--------------->




                    {{ govukTextarea({
                      name: "an-de-mr-tl-10-score-check-reason",
                      id: "an-de-mr-tl-10-score-check-reason",
                      classes: " govukTextarea--overwrite",
                      label: {
                        text: "",
                        classes: "govuk-label--m",
                        isPageHeading: true
                      },
                      hint: {
                        html: legendCanned
                      },
                      value: data["an-de-mr-tl-10-score-check-reason"]
                    }) }}

          {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-bottom-8"
          }) }}

            </div>
          </div>

      </form>

    {% endblock %}
