{% if data["an-de-mr-tl-4-descriptor-overwrite"] == "a1" %}
  Descriptor A: Can wash and bathe unaided

{% elif data["an-de-mr-tl-4-descriptor-overwrite"] == "b2" %}
  Descriptor B: Needs to use an aid or appliance to be able to wash or bathe

{% elif data["an-de-mr-tl-4-descriptor-overwrite"] == "c3" %}
  Descriptor C: Needs supervision or prompting to be able to wash or bathe

{% elseif data["an-de-mr-tl-4-descriptor-overwrite"] == "d4" %}
  Descriptor D: Needs assistance to be able to wash either their hair, or body below the waist

{% elseif data["an-de-mr-tl-4-descriptor-overwrite"] == "e5" %}
  Descriptor E: Needs assistance to be able to get in or out of a bath or shower

{% elseif data["an-de-mr-tl-4-descriptor-overwrite"] == "f6" %}
  Descriptor F: Cannot wash and bathe at all and needs another person to wash their entire bodyNeeds assistance to be able to wash their body between the shoulders and waist

{% elseif data["an-de-mr-tl-4-descriptor-overwrite"] == "f6" %}
  Descriptor G: Cannot wash and bathe at all and needs another person to wash their entire body

{% else %}
  Blank

{% endif %}
