{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{% block header %}


{{
        dwpHeader({
            serviceName: "Personal Independence Payment",
            serviceHref: "../index",
            action: "My Home page",
            actionHref: "./entry-home",
            container: true
        })
}}


{% if data["case-scenario-selector"] == "10" or data["r-other-actions"] == "move-to-PIPCS"  %}

{{ govukServiceNavigation({
  serviceName: "Moving to PIPCS. Will no longer be managed in PIPTS.",
  serviceUrl: "#",
  classes: "id-move-to-pipcs"
}) }}

{% elif data["case-scenario-selector"] == "10a" or data["r-other-actions"] == "completed-move-to-PIPCS" %}

{{ govukServiceNavigation({
  serviceName: "Moved to PIPCS.",
  serviceUrl: "#",
  classes: "moved-to-pipcs"
}) }}

{% else %}
{% endif %}



{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/explore-header.js"></script>
{% endblock %}
