{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}


{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{% block header %}

{{ govukHeader({
  homepageUrl: "/index"
}) }}

{{ govukServiceNavigation({
  serviceName: "Personal Independence Payment (PIP)",
  serviceUrl: "/index-archive-5",
  navigation: [
    {
      href: "system-citizen-record-selector",
      text: "Home",
      active: true
    },
    {
      href: "system-citizen-record-selector",
      text: "X"
    },
    {
      href: "home-help-contact",
      text: "Help and contact"
    },
    {
      href: "/manage-prototype/clear-data",
      text: "Clear prototype"
    },
    {
      href: "#",
      text: "English | Cymraeg"
    }

  ]
}) }}

{% include "citizen-record-0-0-1/system-citizen-record-indicator.html" %}


{% endblock %}

{% block footer %}

<div class="govuk-grid-row agent-feedback">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h6 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Help us improve this service.</h6>
        <p class="govuk-body govuk-!-margin-bottom-6">Tell us about your experience using this service.
        <a class="" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w2PgrD0CVpdNsFLlJiLTLRlUREhTSlhKQVBLQjczTjZBWk0yMjFRUEdYQSQlQCN0PWcu&route=shorturl" target="_blank">Give us your feedback</a>
        </p>

      </div>
    </div>
</div>
</div>

{{ govukFooter({}) }}



{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/explore-header.js"></script>
{% endblock %}
