{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{% block header %}


{{
        dwpHeader({
            serviceName: "Personal Independence Payment",
            serviceHref: "../index",
            action: "My Home page",
            actionHref: "./entry-home",
            container: true
        })
}}


{% if data["case-scenario-selector"] == "10" or data["r-other-actions"] == "move-to-PIPCS"  %}

{{ govukServiceNavigation({
  serviceName: "Moving to PIPCS. Will no longer be managed in PIPTS.",
  serviceUrl: "#",
  classes: "id-move-to-pipcs"
}) }}

{% elif data["case-scenario-selector"] == "10a" or data["r-other-actions"] == "completed-move-to-PIPCS" %}

{{ govukServiceNavigation({
  serviceName: "Moved to PIPCS.",
  serviceUrl: "#",
  classes: "moved-to-pipcs"
}) }}

{% else %}
{% endif %}

{% endblock %}

{% block footer %}



<div class="govuk-grid-row agent-feedback">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h6 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Help us improve this service.</h6>
        <p class="govuk-body govuk-!-margin-bottom-6">Tell us about your experience using this service.
        <a class="" href="https://forms.office.com/pages/responsepage.aspx?id=6fbxllcQF0GsKIDN_ob4w2PgrD0CVpdNsFLlJiLTLRlUREhTSlhKQVBLQjczTjZBWk0yMjFRUEdYQSQlQCN0PWcu&route=shorturl" target="_blank">Give us your feedback</a>
        </p>

      </div>
    </div>
</div>
</div>


{{super()}}

{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/explore-header.js"></script>
{% endblock %}
