{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="record-foundation-overview" method="post" class="form">

  {% include "agent-day-0-1-8/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "record-foundation-overview"
      },
      {
        text: "Applications and decision",
        href: "record-foundation-Escalation-start"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">if letter no: Transfer the call to XXX</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">Advise the caller that as they do not have their decision letter with them, we will have to transfer them to the PIP enquiry line who will be able to explain their decision.</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">OR: Advise the caller to phone the PIP enquiry line on 0800 121 4433 and ask them to explain their decision. </p>


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">if letter yes: Resend the decision letter</h1>


      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Explain that:</p>
      <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-6">
        <li>we'll register that they've asked us to reconsider their decision </li>
        <li>they should phone us back when they receive their letter so we can accurately record the details of everything they disagree with</li>
      </ul>


      {{ govukButton({
        text: "Finsih and close",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
