{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="record-foundation-escalation-2" method="post" class="form">

  {% include "agent-day-0-1-8/record-id-base.html" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
    items: [
      {
        text: "Overview",
        href: "record-foundation-overview"
      },
      {
        text: "Applications and decision",
        href: "record-foundation-Escalation-start"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Handing the caller to DWP</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><b>How to find the form on GOV.uk</b>
      <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-6">
        <li>Name</li>
        <li>NINO</li>
        <li>Overview of why they are being handed over to DWP</li>

      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><b>Something else</b>
        <ul class="govuk-list govuk-!-font-size-19 govuk-list--bullet govuk-!-margin-bottom-8">
          <li>XXX</li>
          <li>XXX</li>

        </ul>



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
