{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}


{% include "explore-header-global-nav-multi-call.html" %}
{% endblock %}

{% block content %}

{% if data["application-selector"] == "2" %}
<form action="r-overview" method="post" class="form">

{% elif data["application-selector"] == "3" %}
<form action="inbound-1-security" method="post" class="form">

  {% else %}
  <form action="inbound-1-security" method="post" class="form">

  {% endif %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">One record found</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Name: <strong>{% if data["search"] %} {{ data ["search"]}} {% elif data["application-selector"] == "4" %}Sam Elliot{% else %}Jeff Bridges{% endif %}</strong></p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Date of birth: <strong>4 December 1949</strong></p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">National Insurance number: <strong>NA 11 22 33 C</strong></p>


      html: "<p>6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href='#' >Search again</a></p>"



            {{ govukRadios({
              idPrefix: "find-someone-1-return",
              name: "find-someone-1-return",
              fieldset: {
                legend: {
                  html: "Is this the right person?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: ""
              },
              classes: "govuk-radios",
              items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (data["find-someone-1-return"] == "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: (data["find-someone-1-return"] == "No")
              }
              ]
            }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
