{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}

{% endblock %}

{% block content %}

<form action="record-1-overview" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Select the correct record</h1>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Name: <strong>{% if data["search"] %} {{ data ["search"]}}{% else %}Jeff Bridges{% endif %}</strong></p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Date of birth: <strong>4 December 1949</strong></p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">National Insurance number: <strong>NA 11 22 33 C</strong></p> -->


      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">2 records found for <b>{% if data["search"] %} {{ data ["search"]}}{% else %}NA 11 22 33 c{% endif %}</b></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href='find-someone-1-offline-gather'>Search again</a></p>



      <table class="govuk-table">


      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-33-percent">Name</td>
        <td class="govuk-table__cell govuk-40-percent">National Insurance number</td>
        <td class="govuk-table__cell govuk-33-percent">Date of birth</td>


      </tr>
      </thead>

      <tr class="govuk-table__row">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer"><a href="record-1-overview">Jeff Bridges</a></td>
          <td class="govuk-table__cell table-spacer">NA 11 22 33 c</td>
      <td class="govuk-table__cell table-spacer">DD MM YYYY</td>
      </tr>

      <tr class="govuk-table__row">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer"><a href="record-1-overview">Sam Elliot</a></td>
          <td class="govuk-table__cell table-spacer">NA 11 22 33 c</td>
      <td class="govuk-table__cell table-spacer">DD MM YYYY</td>
      </tr>


      </table>


        </div>
      </div>

  </form>



{% endblock %}
