{% extends "layouts/layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "person-record-0-0-1/call-status.html" %}
{% endblock %}
{% block content %}


{% include "person-record-0-0-1/record-id-base.html" %}

<form action="r-address-add-outcomes" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->

  <div class="govuk-grid-row">

    {{ govukBreadcrumbs({
      classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-6",
      items: [
        {
          text: "Overview",
          href: "record-foundation-overview"
        },
        {
          text: "Address",
          href: "r-address"
        }
      ]
    }) }}

    <div class="govuk-grid-column-two-thirds">

          <div class="govuk-inset-text govuk-inset-text--action-notifications govuk-!-margin-top-0">
            <p class="govuk-body govuk-!-font-size-24"><b>This could be SRA journey<b></p>
              <p class="govuk-body govuk-!-font-size-19">If this is SRA, then we would zero control on how data is captured, however we can add addional questions once the SRA part is compelted. <br> Example path: (SRA Page 1,2,3,4 > Local 5,6,7 > Overview)</p>
          </div>


      {% set LegendH1 %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Full postcode lookup</h1>
      {% endset -%}

      {{ govukInput({
        label: {
          html: LegendH1
        },
          hint: {
            text: "Pretend this is the full address pattern."
          },
        id: "r-address-add",
        name: "r-address-add",
        classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
        value: data["r-address-add"]
        }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
