{% extends "layouts/layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "person-record-0-0-1/call-status.html" %}
{% endblock %}
{% block content %}

{% include "person-record-0-0-1/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="r-overview" method="post" class="form">

      {% include "person-record-0-0-1/record-id-base.html" %}


    </div>
  </div>


    {% include "person-record-0-0-1/r-navigation.html" %}

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Names</h3>






        {% set SetLandlineTelephone %}
          {% if data["record-1-contact-landline-telephone"] %}
            {{data["record-1-contact-landline-telephone"]}}
          {% else %}
            <p class="govuk-body">0191 488 3188</p>
          {% endif %}
        {% endset -%}




        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "First name"
              },
              value: {
                html: "Jeff"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            },
            {
              key: {
                text: "Middle name"
              },
              value: {
                html: "The Dude"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            },
            {
              key: {
                text: "Last name"
              },
              value: {
                html: 'Bridges'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            }
          ]
        }) }}

  </div>


    </form>
{% endblock %}
