{% if data["find-someone-1-offline-return"]  == "YesLinked" %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-overview" class="govuk-link" rel="noreferrer noopener">Overview</a></p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="https://pip-end-to-end-84bc0caed567.herokuapp.com/agent/case-manager-review-dev/event-history" class="govuk-link" rel="noreferrer noopener" target="">Event history</a>
            <!-- {{govukTag({
              text: "10",
              classes: "govuk-tag--event-notifications"
            })}} -->
    </p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="record-foundation-applications" class="govuk-link" rel="noreferrer noopener" target="">Applications<br>and decisions</a></p>

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="record-1-sent-comms" class="govuk-link" rel="noreferrer noopener" target="">Notifications sent</a></p> -->

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Other actions</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-supplied-information" class="govuk-link" rel="noreferrer noopener" target="">View supplied<br>information</a></p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-move-to" class="govuk-link" rel="noreferrer noopener" target="">Move to...</a></p>


  </div>

  {% else %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-overview" class="govuk-link" rel="noreferrer noopener">Overview</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-tasks" class="govuk-link" rel="noreferrer noopener">Tasks</a>
      {{govukTag({
        text: "2",
        classes: "govuk-tag--event-notifications"
      })}}
    </p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="record-1-event-history" class="govuk-link" rel="noreferrer noopener" target="">Event history</a>
            <!-- {{govukTag({
              text: "10",
              classes: "govuk-tag--event-notifications"
            })}} -->
    </p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-future-events" class="govuk-link" rel="noreferrer noopener" target="">Future events</a></p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="record-foundation-applications-complex" class="govuk-link" rel="noreferrer noopener" target="">Applications<br>and decisions</a></p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="record-1-payments" class="govuk-link" rel="noreferrer noopener" target="">Payments</a></p>

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="record-1-sent-comms" class="govuk-link" rel="noreferrer noopener" target="">Notifications sent</a></p> -->

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Person details</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-flags" class="govuk-link" rel="noreferrer noopener" target="">Flags and markers</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-name" class="govuk-link" rel="noreferrer noopener" target="">Names</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-age" class="govuk-link" rel="noreferrer noopener" target="">Age and date of birth</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-address" class="govuk-link" rel="noreferrer noopener" target="">Address</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-appointees" class="govuk-link" rel="noreferrer noopener" target="">Appointees and representatives</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-contact" class="govuk-link" rel="noreferrer noopener" target="">Contact details</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="r-bank-details" class="govuk-link" rel="noreferrer noopener" target="">Bank details</a></p>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Other actions</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-supplied-information" class="govuk-link" rel="noreferrer noopener" target="">View supplied<br>information</a></p>

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Send a letter</a></p> -->
    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="record-foundation-escalation-start" class="govuk-link" rel="noreferrer noopener" target="">Escalation</a></p> -->
    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Withdraw</a></p> -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="r-move-to" class="govuk-link" rel="noreferrer noopener" target="">Move to...</a></p>


  </div>

  {% endif %}
