{% if data["record-1-event-history-reason"] %}
{% set html %}
<p class="govuk-body govuk-!-font-size-19">An entry was added to the event history.</p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'information'
}) }}

{% else %}
{% endif %}






{% if data["find-someone-1-offline-return"]  == "Yes" or  data["find-someone-1-offline-return"]  == "YesLinked"%}

  {% else %}

        {% if data["record-1-bank-detials-j-1-bank-name"] %}
        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Bank details have been added</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% else %}
        {% endif %}



        {% if data["record-other-actions"]  == "Yes" %}
        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Call details and any actions have been saved and added to the person's account. Internal teams will be notified and will start their processes.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'error'
        }) }}


        {% elif data["ecp-washup"] and data["application-5-letter-review"]  == "Yes" %}

        {% elif data["ecp-washup"]%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Call notes and any actions have been saved and added to the person's record. Internal teams will be notified and will start their processes.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'information'
        }) }}

        {% else %}
        {% endif %}



        {% if data["assurance-task-t6"]  == "Good" and data["assurance-task-t7"] == "Good" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application will now go to an assessment provider.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["assurance-task-t6"]  == "Bad" and data["assurance-task-t7"] == "Bad" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application will go back to business as usual.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'information'
        }) }}

        {% elif data["assurance-task-t6"]  == "Bad" and data["assurance-task-t7"] == "Good" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application will go back to business as usual.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'information'
        }) }}

        {% elif data["assurance-task-t6"]  == "Good" and data["assurance-task-t7"] == "Bad" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application will go back to business as usual.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'information'
        }) }}

        {% else %}
        {% endif %}


        {% if data["assurance-monolith-Q1"]  == "Expected"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application will now go to an assessment provider.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["assurance-monolith-Q1"]  == "Unexpected" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application will go back to business as usual.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'information'
        }) }}

        {% else %}
        {% endif %}

        {% if data["eject-reason"] %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application has been moved to PIPCS. An entry has been added to the event history.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'information'
        }) }}

        {% else %}
        {% endif %}






        {% if data["application-4-care-plan"]  == "Yes" and data["record-1-contact-landline-telephone"] and data["inbound-1-end-call-dispute"] == "Yes" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4"><strong>The following actions have taken place for: {% if data["search"] %} {{ data ["search"]}} {% else %} Jeff Bridges {% endif %}</strong></p>

        <ul class="govuk-list govuk-list--bullet">
          <li>The care plan has been requested. A note has been added to the event history. A new task will be created when the care plan is received.</li>
          <li>A new number has been added '{{data["record-1-contact-landline-telephone"]}}' has been added to the person's record.</li>
          <li>Someone will call the person back. Details of the call were added to the person's record.</li>
        </ul>


        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'information'
        }) }}

        {% elif data["application-4-care-plan"]  == "Yes"and data["inbound-1-end-call-dispute"] == "Yes" %}


        {% set html %}
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4"><strong>The following actions have taken place for: {% if data["search"] %} {{ data ["search"]}} {% else %} Jeff Bridges {% endif %}</strong></p>

        <ul class="govuk-list govuk-list--bullet">
          <li>The care plan has been requested. A note has been added to event history. A new task will be created when the care plan is received.</li>
          <li>Someone will call the person back. A record of the call was added to the person's account.</li>

        </ul>

        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'information'
        }) }}



        {% elif data["application-4-care-plan"]  == "Yes" and data["record-1-contact-landline-telephone"] %}

            {% set html %}
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><strong>The following actions have taken place:</strong></p>

            <ul class="govuk-list govuk-list--bullet">
              <li>The care plan has been requested. A note has been added to event history. A new task will be created when the care plan is received.</li>
              <li>A new number has been added '{{data["record-1-contact-landline-telephone"]}}' has been added to the record.</li>
            </ul>

            {% endset %}

            {{ govukNotificationBanner({
              html: html,
              type: 'success'
            }) }}


            {% elif data["application-1-task-t3"] == "Request" %}

            {% set html %}
            <p class="govuk-body govuk-!-font-size-19">You have arranged to send an ID verification letter. You will be notified if this application is returned to you. However, it could be picked up by a colleague. You can continue working on something else. </p>
            {% endset %}

            {{ govukNotificationBanner({
              html: html,
              type: 'information'
            }) }}


            {% elif data["application-4-care-plan"]  == "Yes"%}

            {% set html %}
            <p class="govuk-body govuk-!-font-size-19">The care plan has been requested. A note has been added to event history. A new task will be created when the care plan is received.</p>
            {% endset %}

            {{ govukNotificationBanner({
              html: html,
              type: 'success'
            }) }}

        {% elif data["appointees-lpa"] %}

          {% set html %}
          <p class="govuk-body govuk-!-font-size-19">The lasting power of attorney (LPA) access code '{{data["appointees-lpa"]}}' has been added to the record.</p>
          {% endset %}

          {{ govukNotificationBanner({
            html: html,
            type: 'success'
          }) }}


        {% elif data["appointees-telephone"] %}

          {% set html %}
          <p class="govuk-body govuk-!-font-size-19">A new number has been added '{{data["appointees-telephone"]}}' has been added to the record.</p>
          {% endset %}

          {{ govukNotificationBanner({
            html: html,
            type: 'success'
          }) }}





        {% else %}

        {% endif %}



        {% if data["application-1-task-t5"]  == "Bad"%}
        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">This application has been sent to someone who can resolve the issue. You can continue working on something else.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'error'
        }) }}

        {% elif data["application-5-letter-review"]  == "Yes"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application. The person has been sent a letter letting them know they are entitled to Personal Independence Payment.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["application-5-outcome-letter-check"]  == "Yes"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application. The person has been sent a letter letting them know they are not entitled to Personal Independence Payment.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}


        {% elif data["application-5-outcome-letter-check"]  == "No"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application. The person has been sent a letter letting them know they are not entitled to Personal Independence Payment.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["request-access"] %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Your requested service has been added to the home page.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["application-5-about-a1"] == "Amended" and data["application-5-about-a6"] == "Amended" and data["application-5-about-a12"] == "Amended" and data["evidence-3-grade"] %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">The application has been sent to a QAM. You will be notified if it is returned to you. You can continue working on something else.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'information'
        }) }}

        {% elif data["appointees-lpa-check"] == "Yes" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Any actions have been saved. A record of the call was added to the person's account.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% elif data["application-5-letter-review"] == "No" %}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">We will look at this issue and return the application to you if we are able to. It will appear in My open tasks.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'Information'
        }) }}

        {% elif data["inbound-1-end-call-washup"] == "2"%}

        {% set html %}
        <p class="govuk-body govuk-!-font-size-19">Call details and actions have been saved and added to the person's account. Internal teams will be notified. </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'Call ended'
        }) }}


        {% else %}


        {% endif %}

{% endif %}


<!-- top Level Notifications -->
<!-- Colins banner -->
<!-- Add # to the url on the final return page -->

{% set flagContext %}
<p class="govuk-body govuk-!-font-size-19">


{% if data["r-flags-add"] and (data["r-flags-add"] == "Flag1" or "Flag1" in data["r-flags-add"]) %}
  'KCIS',
  {% else %}
  {% endif %}

  {% if data["r-flags-add"] and (data["r-flags-add"] == "Flag2" or "Flag2" in data["r-flags-add"]) %}
  'Financially vulnerable',
  {% else %}
  {% endif %}

  {% if data["r-flags-add"] and (data["r-flags-add"] == "Flag3" or "Flag3" in data["r-flags-add"]) %}
  'Additional support',
  {% else %}
  {% endif %}

  {% if data["r-flags-add"] and (data["r-flags-add"] == "Flag4" or "Flag4" in data["r-flags-add"]) %}
  'Something else'
  {% else %}
  {% endif %}

  ' flags and markers have been added to the person's record.</p>

{% endset %}

{{ govukNotificationBanner({
  classes: "prototype-banner-hidden",
attributes: {
  id: "r-flags-add-marker"
},
  html: flagContext,
  type: 'success'
}) }}



{% set DynamicAddress %}
<p class="govuk-body govuk-!-font-size-19">A new address 'Richardson Road, Newcastle upon Tyne, NE2 4BJ' has been added to the record.</p>
</p>
{% endset %}

{{ govukNotificationBanner({
  classes: "prototype-banner-hidden",
attributes: {
  id: "r-address-add"
},
  html: DynamicAddress,
  type: 'success'
}) }}



{% set DynamicAppointee %}
<p class="govuk-body govuk-!-font-size-19">A new Power of Attorney 'Sam Elliott' has been added to the person's record.</p>
{% endset %}

{{ govukNotificationBanner({
  classes: "prototype-banner-hidden",
attributes: {
  id: "r-appointees-add"
},
  html: DynamicAppointee,
  type: 'success'
}) }}



{% set DynamicMR %}
<p class="govuk-body govuk-!-font-size-19">A mandatory reconsideration has been requested. Someone will pick this up. Notes have been added to the event history and processing notes section.</p>
</p>
{% endset %}

{{ govukNotificationBanner({
  classes: "prototype-banner-hidden",
attributes: {
  id: "r-mr-registration"
},
  html: DynamicMR,
  type: 'success'
}) }}






{% if data["record-1-contact-landline-telephone"] %}

  {% set html %}
  <p class="govuk-body govuk-!-font-size-19">A new number '{{data["record-1-contact-landline-telephone"]}}' has been added to the record.</p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}

  {% else %}

  {% endif %}
