{% extends "layouts/layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "person-record-0-0-1/call-status.html" %}
{% endblock %}
{% block content %}

{% include "person-record-0-0-1/r-notifications.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">



      {% include "person-record-0-0-1/record-id-base.html" %}


    </div>
  </div>



    {% include "person-record-0-0-1/r-navigation.html" %}

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-8">Overview</h3>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">PIP application status: <strong>In payment</strong></p>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Daily living: <strong>Enhanced</strong></p>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Mobility: <strong>Enhanced</strong></p>



      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><strong>Review date:</strong> 1 February 2027</p> -->
            <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><strong>Payment end date:</strong> 11 February 2028</p> -->


    {% if data["r-flags-add"] %}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-2">Flags and markers</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4 ">The person needs support in the following areas:</p>

    {% if data["r-flags-add"] == "Flag1" or "Flag1" in data["r-flags-add"] %}
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-1">KCIS</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Previous threatening behaviour towards a DWP agent.</p>

      {% else %}
      {% endif %}

      {% if data["r-flags-add"] == "Flag2" or "Flag2" in data["r-flags-add"] %}
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-1">Financially vulnerable</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">May be unable to manage large payments, either due to their personal circumstances or their limited capacity to understand financial matters.</p>

      {% else %}
      {% endif %}

      {% if data["r-flags-add"] == "Flag3" or "Flag3" in data["r-flags-add"] %}
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-1">Additional support</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Evidence that the person has a severe mental health or behavioural condition, learning difficulty, developmental disorder or memory problems.</p>
      {% else %}
      {% endif %}

      {% if data["r-flags-add"] == "Flag4" or "Flag4" in data["r-flags-add"] %}
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-1">Something else</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">XXX</p>
      {% else %}
      {% endif %}

    {% else %}
    {% endif %}


  </div>


    </form>
{% endblock %}
