{% extends "layouts/layout.html" %}

{% block pageTitle %}
  PIP claimant record
{% endblock %}

{% block header %}
  {% include "person-record-0-0-1/call-status.html" %}
{% endblock %}
{% block content %}



<form action="#" method="post" class="form">
  <!-- <input type="hidden" name="appointees-telephone" value="new"/> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "person-record-0-0-1/record-id-base.html" %}

      {{ govukRadios({
        idPrefix: "assurance-task-t7",
        name: "assurance-task-t7",
        fieldset: {
          legend: {
            html: "What do you want to send?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: legendHint
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Bad",
          text: "Assessment provider report (No harmful content)",
          checked: (data["assurance-task-t7"] == "Bad")
        },
        {
          value: "Good",
          text: "Copy of Health Information Gather (PIP2)",
          checked: (data["assurance-task-t7"] == "Good")
        },
        {
          value: "Good",
          text: "Change to bank details",
          checked: (data["assurance-task-t7"] == "Good")
        },
        {
          value: "Pause",
          text: "Request to contact DWP (PIP3009)",
          checked: (data["assurance-task-t7"] == "Pause")
        }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
