{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}

{% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Service statistics</h1>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Between 9 February 2023 and today. <a href="X" class="govuk-link" rel="X" target="">Change dates</a>.</p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-9">Updated today at 8:30am</p>


    <div class="govuk-grid-row govuk-!-padding-top-2">
      <div class="govuk-grid-column-one-third ">
        {% include "person-record-0-0-1/service-stats-menu.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Average processing times</h2>
        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Between 9 February 2023 and 19 September 2023.</p> -->



                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                          <!-- <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">From submission of the online application<br>to first stage complete</h3>
                          <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">1 day</p>

                          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

                          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">From submission of the online application to when<br>an AP report is sent to the department</h3>
                          <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">20 days</p>

                          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-3">From submission of the online application to<br>notifying the applicant by letter</h3>
                          <p class="govuk-body govuk-heading-st govuk-!-margin-bottom-0">40 days</p>

                          <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

                        </div>


                        </div>



      </div>
    </div>
  </div>
</div>




{% endblock %}
